interactions:
- request:
    body: null
    headers:
      Content-Type: [application/json]
    method: GET
    uri: https://api.fastly.com/service/search?name=Fastly%20Ansible%20Module%20Test
  response:
    body: {string: !!python/unicode '{"name":"Fastly Ansible Module Test","deleted_at":null,"versions":[{"testing":false,"locked":false,"number":1,"active":false,"service_id":"4BBh79dhVYFop5mvdvCcLQ","staging":false,"created_at":"2017-08-11T15:12:48+00:00","deleted_at":null,"comment":"","updated_at":"2017-08-11T15:12:48+00:00","deployed":false},{"testing":false,"locked":true,"number":2,"active":false,"service_id":"4BBh79dhVYFop5mvdvCcLQ","staging":false,"created_at":"2017-08-11T15:12:49+00:00","deleted_at":null,"comment":"","updated_at":"2017-08-11T15:13:00+00:00","deployed":false},{"testing":false,"number":3,"service_id":"4BBh79dhVYFop5mvdvCcLQ","staging":false,"deployed":false,"locked":true,"active":true,"comment":""}],"created_at":"2017-08-11T15:12:48+00:00","customer_id":"5zLQhRXD9EpYQjnj0fA6e9","comment":"","updated_at":"2017-08-11T15:12:48+00:00","id":"4BBh79dhVYFop5mvdvCcLQ"}'}
    headers:
      content-type: [application/json]
      status: [200 OK]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json]
    method: GET
    uri: https://api.fastly.com/service/4BBh79dhVYFop5mvdvCcLQ/details
  response:
    body: {string: !!python/unicode '{"name":"Fastly Ansible Module Test","deleted_at":null,"versions":[{"testing":false,"locked":false,"number":1,"active":false,"service_id":"4BBh79dhVYFop5mvdvCcLQ","staging":false,"created_at":"2017-08-11T15:12:48+00:00","deleted_at":null,"comment":"","updated_at":"2017-08-11T15:12:48+00:00","deployed":false},{"testing":false,"locked":true,"number":2,"active":false,"service_id":"4BBh79dhVYFop5mvdvCcLQ","staging":false,"created_at":"2017-08-11T15:12:49+00:00","deleted_at":null,"comment":"","updated_at":"2017-08-11T15:13:00+00:00","deployed":false},{"testing":false,"locked":true,"number":3,"active":true,"service_id":"4BBh79dhVYFop5mvdvCcLQ","staging":false,"created_at":"2017-08-11T15:12:56+00:00","deleted_at":null,"comment":"","updated_at":"2017-08-11T15:13:00+00:00","deployed":false}],"created_at":"2017-08-11T15:12:48+00:00","customer_id":"5zLQhRXD9EpYQjnj0fA6e9","comment":"","updated_at":"2017-08-11T15:12:48+00:00","id":"4BBh79dhVYFop5mvdvCcLQ","version":{"testing":false,"number":3,"service_id":"4BBh79dhVYFop5mvdvCcLQ","staging":false,"updated_at":"2017-08-11T15:13:00+00:00","deployed":false,"locked":true,"active":true,"deleted_at":null,"created_at":"2017-08-11T15:12:56+00:00","comment":"","acls":[],"backends":[{"max_tls_version":null,"ssl_ca_cert":null,"auto_loadbalance":false,"ssl_check_cert":true,"shield":null,"hostname":null,"ssl_client_cert":null,"error_threshold":0,"request_condition":"","first_byte_timeout":15000,"ssl_cert_hostname":null,"weight":100,"client_cert":null,"address":"127.0.0.1","ssl_hostname":null,"ssl_sni_hostname":null,"min_tls_version":null,"ipv6":null,"ipv4":"127.0.0.1","connect_timeout":1000,"ssl_ciphers":null,"name":"localhost","healthcheck":null,"port":80,"max_conn":200,"use_ssl":false,"comment":"","between_bytes_timeout":10000,"ssl_client_key":null}],"cache_settings":[],"conditions":[],"dictionaries":[],"directors":[],"domains":[{"comment":"","name":"example7000.com"}],"gzips":[],"headers":[{"priority":"100","src":"\"https://u.jimcdn.com\"
        req.url.path","name":"Set Location header","substitution":"","ignore_if_set":"0","cache_condition":null,"request_condition":null,"regex":"","response_condition":null,"action":"set","type":"response","dst":"http.Location"}],"healthchecks":[],"request_settings":[],"response_objects":[{"request_condition":"","content_type":null,"status":"200","response":"Ok","name":"Set
        200 status code","content":null,"cache_condition":""}],"snippets":[{"priority":"100","name":"Fetch
        for serving stale content","content":"\n            /* handle 5XX (or any
        other unwanted status code) */\n            if (beresp.status \u003e= 500
        \u0026\u0026 beresp.status \u003c 600) {\n\n              /* deliver stale
        if the object is available */\n              if (stale.exists) {\n                return(deliver_stale);\n              }\n\n              if
        (req.restarts \u003c 1 \u0026\u0026 (req.request == \"GET\" || req.request
        == \"HEAD\")) {\n                restart;\n              }\n\n                /*
        else go to vcl_error to deliver a synthetic */\n              error 503;\n            }\n\n            /*
        set stale_if_error and stale_while_revalidate (customize these values) */\n            set
        beresp.stale_if_error = 259200s;\n            set beresp.stale_while_revalidate
        = 10s;\n        ","dynamic":"0","type":"fetch","id":"4Mp8wYqedVjoDRnQzGWdQG"}],"vcls":[],"wordpress":[],"settings":{"general.default_ttl":3600,"general.default_host":"","general.default_pci":0}},"active_version":{"testing":false,"number":3,"service_id":"4BBh79dhVYFop5mvdvCcLQ","staging":false,"updated_at":"2017-08-11T15:13:00+00:00","deployed":false,"locked":true,"active":true,"deleted_at":null,"created_at":"2017-08-11T15:12:56+00:00","comment":"","acls":[],"backends":[{"max_tls_version":null,"ssl_ca_cert":null,"auto_loadbalance":false,"ssl_check_cert":true,"shield":null,"hostname":null,"ssl_client_cert":null,"error_threshold":0,"request_condition":"","first_byte_timeout":15000,"ssl_cert_hostname":null,[...]
- request:
    body: null
    headers:
      Content-Type: [application/json]
    method: POST
    uri: https://api.fastly.com/service/4BBh79dhVYFop5mvdvCcLQ/version
  response:
    body: {string: !!python/unicode '{"service_id":"4BBh79dhVYFop5mvdvCcLQ","number":4}'}
    headers:
      content-type: [application/json]
      fastly-ratelimit-remaining: ['505']
      fastly-ratelimit-reset: ['1502467200']
      status: [200 OK]
    status: {code: 200, message: OK}
- request:
    body: !!python/unicode '{"comment": "", "name": "example7000.com"}'
    headers:
      Content-Type: [application/json]
    method: POST
    uri: https://api.fastly.com/service/4BBh79dhVYFop5mvdvCcLQ/version/4/domain
  response:
    body: {string: !!python/unicode '{"comment":"","name":"example7000.com","service_id":"4BBh79dhVYFop5mvdvCcLQ","version":4,"deleted_at":null,"created_at":"2017-08-11T15:13:02+00:00","updated_at":"2017-08-11T15:13:02+00:00"}'}
    headers:
      content-type: [application/json]
      fastly-ratelimit-remaining: ['504']
      fastly-ratelimit-reset: ['1502467200']
      status: [200 OK]
    status: {code: 200, message: OK}
- request:
    body: !!python/unicode '{"ssl_ca_cert": null, "request_condition": "", "name":
      "localhost", "ssl_cert_hostname": null, "address": "127.0.0.1", "port": 80,
      "ssl_hostname": null, "shield": null}'
    headers:
      Content-Type: [application/json]
    method: POST
    uri: https://api.fastly.com/service/4BBh79dhVYFop5mvdvCcLQ/version/4/backend
  response:
    body: {string: !!python/unicode '{"ssl_ca_cert":null,"request_condition":"","name":"localhost","ssl_cert_hostname":null,"address":"127.0.0.1","port":80,"ssl_hostname":null,"shield":null,"service_id":"4BBh79dhVYFop5mvdvCcLQ","version":4,"max_tls_version":null,"ssl_client_cert":null,"hostname":null,"error_threshold":0,"first_byte_timeout":15000,"client_cert":null,"weight":100,"updated_at":"2017-08-11T15:13:03+00:00","connect_timeout":1000,"ipv4":"127.0.0.1","ssl_ciphers":null,"between_bytes_timeout":10000,"ssl_client_key":null,"auto_loadbalance":false,"ssl_check_cert":true,"ssl_sni_hostname":null,"min_tls_version":null,"ipv6":null,"deleted_at":null,"healthcheck":null,"max_conn":200,"use_ssl":false,"created_at":"2017-08-11T15:13:03+00:00","comment":""}'}
    headers:
      content-type: [application/json]
      fastly-ratelimit-remaining: ['503']
      fastly-ratelimit-reset: ['1502467200']
      status: [200 OK]
    status: {code: 200, message: OK}
- request:
    body: !!python/unicode '{"ignore_if_set": "0", "regex": "", "request_condition":
      null, "name": "Set Location header", "src": "\"https://u.jimcdn.com\" req.url.path",
      "dst": "http.Location", "substitution": "", "priority": "100", "cache_condition":
      null, "action": "set", "type": "response", "response_condition": null}'
    headers:
      Content-Type: [application/json]
    method: POST
    uri: https://api.fastly.com/service/4BBh79dhVYFop5mvdvCcLQ/version/4/header
  response:
    body: {string: !!python/unicode '{"ignore_if_set":"0","regex":"","request_condition":null,"name":"Set
        Location header","src":"\"https://u.jimcdn.com\" req.url.path","dst":"http.Location","substitution":"","priority":"100","cache_condition":null,"action":"set","type":"response","response_condition":null,"service_id":"4BBh79dhVYFop5mvdvCcLQ","version":"4","updated_at":"2017-08-11T15:13:03+00:00","deleted_at":null,"created_at":"2017-08-11T15:13:03+00:00"}'}
    headers:
      content-type: [application/json]
      fastly-ratelimit-remaining: ['502']
      fastly-ratelimit-reset: ['1502467200']
      status: [200 OK]
    status: {code: 200, message: OK}
- request:
    body: !!python/unicode '{"status": "200", "request_condition": "", "name": "Set
      200 status code", "response": "Ok"}'
    headers:
      Content-Type: [application/json]
    method: POST
    uri: https://api.fastly.com/service/4BBh79dhVYFop5mvdvCcLQ/version/4/response_object
  response:
    body: {string: !!python/unicode '{"status":"200","request_condition":"","name":"Set
        200 status code","response":"Ok","service_id":"4BBh79dhVYFop5mvdvCcLQ","version":"4","content":null,"deleted_at":null,"cache_condition":"","created_at":"2017-08-11T15:13:03+00:00","content_type":null,"updated_at":"2017-08-11T15:13:03+00:00"}'}
    headers:
      content-type: [application/json]
      fastly-ratelimit-remaining: ['501']
      fastly-ratelimit-reset: ['1502467200']
      status: [200 OK]
    status: {code: 200, message: OK}
- request:
    body: !!python/unicode '{"content": "\n            if (obj.status >= 500 && obj.status
      < 600) {\n\n              /* deliver stale object if it is available */\n              if
      (stale.exists) {\n                return(deliver_stale);\n              }\n\n              /*
      otherwise, return a synthetic */\n\n              /* include your HTML response
      here */\n              synthetic {\"<!DOCTYPE html><html>Sorry. Coming back
      soon!.</html>\"};\n                return(deliver);\n            }\n        ",
      "type": "error", "dynamic": 0, "name": "Handle 503 errors", "priority": 100}'
    headers:
      Content-Type: [application/json]
    method: POST
    uri: https://api.fastly.com/service/4BBh79dhVYFop5mvdvCcLQ/version/4/snippet
  response:
    body: {string: !!python/unicode '{"content":"\n            if (obj.status \u003e=
        500 \u0026\u0026 obj.status \u003c 600) {\n\n              /* deliver stale
        object if it is available */\n              if (stale.exists) {\n                return(deliver_stale);\n              }\n\n              /*
        otherwise, return a synthetic */\n\n              /* include your HTML response
        here */\n              synthetic {\"\u003c!DOCTYPE html\u003e\u003chtml\u003eSorry.
        Coming back soon!.\u003c/html\u003e\"};\n                return(deliver);\n            }\n        ","type":"error","dynamic":0,"name":"Handle
        503 errors","priority":100,"service_id":"4BBh79dhVYFop5mvdvCcLQ","version":"4","deleted_at":null,"created_at":"2017-08-11T15:13:04+00:00","updated_at":"2017-08-11T15:13:04+00:00","id":"4SZxJcPSM9od697PBnqWGi"}'}
    headers:
      content-type: [application/json]
      fastly-ratelimit-remaining: ['500']
      fastly-ratelimit-reset: ['1502467200']
      status: [200 OK]
    status: {code: 200, message: OK}
- request:
    body: !!python/unicode '{"general.default_ttl": 3600}'
    headers:
      Content-Type: [application/json]
    method: PUT
    uri: https://api.fastly.com/service/4BBh79dhVYFop5mvdvCcLQ/version/4/settings
  response:
    body: {string: !!python/unicode '{"general.default_ttl":3600,"version":4,"general.default_host":"","general.default_pci":0,"service_id":"4BBh79dhVYFop5mvdvCcLQ"}'}
    headers:
      content-type: [application/json]
      fastly-ratelimit-remaining: ['499']
      fastly-ratelimit-reset: ['1502467200']
      status: [200 OK]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json]
    method: PUT
    uri: https://api.fastly.com/service/4BBh79dhVYFop5mvdvCcLQ/version/4/activate
  response:
    body: {string: !!python/unicode '{"testing":false,"locked":true,"number":4,"active":true,"service_id":"4BBh79dhVYFop5mvdvCcLQ","staging":false,"created_at":"2017-08-11T15:13:02+00:00","deleted_at":null,"comment":"","updated_at":"2017-08-11T15:13:04+00:00","deployed":false,"msg":null}'}
    headers:
      content-type: [application/json]
      fastly-ratelimit-remaining: ['498']
      fastly-ratelimit-reset: ['1502467200']
      status: [200 OK]
    status: {code: 200, message: OK}
[...]
