interactions:
- request:
    body: null
    headers:
      Content-Type: [application/json]
    method: GET
    uri: https://api.fastly.com/service/search?name=Fastly%20Ansible%20Module%20Test
  response:
    body: {string: !!python/unicode '{"msg":"Record not found","detail":"Cannot load
        service ''1z3ENiEMpKOrsGqTBLhkF2''-''Fastly Ansible Module Test''"}'}
    headers:
      content-type: [application/json]
      status: [404 Not Found]
    status: {code: 404, message: Not Found}
- request:
    body: !!python/unicode '{"name": "Fastly Ansible Module Test"}'
    headers:
      Content-Type: [application/json]
    method: POST
    uri: https://api.fastly.com/service
  response:
    body: {string: !!python/unicode '{"customer_id":"1z3ENiEMpKOrsGqTBLhkF2","name":"Fastly
        Ansible Module Test","publish_key":"32e676bd7a5bf4f73064d4fb41fb3a6299d49d40","versions":[{"testing":false,"locked":false,"number":1,"active":false,"service_id":"6eQmGWXRR0l97Hwz8pZlDi","staging":false,"created_at":"2017-10-10T10:36:20Z","deleted_at":null,"comment":"","updated_at":"2017-10-10T10:36:20Z","deployed":false}],"deleted_at":null,"created_at":"2017-10-10T10:36:20Z","comment":"","updated_at":"2017-10-10T10:36:20Z","id":"6eQmGWXRR0l97Hwz8pZlDi"}'}
    headers:
      content-type: [application/json]
      fastly-ratelimit-remaining: ['788']
      fastly-ratelimit-reset: ['1507633200']
      status: [200 OK]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json]
    method: GET
    uri: https://api.fastly.com/service/6eQmGWXRR0l97Hwz8pZlDi/details
  response:
    body: {string: !!python/unicode '{"name":"Fastly Ansible Module Test","deleted_at":null,"versions":[{"testing":false,"locked":false,"number":1,"active":false,"service_id":"6eQmGWXRR0l97Hwz8pZlDi","staging":false,"created_at":"2017-10-10T10:36:20Z","deleted_at":null,"comment":"","updated_at":"2017-10-10T10:36:20Z","deployed":false}],"created_at":"2017-10-10T10:36:20Z","customer_id":"1z3ENiEMpKOrsGqTBLhkF2","comment":"","updated_at":"2017-10-10T10:36:20Z","id":"6eQmGWXRR0l97Hwz8pZlDi","version":{"testing":false,"number":1,"service_id":"6eQmGWXRR0l97Hwz8pZlDi","staging":false,"updated_at":"2017-10-10T10:36:20Z","deployed":false,"locked":false,"active":false,"deleted_at":null,"created_at":"2017-10-10T10:36:20Z","comment":"","acls":[],"backends":[],"cache_settings":[],"conditions":[],"dictionaries":[],"directors":[],"domains":[],"gzips":[],"headers":[],"healthchecks":[],"request_settings":[],"response_objects":[],"snippets":[],"vcls":[],"wordpress":[],"settings":{"general.default_ttl":3600,"general.default_host":"","general.default_pci":0}},"active_version":null}'}
    headers:
      content-type: [application/json]
      status: [200 OK]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json]
    method: POST
    uri: https://api.fastly.com/service/6eQmGWXRR0l97Hwz8pZlDi/version
  response:
    body: {string: !!python/unicode '{"service_id":"6eQmGWXRR0l97Hwz8pZlDi","number":2}'}
    headers:
      content-type: [application/json]
      fastly-ratelimit-remaining: ['787']
      fastly-ratelimit-reset: ['1507633200']
      status: [200 OK]
    status: {code: 200, message: OK}
- request:
    body: !!python/unicode '{"comment": "", "name": "example8000.com"}'
    headers:
      Content-Type: [application/json]
    method: POST
    uri: https://api.fastly.com/service/6eQmGWXRR0l97Hwz8pZlDi/version/2/domain
  response:
    body: {string: !!python/unicode '{"comment":"","name":"example8000.com","service_id":"6eQmGWXRR0l97Hwz8pZlDi","version":2,"deleted_at":null,"created_at":"2017-10-10T10:36:22Z","updated_at":"2017-10-10T10:36:22Z"}'}
    headers:
      content-type: [application/json]
      fastly-ratelimit-remaining: ['786']
      fastly-ratelimit-reset: ['1507633200']
      status: [200 OK]
    status: {code: 200, message: OK}
- request:
    body: !!python/unicode '{"ssl_ca_cert": null, "request_condition": "", "name":
      "localhost", "weight": 100, "healthcheck": null, "first_byte_timeout": 15000,
      "connect_timeout": 1000, "error_threshold": 0, "ssl_cert_hostname": null, "address":
      "127.0.0.1", "between_bytes_timeout": 10000, "max_conn": 200, "port": 80, "ssl_hostname":
      null, "shield": null}'
    headers:
      Content-Type: [application/json]
    method: POST
    uri: https://api.fastly.com/service/6eQmGWXRR0l97Hwz8pZlDi/version/2/backend
  response:
    body: {string: !!python/unicode '{"ssl_ca_cert":null,"request_condition":"","name":"localhost","weight":100,"healthcheck":null,"first_byte_timeout":15000,"connect_timeout":1000,"error_threshold":0,"ssl_cert_hostname":null,"address":"127.0.0.1","between_bytes_timeout":10000,"max_conn":200,"port":80,"ssl_hostname":null,"shield":null,"service_id":"6eQmGWXRR0l97Hwz8pZlDi","version":2,"max_tls_version":null,"ssl_client_cert":null,"hostname":null,"client_cert":null,"updated_at":"2017-10-10T10:36:22Z","ipv4":"127.0.0.1","ssl_ciphers":null,"ssl_client_key":null,"auto_loadbalance":false,"ssl_check_cert":true,"ssl_sni_hostname":null,"min_tls_version":null,"ipv6":null,"deleted_at":null,"use_ssl":false,"created_at":"2017-10-10T10:36:22Z","comment":""}'}
    headers:
      content-type: [application/json]
      fastly-ratelimit-remaining: ['785']
      fastly-ratelimit-reset: ['1507633200']
      status: [200 OK]
    status: {code: 200, message: OK}
- request:
    body: !!python/unicode '{"ignore_if_set": "0", "regex": "", "request_condition":
      null, "name": "Set Location header", "src": "\"https://u.jimcdn.com\" req.url.path",
      "dst": "http.Location", "substitution": "", "priority": "100", "cache_condition":
      null, "action": "set", "type": "response", "response_condition": null}'
    headers:
      Content-Type: [application/json]
    method: POST
    uri: https://api.fastly.com/service/6eQmGWXRR0l97Hwz8pZlDi/version/2/header
  response:
    body: {string: !!python/unicode '{"ignore_if_set":"0","regex":"","request_condition":null,"name":"Set
        Location header","src":"\"https://u.jimcdn.com\" req.url.path","dst":"http.Location","substitution":"","priority":"100","cache_condition":null,"action":"set","type":"response","response_condition":null,"service_id":"6eQmGWXRR0l97Hwz8pZlDi","version":"2","updated_at":"2017-10-10T10:36:23Z","deleted_at":null,"created_at":"2017-10-10T10:36:23Z"}'}
    headers:
      content-type: [application/json]
      fastly-ratelimit-remaining: ['784']
      fastly-ratelimit-reset: ['1507633200']
      status: [200 OK]
    status: {code: 200, message: OK}
- request:
    body: !!python/unicode '{"status": "200", "request_condition": "", "name": "Set
      200 status code", "content": "", "content_type": "", "response": "Ok"}'
    headers:
      Content-Type: [application/json]
    method: POST
    uri: https://api.fastly.com/service/6eQmGWXRR0l97Hwz8pZlDi/version/2/response_object
  response:
    body: {string: !!python/unicode '{"status":"200","request_condition":"","name":"Set
        200 status code","content":"","content_type":"","response":"Ok","service_id":"6eQmGWXRR0l97Hwz8pZlDi","version":"2","deleted_at":null,"cache_condition":"","created_at":"2017-10-10T10:36:24Z","updated_at":"2017-10-10T10:36:24Z"}'}
    headers:
      content-type: [application/json]
      fastly-ratelimit-remaining: ['783']
      fastly-ratelimit-reset: ['1507633200']
      status: [200 OK]
    status: {code: 200, message: OK}
- request:
    body: !!python/unicode '{"content": "\n            if (resp.status >= 500 && resp.status
      < 600) {\n                if (stale.exists) {\n                    restart;\n                }\n            }\n        ",
      "type": "deliver", "dynamic": 0, "name": "Deliver stale content", "priority":
      100}'
    headers:
      Content-Type: [application/json]
    method: POST
    uri: https://api.fastly.com/service/6eQmGWXRR0l97Hwz8pZlDi/version/2/snippet
  response:
    body: {string: !!python/unicode '{"content":"\n            if (resp.status \u003e=
        500 \u0026\u0026 resp.status \u003c 600) {\n                if (stale.exists)
        {\n                    restart;\n                }\n            }\n        ","type":"deliver","dynamic":0,"name":"Deliver
        stale content","priority":100,"service_id":"6eQmGWXRR0l97Hwz8pZlDi","version":"2","deleted_at":null,"created_at":"2017-10-10T10:36:24Z","updated_at":"2017-10-10T10:36:24Z","id":"6jcJohqRcnMWCs1gEwh8ys"}'}
    headers:
      content-type: [application/json]
      fastly-ratelimit-remaining: ['782']
      fastly-ratelimit-reset: ['1507633200']
      status: [200 OK]
    status: {code: 200, message: OK}
- request:
    body: !!python/unicode '{"general.default_ttl": 3600}'
    headers:
      Content-Type: [application/json]
    method: PUT
    uri: https://api.fastly.com/service/6eQmGWXRR0l97Hwz8pZlDi/version/2/settings
  response:
    body: {string: !!python/unicode '{"general.default_ttl":3600,"version":2,"general.default_host":"","general.default_pci":0,"service_id":"6eQmGWXRR0l97Hwz8pZlDi"}'}
    headers:
      content-type: [application/json]
      fastly-ratelimit-remaining: ['781']
      fastly-ratelimit-reset: ['1507633200']
      status: [200 OK]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json]
    method: PUT
    uri: https://api.fastly.com/service/6eQmGWXRR0l97Hwz8pZlDi/version/2/activate
  response:
    body: {string: !!python/unicode '{"testing":false,"locked":true,"number":2,"active":true,"service_id":"6eQmGWXRR0l97Hwz8pZlDi","staging":false,"created_at":"2017-10-10T10:36:21Z","deleted_at":null,"comment":"","updated_at":"2017-10-10T10:36:24Z","deployed":false,"msg":null}'}
    headers:
      content-type: [application/json]
      fastly-ratelimit-remaining: ['780']
      fastly-ratelimit-reset: ['1507633200']
      status: [200 OK]
    status: {code: 200, message: OK}
[...]
