interactions:
- request:
    body: null
    headers:
      Content-Type: [application/json]
    method: GET
    uri: https://api.fastly.com/service/search?name=Fastly%20Ansible%20Module%20Test
  response:
    body: {string: !!python/unicode '{"name":"Fastly Ansible Module Test","deleted_at":null,"versions":[{"testing":false,"locked":true,"number":1,"active":false,"service_id":"4c0zyhJgCKI2yCLS8Fzmfc","staging":false,"created_at":"2017-10-05T14:43:46Z","deleted_at":null,"comment":"","updated_at":"2017-10-05T19:50:19Z","deployed":false},{"testing":false,"locked":false,"number":2,"active":false,"service_id":"4c0zyhJgCKI2yCLS8Fzmfc","staging":false,"created_at":"2017-10-05T14:50:22Z","deleted_at":null,"comment":"","updated_at":"2017-10-05T14:50:25Z","deployed":false},{"testing":false,"locked":false,"number":3,"active":false,"service_id":"4c0zyhJgCKI2yCLS8Fzmfc","staging":false,"created_at":"2017-10-05T19:06:41Z","deleted_at":null,"comment":"","updated_at":"2017-10-05T19:06:44Z","deployed":false},{"testing":false,"locked":f[...]
- request:
    body: null
    headers:
      Content-Type: [application/json]
    method: GET
    uri: https://api.fastly.com/service/4c0zyhJgCKI2yCLS8Fzmfc/details
  response:
    body: {string: !!python/unicode '{"name":"Fastly Ansible Module Test","deleted_at":null,"versions":[{"testing":false,"locked":true,"number":1,"active":false,"service_id":"4c0zyhJgCKI2yCLS8Fzmfc","staging":false,"created_at":"2017-10-05T14:43:46Z","deleted_at":null,"comment":"","updated_at":"2017-10-05T19:50:19Z","depl[...]
[...]
