interactions:
- request:
    body: null
    headers:
      Content-Type: [application/json]
    method: GET
    uri: https://api.fastly.com/service/search?name=Fastly%20Ansible%20Module%20Test
  response:
    body: {string: !!python/unicode '{"msg":"Record not found","detail":"Cannot load
        service ''15DqjG1ON0S28gluYrATvC''-''Fastly Ansible Module Test''"}'}
    headers:
      content-type: [application/json]
      status: [404 Not Found]
    status: {code: 404, message: Not Found}
- request:
    body: !!python/unicode '{"name": "Fastly Ansible Module Test"}'
    headers:
      Content-Type: [application/json]
    method: POST
    uri: https://api.fastly.com/service
  response:
    body: {string: !!python/unicode '{"name":"Fastly Ansible Module Test","customer_id":"15DqjG1ON0S28gluYrATvC","publish_key":"74ea91559d7f114f2948af1882d8f977c34a276a","versions":[{"testing":false,"locked":false,"number":1,"active":false,"service_id":"6pQct7Dx4FYqRqcdHdKccW","staging":false,"created_at":"2016-09-01T07:08:25+00:00","deleted_at":null,"comment":"","updated_at":"2016-09-01T07:08:25+00:00","deployed":false}],"deleted_at":null,"created_at":"2016-09-01T07:08:25+00:00","comment":"","updated_at":"2016-09-01T07:08:25+00:00","id":"6pQct7Dx4FYqRqcdHdKccW"}'}
    headers:
      content-type: [application/json]
      fastly-ratelimit-remaining: ['890']
      fastly-ratelimit-reset: ['1472716800']
      status: [200 OK]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json]
    method: GET
    uri: https://api.fastly.com/service/6pQct7Dx4FYqRqcdHdKccW/details
  response:
    body: {string: !!python/unicode '{"name":"Fastly Ansible Module Test","deleted_at":null,"versions":[{"testing":false,"locked":false,"number":1,"active":false,"service_id":"6pQct7Dx4FYqRqcdHdKccW","staging":false,"created_at":"2016-09-01T07:08:25+00:00","deleted_at":null,"comment":"","updated_at":"2016-09-01T07:08:25+00:00","deployed":false}],"created_at":"2016-09-01T07:08:25+00:00","customer_id":"15DqjG1ON0S28gluYrATvC","comment":"","updated_at":"2016-09-01T07:08:25+00:00","id":"6pQct7Dx4FYqRqcdHdKccW","version":{"testing":false,"number":1,"service_id":"6pQct7Dx4FYqRqcdHdKccW","staging":false,"updated_at":"2016-09-01T07:08:25+00:00","deployed":false,"locked":false,"active":false,"deleted_at":null,"created_at":"2016-09-01T07:08:25+00:00","comment":"","acls":[],"backends":[],"cache_settings":[],"conditions":[],"dictionaries":[],"directors":[],"domains":[],"gzips":[],"headers":[],"healthchecks":[],"request_settings":[],"response_objects":[],"vcls":[],"wordpress":[],"settings":{"general.default_ttl":3600,"general.default_host":"","general.default_pci":0}},"active_version":null}'}
    headers:
      content-type: [application/json]
      status: [200 OK]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json]
    method: POST
    uri: https://api.fastly.com/service/6pQct7Dx4FYqRqcdHdKccW/version
  response:
    body: {string: !!python/unicode '{"service_id":"6pQct7Dx4FYqRqcdHdKccW","number":2}'}
    headers:
      content-type: [application/json]
      fastly-ratelimit-remaining: ['889']
      fastly-ratelimit-reset: ['1472716800']
      status: [200 OK]
    status: {code: 200, message: OK}
- request:
    body: !!python/unicode '{"comment": "", "name": "example7000.com"}'
    headers:
      Content-Type: [application/json]
    method: POST
    uri: https://api.fastly.com/service/6pQct7Dx4FYqRqcdHdKccW/version/2/domain
  response:
    body: {string: !!python/unicode '{"comment":"","name":"example7000.com","service_id":"6pQct7Dx4FYqRqcdHdKccW","version":2,"deleted_at":null,"created_at":"2016-09-01T07:08:29+00:00","updated_at":"2016-09-01T07:08:29+00:00"}'}
    headers:
      content-type: [application/json]
      fastly-ratelimit-remaining: ['888']
      fastly-ratelimit-reset: ['1472716800']
      status: [200 OK]
    status: {code: 200, message: OK}
- request:
    body: !!python/unicode '{"address": "127.0.0.1", "name": "localhost", "port":
      80}'
    headers:
      Content-Type: [application/json]
    method: POST
    uri: https://api.fastly.com/service/6pQct7Dx4FYqRqcdHdKccW/version/2/backend
  response:
    body: {string: !!python/unicode '{"address":"127.0.0.1","name":"localhost","port":80,"service_id":"6pQct7Dx4FYqRqcdHdKccW","version":2,"max_tls_version":null,"ssl_client_cert":null,"hostname":null,"error_threshold":0,"first_byte_timeout":15000,"client_cert":null,"weight":100,"updated_at":"2016-09-01T07:08:29+00:00","connect_timeout":1000,"ipv4":"127.0.0.1","ssl_ciphers":null,"between_bytes_timeout":10000,"ssl_client_key":null,"ssl_ca_cert":null,"auto_loadbalance":false,"ssl_check_cert":true,"shield":null,"request_condition":"","ssl_cert_hostname":null,"ssl_hostname":null,"ssl_sni_hostname":null,"min_tls_version":null,"ipv6":null,"deleted_at":null,"healthcheck":null,"max_conn":200,"use_ssl":false,"created_at":"2016-09-01T07:08:29+00:00","comment":""}'}
    headers:
      content-type: [application/json]
      fastly-ratelimit-remaining: ['887']
      fastly-ratelimit-reset: ['1472716800']
      status: [200 OK]
    status: {code: 200, message: OK}
- request:
    body: !!python/unicode '{"comment": "", "priority": "0", "type": "REQUEST", "name":
      "condition-name", "statement": "req.url ~ \"^/robots.txt\""}'
    headers:
      Content-Type: [application/json]
    method: POST
    uri: https://api.fastly.com/service/6pQct7Dx4FYqRqcdHdKccW/version/2/condition
  response:
    body: {string: !!python/unicode '{"comment":"","priority":"0","type":"REQUEST","name":"condition-name","statement":"req.url
        ~ \"^/robots.txt\"","service_id":"6pQct7Dx4FYqRqcdHdKccW","version":"2","deleted_at":null,"created_at":"2016-09-01T07:08:30+00:00","updated_at":"2016-09-01T07:08:30+00:00"}'}
    headers:
      content-type: [application/json]
      fastly-ratelimit-remaining: ['886']
      fastly-ratelimit-reset: ['1472716800']
      status: [200 OK]
    status: {code: 200, message: OK}
- request:
    body: !!python/unicode '{"ignore_if_set": "0", "regex": "", "name": "Set Location
      header", "src": "\"https://u.jimcdn.com\" req.url.path", "dst": "http.Location",
      "priority": "100", "substitution": "", "action": "set", "type": "response"}'
    headers:
      Content-Type: [application/json]
    method: POST
    uri: https://api.fastly.com/service/6pQct7Dx4FYqRqcdHdKccW/version/2/header
  response:
    body: {string: !!python/unicode '{"ignore_if_set":"0","regex":"","name":"Set Location
        header","src":"\"https://u.jimcdn.com\" req.url.path","dst":"http.Location","priority":"100","substitution":"","action":"set","type":"response","service_id":"6pQct7Dx4FYqRqcdHdKccW","version":"2","request_condition":null,"response_condition":null,"updated_at":"2016-09-01T07:08:30+00:00","deleted_at":null,"cache_condition":null,"created_at":"2016-09-01T07:08:30+00:00"}'}
    headers:
      content-type: [application/json]
      fastly-ratelimit-remaining: ['885']
      fastly-ratelimit-reset: ['1472716800']
      status: [200 OK]
    status: {code: 200, message: OK}
- request:
    body: !!python/unicode '{"status": "200", "request_condition": "", "name": "Set
      200 status code", "response": "Ok"}'
    headers:
      Content-Type: [application/json]
    method: POST
    uri: https://api.fastly.com/service/6pQct7Dx4FYqRqcdHdKccW/version/2/response_object
  response:
    body: {string: !!python/unicode '{"status":"200","request_condition":"","name":"Set
        200 status code","response":"Ok","service_id":"6pQct7Dx4FYqRqcdHdKccW","version":"2","content":null,"deleted_at":null,"cache_condition":"","created_at":"2016-09-01T07:08:30+00:00","content_type":null,"updated_at":"2016-09-01T07:08:30+00:00"}'}
    headers:
      content-type: [application/json]
      fastly-ratelimit-remaining: ['884']
      fastly-ratelimit-reset: ['1472716800']
      status: [200 OK]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json]
    method: PUT
    uri: https://api.fastly.com/service/6pQct7Dx4FYqRqcdHdKccW/version/2/activate
  response:
    body: {string: !!python/unicode '{"testing":false,"locked":true,"number":2,"active":true,"service_id":"6pQct7Dx4FYqRqcdHdKccW","staging":false,"created_at":"2016-09-01T07:08:26+00:00","deleted_at":null,"comment":"","updated_at":"2016-09-01T07:08:26+00:00","deployed":false,"msg":null}'}
    headers:
      content-type: [application/json]
      fastly-ratelimit-remaining: ['883']
      fastly-ratelimit-reset: ['1472716800']
      status: [200 OK]
    status: {code: 200, message: OK}
[...]
