interactions:
- request:
    body: null
    headers:
      Content-Type: [application/json]
    method: GET
    uri: https://api.fastly.com/service/search?name=Fastly%20Ansible%20Module%20Test
  response:
    body: {string: !!python/unicode '{"msg":"Record not found","detail":"Cannot load
        service ''15DqjG1ON0S28gluYrATvC''-''Fastly Ansible Module Test''"}'}
    headers:
      content-type: [application/json]
      status: [404 Not Found]
    status: {code: 404, message: Not Found}
- request:
    body: !!python/unicode '{"name": "Fastly Ansible Module Test"}'
    headers:
      Content-Type: [application/json]
    method: POST
    uri: https://api.fastly.com/service
  response:
    body: {string: !!python/unicode '{"name":"Fastly Ansible Module Test","customer_id":"15DqjG1ON0S28gluYrATvC","publish_key":"1a97696607cc3ea65e6235445b6bca8175fb1168","versions":[{"testing":false,"locked":false,"number":1,"active":false,"service_id":"4292HxlQFRUBMUu8N4z33U","staging":false,"created_at":"2017-07-03T14:40:11+00:00","deleted_at":null,"comment":"","updated_at":"2017-07-03T14:40:11+00:00","deployed":false}],"deleted_at":null,"created_at":"2017-07-03T14:40:11+00:00","comment":"","updated_at":"2017-07-03T14:40:11+00:00","id":"4292HxlQFRUBMUu8N4z33U"}'}
    headers:
      content-type: [application/json]
      fastly-ratelimit-remaining: ['233']
      fastly-ratelimit-reset: ['1499094000']
      status: [200 OK]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json]
    method: GET
    uri: https://api.fastly.com/service/4292HxlQFRUBMUu8N4z33U/details
  response:
    body: {string: !!python/unicode '{"name":"Fastly Ansible Module Test","deleted_at":null,"versions":[{"testing":false,"locked":false,"number":1,"active":false,"service_id":"4292HxlQFRUBMUu8N4z33U","staging":false,"created_at":"2017-07-03T14:40:11+00:00","deleted_at":null,"comment":"","updated_at":"2017-07-03T14:40:11+00:00","deployed":false}],"created_at":"2017-07-03T14:40:11+00:00","customer_id":"15DqjG1ON0S28gluYrATvC","comment":"","updated_at":"2017-07-03T14:40:11+00:00","id":"4292HxlQFRUBMUu8N4z33U","version":{"testing":false,"number":1,"service_id":"4292HxlQFRUBMUu8N4z33U","staging":false,"updated_at":"2017-07-03T14:40:11+00:00","deployed":false,"locked":false,"active":false,"deleted_at":null,"created_at":"2017-07-03T14:40:11+00:00","comment":"","acls":[],"backends":[],"cache_settings":[],"conditions":[],"dictionaries":[],"directors":[],"domains":[],"gzips":[],"headers":[],"healthchecks":[],"request_settings":[],"response_objects":[],"snippets":[],"vcls":[],"wordpress":[],"settings":{"general.default_ttl":3600,"general.default_host":"","general.default_pci":0}},"active_version":null}'}
    headers:
      content-type: [application/json]
      status: [200 OK]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json]
    method: POST
    uri: https://api.fastly.com/service/4292HxlQFRUBMUu8N4z33U/version
  response:
    body: {string: !!python/unicode '{"service_id":"4292HxlQFRUBMUu8N4z33U","number":2}'}
    headers:
      content-type: [application/json]
      fastly-ratelimit-remaining: ['232']
      fastly-ratelimit-reset: ['1499094000']
      status: [200 OK]
    status: {code: 200, message: OK}
- request:
    body: !!python/unicode '{"comment": "", "name": "example7000.com"}'
    headers:
      Content-Type: [application/json]
    method: POST
    uri: https://api.fastly.com/service/4292HxlQFRUBMUu8N4z33U/version/2/domain
  response:
    body: {string: !!python/unicode '{"comment":"","name":"example7000.com","service_id":"4292HxlQFRUBMUu8N4z33U","version":2,"deleted_at":null,"created_at":"2017-07-03T14:40:12+00:00","updated_at":"2017-07-03T14:40:12+00:00"}'}
    headers:
      content-type: [application/json]
      fastly-ratelimit-remaining: ['231']
      fastly-ratelimit-reset: ['1499094000']
      status: [200 OK]
    status: {code: 200, message: OK}
- request:
    body: !!python/unicode '{"ssl_ca_cert": null, "request_condition": "", "name":
      "localhost", "address": "127.0.0.1", "port": 80, "ssl_hostname": null}'
    headers:
      Content-Type: [application/json]
    method: POST
    uri: https://api.fastly.com/service/4292HxlQFRUBMUu8N4z33U/version/2/backend
  response:
    body: {string: !!python/unicode '{"ssl_ca_cert":null,"request_condition":"","name":"localhost","address":"127.0.0.1","port":80,"ssl_hostname":null,"service_id":"4292HxlQFRUBMUu8N4z33U","version":2,"max_tls_version":null,"ssl_client_cert":null,"hostname":null,"error_threshold":0,"first_byte_timeout":15000,"client_cert":null,"weight":100,"updated_at":"2017-07-03T14:40:13+00:00","connect_timeout":1000,"ipv4":"127.0.0.1","ssl_ciphers":null,"between_bytes_timeout":10000,"ssl_client_key":null,"auto_loadbalance":false,"ssl_check_cert":true,"shield":null,"ssl_cert_hostname":null,"ssl_sni_hostname":null,"min_tls_version":null,"ipv6":null,"deleted_at":null,"healthcheck":null,"max_conn":200,"use_ssl":false,"created_at":"2017-07-03T14:40:13+00:00","comment":""}'}
    headers:
      content-type: [application/json]
      fastly-ratelimit-remaining: ['230']
      fastly-ratelimit-reset: ['1499094000']
      status: [200 OK]
    status: {code: 200, message: OK}
- request:
    body: !!python/unicode '{"ignore_if_set": "0", "regex": "", "request_condition":
      null, "name": "Set Location header", "src": "\"https://u.jimcdn.com\" req.url.path",
      "dst": "http.Location", "substitution": "", "priority": "100", "cache_condition":
      null, "action": "set", "type": "response", "response_condition": null}'
    headers:
      Content-Type: [application/json]
    method: POST
    uri: https://api.fastly.com/service/4292HxlQFRUBMUu8N4z33U/version/2/header
  response:
    body: {string: !!python/unicode '{"ignore_if_set":"0","regex":"","request_condition":null,"name":"Set
        Location header","src":"\"https://u.jimcdn.com\" req.url.path","dst":"http.Location","substitution":"","priority":"100","cache_condition":null,"action":"set","type":"response","response_condition":null,"service_id":"4292HxlQFRUBMUu8N4z33U","version":"2","updated_at":"2017-07-03T14:40:13+00:00","deleted_at":null,"created_at":"2017-07-03T14:40:13+00:00"}'}
    headers:
      content-type: [application/json]
      fastly-ratelimit-remaining: ['229']
      fastly-ratelimit-reset: ['1499094000']
      status: [200 OK]
    status: {code: 200, message: OK}
- request:
    body: !!python/unicode '{"status": "200", "request_condition": "", "name": "Set
      200 status code", "response": "Ok"}'
    headers:
      Content-Type: [application/json]
    method: POST
    uri: https://api.fastly.com/service/4292HxlQFRUBMUu8N4z33U/version/2/response_object
  response:
    body: {string: !!python/unicode '{"status":"200","request_condition":"","name":"Set
        200 status code","response":"Ok","service_id":"4292HxlQFRUBMUu8N4z33U","version":"2","content":null,"deleted_at":null,"cache_condition":"","created_at":"2017-07-03T14:40:14+00:00","content_type":null,"updated_at":"2017-07-03T14:40:14+00:00"}'}
    headers:
      content-type: [application/json]
      fastly-ratelimit-remaining: ['228']
      fastly-ratelimit-reset: ['1499094000']
      status: [200 OK]
    status: {code: 200, message: OK}
- request:
    body: !!python/unicode '{"general.default_ttl": 1000}'
    headers:
      Content-Type: [application/json]
    method: PUT
    uri: https://api.fastly.com/service/4292HxlQFRUBMUu8N4z33U/version/2/settings
  response:
    body: {string: !!python/unicode '{"general.default_ttl":1000,"version":2,"general.default_host":"","general.default_pci":0,"service_id":"4292HxlQFRUBMUu8N4z33U"}'}
    headers:
      content-type: [application/json]
      fastly-ratelimit-remaining: ['227']
      fastly-ratelimit-reset: ['1499094000']
      status: [200 OK]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json]
    method: PUT
    uri: https://api.fastly.com/service/4292HxlQFRUBMUu8N4z33U/version/2/activate
  response:
    body: {string: !!python/unicode '{"testing":false,"locked":true,"number":2,"active":true,"service_id":"4292HxlQFRUBMUu8N4z33U","staging":false,"created_at":"2017-07-03T14:40:12+00:00","deleted_at":null,"comment":"","updated_at":"2017-07-03T14:40:14+00:00","deployed":false,"msg":null}'}
    headers:
      content-type: [application/json]
      fastly-ratelimit-remaining: ['226']
      fastly-ratelimit-reset: ['1499094000']
      status: [200 OK]
    status: {code: 200, message: OK}
[...]
