interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fastly.com/service/search?name=Fastly%20Ansible%20Module%20Test
  response:
    body:
      string: !!python/unicode '{"name":"Fastly Ansible Module Test","deleted_at":null,"versions":[{"testing":false,"locked":false,"number":1,"active":false,"service_id":"6mRIcYSFRouDb6FG7PLIPo","staging":false,"created_at":"2019-04-24T14:14:27Z","deleted_at":null,"comment":"","updated_at":"2019-04-24T14:14:27Z","deployed":false},{"testing":false,"staging":false,"updated_at":"2019-04-24T14:14:42Z","active":true,"number":2,"service_id":"6mRIcYSFRouDb6FG7PLIPo","deployed":false,"locked":true,"deleted_at":null,"created_at":"2019-04-24T14:14:29Z","comment":""}],"created_at":"2019-04-24T14:14:27Z","customer_id":"4NTmXUwFuuC5U0iJUrdEHr","comment":"","updated_at":"2019-04-24T14:14:27Z","id":"6mRIcYSFRouDb6FG7PLIPo"}'
    headers:
      content-type:
      - application/json
      status:
      - 200 OK
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fastly.com/service/6mRIcYSFRouDb6FG7PLIPo/details
  response:
    body:
      string: !!python/unicode '{"name":"Fastly Ansible Module Test","deleted_at":null,"versions":[{"updated_at":"2019-04-24T14:14:27Z","service_id":"6mRIcYSFRouDb6FG7PLIPo","created_at":"2019-04-24T14:14:27Z","locked":false,"active":false,"deleted_at":null,"number":1,"deployed":false,"testing":false,"comment":"","staging":false},{"number":2,"testing":false,"deployed":false,"comment":"","service_id":"6mRIcYSFRouDb6FG7PLIPo","deleted_at":null,"staging":false,"locked":true,"updated_at":"2019-04-24T14:14:42Z","created_at":"2019-04-24T14:14:29Z","active":true}],"created_at":"2019-04-24T14:14:27Z","customer_id":"4NTmXUwFuuC5U0iJUrdEHr","comment":"","updated_at":"2019-04-24T14:14:27Z","id":"6mRIcYSFRouDb6FG7PLIPo","version":{"testing":false,"staging":false,"updated_at":"2019-04-24T14:14:42Z","active":true,"number":2,"service_id":"6mRIcYSFRouDb6FG7PLIPo","deployed":false,"locked":true,"deleted_at":null,"created_at":"2019-04-24T14:14:29Z","comment":"","acls":[],"backends":[{"max_tls_version":null,"ssl_ca_cert":null,"auto_loadbalance":false,"ssl_check_cert":true,"shield":null,"override_host":null,"hostname":null,"ssl_client_cert":null,"error_threshold":0,"request_condition":"","first_byte_timeout":15000,"ssl_cert_hostname":null,"weight":100,"client_cert":null,"address":"127.0.0.1","ssl_hostname":null,"ssl_sni_hostname":null,"min_tls_version":null,"ipv6":null,"ipv4":"127.0.0.1","connect_timeout":1000,"ssl_ciphers":null,"name":"localhost","healthcheck":null,"port":80,"max_conn":200,"use_ssl":false,"comment":"","between_bytes_timeout":10000,"ssl_client_key":null}],"cache_settings":[],"conditions":[],"dictionaries":[],"directors":[],"domains":[{"comment":"","name":"example8000.com"}],"gzips":[],"headers":[{"priority":"100","src":"\"https://u.jimcdn.com\"
        req.url.path","name":"Set Location header","substitution":"","ignore_if_set":"0","cache_condition":null,"request_condition":null,"regex":"","response_condition":null,"action":"set","type":"response","dst":"http.Location"}],"healthchecks":[],"request_settings":[],"response_objects":[{"request_condition":"","content_type":"","status":"200","response":"Ok","name":"Set
        200 status code","content":"","cache_condition":""}],"snippets":[],"vcls":[],"wordpress":[],"settings":{"general.stale_if_error_ttl":43200,"general.stale_if_error":false,"general.default_ttl":1000,"general.default_host":"","general.default_pci":0}},"active_version":{"testing":false,"staging":false,"updated_at":"2019-04-24T14:14:42Z","active":true,"number":2,"service_id":"6mRIcYSFRouDb6FG7PLIPo","deployed":false,"locked":true,"deleted_at":null,"created_at":"2019-04-24T14:14:29Z","comment":"","acls":[],"backends":[{"max_tls_version":null,"ssl_ca_cert":null,"auto_loadbalance":false,"ssl_check_cert":true,"shield":null,"override_host":null,"hostname":null,"ssl_client_cert":null,"error_threshold":0,"request_condition":"","first_byte_timeout":15000,"ssl_cert_host[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://api.fastly.com/service/6mRIcYSFRouDb6FG7PLIPo/version/2/deactivate
  response:
    body:
      string: !!python/unicode '{"staging":false,"number":2,"testing":false,"deployed":false,"comment":"","service_id":"6mRIcYSFRouDb6FG7PLIPo","deleted_at":null,"active":false,"locked":true,"updated_at":"2019-04-24T14:14:42Z","created_at":"2019-04-24T14:14:29Z"}'
    headers:
      content-type:
      - application/json
      fastly-ratelimit-remaining:
      - '829'
      fastly-ratelimit-reset:
      - '1556118000'
      status:
      - 200 OK
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.fastly.com/service/6mRIcYSFRouDb6FG7PLIPo
  response:
    body:
      string: !!python/unicode '{"status":"ok"}'
    headers:
      content-type:
      - application/json
      fastly-ratelimit-remaining:
      - '828'
      fastly-ratelimit-reset:
      - '1556118000'
      status:
      - 200 OK
    status:
      code: 200
      message: OK
version: 1
