interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fastly.com/service/search?name=Fastly%20Ansible%20Module%20Test
  response:
    body:
      string: !!python/unicode '{"name":"Fastly Ansible Module Test","deleted_at":null,"versions":[{"testing":false,"locked":false,"number":1,"active":false,"service_id":"7jredHcu5bdBJejjsuH8at","staging":false,"created_at":"2019-04-24T14:16:16Z","deleted_at":null,"comment":"","updated_at":"2019-04-24T14:16:16Z","deployed":false},{"testing":false,"staging":false,"updated_at":"2019-04-24T14:16:32Z","active":true,"number":2,"service_id":"7jredHcu5bdBJejjsuH8at","deployed":false,"locked":true,"deleted_at":null,"created_at":"2019-04-24T14:16:17Z","comment":""}],"created_at":"2019-04-24T14:16:16Z","customer_id":"4NTmXUwFuuC5U0iJUrdEHr","comment":"","updated_at":"2019-04-24T14:16:16Z","id":"7jredHcu5bdBJejjsuH8at"}'
    headers:
      content-type:
      - application/json
      status:
      - 200 OK
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fastly.com/service/7jredHcu5bdBJejjsuH8at/details
  response:
    body:
      string: !!python/unicode '{"name":"Fastly Ansible Module Test","deleted_at":null,"versions":[{"testing":false,"locked":false,"number":1,"active":false,"service_id":"7jredHcu5bdBJejjsuH8at","staging":false,"created_at":"2019-04-24T14:16:16Z","deleted_at":null,"comment":"","updated_at":"2019-04-24T14:16:16Z","deployed":false},{"testing":false,"locked":true,"number":2,"active":true,"service_id":"7jredHcu5bdBJejjsuH8at","staging":false,"created_at":"2019-04-24T14:16:17Z","deleted_at":null,"comment":"","updated_at":"2019-04-24T14:16:32Z","deployed":false}],"created_at":"2019-04-24T14:16:16Z","customer_id":"4NTmXUwFuuC5U0iJUrdEHr","comment":"","updated_at":"2019-04-24T14:16:16Z","id":"7jredHcu5bdBJejjsuH8at","version":{"testing":false,"staging":false,"updated_at":"2019-04-24T14:16:32Z","active":true,"number":2,"service_id":"7jredHcu5bdBJejjsuH8at","deployed":false,"locked":true,"deleted_at":null,"created_at":"2019-04-24T14:16:17Z","comment":"","acls":[],"backends":[{"max_tls_version":null,"ssl_ca_cert":null,"auto_loadbalance":false,"ssl_check_cert":true,"shield":null,"override_host":null,"hostname":null,"ssl_client_cert":null,"error_threshold":0,"request_condition":"","first_byte_timeout":15000,"ssl_cert_hostname":null,"weight":100,"client_cert":null,"address":"127.0.0.1","ssl_hostname":null,"ssl_sni_hostname":null,"min_tls_version":null,"ipv6":null,"ipv4":"127.0.0.1","connect_timeout":1000,"ssl_ciphers":null,"name":"localhost","healthcheck":null,"port":80,"max_conn":200,"use_ssl":false,"comment":"","between_bytes_timeout":10000,"ssl_client_key":null}],"cache_settings":[],"conditions":[],"dictionaries":[],"directors":[],"domains":[{"comment":"","name":"example8000.com"}],"gzips":[],"headers":[{"priority":"100","src":"\"https://u.jimcdn.com\"
        req.url.path","name":"Set Location header","substitution":"","ignore_if_set":"0","cache_condition":null,"request_condition":null,"regex":"","response_condition":null,"action":"set","type":"response","dst":"http.Location"}],"healthchecks":[],"request_settings":[],"response_objects":[{"request_condition":"","content_type":"text/plain","status":"200","response":"Ok","name":"Set
        200 status code","content":"Hello from Fastly","cache_condition":""}],"snippets":[],"vcls":[],"wordpress":[],"settings":{"general.stale_if_error_ttl":43200,"general.stale_if_error":false,"general.default_ttl":3600,"general.default_host":"","general.default_pci":0}},"active_version":{"testing":false,"staging":false,"updated_at":"2019-04-24T14:16:32Z","active":true,"number":2,"service_id":"7jredHcu5bdBJejjsuH8at","deployed":false,"locked":true,"deleted_at":null,"created_at":"2019-04-24T14:16:17Z","comment":"","acls":[],"backends":[{"max_tls_version":null,"ssl_ca_cert":null,"auto_loadbalance":false,"ssl_check_cert":true,"shield":null,"override_host":null,"hostname":null,"ssl_client_cert":null,"error_threshold":0,"request_condition":"","first_byte_timeout":15000,"ssl_cert_host[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://api.fastly.com/service/7jredHcu5bdBJejjsuH8at/version/2/deactivate
  response:
    body:
      string: !!python/unicode '{"testing":false,"locked":true,"number":2,"active":false,"service_id":"7jredHcu5bdBJejjsuH8at","staging":false,"created_at":"2019-04-24T14:16:17Z","deleted_at":null,"comment":"","updated_at":"2019-04-24T14:16:32Z","deployed":false}'
    headers:
      content-type:
      - application/json
      fastly-ratelimit-remaining:
      - '770'
      fastly-ratelimit-reset:
      - '1556118000'
      status:
      - 200 OK
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.fastly.com/service/7jredHcu5bdBJejjsuH8at
  response:
    body:
      string: !!python/unicode '{"status":"ok"}'
    headers:
      content-type:
      - application/json
      fastly-ratelimit-remaining:
      - '769'
      fastly-ratelimit-reset:
      - '1556118000'
      status:
      - 200 OK
    status:
      code: 200
      message: OK
version: 1
