interactions:
- request:
    body: null
    headers:
      Content-Type: [application/json]
    method: GET
    uri: https://api.fastly.com/service/search?name=Fastly%20Ansible%20Module%20Test
  response:
    body: {string: !!python/unicode '{"msg":"Record not found","detail":"Cannot load
        service ''31RPDMBpiruA1yfGA2djLm''-''Fastly Ansible Module Test''"}'}
    headers:
      content-type: [application/json]
      status: [404 Not Found]
    status: {code: 404, message: Not Found}
- request:
    body: !!python/unicode '{"name": "Fastly Ansible Module Test"}'
    headers:
      Content-Type: [application/json]
    method: POST
    uri: https://api.fastly.com/service
  response:
    body: {string: !!python/unicode '{"customer_id":"31RPDMBpiruA1yfGA2djLm","name":"Fastly
        Ansible Module Test","publish_key":"e32cf9226a0314d9449d65fd1eaf3b1677e61427","versions":[{"testing":false,"locked":false,"number":1,"active":false,"service_id":"3HIt3z8Zgd8OYOeLP4avj6","staging":false,"created_at":"2018-04-06T12:24:15Z","deleted_at":null,"comment":"","updated_at":"2018-04-06T12:24:15Z","deployed":false}],"deleted_at":null,"created_at":"2018-04-06T12:24:15Z","comment":"","updated_at":"2018-04-06T12:24:15Z","id":"3HIt3z8Zgd8OYOeLP4avj6"}'}
    headers:
      content-type: [application/json]
      fastly-ratelimit-remaining: ['798']
      fastly-ratelimit-reset: ['1523019600']
      status: [200 OK]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json]
    method: GET
    uri: https://api.fastly.com/service/3HIt3z8Zgd8OYOeLP4avj6/details
  response:
    body: {string: !!python/unicode '{"name":"Fastly Ansible Module Test","deleted_at":null,"versions":[{"testing":false,"locked":false,"number":1,"active":false,"service_id":"3HIt3z8Zgd8OYOeLP4avj6","staging":false,"created_at":"2018-04-06T12:24:15Z","deleted_at":null,"comment":"","updated_at":"2018-04-06T12:24:15Z","deployed":false}],"created_at":"2018-04-06T12:24:15Z","customer_id":"31RPDMBpiruA1yfGA2djLm","comment":"","updated_at":"2018-04-06T12:24:15Z","id":"3HIt3z8Zgd8OYOeLP4avj6","version":{"testing":false,"number":1,"service_id":"3HIt3z8Zgd8OYOeLP4avj6","staging":false,"updated_at":"2018-04-06T12:24:15Z","deployed":false,"locked":false,"active":false,"deleted_at":null,"created_at":"2018-04-06T12:24:15Z","comment":"","acls":[],"backends":[],"cache_settings":[],"conditions":[],"dictionaries":[],"directors":[],"domains":[],"gzips":[],"headers":[],"healthchecks":[],"request_settings":[],"response_objects":[],"snippets":[],"vcls":[],"wordpress":[],"settings":{"general.default_ttl":3600,"general.default_host":"","general.default_pci":0}},"active_version":null}'}
    headers:
      content-type: [application/json]
      status: [200 OK]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json]
    method: POST
    uri: https://api.fastly.com/service/3HIt3z8Zgd8OYOeLP4avj6/version
  response:
    body: {string: !!python/unicode '{"service_id":"3HIt3z8Zgd8OYOeLP4avj6","number":2}'}
    headers:
      content-type: [application/json]
      fastly-ratelimit-remaining: ['797']
      fastly-ratelimit-reset: ['1523019600']
      status: [200 OK]
    status: {code: 200, message: OK}
- request:
    body: !!python/unicode '{"comment": "", "name": "example8000.com"}'
    headers:
      Content-Type: [application/json]
    method: POST
    uri: https://api.fastly.com/service/3HIt3z8Zgd8OYOeLP4avj6/version/2/domain
  response:
    body: {string: !!python/unicode '{"comment":"","name":"example8000.com","service_id":"3HIt3z8Zgd8OYOeLP4avj6","version":2,"deleted_at":null,"created_at":"2018-04-06T12:24:17Z","updated_at":"2018-04-06T12:24:17Z"}'}
    headers:
      content-type: [application/json]
      fastly-ratelimit-remaining: ['796']
      fastly-ratelimit-reset: ['1523019600']
      status: [200 OK]
    status: {code: 200, message: OK}
- request:
    body: !!python/unicode '{"ssl_ca_cert": null, "request_condition": "", "name":
      "localhost", "weight": 100, "healthcheck": null, "first_byte_timeout": 15000,
      "connect_timeout": 1000, "error_threshold": 0, "ssl_cert_hostname": null, "address":
      "127.0.0.1", "between_bytes_timeout": 10000, "max_conn": 200, "port": 80, "ssl_hostname":
      null, "shield": null}'
    headers:
      Content-Type: [application/json]
    method: POST
    uri: https://api.fastly.com/service/3HIt3z8Zgd8OYOeLP4avj6/version/2/backend
  response:
    body: {string: !!python/unicode '{"ssl_ca_cert":null,"request_condition":"","name":"localhost","weight":100,"healthcheck":null,"first_byte_timeout":15000,"connect_timeout":1000,"error_threshold":0,"ssl_cert_hostname":null,"address":"127.0.0.1","between_bytes_timeout":10000,"max_conn":200,"port":80,"ssl_hostname":null,"shield":null,"service_id":"3HIt3z8Zgd8OYOeLP4avj6","version":2,"max_tls_version":null,"ssl_client_cert":null,"hostname":null,"client_cert":null,"updated_at":"2018-04-06T12:24:17Z","ipv4":"127.0.0.1","ssl_ciphers":null,"ssl_client_key":null,"auto_loadbalance":false,"ssl_check_cert":true,"ssl_sni_hostname":null,"min_tls_version":null,"ipv6":null,"deleted_at":null,"use_ssl":false,"created_at":"2018-04-06T12:24:17Z","comment":""}'}
    headers:
      content-type: [application/json]
      fastly-ratelimit-remaining: ['795']
      fastly-ratelimit-reset: ['1523019600']
      status: [200 OK]
    status: {code: 200, message: OK}
- request:
    body: !!python/unicode '{"ignore_if_set": "0", "regex": "", "request_condition":
      null, "name": "Set Location header", "src": "\"https://u.jimcdn.com\" req.url.path",
      "dst": "http.Location", "substitution": "", "priority": "100", "cache_condition":
      null, "action": "set", "type": "response", "response_condition": null}'
    headers:
      Content-Type: [application/json]
    method: POST
    uri: https://api.fastly.com/service/3HIt3z8Zgd8OYOeLP4avj6/version/2/header
  response:
    body: {string: !!python/unicode '{"ignore_if_set":"0","regex":"","request_condition":null,"name":"Set
        Location header","src":"\"https://u.jimcdn.com\" req.url.path","dst":"http.Location","substitution":"","priority":"100","cache_condition":null,"action":"set","type":"response","response_condition":null,"service_id":"3HIt3z8Zgd8OYOeLP4avj6","version":"2","updated_at":"2018-04-06T12:24:18Z","deleted_at":null,"created_at":"2018-04-06T12:24:18Z"}'}
    headers:
      content-type: [application/json]
      fastly-ratelimit-remaining: ['794']
      fastly-ratelimit-reset: ['1523019600']
      status: [200 OK]
    status: {code: 200, message: OK}
- request:
    body: !!python/unicode '{"status": "200", "request_condition": "", "name": "Set
      200 status code", "content": "", "content_type": "", "response": "Ok"}'
    headers:
      Content-Type: [application/json]
    method: POST
    uri: https://api.fastly.com/service/3HIt3z8Zgd8OYOeLP4avj6/version/2/response_object
  response:
    body: {string: !!python/unicode '{"status":"200","request_condition":"","name":"Set
        200 status code","content":"","content_type":"","response":"Ok","service_id":"3HIt3z8Zgd8OYOeLP4avj6","version":"2","deleted_at":null,"cache_condition":"","created_at":"2018-04-06T12:24:18Z","updated_at":"2018-04-06T12:24:18Z"}'}
    headers:
      content-type: [application/json]
      fastly-ratelimit-remaining: ['793']
      fastly-ratelimit-reset: ['1523019600']
      status: [200 OK]
    status: {code: 200, message: OK}
- request:
    body: !!python/unicode '{"general.default_ttl": 3600}'
    headers:
      Content-Type: [application/json]
    method: PUT
    uri: https://api.fastly.com/service/3HIt3z8Zgd8OYOeLP4avj6/version/2/settings
  response:
    body: {string: !!python/unicode '{"general.default_ttl":3600,"version":2,"general.default_host":"","general.default_pci":0,"service_id":"3HIt3z8Zgd8OYOeLP4avj6"}'}
    headers:
      content-type: [application/json]
      fastly-ratelimit-remaining: ['792']
      fastly-ratelimit-reset: ['1523019600']
      status: [200 OK]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json]
    method: PUT
    uri: https://api.fastly.com/service/3HIt3z8Zgd8OYOeLP4avj6/version/2/activate
  response:
    body: {string: !!python/unicode '{"testing":false,"locked":true,"number":2,"active":true,"service_id":"3HIt3z8Zgd8OYOeLP4avj6","staging":false,"created_at":"2018-04-06T12:24:16Z","deleted_at":null,"comment":"","updated_at":"2018-04-06T12:24:18Z","deployed":false,"msg":null}'}
    headers:
      content-type: [application/json]
      fastly-ratelimit-remaining: ['791']
      fastly-ratelimit-reset: ['1523019600']
      status: [200 OK]
    status: {code: 200, message: OK}
[...]
