interactions:
- request:
    body: null
    headers:
      Content-Type: [application/json]
    method: GET
    uri: https://api.fastly.com/service/search?name=Fastly%20Ansible%20Module%20Test
  response:
    body: {string: !!python/unicode '{"msg":"Record not found","detail":"Cannot load
        service ''15DqjG1ON0S28gluYrATvC''-''Fastly Ansible Module Test''"}'}
    headers:
      content-type: [application/json]
      status: [404 Not Found]
    status: {code: 404, message: Not Found}
- request:
    body: !!python/unicode '{"name": "Fastly Ansible Module Test"}'
    headers:
      Content-Type: [application/json]
    method: POST
    uri: https://api.fastly.com/service
  response:
    body: {string: !!python/unicode '{"name":"Fastly Ansible Module Test","customer_id":"15DqjG1ON0S28gluYrATvC","publish_key":"eacc2ff32897fb25b5381493eeb97818d8cb7b55","versions":[{"testing":false,"locked":false,"number":1,"active":false,"service_id":"ZDMiqI6NfK1aDlfYljQey","staging":false,"created_at":"2017-07-03T14:22:41+00:00","deleted_at":null,"comment":"","updated_at":"2017-07-03T14:22:41+00:00","deployed":false}],"deleted_at":null,"created_at":"2017-07-03T14:22:41+00:00","comment":"","updated_at":"2017-07-03T14:22:41+00:00","id":"ZDMiqI6NfK1aDlfYljQey"}'}
    headers:
      content-type: [application/json]
      fastly-ratelimit-remaining: ['805']
      fastly-ratelimit-reset: ['1499094000']
      status: [200 OK]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json]
    method: GET
    uri: https://api.fastly.com/service/ZDMiqI6NfK1aDlfYljQey/details
  response:
    body: {string: !!python/unicode '{"name":"Fastly Ansible Module Test","deleted_at":null,"versions":[{"testing":false,"locked":false,"number":1,"active":false,"service_id":"ZDMiqI6NfK1aDlfYljQey","staging":false,"created_at":"2017-07-03T14:22:41+00:00","deleted_at":null,"comment":"","updated_at":"2017-07-03T14:22:41+00:00","deployed":false}],"created_at":"2017-07-03T14:22:41+00:00","customer_id":"15DqjG1ON0S28gluYrATvC","comment":"","updated_at":"2017-07-03T14:22:41+00:00","id":"ZDMiqI6NfK1aDlfYljQey","version":{"testing":false,"number":1,"service_id":"ZDMiqI6NfK1aDlfYljQey","staging":false,"updated_at":"2017-07-03T14:22:41+00:00","deployed":false,"locked":false,"active":false,"deleted_at":null,"created_at":"2017-07-03T14:22:41+00:00","comment":"","acls":[],"backends":[],"cache_settings":[],"conditions":[],"dictionaries":[],"directors":[],"domains":[],"gzips":[],"headers":[],"healthchecks":[],"request_settings":[],"response_objects":[],"snippets":[],"vcls":[],"wordpress":[],"settings":{"general.default_ttl":3600,"general.default_host":"","general.default_pci":0}},"active_version":null}'}
    headers:
      content-type: [application/json]
      status: [200 OK]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json]
    method: POST
    uri: https://api.fastly.com/service/ZDMiqI6NfK1aDlfYljQey/version
  response:
    body: {string: !!python/unicode '{"service_id":"ZDMiqI6NfK1aDlfYljQey","number":2}'}
    headers:
      content-type: [application/json]
      fastly-ratelimit-remaining: ['804']
      fastly-ratelimit-reset: ['1499094000']
      status: [200 OK]
    status: {code: 200, message: OK}
- request:
    body: !!python/unicode '{"comment": "", "name": "example7000.com"}'
    headers:
      Content-Type: [application/json]
    method: POST
    uri: https://api.fastly.com/service/ZDMiqI6NfK1aDlfYljQey/version/2/domain
  response:
    body: {string: !!python/unicode '{"comment":"","name":"example7000.com","service_id":"ZDMiqI6NfK1aDlfYljQey","version":2,"deleted_at":null,"created_at":"2017-07-03T14:22:43+00:00","updated_at":"2017-07-03T14:22:43+00:00"}'}
    headers:
      content-type: [application/json]
      fastly-ratelimit-remaining: ['803']
      fastly-ratelimit-reset: ['1499094000']
      status: [200 OK]
    status: {code: 200, message: OK}
- request:
    body: !!python/unicode '{"ssl_ca_cert": null, "request_condition": "", "name":
      "localhost", "address": "127.0.0.1", "port": 80, "ssl_hostname": null}'
    headers:
      Content-Type: [application/json]
    method: POST
    uri: https://api.fastly.com/service/ZDMiqI6NfK1aDlfYljQey/version/2/backend
  response:
    body: {string: !!python/unicode '{"ssl_ca_cert":null,"request_condition":"","name":"localhost","address":"127.0.0.1","port":80,"ssl_hostname":null,"service_id":"ZDMiqI6NfK1aDlfYljQey","version":2,"max_tls_version":null,"ssl_client_cert":null,"hostname":null,"error_threshold":0,"first_byte_timeout":15000,"client_cert":null,"weight":100,"updated_at":"2017-07-03T14:22:43+00:00","connect_timeout":1000,"ipv4":"127.0.0.1","ssl_ciphers":null,"between_bytes_timeout":10000,"ssl_client_key":null,"auto_loadbalance":false,"ssl_check_cert":true,"shield":null,"ssl_cert_hostname":null,"ssl_sni_hostname":null,"min_tls_version":null,"ipv6":null,"deleted_at":null,"healthcheck":null,"max_conn":200,"use_ssl":false,"created_at":"2017-07-03T14:22:43+00:00","comment":""}'}
    headers:
      content-type: [application/json]
      fastly-ratelimit-remaining: ['802']
      fastly-ratelimit-reset: ['1499094000']
      status: [200 OK]
    status: {code: 200, message: OK}
- request:
    body: !!python/unicode '{"action": "pass", "stale_ttl": 10, "name": "cache-settings-config-name",
      "cache_condition": ""}'
    headers:
      Content-Type: [application/json]
    method: POST
    uri: https://api.fastly.com/service/ZDMiqI6NfK1aDlfYljQey/version/2/cache_settings
  response:
    body: {string: !!python/unicode '{"action":"pass","stale_ttl":10,"name":"cache-settings-config-name","cache_condition":"","service_id":"ZDMiqI6NfK1aDlfYljQey","version":"2","ttl":null,"deleted_at":null,"created_at":"2017-07-03T14:22:44+00:00","updated_at":"2017-07-03T14:22:44+00:00"}'}
    headers:
      content-type: [application/json]
      fastly-ratelimit-remaining: ['801']
      fastly-ratelimit-reset: ['1499094000']
      status: [200 OK]
    status: {code: 200, message: OK}
- request:
    body: !!python/unicode '{"ignore_if_set": "0", "regex": "", "request_condition":
      null, "name": "Set Location header", "src": "\"https://u.jimcdn.com\" req.url.path",
      "dst": "http.Location", "priority": "100", "substitution": "", "action": "set",
      "type": "response", "response_condition": null}'
    headers:
      Content-Type: [application/json]
    method: POST
    uri: https://api.fastly.com/service/ZDMiqI6NfK1aDlfYljQey/version/2/header
  response:
    body: {string: !!python/unicode '{"ignore_if_set":"0","regex":"","request_condition":null,"name":"Set
        Location header","src":"\"https://u.jimcdn.com\" req.url.path","dst":"http.Location","priority":"100","substitution":"","action":"set","type":"response","response_condition":null,"service_id":"ZDMiqI6NfK1aDlfYljQey","version":"2","updated_at":"2017-07-03T14:22:44+00:00","deleted_at":null,"cache_condition":null,"created_at":"2017-07-03T14:22:44+00:00"}'}
    headers:
      content-type: [application/json]
      fastly-ratelimit-remaining: ['800']
      fastly-ratelimit-reset: ['1499094000']
      status: [200 OK]
    status: {code: 200, message: OK}
- request:
    body: !!python/unicode '{"status": "200", "request_condition": "", "name": "Set
      200 status code", "response": "Ok"}'
    headers:
      Content-Type: [application/json]
    method: POST
    uri: https://api.fastly.com/service/ZDMiqI6NfK1aDlfYljQey/version/2/response_object
  response:
    body: {string: !!python/unicode '{"status":"200","request_condition":"","name":"Set
        200 status code","response":"Ok","service_id":"ZDMiqI6NfK1aDlfYljQey","version":"2","content":null,"deleted_at":null,"cache_condition":"","created_at":"2017-07-03T14:22:45+00:00","content_type":null,"updated_at":"2017-07-03T14:22:45+00:00"}'}
    headers:
      content-type: [application/json]
      fastly-ratelimit-remaining: ['799']
      fastly-ratelimit-reset: ['1499094000']
      status: [200 OK]
    status: {code: 200, message: OK}
- request:
    body: !!python/unicode '{"general.default_ttl": 3600}'
    headers:
      Content-Type: [application/json]
    method: PUT
    uri: https://api.fastly.com/service/ZDMiqI6NfK1aDlfYljQey/version/2/settings
  response:
    body: {string: !!python/unicode '{"general.default_ttl":3600,"version":2,"general.default_host":"","general.default_pci":0,"service_id":"ZDMiqI6NfK1aDlfYljQey"}'}
    headers:
      content-type: [application/json]
      fastly-ratelimit-remaining: ['798']
      fastly-ratelimit-reset: ['1499094000']
      status: [200 OK]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json]
    method: PUT
    uri: https://api.fastly.com/service/ZDMiqI6NfK1aDlfYljQey/version/2/activate
  response:
    body: {string: !!python/unicode '{"testing":false,"locked":true,"number":2,"active":true,"service_id":"ZDMiqI6NfK1aDlfYljQey","staging":false,"created_at":"2017-07-03T14:22:42+00:00","deleted_at":null,"comment":"","updated_at":"2017-07-03T14:22:45+00:00","deployed":false,"msg":null}'}
    headers:
      content-type: [application/json]
      fastly-ratelimit-remaining: ['797']
      fastly-ratelimit-reset: ['1499094000']
      status: [200 OK]
    status: {code: 200, message: OK}
[...]
