interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fastly.com/service/search?name=Fastly%20Ansible%20Module%20Test
  response:
    body:
      string: !!python/unicode '{"name":"Fastly Ansible Module Test","deleted_at":null,"versions":[{"testing":false,"locked":false,"number":1,"active":false,"service_id":"4k8eT6NUotURscyYeGR0D2","staging":false,"created_at":"2019-04-24T13:08:07Z","deleted_at":null,"comment":"","updated_at":"2019-04-24T13:08:07Z","deployed":false},{"testing":false,"locked":false,"number":2,"active":false,"service_id":"4k8eT6NUotURscyYeGR0D2","staging":false,"created_at":"2019-04-24T13:08:08Z","deleted_at":null,"comment":"","updated_at":"2019-04-24T13:08:08Z","deployed":false}],"created_at":"2019-04-24T13:08:07Z","customer_id":"4NTmXUwFuuC5U0iJUrdEHr","comment":"","updated_at":"2019-04-24T13:08:07Z","id":"4k8eT6NUotURscyYeGR0D2"}'
    headers:
      content-type:
      - application/json
      status:
      - 200 OK
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fastly.com/service/4k8eT6NUotURscyYeGR0D2/details
  response:
    body:
      string: !!python/unicode '{"name":"Fastly Ansible Module Test","deleted_at":null,"versions":[{"testing":false,"locked":false,"number":1,"active":false,"service_id":"4k8eT6NUotURscyYeGR0D2","staging":false,"created_at":"2019-04-24T13:08:07Z","deleted_at":null,"comment":"","updated_at":"2019-04-24T13:08:07Z","deployed":false},{"testing":false,"locked":false,"number":2,"active":false,"service_id":"4k8eT6NUotURscyYeGR0D2","staging":false,"created_at":"2019-04-24T13:08:08Z","deleted_at":null,"comment":"","updated_at":"2019-04-24T13:08:08Z","deployed":false}],"created_at":"2019-04-24T13:08:07Z","customer_id":"4NTmXUwFuuC5U0iJUrdEHr","comment":"","updated_at":"2019-04-24T13:08:07Z","id":"4k8eT6NUotURscyYeGR0D2","version":{"testing":false,"staging":false,"updated_at":"2019-04-24T13:08:08Z","active":false,"number":2,"service_id":"4k8eT6NUotURscyYeGR0D2","deployed":false,"locked":false,"deleted_at":null,"created_at":"2019-04-24T13:08:08Z","comment":"","acls":[],"backends":[],"cache_settings":[],"conditions":[],"dictionaries":[],"directors":[],"domains":[],"gzips":[],"headers":[],"healthchecks":[],"request_settings":[],"response_objects":[],"snippets":[],"vcls":[],"wordpress":[],"settings":{"general.stale_if_error_ttl":43200,"general.stale_if_error":false,"general.default_ttl":3600,"general.default_host":"","general.default_pci":0}},"active_version":null}'
    headers:
      content-type:
      - application/json
      status:
      - 200 OK
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://api.fastly.com/service/4k8eT6NUotURscyYeGR0D2/version/2/clone
  response:
    body:
      string: !!python/unicode '{"testing":false,"locked":false,"number":3,"active":false,"service_id":"4k8eT6NUotURscyYeGR0D2","staging":false,"created_at":"2019-04-24T13:08:08Z","deleted_at":null,"comment":"","updated_at":"2019-04-24T13:08:08Z","deployed":false}'
    headers:
      content-type:
      - application/json
      fastly-ratelimit-remaining:
      - '999'
      fastly-ratelimit-reset:
      - '1556118000'
      status:
      - 200 OK
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fastly.com/service/4k8eT6NUotURscyYeGR0D2/version/3/domain
  response:
    body:
      string: !!python/unicode '[]'
    headers:
      content-type:
      - application/json
      status:
      - 200 OK
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fastly.com/service/4k8eT6NUotURscyYeGR0D2/version/3/healthcheck
  response:
    body:
      string: !!python/unicode '[]'
    headers:
      content-type:
      - application/json
      status:
      - 200 OK
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fastly.com/service/4k8eT6NUotURscyYeGR0D2/version/3/condition
  response:
    body:
      string: !!python/unicode '[]'
    headers:
      content-type:
      - application/json
      status:
      - 200 OK
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fastly.com/service/4k8eT6NUotURscyYeGR0D2/version/3/backend
  response:
    body:
      string: !!python/unicode '[]'
    headers:
      content-type:
      - application/json
      status:
      - 200 OK
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fastly.com/service/4k8eT6NUotURscyYeGR0D2/version/3/director
  response:
    body:
      string: !!python/unicode '[]'
    headers:
      content-type:
      - application/json
      status:
      - 200 OK
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fastly.com/service/4k8eT6NUotURscyYeGR0D2/version/3/cache_settings
  response:
    body:
      string: !!python/unicode '[]'
    headers:
      content-type:
      - application/json
      status:
      - 200 OK
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fastly.com/service/4k8eT6NUotURscyYeGR0D2/version/3/gzip
  response:
    body:
      string: !!python/unicode '[]'
    headers:
      content-type:
      - application/json
      status:
      - 200 OK
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fastly.com/service/4k8eT6NUotURscyYeGR0D2/version/3/header
  response:
    body:
      string: !!python/unicode '[]'
    headers:
      content-type:
      - application/json
      status:
      - 200 OK
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fastly.com/service/4k8eT6NUotURscyYeGR0D2/version/3/request_settings
  response:
    body:
      string: !!python/unicode '[]'
    headers:
      content-type:
      - application/json
      status:
      - 200 OK
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fastly.com/service/4k8eT6NUotURscyYeGR0D2/version/3/response_object
  response:
    body:
      string: !!python/unicode '[]'
    headers:
      content-type:
      - application/json
      status:
      - 200 OK
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fastly.com/service/4k8eT6NUotURscyYeGR0D2/version/3/snippet
  response:
    body:
      string: !!python/unicode '[]'
    headers:
      content-type:
      - application/json
      status:
      - 200 OK
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fastly.com/service/4k8eT6NUotURscyYeGR0D2/version/3/logging/s3
  response:
    body:
      string: !!python/unicode '[]'
    headers:
      content-type:
      - application/json
      status:
      - 200 OK
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fastly.com/service/4k8eT6NUotURscyYeGR0D2/version/3/logging/syslog
  response:
    body:
      string: !!python/unicode '[]'
    headers:
      content-type:
      - application/json
      status:
      - 200 OK
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fastly.com/service/4k8eT6NUotURscyYeGR0D2/version/3/logging/cloudfiles
  response:
    body:
      string: !!python/unicode '[]'
    headers:
      content-type:
      - application/json
      status:
      - 200 OK
    status:
      code: 200
      message: OK
[...]
- request:
    body: !!python/unicode '{"ssl_ca_cert": null, "request_condition": "", "name":
      "localhost", "weight": 100, "healthcheck": null, "first_byte_timeout": 15000,
      "error_threshold": 0, "port": 80, "ssl_cert_hostname": null, "address": "127.0.0.1",
      "between_bytes_timeout": 10000, "max_conn": 200, "connect_timeout": 1000, "ssl_hostname":
      null, "shield": null}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fastly.com/service/4k8eT6NUotURscyYeGR0D2/version/3/backend
  response:
    body:
      string: !!python/unicode '{"ssl_ca_cert":null,"request_condition":"","name":"localhost","weight":100,"healthcheck":null,"first_byte_timeout":15000,"error_threshold":0,"port":80,"ssl_cert_hostname":null,"address":"127.0.0.1","between_bytes_timeout":10000,"max_conn":200,"connect_timeout":1000,"ssl_hostname":null,"shield":null,"service_id":"4k8eT6NUotURscyYeGR0D2","version":3,"ssl_check_cert":true,"comment":"","auto_loadbalance":false,"ipv4":"127.0.0.1","ipv6":null,"created_at":"2019-04-24T14:09:10Z","hostname":null,"ssl_sni_hostname":null,"deleted_at":null,"client_cert":null,"updated_at":"2019-04-24T14:09:10Z","override_host":null,"ssl_ciphers":null,"use_ssl":false,"ssl_client_key":null,"max_tls_version":null,"min_tls_version":null,"ssl_client_cert":null}'
    headers:
      content-type:
      - application/json
      fastly-ratelimit-remaining:
      - '997'
      fastly-ratelimit-reset:
      - '1556118000'
      status:
      - 200 OK
    status:
      code: 200
      message: OK
- request:
    body: !!python/unicode '{"ignore_if_set": "0", "regex": "", "request_condition":
      null, "name": "Set Location header", "src": "\"https://u.jimcdn.com\" req.url.path",
      "dst": "http.Location", "cache_condition": null, "priority": "100", "substitution":
      "", "action": "set", "type": "response", "response_condition": null}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fastly.com/service/4k8eT6NUotURscyYeGR0D2/version/3/header
  response:
    body:
      string: !!python/unicode '{"ignore_if_set":"0","regex":"","request_condition":null,"name":"Set
        Location header","src":"\"https://u.jimcdn.com\" req.url.path","dst":"http.Location","cache_condition":null,"priority":"100","substitution":"","action":"set","type":"response","response_condition":null,"service_id":"4k8eT6NUotURscyYeGR0D2","version":"3","updated_at":"2019-04-24T14:09:10Z","deleted_at":null,"created_at":"2019-04-24T14:09:10Z"}'
    headers:
      content-type:
      - application/json
      fastly-ratelimit-remaining:
      - '996'
      fastly-ratelimit-reset:
      - '1556118000'
      status:
      - 200 OK
    status:
      code: 200
      message: OK
- request:
    body: !!python/unicode '{"status": "200", "request_condition": "", "name": "Set
      200 status code", "content": "", "content_type": "", "response": "Ok"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fastly.com/service/4k8eT6NUotURscyYeGR0D2/version/3/response_object
  response:
    body:
      string: !!python/unicode '{"status":"200","request_condition":"","name":"Set
        200 status code","content":"","content_type":"","response":"Ok","service_id":"4k8eT6NUotURscyYeGR0D2","version":"3","deleted_at":null,"cache_condition":"","created_at":"2019-04-24T14:09:11Z","updated_at":"2019-04-24T14:09:11Z"}'
    headers:
      content-type:
      - application/json
      fastly-ratelimit-remaining:
      - '995'
      fastly-ratelimit-reset:
      - '1556118000'
      status:
      - 200 OK
    status:
      code: 200
      message: OK
- request:
    body: !!python/unicode '{"content": "\n            if (resp.status >= 500 && resp.status
      < 600) {\n                if (stale.exists) {\n                    restart;\n                }\n            }\n        ",
      "dynamic": 0, "type": "deliver", "name": "Deliver stale content", "priority":
      100}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fastly.com/service/4k8eT6NUotURscyYeGR0D2/version/3/snippet
  response:
    body:
      string: !!python/unicode '{"content":"\n            if (resp.status \u003e=
        500 \u0026\u0026 resp.status \u003c 600) {\n                if (stale.exists)
        {\n                    restart;\n                }\n            }\n        ","dynamic":0,"type":"deliver","name":"Deliver
        stale content","priority":100,"service_id":"4k8eT6NUotURscyYeGR0D2","version":"3","updated_at":"2019-04-24T14:09:12Z","id":"4iSEgWEuvXkh6OWk70FQxG","created_at":"2019-04-24T14:09:12Z","deleted_at":null}'
    headers:
      content-type:
      - application/json
      fastly-ratelimit-remaining:
      - '994'
      fastly-ratelimit-reset:
      - '1556118000'
      status:
      - 200 OK
    status:
      code: 200
      message: OK
- request:
    body: !!python/unicode '{"general.default_ttl": 3600}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://api.fastly.com/service/4k8eT6NUotURscyYeGR0D2/version/3/settings
  response:
    body:
      string: !!python/unicode '{"general.default_pci":0,"general.default_ttl":3600,"general.stale_if_error_ttl":43200,"general.stale_if_error":false,"service_id":"4k8eT6NUotURscyYeGR0D2","general.default_host":"","version":3}'
    headers:
      content-type:
      - application/json
      fastly-ratelimit-remaining:
      - '993'
      fastly-ratelimit-reset:
      - '1556118000'
      status:
      - 200 OK
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://api.fastly.com/service/4k8eT6NUotURscyYeGR0D2/version/3/activate
  response:
    body:
      string: !!python/unicode '{"testing":false,"locked":true,"number":3,"active":true,"service_id":"4k8eT6NUotURscyYeGR0D2","staging":false,"created_at":"2019-04-24T14:08:59Z","deleted_at":null,"comment":"","updated_at":"2019-04-24T14:09:12Z","deployed":false,"msg":null}'
    headers:
      content-type:
      - application/json
      fastly-ratelimit-remaining:
      - '992'
      fastly-ratelimit-reset:
      - '1556118000'
      status:
      - 200 OK
    status:
      code: 200
      message: OK
[...]
