interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fastly.com/service/search?name=Fastly%20Ansible%20Module%20Test
  response:
    body:
      string: !!python/unicode '{"name":"Fastly Ansible Module Test","deleted_at":null,"versions":[{"testing":false,"locked":false,"number":1,"active":false,"service_id":"2KeMyRfhNiZvFvarw6FJyG","staging":false,"created_at":"2019-04-24T14:16:38Z","deleted_at":null,"comment":"","updated_at":"2019-04-24T14:16:38Z","deployed":false},{"testing":false,"staging":false,"updated_at":"2019-04-24T14:16:56Z","active":true,"number":2,"service_id":"2KeMyRfhNiZvFvarw6FJyG","deployed":false,"locked":true,"deleted_at":null,"created_at":"2019-04-24T14:16:40Z","comment":""}],"created_at":"2019-04-24T14:16:38Z","customer_id":"4NTmXUwFuuC5U0iJUrdEHr","comment":"","updated_at":"2019-04-24T14:16:38Z","id":"2KeMyRfhNiZvFvarw6FJyG"}'
    headers:
      content-type:
      - application/json
      status:
      - 200 OK
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fastly.com/service/2KeMyRfhNiZvFvarw6FJyG/details
  response:
    body:
      string: !!python/unicode '{"name":"Fastly Ansible Module Test","deleted_at":null,"versions":[{"testing":false,"locked":false,"number":1,"active":false,"service_id":"2KeMyRfhNiZvFvarw6FJyG","staging":false,"created_at":"2019-04-24T14:16:38Z","deleted_at":null,"comment":"","updated_at":"2019-04-24T14:16:38Z","deployed":false},{"testing":false,"locked":true,"number":2,"active":true,"service_id":"2KeMyRfhNiZvFvarw6FJyG","staging":false,"created_at":"2019-04-24T14:16:40Z","deleted_at":null,"comment":"","updated_at":"2019-04-24T14:16:56Z","deployed":false}],"created_at":"2019-04-24T14:16:38Z","customer_id":"4NTmXUwFuuC5U0iJUrdEHr","comment":"","updated_at":"2019-04-24T14:16:38Z","id":"2KeMyRfhNiZvFvarw6FJyG","version":{"testing":false,"staging":false,"updated_at":"2019-04-24T14:16:56Z","active":true,"number":2,"service_id":"2KeMyRfhNiZvFvarw6FJyG","deployed":false,"locked":true,"deleted_at":null,"created_at":"2019-04-24T14:16:40Z","comment":"","acls":[],"backends":[{"max_tls_version":null,"ssl_ca_cert":null,"auto_loadbalance":false,"ssl_check_cert":true,"shield":null,"override_host":null,"hostname":null,"ssl_client_cert":null,"error_threshold":0,"request_condition":"","first_byte_timeout":15000,"ssl_cert_hostname":null,"weight":100,"client_cert":null,"address":"127.0.0.1","ssl_hostname":null,"ssl_sni_hostname":null,"min_tls_version":null,"ipv6":null,"ipv4":"127.0.0.1","connect_timeout":1000,"ssl_ciphers":null,"name":"localhost","healthcheck":null,"port":80,"max_conn":200,"use_ssl":false,"comment":"","between_bytes_timeout":10000,"ssl_client_key":null}],"cache_settings":[],"conditions":[],"dictionaries":[],"directors":[],"domains":[{"comment":"","name":"example8000.com"}],"gzips":[],"headers":[{"priority":"100","src":"\"https://u.jimcdn.com\"
        req.url.path","name":"Set Location header","substitution":"","ignore_if_set":"0","cache_condition":null,"request_condition":null,"regex":"","response_condition":null,"action":"set","type":"response","dst":"http.Location"}],"healthchecks":[],"request_settings":[],"response_objects":[{"request_condition":"","content_type":"","status":"200","response":"Ok","name":"Set
        200 status code","content":"","cache_condition":""}],"snippets":[],"vcls":[],"wordpress":[],"settings":{"general.stale_if_error_ttl":43200,"general.stale_if_error":false,"general.default_ttl":3600,"general.default_host":"","general.default_pci":0}},"active_version":{"testing":false,"staging":false,"updated_at":"2019-04-24T14:16:56Z","active":true,"number":2,"service_id":"2KeMyRfhNiZvFvarw6FJyG","deployed":false,"locked":true,"deleted_at":null,"created_at":"2019-04-24T14:16:40Z","comment":"","acls":[],"backends":[{"max_tls_version":null,"ssl_ca_cert":null,"auto_loadbalance":false,"ssl_check_cert":true,"shield":null,"override_host":null,"hostname":null,"ssl_client_cert":null,"error_threshold":0,"request_condition":"","first_byte_timeout":15000,"ssl_cert_host[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://api.fastly.com/service/2KeMyRfhNiZvFvarw6FJyG/version/2/clone
  response:
    body:
      string: !!python/unicode '{"testing":false,"locked":false,"number":3,"active":false,"service_id":"2KeMyRfhNiZvFvarw6FJyG","staging":false,"created_at":"2019-04-24T14:16:40Z","deleted_at":null,"comment":"","updated_at":"2019-04-24T14:16:56Z","deployed":false}'
    headers:
      content-type:
      - application/json
      fastly-ratelimit-remaining:
      - '760'
      fastly-ratelimit-reset:
      - '1556118000'
      status:
      - 200 OK
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fastly.com/service/2KeMyRfhNiZvFvarw6FJyG/version/3/domain
  response:
    body:
      string: !!python/unicode '[{"version":3,"name":"example8000.com","service_id":"2KeMyRfhNiZvFvarw6FJyG","deleted_at":null,"created_at":"2019-04-24T14:16:51Z","comment":"","updated_at":"2019-04-24T14:17:00Z"}]'
    headers:
      content-type:
      - application/json
      status:
      - 200 OK
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fastly.com/service/2KeMyRfhNiZvFvarw6FJyG/version/3/healthcheck
  response:
    body:
      string: !!python/unicode '[]'
    headers:
      content-type:
      - application/json
      status:
      - 200 OK
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fastly.com/service/2KeMyRfhNiZvFvarw6FJyG/version/3/condition
  response:
    body:
      string: !!python/unicode '[]'
    headers:
      content-type:
      - application/json
      status:
      - 200 OK
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fastly.com/service/2KeMyRfhNiZvFvarw6FJyG/version/3/backend
  response:
    body:
      string: !!python/unicode '[{"deleted_at":null,"ssl_sni_hostname":null,"hostname":null,"created_at":"2019-04-24T14:16:52Z","ipv6":null,"name":"localhost","client_cert":null,"ssl_hostname":null,"service_id":"2KeMyRfhNiZvFvarw6FJyG","weight":100,"address":"127.0.0.1","ssl_ca_cert":null,"ssl_check_cert":true,"ipv4":"127.0.0.1","error_threshold":0,"auto_loadbalance":false,"shield":null,"comment":"","healthcheck":null,"ssl_client_key":null,"max_conn":200,"use_ssl":false,"ssl_ciphers":null,"between_bytes_timeout":10000,"ssl_client_cert":null,"max_tls_version":null,"min_tls_version":null,"connect_timeout":1000,"ssl_cert_hostname":null,"override_host":null,"updated_at":"2019-04-24T14:17:00Z","request_condition":"","version":3,"port":80,"first_byte_timeout":15000}]'
    headers:
      content-type:
      - application/json
      status:
      - 200 OK
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fastly.com/service/2KeMyRfhNiZvFvarw6FJyG/version/3/director
  response:
    body:
      string: !!python/unicode '[]'
    headers:
      content-type:
      - application/json
      status:
      - 200 OK
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fastly.com/service/2KeMyRfhNiZvFvarw6FJyG/version/3/cache_settings
  response:
    body:
      string: !!python/unicode '[]'
    headers:
      content-type:
      - application/json
      status:
      - 200 OK
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fastly.com/service/2KeMyRfhNiZvFvarw6FJyG/version/3/gzip
  response:
    body:
      string: !!python/unicode '[]'
    headers:
      content-type:
      - application/json
      status:
      - 200 OK
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fastly.com/service/2KeMyRfhNiZvFvarw6FJyG/version/3/header
  response:
    body:
      string: !!python/unicode '[{"priority":"100","service_id":"2KeMyRfhNiZvFvarw6FJyG","ignore_if_set":"0","request_condition":null,"response_condition":null,"updated_at":"2019-04-24T14:17:00Z","src":"\"https://u.jimcdn.com\"
        req.url.path","version":"3","name":"Set Location header","deleted_at":null,"substitution":"","cache_condition":null,"created_at":"2019-04-24T14:16:53Z","regex":"","action":"set","type":"response","dst":"http.Location"}]'
    headers:
      content-type:
      - application/json
      status:
      - 200 OK
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fastly.com/service/2KeMyRfhNiZvFvarw6FJyG/version/3/request_settings
  response:
    body:
      string: !!python/unicode '[]'
    headers:
      content-type:
      - application/json
      status:
      - 200 OK
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fastly.com/service/2KeMyRfhNiZvFvarw6FJyG/version/3/response_object
  response:
    body:
      string: !!python/unicode '[{"response":"Ok","status":"200","version":"3","name":"Set
        200 status code","content":"","service_id":"2KeMyRfhNiZvFvarw6FJyG","deleted_at":null,"cache_condition":"","created_at":"2019-04-24T14:16:53Z","content_type":"","request_condition":"","updated_at":"2019-04-24T14:17:00Z"}]'
    headers:
      content-type:
      - application/json
      status:
      - 200 OK
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fastly.com/service/2KeMyRfhNiZvFvarw6FJyG/version/3/snippet
  response:
    body:
      string: !!python/unicode '[]'
    headers:
      content-type:
      - application/json
      status:
      - 200 OK
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fastly.com/service/2KeMyRfhNiZvFvarw6FJyG/version/3/logging/s3
  response:
    body:
      string: !!python/unicode '[]'
    headers:
      content-type:
      - application/json
      status:
      - 200 OK
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fastly.com/service/2KeMyRfhNiZvFvarw6FJyG/version/3/logging/syslog
  response:
    body:
      string: !!python/unicode '[]'
    headers:
      content-type:
      - application/json
      status:
      - 200 OK
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fastly.com/service/2KeMyRfhNiZvFvarw6FJyG/version/3/logging/cloudfiles
  response:
    body:
      string: !!python/unicode '[]'
    headers:
      content-type:
      - application/json
      status:
      - 200 OK
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.fastly.com/service/2KeMyRfhNiZvFvarw6FJyG/version/3/domain/example8000.com
  response:
    body:
      string: !!python/unicode '{"status":"ok"}'
    headers:
      content-type:
      - application/json
      fastly-ratelimit-remaining:
      - '759'
      fastly-ratelimit-reset:
      - '1556118000'
      status:
      - 200 OK
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.fastly.com/service/2KeMyRfhNiZvFvarw6FJyG/version/3/backend/localhost
  response:
    body:
      string: !!python/unicode '{"status":"ok"}'
    headers:
      content-type:
      - application/json
      fastly-ratelimit-remaining:
      - '758'
      fastly-ratelimit-reset:
      - '1556118000'
      status:
      - 200 OK
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.fastly.com/service/2KeMyRfhNiZvFvarw6FJyG/version/3/header/Set%20Location%20header
  response:
    body:
      string: !!python/unicode '{"status":"ok"}'
    headers:
      content-type:
      - application/json
      fastly-ratelimit-remaining:
      - '757'
      fastly-ratelimit-reset:
      - '1556118000'
      status:
      - 200 OK
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.fastly.com/service/2KeMyRfhNiZvFvarw6FJyG/version/3/response_object/Set%20200%20status%20code
  response:
    body:
      string: !!python/unicode '{"status":"ok"}'
    headers:
      content-type:
      - application/json
      fastly-ratelimit-remaining:
      - '756'
      fastly-ratelimit-reset:
      - '1556118000'
      status:
      - 200 OK
    status:
      code: 200
      message: OK
[...]
- request:
    body: !!python/unicode '{"access_key": "ACCESS_KEY", "domain": "example8000.com", "redundancy":
      "standard", "placement": null, "name": "test_s3", "format_version": 2, "format":
      "%{%Y-%m-%dT%H:%S.000}t %h \"%r\" %>s %b", "server_side_encryption_kms_key_id":
      null, "period": 60, "bucket_name": "prod-fastly-logs", "gzip_level": 0, "path":
      "/", "secret_key": "SECRET", "message_type": "classic", "server_side_encryption":
      null, "timestamp_format": "%Y-%m-%dT%H:%M:%S.000", "response_condition": null}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fastly.com/service/2KeMyRfhNiZvFvarw6FJyG/version/3/logging/s3
  response:
    body:
      string: !!python/unicode '{"access_key":"ACCESS_KEY","domain":"example8000.com","redundancy":"standard","placement":null,"name":"test_s3","format_version":"2","format":"%{%Y-%m-%dT%H:%S.000}t
        %h \"%r\" %\u003es %b","server_side_encryption_kms_key_id":null,"period":60,"bucket_name":"prod-fastly-logs","gzip_level":0,"path":"/","secret_key":"SECRET","message_type":"classic","server_side_encryption":null,"timestamp_format":"%Y-%m-%dT%H:%M:%S.000","response_condition":"","service_id":"2KeMyRfhNiZvFvarw6FJyG","version":"3","acl":null,"deleted_at":null,"updated_at":"2019-04-24T14:17:15Z","public_key":null,"created_at":"2019-04-24T14:17:15Z"}'
    headers:
      content-type:
      - application/json
      fastly-ratelimit-remaining:
      - '751'
      fastly-ratelimit-reset:
      - '1556118000'
      status:
      - 200 OK
    status:
      code: 200
      message: OK
- request:
    body: !!python/unicode '{"general.default_ttl": 3600}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://api.fastly.com/service/2KeMyRfhNiZvFvarw6FJyG/version/3/settings
  response:
    body:
      string: !!python/unicode '{"version":3,"general.default_host":"","general.stale_if_error_ttl":43200,"general.stale_if_error":false,"service_id":"2KeMyRfhNiZvFvarw6FJyG","general.default_pci":0,"general.default_ttl":3600}'
    headers:
      content-type:
      - application/json
      fastly-ratelimit-remaining:
      - '750'
      fastly-ratelimit-reset:
      - '1556118000'
      status:
      - 200 OK
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://api.fastly.com/service/2KeMyRfhNiZvFvarw6FJyG/version/3/activate
  response:
    body:
      string: !!python/unicode '{"testing":false,"locked":true,"number":3,"active":true,"service_id":"2KeMyRfhNiZvFvarw6FJyG","staging":false,"created_at":"2019-04-24T14:17:00Z","deleted_at":null,"comment":"","updated_at":"2019-04-24T14:17:15Z","deployed":false,"msg":null}'
    headers:
      content-type:
      - application/json
      fastly-ratelimit-remaining:
      - '749'
      fastly-ratelimit-reset:
      - '1556118000'
      status:
      - 200 OK
    status:
      code: 200
      message: OK
[...]
