interactions:
- request:
    body: null
    headers:
      Content-Type: [application/json]
    method: GET
    uri: https://api.fastly.com/service/search?name=Fastly%20Ansible%20Module%20Test
  response:
    body: {string: !!python/unicode '{"name":"Fastly Ansible Module Test","deleted_at":null,"versions":[{"testing":false,"locked":false,"number":1,"active":false,"service_id":"GqfF5W0xBGci91Iz0tFpu","staging":false,"created_at":"2018-04-10T14:39:55Z","deleted_at":null,"comment":"","updated_at":"2018-04-10T14:39:55Z","deployed":false},{"testing":false,"locked":true,"number":2,"active":false,"service_id":"GqfF5W0xBGci91Iz0tFpu","staging":false,"created_at":"2018-04-10T14:39:56Z","deleted_at":null,"comment":"","updated_at":"2018-04-10T14:40:15Z","deployed":false},{"testing":false,"locked":true,"number":3,"active":false,"service_id":"GqfF5W0xBGci91Iz0tFpu","staging":false,"created_at":"2018-04-10T14:40:06Z","deleted_at":null,"comment":"","updated_at":"2018-04-10T14:42:14Z","deployed":false},{"testing":false,"number":4,"service_id":"GqfF5W0xBGci91Iz0tFpu","staging":false,"updated_at":"2018-04-10T14:42:14Z","deployed":false,"locked":true,"active":true,"deleted_at":null,"created_at":"2018-04-10T14:42:05Z","comment":""}],"created_at":"2018-04-10T14:39:55Z","customer_id":"31RPDMBpiruA1yfGA2djLm","comment":"","updated_at":"2018-04-10T14:39:55Z","id":"GqfF5W0xBGci91Iz0tFpu"}'}
    headers:
      content-type: [application/json]
      status: [200 OK]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json]
    method: GET
    uri: https://api.fastly.com/service/GqfF5W0xBGci91Iz0tFpu/details
  response:
    body: {string: !!python/unicode '{"name":"Fastly Ansible Module Test","deleted_at":null,"versions":[{"testing":false,"locked":false,"number":1,"active":false,"service_id":"GqfF5W0xBGci91Iz0tFpu","staging":false,"created_at":"2018-04-10T14:39:55Z","deleted_at":null,"comment":"","updated_at":"2018-04-10T14:39:55Z","deployed":false},{"testing":false,"locked":true,"number":2,"active":false,"service_id":"GqfF5W0xBGci91Iz0tFpu","staging":false,"created_at":"2018-04-10T14:39:56Z","deleted_at":null,"comment":"","updated_at":"2018-04-10T14:40:15Z","deployed":false},{"testing":false,"locked":true,"number":3,"active":false,"service_id":"GqfF5W0xBGci91Iz0tFpu","staging":false,"created_at":"2018-04-10T14:40:06Z","deleted_at":null,"comment":"","updated_at":"2018-04-10T14:42:14Z","deployed":false},{"testing":false,"locked":true,"number":4,"active":true,"service_id":"GqfF5W0xBGci91Iz0tFpu","staging":false,"created_at":"2018-04-10T14:42:05Z","deleted_at":null,"comment":"","updated_at":"2018-04-10T14:42:14Z","deployed":false}],"created_at":"2018-04-10T14:39:55Z","customer_id":"31RPDMBpiruA1yfGA2djLm","comment":"","updated_at":"2018-04-10T14:39:55Z","id":"GqfF5W0xBGci91Iz0tFpu","version":{"testing":false,"number":4,"service_id":"GqfF5W0xBGci91Iz0tFpu","staging":false,"updated_at":"2018-04-10T14:42:14Z","deployed":false,"locked":true,"active":true,"deleted_at":null,"created_at":"2018-04-10T14:42:05Z","comment":"","acls":[],"backends":[{"max_tls_version":null,"ssl_ca_cert":null,"auto_loadbalance":false,"ssl_check_cert":true,"shield":null,"hostname":null,"ssl_client_cert":null,"error_threshold":0,"request_condition":"","first_byte_timeout":15000,"ssl_cert_hostname":null,"weight":100,"client_cert":null,"address":"127.0.0.1","ssl_hostname":null,"ssl_sni_hostname":null,"min_tls_version":null,"ipv6":null,"ipv4":"127.0.0.1","connect_timeout":1000,"ssl_ciphers":null,"name":"localhost","healthcheck":null,"port":80,"max_conn":200,"use_ssl":false,"comment":"","between_bytes_timeout":10000,"ssl_client_key":null}],"cache_settings":[],"conditions":[{"priority":"0","statement":"req.url
        ~ \"^/some_asset.js\"","comment":"","name":"condition-name","type":"CACHE"}],"dictionaries":[],"directors":[],"domains":[{"comment":"","name":"example8000.com"}],"gzips":[],"headers":[{"priority":"100","src":"\"public,
        max-age=86400\"","name":"Set cache control header","substitution":"","ignore_if_set":"0","cache_condition":"condition-name","request_condition":null,"regex":"","response_condition":null,"action":"set","type":"cache","dst":"http.Cache-Control"}],"healthchecks":[],"request_settings":[],"response_objects":[{"request_condition":"","content_type":"","status":"200","response":"Ok","name":"Set
        200 status code","content":"","cache_condition":""}],"snippets":[],"vcls":[],"wordpress":[],"settings":{"general.default_ttl":3600,"general.default_host":"","general.default_pci":0}},"active_version":{"testing":false,"number":4,"service_id":"GqfF5W0xBGci91Iz0tFpu","staging":false,"updated_at":"2018-04-10T14:42:14Z","deployed":false,"locked":true,"active":true,"deleted_at":null,"created_at":"2018-04-10T14:42:05Z","comment":"","acls":[],"backends":[{"max_tls_version":null,"ssl_ca_cert":null,"auto_loadbalance":false,"ssl_check_cert":true,"shield":null,"hostname":null,"ssl_client_cert":null,"error_threshold":0,"request_condition":"","first_byte_timeout":15000,"ssl_cert_hostname":null,"weight":10[...]
- request:
    body: null
    headers:
      Content-Type: [application/json]
    method: PUT
    uri: https://api.fastly.com/service/GqfF5W0xBGci91Iz0tFpu/version/4/deactivate
  response:
    body: {string: !!python/unicode '{"testing":false,"locked":true,"number":4,"active":false,"service_id":"GqfF5W0xBGci91Iz0tFpu","staging":false,"created_at":"2018-04-10T14:42:05Z","deleted_at":null,"comment":"","updated_at":"2018-04-10T14:42:14Z","deployed":false}'}
    headers:
      content-type: [application/json]
      fastly-ratelimit-remaining: ['841']
      fastly-ratelimit-reset: ['1523372400']
      status: [200 OK]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json]
    method: DELETE
    uri: https://api.fastly.com/service/GqfF5W0xBGci91Iz0tFpu
  response:
    body: {string: !!python/unicode '{"status":"ok"}'}
    headers:
      content-type: [application/json]
      fastly-ratelimit-remaining: ['840']
      fastly-ratelimit-reset: ['1523372400']
      status: [200 OK]
    status: {code: 200, message: OK}
version: 1
