interactions:
- request:
    body: null
    headers:
      Content-Type: [application/json]
    method: GET
    uri: https://api.fastly.com/service/search?name=Fastly%20Ansible%20Module%20Test
  response:
    body: {string: !!python/unicode '{"msg":"Record not found","detail":"Cannot load
        service ''15DqjG1ON0S28gluYrATvC''-''Fastly Ansible Module Test''"}'}
    headers:
      content-type: [application/json]
      status: [404 Not Found]
    status: {code: 404, message: Not Found}
- request:
    body: !!python/unicode '{"name": "Fastly Ansible Module Test"}'
    headers:
      Content-Type: [application/json]
    method: POST
    uri: https://api.fastly.com/service
  response:
    body: {string: !!python/unicode '{"name":"Fastly Ansible Module Test","customer_id":"15DqjG1ON0S28gluYrATvC","publish_key":"2abf37fbb424e6eda1ea09c4b5a4cb94ab0ea44d","versions":[{"testing":false,"locked":false,"number":1,"active":false,"service_id":"47Hhd6EFvfUjPK19GPW0tk","staging":false,"created_at":"2016-06-29T15:24:10+00:00","deleted_at":null,"comment":"","updated_at":"2016-06-29T15:24:10+00:00","deployed":false}],"deleted_at":null,"created_at":"2016-06-29T15:24:10+00:00","comment":"","updated_at":"2016-06-29T15:24:10+00:00","id":"47Hhd6EFvfUjPK19GPW0tk"}'}
    headers:
      content-type: [application/json]
      fastly-ratelimit-remaining: ['999']
      fastly-ratelimit-reset: ['1467216000']
      status: [200 OK]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json]
    method: GET
    uri: https://api.fastly.com/service/47Hhd6EFvfUjPK19GPW0tk/details
  response:
    body: {string: !!python/unicode '{"name":"Fastly Ansible Module Test","deleted_at":null,"versions":[{"testing":false,"locked":false,"number":1,"active":false,"service_id":"47Hhd6EFvfUjPK19GPW0tk","staging":false,"created_at":"2016-06-29T15:24:10+00:00","deleted_at":null,"comment":"","updated_at":"2016-06-29T15:24:10+00:00","deployed":false}],"created_at":"2016-06-29T15:24:10+00:00","customer_id":"15DqjG1ON0S28gluYrATvC","comment":"","updated_at":"2016-06-29T15:24:10+00:00","id":"47Hhd6EFvfUjPK19GPW0tk","version":{"testing":false,"number":1,"service_id":"47Hhd6EFvfUjPK19GPW0tk","staging":false,"updated_at":"2016-06-29T15:24:10+00:00","deployed":false,"locked":false,"active":false,"deleted_at":null,"created_at":"2016-06-29T15:24:10+00:00","comment":"","backends":[],"directors":[],"domains":[],"healthchecks":[],"matches":[],"vcls":[],"wordpress":[],"settings":{"general.default_ttl":3600,"general.default_host":"","general.default_pci":0},"conditions":[],"request_settings":[],"cache_settings":[],"response_objects":[],"headers":[],"gzips":[]},"active_version":null}'}
    headers:
      content-type: [application/json]
      status: [200 OK]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json]
    method: POST
    uri: https://api.fastly.com/service/47Hhd6EFvfUjPK19GPW0tk/version
  response:
    body: {string: !!python/unicode '{"service_id":"47Hhd6EFvfUjPK19GPW0tk","number":2}'}
    headers:
      content-type: [application/json]
      fastly-ratelimit-remaining: ['998']
      fastly-ratelimit-reset: ['1467216000']
      status: [200 OK]
    status: {code: 200, message: OK}
- request:
    body: !!python/unicode '{"comment": "", "name": "example7000.com"}'
    headers:
      Content-Type: [application/json]
    method: POST
    uri: https://api.fastly.com/service/47Hhd6EFvfUjPK19GPW0tk/version/2/domain
  response:
    body: {string: !!python/unicode '{"comment":"","name":"example7000.com","service_id":"47Hhd6EFvfUjPK19GPW0tk","version":2,"created_at":"2016-06-29T15:24:12+00:00","updated_at":"2016-06-29T15:24:12+00:00","deleted_at":null}'}
    headers:
      content-type: [application/json]
      fastly-ratelimit-remaining: ['997']
      fastly-ratelimit-reset: ['1467216000']
      status: [200 OK]
    status: {code: 200, message: OK}
- request:
    body: !!python/unicode '{"address": "127.0.0.1", "name": "localhost", "port":
      80}'
    headers:
      Content-Type: [application/json]
    method: POST
    uri: https://api.fastly.com/service/47Hhd6EFvfUjPK19GPW0tk/version/2/backend
  response:
    body: {string: !!python/unicode '{"address":"127.0.0.1","name":"localhost","port":80,"service_id":"47Hhd6EFvfUjPK19GPW0tk","version":2,"max_tls_version":null,"ssl_client_cert":null,"hostname":null,"error_threshold":0,"first_byte_timeout":15000,"client_cert":null,"weight":100,"updated_at":"2016-06-29T15:24:13+00:00","ipv4":"127.0.0.1","connect_timeout":1000,"ssl_ciphers":null,"between_bytes_timeout":10000,"ssl_client_key":null,"auto_loadbalance":false,"ssl_ca_cert":null,"shield":null,"ssl_check_cert":false,"request_condition":"","ssl_cert_hostname":null,"ssl_hostname":null,"ssl_sni_hostname":null,"ipv6":null,"min_tls_version":null,"deleted_at":null,"healthcheck":null,"max_conn":200,"use_ssl":false,"created_at":"2016-06-29T15:24:13+00:00","comment":""}'}
    headers:
      content-type: [application/json]
      fastly-ratelimit-remaining: ['996']
      fastly-ratelimit-reset: ['1467216000']
      status: [200 OK]
    status: {code: 200, message: OK}
- request:
    body: !!python/unicode '{"ignore_if_set": "0", "src": "\"https://u.jimcdn.com\"
      req.url.path", "name": "Set Location header", "dst": "http.Location", "priority":
      "100", "action": "set", "type": "response"}'
    headers:
      Content-Type: [application/json]
    method: POST
    uri: https://api.fastly.com/service/47Hhd6EFvfUjPK19GPW0tk/version/2/header
  response:
    body: {string: !!python/unicode '{"ignore_if_set":"0","src":"\"https://u.jimcdn.com\"
        req.url.path","name":"Set Location header","dst":"http.Location","priority":"100","action":"set","type":"response","service_id":"47Hhd6EFvfUjPK19GPW0tk","version":"2","request_condition":null,"response_condition":null,"updated_at":"2016-06-29T15:24:13+00:00","substitution":"","deleted_at":null,"cache_condition":null,"created_at":"2016-06-29T15:24:13+00:00","regex":""}'}
    headers:
      content-type: [application/json]
      fastly-ratelimit-remaining: ['995']
      fastly-ratelimit-reset: ['1467216000']
      status: [200 OK]
    status: {code: 200, message: OK}
- request:
    body: !!python/unicode '{"status": "200", "name": "Set 200 status code", "response":
      "Ok"}'
    headers:
      Content-Type: [application/json]
    method: POST
    uri: https://api.fastly.com/service/47Hhd6EFvfUjPK19GPW0tk/version/2/response_object
  response:
    body: {string: !!python/unicode '{"status":"200","name":"Set 200 status code","response":"Ok","service_id":"47Hhd6EFvfUjPK19GPW0tk","version":"2","content":null,"deleted_at":null,"cache_condition":"","created_at":"2016-06-29T15:24:14+00:00","content_type":null,"request_condition":"","updated_at":"2016-06-29T15:24:14+00:00"}'}
    headers:
      content-type: [application/json]
      fastly-ratelimit-remaining: ['994']
      fastly-ratelimit-reset: ['1467216000']
      status: [200 OK]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json]
    method: PUT
    uri: https://api.fastly.com/service/47Hhd6EFvfUjPK19GPW0tk/version/2/activate
  response:
    body: {string: !!python/unicode '{"testing":false,"locked":true,"number":2,"active":true,"service_id":"47Hhd6EFvfUjPK19GPW0tk","staging":false,"created_at":"2016-06-29T15:24:11+00:00","deleted_at":null,"comment":"","updated_at":"2016-06-29T15:24:11+00:00","deployed":false,"msg":null}'}
    headers:
      content-type: [application/json]
      fastly-ratelimit-remaining: ['993']
      fastly-ratelimit-reset: ['1467216000']
      status: [200 OK]
    status: {code: 200, message: OK}
[...]
