interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fastly.com/service/search?name=Fastly%20Ansible%20Module%20Test
  response:
    body:
      string: !!python/unicode '{"msg":"Record not found","detail":"Cannot load service
        ''4NTmXUwFuuC5U0iJUrdEHr''-''Fastly Ansible Module Test''"}'
    headers:
      content-type:
      - application/json
      status:
      - 404 Not Found
    status:
      code: 404
      message: Not Found
- request:
    body: !!python/unicode '{"name": "Fastly Ansible Module Test"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fastly.com/service
  response:
    body:
      string: !!python/unicode '{"customer_id":"4NTmXUwFuuC5U0iJUrdEHr","name":"Fastly
        Ansible Module Test","publish_key":"c3011f5ba2d61f916091ac0a6336877f4c25452b","versions":[{"testing":false,"locked":false,"number":1,"active":false,"service_id":"5xiIQOk8dUOWtSwav38nr2","staging":false,"created_at":"2019-04-24T14:19:12Z","deleted_at":null,"comment":"","updated_at":"2019-04-24T14:19:12Z","deployed":false}],"deleted_at":null,"created_at":"2019-04-24T14:19:12Z","comment":"","updated_at":"2019-04-24T14:19:12Z","id":"5xiIQOk8dUOWtSwav38nr2"}'
    headers:
      content-type:
      - application/json
      fastly-ratelimit-remaining:
      - '689'
      fastly-ratelimit-reset:
      - '1556118000'
      status:
      - 200 OK
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fastly.com/service/5xiIQOk8dUOWtSwav38nr2/details
  response:
    body:
      string: !!python/unicode '{"customer_id":"4NTmXUwFuuC5U0iJUrdEHr","comment":"","versions":[{"testing":false,"locked":false,"number":1,"active":false,"service_id":"5xiIQOk8dUOWtSwav38nr2","staging":false,"created_at":"2019-04-24T14:19:12Z","deleted_at":null,"comment":"","updated_at":"2019-04-24T14:19:12Z","deployed":false}],"name":"Fastly
        Ansible Module Test","updated_at":"2019-04-24T14:19:12Z","deleted_at":null,"id":"5xiIQOk8dUOWtSwav38nr2","created_at":"2019-04-24T14:19:12Z","version":{"updated_at":"2019-04-24T14:19:12Z","testing":false,"locked":false,"active":false,"deployed":false,"number":1,"comment":"","staging":false,"deleted_at":null,"created_at":"2019-04-24T14:19:12Z","service_id":"5xiIQOk8dUOWtSwav38nr2","acls":[],"backends":[],"cache_settings":[],"conditions":[],"dictionaries":[],"directors":[],"domains":[],"gzips":[],"headers":[],"healthchecks":[],"request_settings":[],"response_objects":[],"snippets":[],"vcls":[],"wordpress":[],"settings":{"general.stale_if_error_ttl":43200,"general.stale_if_error":false,"general.default_pci":0,"general.default_ttl":3600,"general.default_host":""}},"active_version":null}'
    headers:
      content-type:
      - application/json
      status:
      - 200 OK
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://api.fastly.com/service/5xiIQOk8dUOWtSwav38nr2/version/1/clone
  response:
    body:
      string: !!python/unicode '{"staging":false,"number":2,"deployed":false,"testing":false,"comment":"","deleted_at":null,"service_id":"5xiIQOk8dUOWtSwav38nr2","active":false,"locked":false,"updated_at":"2019-04-24T14:19:12Z","created_at":"2019-04-24T14:19:12Z"}'
    headers:
      content-type:
      - application/json
      fastly-ratelimit-remaining:
      - '688'
      fastly-ratelimit-reset:
      - '1556118000'
      status:
      - 200 OK
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fastly.com/service/5xiIQOk8dUOWtSwav38nr2/version/2/domain
  response:
    body:
      string: !!python/unicode '[]'
    headers:
      content-type:
      - application/json
      status:
      - 200 OK
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fastly.com/service/5xiIQOk8dUOWtSwav38nr2/version/2/healthcheck
  response:
    body:
      string: !!python/unicode '[]'
    headers:
      content-type:
      - application/json
      status:
      - 200 OK
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fastly.com/service/5xiIQOk8dUOWtSwav38nr2/version/2/condition
  response:
    body:
      string: !!python/unicode '[]'
    headers:
      content-type:
      - application/json
      status:
      - 200 OK
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fastly.com/service/5xiIQOk8dUOWtSwav38nr2/version/2/backend
  response:
    body:
      string: !!python/unicode '[]'
    headers:
      content-type:
      - application/json
      status:
      - 200 OK
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fastly.com/service/5xiIQOk8dUOWtSwav38nr2/version/2/director
  response:
    body:
      string: !!python/unicode '[]'
    headers:
      content-type:
      - application/json
      status:
      - 200 OK
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fastly.com/service/5xiIQOk8dUOWtSwav38nr2/version/2/cache_settings
  response:
    body:
      string: !!python/unicode '[]'
    headers:
      content-type:
      - application/json
      status:
      - 200 OK
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fastly.com/service/5xiIQOk8dUOWtSwav38nr2/version/2/gzip
  response:
    body:
      string: !!python/unicode '[]'
    headers:
      content-type:
      - application/json
      status:
      - 200 OK
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fastly.com/service/5xiIQOk8dUOWtSwav38nr2/version/2/header
  response:
    body:
      string: !!python/unicode '[]'
    headers:
      content-type:
      - application/json
      status:
      - 200 OK
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fastly.com/service/5xiIQOk8dUOWtSwav38nr2/version/2/request_settings
  response:
    body:
      string: !!python/unicode '[]'
    headers:
      content-type:
      - application/json
      status:
      - 200 OK
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fastly.com/service/5xiIQOk8dUOWtSwav38nr2/version/2/response_object
  response:
    body:
      string: !!python/unicode '[]'
    headers:
      content-type:
      - application/json
      status:
      - 200 OK
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fastly.com/service/5xiIQOk8dUOWtSwav38nr2/version/2/snippet
  response:
    body:
      string: !!python/unicode '[]'
    headers:
      content-type:
      - application/json
      status:
      - 200 OK
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fastly.com/service/5xiIQOk8dUOWtSwav38nr2/version/2/logging/s3
  response:
    body:
      string: !!python/unicode '[]'
    headers:
      content-type:
      - application/json
      status:
      - 200 OK
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fastly.com/service/5xiIQOk8dUOWtSwav38nr2/version/2/logging/syslog
  response:
    body:
      string: !!python/unicode '[]'
    headers:
      content-type:
      - application/json
      status:
      - 200 OK
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fastly.com/service/5xiIQOk8dUOWtSwav38nr2/version/2/logging/cloudfiles
  response:
    body:
      string: !!python/unicode '[]'
    headers:
      content-type:
      - application/json
      status:
      - 200 OK
    status:
      code: 200
      message: OK
[...]
- request:
    body: !!python/unicode '{"comment": "", "priority": "0", "type": "REQUEST", "name":
      "condition-name", "statement": "req.url ~ \"^/robots.txt\""}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fastly.com/service/5xiIQOk8dUOWtSwav38nr2/version/2/condition
  response:
    body:
      string: !!python/unicode '{"comment":"","priority":"0","type":"REQUEST","name":"condition-name","statement":"req.url
        ~ \"^/robots.txt\"","service_id":"5xiIQOk8dUOWtSwav38nr2","version":"2","created_at":"2019-04-24T14:19:25Z","deleted_at":null,"updated_at":"2019-04-24T14:19:25Z"}'
    headers:
      content-type:
      - application/json
      fastly-ratelimit-remaining:
      - '686'
      fastly-ratelimit-reset:
      - '1556118000'
      status:
      - 200 OK
    status:
      code: 200
      message: OK
- request:
    body: !!python/unicode '{"ssl_ca_cert": null, "request_condition": "", "name":
      "localhost", "weight": 100, "healthcheck": null, "first_byte_timeout": 15000,
      "error_threshold": 0, "port": 80, "ssl_cert_hostname": null, "address": "127.0.0.1",
      "between_bytes_timeout": 10000, "max_conn": 200, "connect_timeout": 1000, "ssl_hostname":
      null, "shield": null}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fastly.com/service/5xiIQOk8dUOWtSwav38nr2/version/2/backend
  response:
    body:
      string: !!python/unicode '{"ssl_ca_cert":null,"request_condition":"","name":"localhost","weight":100,"healthcheck":null,"first_byte_timeout":15000,"error_threshold":0,"port":80,"ssl_cert_hostname":null,"address":"127.0.0.1","between_bytes_timeout":10000,"max_conn":200,"connect_timeout":1000,"ssl_hostname":null,"shield":null,"service_id":"5xiIQOk8dUOWtSwav38nr2","version":2,"max_tls_version":null,"ssl_client_cert":null,"hostname":null,"client_cert":null,"updated_at":"2019-04-24T14:19:26Z","ipv4":"127.0.0.1","ssl_ciphers":null,"ssl_client_key":null,"auto_loadbalance":false,"ssl_check_cert":true,"override_host":null,"ssl_sni_hostname":null,"min_tls_version":null,"ipv6":null,"deleted_at":null,"use_ssl":false,"created_at":"2019-04-24T14:19:26Z","comment":""}'
    headers:
      content-type:
      - application/json
      fastly-ratelimit-remaining:
      - '685'
      fastly-ratelimit-reset:
      - '1556118000'
      status:
      - 200 OK
    status:
      code: 200
      message: OK
- request:
    body: !!python/unicode '{"ignore_if_set": "0", "regex": "", "request_condition":
      null, "name": "Set Location header", "src": "\"https://u.jimcdn.com\" req.url.path",
      "dst": "http.Location", "cache_condition": null, "priority": "100", "substitution":
      "", "action": "set", "type": "response", "response_condition": null}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fastly.com/service/5xiIQOk8dUOWtSwav38nr2/version/2/header
  response:
    body:
      string: !!python/unicode '{"ignore_if_set":"0","regex":"","request_condition":null,"name":"Set
        Location header","src":"\"https://u.jimcdn.com\" req.url.path","dst":"http.Location","cache_condition":null,"priority":"100","substitution":"","action":"set","type":"response","response_condition":null,"service_id":"5xiIQOk8dUOWtSwav38nr2","version":"2","updated_at":"2019-04-24T14:19:27Z","deleted_at":null,"created_at":"2019-04-24T14:19:27Z"}'
    headers:
      content-type:
      - application/json
      fastly-ratelimit-remaining:
      - '684'
      fastly-ratelimit-reset:
      - '1556118000'
      status:
      - 200 OK
    status:
      code: 200
      message: OK
- request:
    body: !!python/unicode '{"status": "200", "request_condition": "", "name": "Set
      200 status code", "content": "", "content_type": "", "response": "Ok"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fastly.com/service/5xiIQOk8dUOWtSwav38nr2/version/2/response_object
  response:
    body:
      string: !!python/unicode '{"status":"200","request_condition":"","name":"Set
        200 status code","content":"","content_type":"","response":"Ok","service_id":"5xiIQOk8dUOWtSwav38nr2","version":"2","deleted_at":null,"cache_condition":"","created_at":"2019-04-24T14:19:27Z","updated_at":"2019-04-24T14:19:27Z"}'
    headers:
      content-type:
      - application/json
      fastly-ratelimit-remaining:
      - '683'
      fastly-ratelimit-reset:
      - '1556118000'
      status:
      - 200 OK
    status:
      code: 200
      message: OK
- request:
    body: !!python/unicode '{"general.default_ttl": 3600}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://api.fastly.com/service/5xiIQOk8dUOWtSwav38nr2/version/2/settings
  response:
    body:
      string: !!python/unicode '{"general.stale_if_error_ttl":43200,"general.stale_if_error":false,"general.default_ttl":3600,"version":2,"general.default_host":"","general.default_pci":0,"service_id":"5xiIQOk8dUOWtSwav38nr2"}'
    headers:
      content-type:
      - application/json
      fastly-ratelimit-remaining:
      - '682'
      fastly-ratelimit-reset:
      - '1556118000'
      status:
      - 200 OK
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://api.fastly.com/service/5xiIQOk8dUOWtSwav38nr2/version/2/activate
  response:
    body:
      string: !!python/unicode '{"testing":false,"locked":true,"number":2,"active":true,"service_id":"5xiIQOk8dUOWtSwav38nr2","staging":false,"created_at":"2019-04-24T14:19:15Z","deleted_at":null,"comment":"","updated_at":"2019-04-24T14:19:27Z","deployed":false,"msg":null}'
    headers:
      content-type:
      - application/json
      fastly-ratelimit-remaining:
      - '681'
      fastly-ratelimit-reset:
      - '1556118000'
      status:
      - 200 OK
    status:
      code: 200
      message: OK
[...]
