interactions:
- request:
    body: null
    headers:
      Content-Type: [application/json]
    method: GET
    uri: https://api.fastly.com/service/search?name=Fastly%20Ansible%20Module%20Test
  response:
    body: {string: !!python/unicode '{"name":"Fastly Ansible Module Test","deleted_at":null,"versions":[{"testing":false,"locked":false,"number":1,"active":false,"service_id":"6rElV0zbjcM0l9pH1uS9qK","staging":false,"created_at":"2018-05-30T15:05:24Z","deleted_at":null,"comment":"","updated_at":"2018-05-30T15:05:24Z","deployed":false},{"testing":false,"locked":true,"number":2,"active":false,"service_id":"6rElV0zbjcM0l9pH1uS9qK","staging":false,"created_at":"2018-05-30T15:05:25Z","deleted_at":null,"comment":"","updated_at":"2018-05-30T15:05:42Z","deployed":false},{"testing":false,"staging":false,"updated_at":"2018-05-30T15:05:42Z","active":true,"number":3,"service_id":"6rElV0zbjcM0l9pH1uS9qK","deployed":false,"locked":true,"deleted_at":null,"created_at":"2018-05-30T15:05:34Z","comment":""}],"created_at":"2018-05-30T15:05:24Z","customer_id":"31RPDMBpiruA1yfGA2djLm","comment":"","updated_at":"2018-05-30T15:05:24Z","id":"6rElV0zbjcM0l9pH1uS9qK"}'}
    headers:
      content-type: [application/json]
      status: [200 OK]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json]
    method: GET
    uri: https://api.fastly.com/service/6rElV0zbjcM0l9pH1uS9qK/details
  response:
    body: {string: !!python/unicode '{"name":"Fastly Ansible Module Test","deleted_at":null,"versions":[{"testing":false,"locked":false,"number":1,"active":false,"service_id":"6rElV0zbjcM0l9pH1uS9qK","staging":false,"created_at":"2018-05-30T15:05:24Z","deleted_at":null,"comment":"","updated_at":"2018-05-30T15:05:24Z","deployed":false},{"testing":false,"locked":true,"number":2,"active":false,"service_id":"6rElV0zbjcM0l9pH1uS9qK","staging":false,"created_at":"2018-05-30T15:05:25Z","deleted_at":null,"comment":"","updated_at":"2018-05-30T15:05:42Z","deployed":false},{"testing":false,"locked":true,"number":3,"active":true,"service_id":"6rElV0zbjcM0l9pH1uS9qK","staging":false,"created_at":"2018-05-30T15:05:34Z","deleted_at":null,"comment":"","updated_at":"2018-05-30T15:05:42Z","deployed":false}],"created_at":"2018-05-30T15:05:24Z","customer_id":"31RPDMBpiruA1yfGA2djLm","comment":"","updated_at":"2018-05-30T15:05:24Z","id":"6rElV0zbjcM0l9pH1uS9qK","version":{"testing":false,"staging":false,"updated_at":"2018-05-30T15:05:42Z","active":true,"number":3,"service_id":"6rElV0zbjcM0l9pH1uS9qK","deployed":false,"locked":true,"deleted_at":null,"created_at":"2018-05-30T15:05:34Z","comment":"","acls":[],"backends":[{"max_tls_version":null,"ssl_ca_cert":null,"auto_loadbalance":false,"ssl_check_cert":true,"shield":null,"hostname":null,"ssl_client_cert":null,"error_threshold":0,"request_condition":"","first_byte_timeout":15000,"ssl_cert_hostname":null,"weight":100,"client_cert":null,"address":"127.0.0.1","ssl_hostname":null,"ssl_sni_hostname":null,"min_tls_version":null,"ipv6":null,"ipv4":"127.0.0.1","connect_timeout":1000,"ssl_ciphers":null,"name":"localhost","healthcheck":null,"port":80,"max_conn":200,"use_ssl":false,"comment":"","between_bytes_timeout":10000,"ssl_client_key":null}],"cache_settings":[],"conditions":[],"dictionaries":[],"directors":[],"domains":[{"comment":"","name":"example8000.com"}],"gzips":[],"headers":[{"priority":"100","src":"\"https://u.jimcdn.com\"
        req.url.path","name":"Set Location header","substitution":"","ignore_if_set":"0","cache_condition":null,"request_condition":null,"regex":"","response_condition":null,"action":"set","type":"response","dst":"http.Location"}],"healthchecks":[],"request_settings":[],"response_objects":[{"request_condition":"","content_type":"","status":"200","response":"Ok","name":"Set
        200 status code","content":"","cache_condition":""}],"snippets":[],"vcls":[],"wordpress":[],"settings":{"general.stale_if_error_ttl":43200,"general.stale_if_error":false,"general.default_ttl":3600,"general.default_host":"","general.default_pci":0}},"active_version":{"testing":false,"staging":false,"updated_at":"2018-05-30T15:05:42Z","active":true,"number":3,"service_id":"6rElV0zbjcM0l9pH1uS9qK","deployed":false,"locked":true,"deleted_at":null,"created_at":"2018-05-30T15:05:34Z","comment":"","acls":[],"backends":[{"max_tls_version":null,"ssl_ca_cert":null,"auto_loadbalance":false,"ssl_check_cert":true,"shield":null,"hostname":null,"ssl_client_cert":null,"error_threshold":0,"request_condition":"","first_byte_timeout":15000,"ssl_cert_hostname":null,"weight":1[...]
- request:
    body: null
    headers:
      Content-Type: [application/json]
    method: PUT
    uri: https://api.fastly.com/service/6rElV0zbjcM0l9pH1uS9qK/version/3/clone
  response:
    body: {string: !!python/unicode '{"testing":false,"locked":false,"number":4,"active":false,"service_id":"6rElV0zbjcM0l9pH1uS9qK","staging":false,"created_at":"2018-05-30T15:05:34Z","deleted_at":null,"comment":"","updated_at":"2018-05-30T15:05:42Z","deployed":false}'}
    headers:
      content-type: [application/json]
      fastly-ratelimit-remaining: ['719']
      fastly-ratelimit-reset: ['1527696000']
      status: [200 OK]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json]
    method: GET
    uri: https://api.fastly.com/service/6rElV0zbjcM0l9pH1uS9qK/version/4/domain
  response:
    body: {string: !!python/unicode '[{"version":4,"name":"example8000.com","deleted_at":null,"service_id":"6rElV0zbjcM0l9pH1uS9qK","created_at":"2018-05-30T15:05:39Z","comment":"","updated_at":"2018-05-30T15:05:39Z"}]'}
    headers:
      content-type: [application/json]
      status: [200 OK]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json]
    method: GET
    uri: https://api.fastly.com/service/6rElV0zbjcM0l9pH1uS9qK/version/4/healthcheck
  response:
    body: {string: !!python/unicode '[]'}
    headers:
      content-type: [application/json]
      status: [200 OK]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json]
    method: GET
    uri: https://api.fastly.com/service/6rElV0zbjcM0l9pH1uS9qK/version/4/condition
  response:
    body: {string: !!python/unicode '[]'}
    headers:
      content-type: [application/json]
      status: [200 OK]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json]
    method: GET
    uri: https://api.fastly.com/service/6rElV0zbjcM0l9pH1uS9qK/version/4/backend
  response:
    body: {string: !!python/unicode '[{"max_tls_version":null,"ssl_client_cert":null,"hostname":null,"error_threshold":0,"first_byte_timeout":15000,"client_cert":null,"weight":100,"address":"127.0.0.1","updated_at":"2018-05-30T15:05:40Z","connect_timeout":1000,"ipv4":"127.0.0.1","ssl_ciphers":null,"name":"localhost","port":80,"between_bytes_timeout":10000,"ssl_client_key":null,"ssl_ca_cert":null,"auto_loadbalance":false,"ssl_check_cert":true,"shield":null,"service_id":"6rElV0zbjcM0l9pH1uS9qK","request_condition":"","ssl_cert_hostname":null,"ssl_hostname":null,"ssl_sni_hostname":null,"min_tls_version":null,"ipv6":null,"version":4,"deleted_at":null,"healthcheck":null,"max_conn":200,"use_ssl":false,"created_at":"2018-05-30T15:05:40Z","comment":""}]'}
    headers:
      content-type: [application/json]
      status: [200 OK]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json]
    method: GET
    uri: https://api.fastly.com/service/6rElV0zbjcM0l9pH1uS9qK/version/4/director
  response:
    body: {string: !!python/unicode '[]'}
    headers:
      content-type: [application/json]
      status: [200 OK]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json]
    method: GET
    uri: https://api.fastly.com/service/6rElV0zbjcM0l9pH1uS9qK/version/4/cache_settings
  response:
    body: {string: !!python/unicode '[]'}
    headers:
      content-type: [application/json]
      status: [200 OK]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json]
    method: GET
    uri: https://api.fastly.com/service/6rElV0zbjcM0l9pH1uS9qK/version/4/gzip
  response:
    body: {string: !!python/unicode '[]'}
    headers:
      content-type: [application/json]
      status: [200 OK]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json]
    method: GET
    uri: https://api.fastly.com/service/6rElV0zbjcM0l9pH1uS9qK/version/4/header
  response:
    body: {string: !!python/unicode '[{"priority":"100","service_id":"6rElV0zbjcM0l9pH1uS9qK","ignore_if_set":"0","request_condition":null,"response_condition":null,"updated_at":"2018-05-30T15:05:40Z","src":"\"https://u.jimcdn.com\"
        req.url.path","version":"4","name":"Set Location header","deleted_at":null,"substitution":"","cache_condition":null,"created_at":"2018-05-30T15:05:40Z","regex":"","action":"set","type":"response","dst":"http.Location"}]'}
    headers:
      content-type: [application/json]
      status: [200 OK]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json]
    method: GET
    uri: https://api.fastly.com/service/6rElV0zbjcM0l9pH1uS9qK/version/4/request_settings
  response:
    body: {string: !!python/unicode '[]'}
    headers:
      content-type: [application/json]
      status: [200 OK]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json]
    method: GET
    uri: https://api.fastly.com/service/6rElV0zbjcM0l9pH1uS9qK/version/4/response_object
  response:
    body: {string: !!python/unicode '[{"response":"Ok","version":"4","status":"200","name":"Set
        200 status code","content":"","deleted_at":null,"service_id":"6rElV0zbjcM0l9pH1uS9qK","cache_condition":"","created_at":"2018-05-30T15:05:41Z","content_type":"","request_condition":"","updated_at":"2018-05-30T15:05:41Z"}]'}
    headers:
      content-type: [application/json]
      status: [200 OK]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json]
    method: GET
    uri: https://api.fastly.com/service/6rElV0zbjcM0l9pH1uS9qK/version/4/snippet
  response:
    body: {string: !!python/unicode '[]'}
    headers:
      content-type: [application/json]
      status: [200 OK]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json]
    method: GET
    uri: https://api.fastly.com/service/6rElV0zbjcM0l9pH1uS9qK/version/4/logging/s3
  response:
    body: {string: !!python/unicode '[]'}
    headers:
      content-type: [application/json]
      status: [200 OK]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json]
    method: GET
    uri: https://api.fastly.com/service/6rElV0zbjcM0l9pH1uS9qK/version/4/logging/syslog
  response:
    body: {string: !!python/unicode '[]'}
    headers:
      content-type: [application/json]
      status: [200 OK]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json]
    method: DELETE
    uri: https://api.fastly.com/service/6rElV0zbjcM0l9pH1uS9qK/version/4/domain/example8000.com
  response:
    body: {string: !!python/unicode '{"status":"ok"}'}
    headers:
      content-type: [application/json]
      fastly-ratelimit-remaining: ['718']
      fastly-ratelimit-reset: ['1527696000']
      status: [200 OK]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json]
    method: DELETE
    uri: https://api.fastly.com/service/6rElV0zbjcM0l9pH1uS9qK/version/4/backend/localhost
  response:
    body: {string: !!python/unicode '{"status":"ok"}'}
    headers:
      content-type: [application/json]
      fastly-ratelimit-remaining: ['717']
      fastly-ratelimit-reset: ['1527696000']
      status: [200 OK]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json]
    method: DELETE
    uri: https://api.fastly.com/service/6rElV0zbjcM0l9pH1uS9qK/version/4/header/Set%20Location%20header
  response:
    body: {string: !!python/unicode '{"status":"ok"}'}
    headers:
      content-type: [application/json]
      fastly-ratelimit-remaining: ['716']
      fastly-ratelimit-reset: ['1527696000']
      status: [200 OK]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json]
    method: DELETE
    uri: https://api.fastly.com/service/6rElV0zbjcM0l9pH1uS9qK/version/4/response_object/Set%20200%20status%20code
  response:
    body: {string: !!python/unicode '{"status":"ok"}'}
    headers:
      content-type: [application/json]
      fastly-ratelimit-remaining: ['715']
      fastly-ratelimit-reset: ['1527696000']
      status: [200 OK]
    status: {code: 200, message: OK}
[...]
- request:
    body: !!python/unicode '{"request_condition": "", "name": "request-setting-config-name",
      "force_miss": 1, "xff": "append", "bypass_busy_wait": 1, "hash_keys": "req.url,req.http.host,req.http.Fastly-SSL",
      "force_ssl": 1, "action": "pass", "geo_headers": 1, "default_host": "example.net",
      "timer_support": 1, "max_stale_age": 30}'
    headers:
      Content-Type: [application/json]
    method: POST
    uri: https://api.fastly.com/service/6rElV0zbjcM0l9pH1uS9qK/version/4/request_settings
  response:
    body: {string: !!python/unicode '{"request_condition":"","name":"request-setting-config-name","force_miss":"1","xff":"append","bypass_busy_wait":"1","hash_keys":"req.url,req.http.host,req.http.Fastly-SSL","force_ssl":"1","action":"pass","geo_headers":"1","default_host":"example.net","timer_support":"1","max_stale_age":30,"service_id":"6rElV0zbjcM0l9pH1uS9qK","version":"4","updated_at":"2018-05-30T15:05:49Z","deleted_at":null,"created_at":"2018-05-30T15:05:49Z"}'}
    headers:
      content-type: [application/json]
      fastly-ratelimit-remaining: ['711']
      fastly-ratelimit-reset: ['1527696000']
      status: [200 OK]
    status: {code: 200, message: OK}
[...]
- request:
    body: !!python/unicode '{"general.default_ttl": 3600}'
    headers:
      Content-Type: [application/json]
    method: PUT
    uri: https://api.fastly.com/service/6rElV0zbjcM0l9pH1uS9qK/version/4/settings
  response:
    body: {string: !!python/unicode '{"general.stale_if_error_ttl":43200,"general.stale_if_error":false,"general.default_ttl":3600,"version":4,"general.default_host":"","general.default_pci":0,"service_id":"6rElV0zbjcM0l9pH1uS9qK"}'}
    headers:
      content-type: [application/json]
      fastly-ratelimit-remaining: ['709']
      fastly-ratelimit-reset: ['1527696000']
      status: [200 OK]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json]
    method: PUT
    uri: https://api.fastly.com/service/6rElV0zbjcM0l9pH1uS9qK/version/4/activate
  response:
    body: {string: !!python/unicode '{"testing":false,"locked":true,"number":4,"active":true,"service_id":"6rElV0zbjcM0l9pH1uS9qK","staging":false,"created_at":"2018-05-30T15:05:43Z","deleted_at":null,"comment":"","updated_at":"2018-05-30T15:05:50Z","deployed":false,"msg":null}'}
    headers:
      content-type: [application/json]
      fastly-ratelimit-remaining: ['708']
      fastly-ratelimit-reset: ['1527696000']
      status: [200 OK]
    status: {code: 200, message: OK}
[...]
