interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fastly.com/service/search?name=Fastly%20Ansible%20Module%20Test
  response:
    body:
      string: !!python/unicode '{"name":"Fastly Ansible Module Test","deleted_at":null,"versions":[{"testing":false,"locked":false,"number":1,"active":false,"service_id":"7AG8FgHl3LQBBzv0C8iAS6","staging":false,"created_at":"2019-04-24T14:15:09Z","deleted_at":null,"comment":"","updated_at":"2019-04-24T14:15:09Z","deployed":false},{"testing":false,"locked":true,"number":2,"active":false,"service_id":"7AG8FgHl3LQBBzv0C8iAS6","staging":false,"created_at":"2019-04-24T14:15:10Z","deleted_at":null,"comment":"","updated_at":"2019-04-24T14:15:48Z","deployed":false},{"testing":false,"staging":false,"updated_at":"2019-04-24T14:15:48Z","active":true,"number":3,"service_id":"7AG8FgHl3LQBBzv0C8iAS6","deployed":false,"locked":true,"deleted_at":null,"created_at":"2019-04-24T14:15:26Z","comment":""}],"created_at":"2019-04-24T14:15:09Z","customer_id":"4NTmXUwFuuC5U0iJUrdEHr","comment":"","updated_at":"2019-04-24T14:15:09Z","id":"7AG8FgHl3LQBBzv0C8iAS6"}'
    headers:
      content-type:
      - application/json
      status:
      - 200 OK
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fastly.com/service/7AG8FgHl3LQBBzv0C8iAS6/details
  response:
    body:
      string: !!python/unicode '{"deleted_at":null,"id":"7AG8FgHl3LQBBzv0C8iAS6","created_at":"2019-04-24T14:15:09Z","name":"Fastly
        Ansible Module Test","updated_at":"2019-04-24T14:15:09Z","versions":[{"testing":false,"locked":false,"number":1,"active":false,"service_id":"7AG8FgHl3LQBBzv0C8iAS6","staging":false,"created_at":"2019-04-24T14:15:09Z","deleted_at":null,"comment":"","updated_at":"2019-04-24T14:15:09Z","deployed":false},{"testing":false,"locked":true,"number":2,"active":false,"service_id":"7AG8FgHl3LQBBzv0C8iAS6","staging":false,"created_at":"2019-04-24T14:15:10Z","deleted_at":null,"comment":"","updated_at":"2019-04-24T14:15:48Z","deployed":false},{"testing":false,"locked":true,"number":3,"active":true,"service_id":"7AG8FgHl3LQBBzv0C8iAS6","staging":false,"created_at":"2019-04-24T14:15:26Z","deleted_at":null,"comment":"","updated_at":"2019-04-24T14:15:48Z","deployed":false}],"comment":"","customer_id":"4NTmXUwFuuC5U0iJUrdEHr","version":{"active":true,"locked":true,"deployed":false,"number":3,"updated_at":"2019-04-24T14:15:48Z","testing":false,"created_at":"2019-04-24T14:15:26Z","deleted_at":null,"service_id":"7AG8FgHl3LQBBzv0C8iAS6","staging":false,"comment":"","acls":[],"backends":[{"ssl_hostname":null,"ssl_client_cert":null,"client_cert":null,"between_bytes_timeout":10000,"connect_timeout":1000,"min_tls_version":null,"max_tls_version":null,"weight":100,"hostname":null,"ssl_client_key":null,"max_conn":200,"ssl_sni_hostname":null,"healthcheck":null,"ssl_ciphers":null,"use_ssl":false,"ipv6":null,"name":"localhost","port":80,"request_condition":"","first_byte_timeout":15000,"comment":"","auto_loadbalance":false,"shield":null,"error_threshold":0,"ipv4":"127.0.0.1","ssl_cert_hostname":null,"address":"127.0.0.1","ssl_ca_cert":null,"override_host":null,"ssl_check_cert":true}],"cache_settings":[{"ttl":null,"stale_ttl":"0","cache_condition":"","action":null,"name":"cache-settings-config-name"}],"conditions":[],"dictionaries":[],"directors":[],"domains":[{"comment":"","name":"example8000.com"}],"gzips":[],"headers":[{"substitution":"","name":"Set
        Location header","response_condition":null,"dst":"http.Location","action":"set","regex":"","cache_condition":null,"ignore_if_set":"0","src":"\"https://u.jimcdn.com\"
        req.url.path","priority":"100","type":"response","request_condition":null}],"healthchecks":[],"request_settings":[],"response_objects":[{"request_condition":"","content":"","response":"Ok","cache_condition":"","content_type":"","name":"Set
        200 status code","status":"200"}],"snippets":[],"vcls":[],"wordpress":[],"settings":{"general.default_host":"","general.stale_if_error":false,"general.stale_if_error_ttl":43200,"general.default_pci":0,"general.default_ttl":3600}},"active_version":{"active":true,"locked":true,"deployed":false,"number":3,"updated_at":"2019-04-24T14:15:48Z","testing":false,"created_at":"2019-04-24T14:15:26Z","deleted_at":null,"service_id":"7AG8FgHl3LQBBzv0C8iAS6","staging":false,"comment":"","acls":[],"backends":[{"ssl_hostname":null,"ssl_client_cert":null,"client_cert":null,"between_bytes_timeout":10000,"connect_timeout":1000,"min_tls_version":null,"max_tls_version":null,"weight":100,"hostname":null,"ssl_client_key":null,"max_conn":200,"ssl_sni_hostname":n[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://api.fastly.com/service/7AG8FgHl3LQBBzv0C8iAS6/version/3/clone
  response:
    body:
      string: !!python/unicode '{"comment":"","deployed":false,"number":4,"testing":false,"deleted_at":null,"service_id":"7AG8FgHl3LQBBzv0C8iAS6","staging":false,"locked":false,"created_at":"2019-04-24T14:15:26Z","updated_at":"2019-04-24T14:15:48Z","active":false}'
    headers:
      content-type:
      - application/json
      fastly-ratelimit-remaining:
      - '794'
      fastly-ratelimit-reset:
      - '1556118000'
      status:
      - 200 OK
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fastly.com/service/7AG8FgHl3LQBBzv0C8iAS6/version/4/domain
  response:
    body:
      string: !!python/unicode '[{"version":4,"name":"example8000.com","service_id":"7AG8FgHl3LQBBzv0C8iAS6","deleted_at":null,"created_at":"2019-04-24T14:15:38Z","comment":"","updated_at":"2019-04-24T14:15:52Z"}]'
    headers:
      content-type:
      - application/json
      status:
      - 200 OK
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fastly.com/service/7AG8FgHl3LQBBzv0C8iAS6/version/4/healthcheck
  response:
    body:
      string: !!python/unicode '[]'
    headers:
      content-type:
      - application/json
      status:
      - 200 OK
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fastly.com/service/7AG8FgHl3LQBBzv0C8iAS6/version/4/condition
  response:
    body:
      string: !!python/unicode '[]'
    headers:
      content-type:
      - application/json
      status:
      - 200 OK
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fastly.com/service/7AG8FgHl3LQBBzv0C8iAS6/version/4/backend
  response:
    body:
      string: !!python/unicode '[{"max_tls_version":null,"ssl_client_cert":null,"hostname":null,"error_threshold":0,"first_byte_timeout":15000,"weight":100,"client_cert":null,"address":"127.0.0.1","updated_at":"2019-04-24T14:15:52Z","ipv4":"127.0.0.1","connect_timeout":1000,"ssl_ciphers":null,"name":"localhost","port":80,"between_bytes_timeout":10000,"ssl_client_key":null,"ssl_ca_cert":null,"auto_loadbalance":false,"ssl_check_cert":true,"shield":null,"override_host":null,"service_id":"7AG8FgHl3LQBBzv0C8iAS6","request_condition":"","ssl_cert_hostname":null,"ssl_hostname":null,"ssl_sni_hostname":null,"min_tls_version":null,"ipv6":null,"version":4,"deleted_at":null,"healthcheck":null,"max_conn":200,"use_ssl":false,"created_at":"2019-04-24T14:15:39Z","comment":""}]'
    headers:
      content-type:
      - application/json
      status:
      - 200 OK
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fastly.com/service/7AG8FgHl3LQBBzv0C8iAS6/version/4/director
  response:
    body:
      string: !!python/unicode '[]'
    headers:
      content-type:
      - application/json
      status:
      - 200 OK
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fastly.com/service/7AG8FgHl3LQBBzv0C8iAS6/version/4/cache_settings
  response:
    body:
      string: !!python/unicode '[{"stale_ttl":"0","ttl":null,"version":"4","name":"cache-settings-config-name","service_id":"7AG8FgHl3LQBBzv0C8iAS6","deleted_at":null,"cache_condition":"","created_at":"2019-04-24T14:15:44Z","action":null,"updated_at":"2019-04-24T14:15:52Z"}]'
    headers:
      content-type:
      - application/json
      status:
      - 200 OK
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fastly.com/service/7AG8FgHl3LQBBzv0C8iAS6/version/4/gzip
  response:
    body:
      string: !!python/unicode '[]'
    headers:
      content-type:
      - application/json
      status:
      - 200 OK
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fastly.com/service/7AG8FgHl3LQBBzv0C8iAS6/version/4/header
  response:
    body:
      string: !!python/unicode '[{"priority":"100","service_id":"7AG8FgHl3LQBBzv0C8iAS6","ignore_if_set":"0","request_condition":null,"response_condition":null,"updated_at":"2019-04-24T14:15:52Z","version":"4","src":"\"https://u.jimcdn.com\"
        req.url.path","name":"Set Location header","deleted_at":null,"substitution":"","cache_condition":null,"created_at":"2019-04-24T14:15:44Z","regex":"","action":"set","type":"response","dst":"http.Location"}]'
    headers:
      content-type:
      - application/json
      status:
      - 200 OK
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fastly.com/service/7AG8FgHl3LQBBzv0C8iAS6/version/4/request_settings
  response:
    body:
      string: !!python/unicode '[]'
    headers:
      content-type:
      - application/json
      status:
      - 200 OK
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fastly.com/service/7AG8FgHl3LQBBzv0C8iAS6/version/4/response_object
  response:
    body:
      string: !!python/unicode '[{"response":"Ok","status":"200","version":"4","name":"Set
        200 status code","content":"","service_id":"7AG8FgHl3LQBBzv0C8iAS6","deleted_at":null,"cache_condition":"","created_at":"2019-04-24T14:15:45Z","content_type":"","request_condition":"","updated_at":"2019-04-24T14:15:52Z"}]'
    headers:
      content-type:
      - application/json
      status:
      - 200 OK
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fastly.com/service/7AG8FgHl3LQBBzv0C8iAS6/version/4/snippet
  response:
    body:
      string: !!python/unicode '[]'
    headers:
      content-type:
      - application/json
      status:
      - 200 OK
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fastly.com/service/7AG8FgHl3LQBBzv0C8iAS6/version/4/logging/s3
  response:
    body:
      string: !!python/unicode '[]'
    headers:
      content-type:
      - application/json
      status:
      - 200 OK
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fastly.com/service/7AG8FgHl3LQBBzv0C8iAS6/version/4/logging/syslog
  response:
    body:
      string: !!python/unicode '[]'
    headers:
      content-type:
      - application/json
      status:
      - 200 OK
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fastly.com/service/7AG8FgHl3LQBBzv0C8iAS6/version/4/logging/cloudfiles
  response:
    body:
      string: !!python/unicode '[]'
    headers:
      content-type:
      - application/json
      status:
      - 200 OK
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.fastly.com/service/7AG8FgHl3LQBBzv0C8iAS6/version/4/domain/example8000.com
  response:
    body:
      string: !!python/unicode '{"status":"ok"}'
    headers:
      content-type:
      - application/json
      fastly-ratelimit-remaining:
      - '793'
      fastly-ratelimit-reset:
      - '1556118000'
      status:
      - 200 OK
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.fastly.com/service/7AG8FgHl3LQBBzv0C8iAS6/version/4/backend/localhost
  response:
    body:
      string: !!python/unicode '{"status":"ok"}'
    headers:
      content-type:
      - application/json
      fastly-ratelimit-remaining:
      - '792'
      fastly-ratelimit-reset:
      - '1556118000'
      status:
      - 200 OK
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.fastly.com/service/7AG8FgHl3LQBBzv0C8iAS6/version/4/cache_settings/cache-settings-config-name
  response:
    body:
      string: !!python/unicode '{"status":"ok"}'
    headers:
      content-type:
      - application/json
      fastly-ratelimit-remaining:
      - '791'
      fastly-ratelimit-reset:
      - '1556118000'
      status:
      - 200 OK
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.fastly.com/service/7AG8FgHl3LQBBzv0C8iAS6/version/4/header/Set%20Location%20header
  response:
    body:
      string: !!python/unicode '{"status":"ok"}'
    headers:
      content-type:
      - application/json
      fastly-ratelimit-remaining:
      - '790'
      fastly-ratelimit-reset:
      - '1556118000'
      status:
      - 200 OK
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.fastly.com/service/7AG8FgHl3LQBBzv0C8iAS6/version/4/response_object/Set%20200%20status%20code
  response:
    body:
      string: !!python/unicode '{"status":"ok"}'
    headers:
      content-type:
      - application/json
      fastly-ratelimit-remaining:
      - '789'
      fastly-ratelimit-reset:
      - '1556118000'
      status:
      - 200 OK
    status:
      code: 200
      message: OK
[...]
- request:
    body: !!python/unicode '{"comment": "", "retries": 5, "capacity": 100, "shield":
      null, "name": "client_director", "backends": ["localhost"], "type": 4, "quorum":
      75}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fastly.com/service/7AG8FgHl3LQBBzv0C8iAS6/version/4/director
  response:
    body:
      string: !!python/unicode '{"comment":"","retries":5,"capacity":100,"shield":null,"name":"client_director","backends":[],"type":4,"quorum":75,"service_id":"7AG8FgHl3LQBBzv0C8iAS6","version":4,"deleted_at":null,"created_at":"2019-04-24T14:16:05Z","updated_at":"2019-04-24T14:16:05Z"}'
    headers:
      content-type:
      - application/json
      fastly-ratelimit-remaining:
      - '786'
      fastly-ratelimit-reset:
      - '1556118000'
      status:
      - 200 OK
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fastly.com/service/7AG8FgHl3LQBBzv0C8iAS6/version/4/director/client_director/backend/localhost
  response:
    body:
      string: !!python/unicode '{"service_id":"7AG8FgHl3LQBBzv0C8iAS6","version":4,"director_name":"client_director","backend_name":"localhost","created_at":"2019-04-24T14:16:05Z","updated_at":"2019-04-24T14:16:05Z","deleted_at":null}'
    headers:
      content-type:
      - application/json
      fastly-ratelimit-remaining:
      - '785'
      fastly-ratelimit-reset:
      - '1556118000'
      status:
      - 200 OK
    status:
      code: 200
      message: OK
[...]
- request:
    body: !!python/unicode '{"general.default_ttl": 3600}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://api.fastly.com/service/7AG8FgHl3LQBBzv0C8iAS6/version/4/settings
  response:
    body:
      string: !!python/unicode '{"general.stale_if_error_ttl":43200,"general.stale_if_error":false,"general.default_ttl":3600,"version":4,"general.default_host":"","general.default_pci":0,"service_id":"7AG8FgHl3LQBBzv0C8iAS6"}'
    headers:
      content-type:
      - application/json
      fastly-ratelimit-remaining:
      - '782'
      fastly-ratelimit-reset:
      - '1556118000'
      status:
      - 200 OK
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://api.fastly.com/service/7AG8FgHl3LQBBzv0C8iAS6/version/4/activate
  response:
    body:
      string: !!python/unicode '{"testing":false,"locked":true,"number":4,"active":true,"service_id":"7AG8FgHl3LQBBzv0C8iAS6","staging":false,"created_at":"2019-04-24T14:15:52Z","deleted_at":null,"comment":"","updated_at":"2019-04-24T14:16:07Z","deployed":false,"msg":null}'
    headers:
      content-type:
      - application/json
      fastly-ratelimit-remaining:
      - '781'
      fastly-ratelimit-reset:
      - '1556118000'
      status:
      - 200 OK
    status:
      code: 200
      message: OK
[...]
