interactions:
- request:
    body: null
    headers:
      Content-Type: [application/json]
    method: GET
    uri: https://api.fastly.com/service/search?name=Fastly%20Ansible%20Module%20Test
  response:
    body: {string: !!python/unicode '{"name":"Fastly Ansible Module Test","deleted_at":null,"versions":[{"testing":false,"locked":false,"number":1,"active":false,"service_id":"ZDMiqI6NfK1aDlfYljQey","staging":false,"created_at":"2017-07-03T14:22:41+00:00","deleted_at":null,"comment":"","updated_at":"2017-07-03T14:22:41+00:00","deployed":false},{"testing":false,"locked":true,"number":2,"active":false,"service_id":"ZDMiqI6NfK1aDlfYljQey","staging":false,"created_at":"2017-07-03T14:22:42+00:00","deleted_at":null,"comment":"","updated_at":"2017-07-03T14:22:52+00:00","deployed":false},{"testing":false,"number":3,"service_id":"ZDMiqI6NfK1aDlfYljQey","staging":false,"deployed":false,"locked":true,"active":true,"comment":""}],"created_at":"2017-07-03T14:22:41+00:00","customer_id":"15DqjG1ON0S28gluYrATvC","comment":"","updated_at":"2017-07-03T14:22:41+00:00","id":"ZDMiqI6NfK1aDlfYljQey"}'}
    headers:
      content-type: [application/json]
      status: [200 OK]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json]
    method: GET
    uri: https://api.fastly.com/service/ZDMiqI6NfK1aDlfYljQey/details
  response:
    body: {string: !!python/unicode '{"name":"Fastly Ansible Module Test","deleted_at":null,"versions":[{"testing":false,"locked":false,"number":1,"active":false,"service_id":"ZDMiqI6NfK1aDlfYljQey","staging":false,"created_at":"2017-07-03T14:22:41+00:00","deleted_at":null,"comment":"","updated_at":"2017-07-03T14:22:41+00:00","deployed":false},{"testing":false,"locked":true,"number":2,"active":false,"service_id":"ZDMiqI6NfK1aDlfYljQey","staging":false,"created_at":"2017-07-03T14:22:42+00:00","deleted_at":null,"comment":"","updated_at":"2017-07-03T14:22:52+00:00","deployed":false},{"testing":false,"locked":true,"number":3,"active":true,"service_id":"ZDMiqI6NfK1aDlfYljQey","staging":false,"created_at":"2017-07-03T14:22:48+00:00","deleted_at":null,"comment":"","updated_at":"2017-07-03T14:22:52+00:00","deployed":false}],"created_at":"2017-07-03T14:22:41+00:00","customer_id":"15DqjG1ON0S28gluYrATvC","comment":"","updated_at":"2017-07-03T14:22:41+00:00","id":"ZDMiqI6NfK1aDlfYljQey","version":{"testing":false,"number":3,"service_id":"ZDMiqI6NfK1aDlfYljQey","staging":false,"updated_at":"2017-07-03T14:22:52+00:00","deployed":false,"locked":true,"active":true,"deleted_at":null,"created_at":"2017-07-03T14:22:48+00:00","comment":"","acls":[],"backends":[{"max_tls_version":null,"ssl_ca_cert":null,"auto_loadbalance":false,"ssl_check_cert":true,"shield":null,"hostname":null,"ssl_client_cert":null,"error_threshold":0,"request_condition":"","first_byte_timeout":15000,"ssl_cert_hostname":null,"weight":100,"client_cert":null,"address":"127.0.0.1","ssl_hostname":null,"ssl_sni_hostname":null,"min_tls_version":null,"ipv6":null,"ipv4":"127.0.0.1","connect_timeout":1000,"ssl_ciphers":null,"name":"localhost","healthcheck":null,"port":80,"max_conn":200,"use_ssl":false,"comment":"","between_bytes_timeout":10000,"ssl_client_key":null}],"cache_settings":[{"stale_ttl":"0","ttl":null,"name":"cache-settings-config-name","action":null,"cache_condition":""}],"conditions":[],"dictionaries":[],"directors":[],"domains":[{"comment":"","name":"example7000.com"}],"gzips":[],"headers":[{"priority":"100","src":"\"https://u.jimcdn.com\"
        req.url.path","name":"Set Location header","substitution":"","ignore_if_set":"0","cache_condition":null,"request_condition":null,"regex":"","response_condition":null,"action":"set","type":"response","dst":"http.Location"}],"healthchecks":[],"request_settings":[],"response_objects":[{"request_condition":"","content_type":null,"status":"200","response":"Ok","name":"Set
        200 status code","content":null,"cache_condition":""}],"snippets":[],"vcls":[],"wordpress":[],"settings":{"general.default_ttl":3600,"general.default_host":"","general.default_pci":0}},"active_version":{"testing":false,"number":3,"service_id":"ZDMiqI6NfK1aDlfYljQey","staging":false,"updated_at":"2017-07-03T14:22:52+00:00","deployed":false,"locked":true,"active":true,"deleted_at":null,"created_at":"2017-07-03T14:22:48+00:00","comment":"","acls":[],"backends":[{"max_tls_version":null,"ssl_ca_cert":null,"auto_loadbalance":false,"ssl_check_cert":true,"shield":null,"hostname":null,"ssl_client_cert":null,"error_threshold":0,"request_condition":"","first_byte_timeout":15000,"ssl_cert_hostname":null,"[...]
- request:
    body: null
    headers:
      Content-Type: [application/json]
    method: POST
    uri: https://api.fastly.com/service/ZDMiqI6NfK1aDlfYljQey/version
  response:
    body: {string: !!python/unicode '{"service_id":"ZDMiqI6NfK1aDlfYljQey","number":4}'}
    headers:
      content-type: [application/json]
      fastly-ratelimit-remaining: ['788']
      fastly-ratelimit-reset: ['1499094000']
      status: [200 OK]
    status: {code: 200, message: OK}
- request:
    body: !!python/unicode '{"comment": "", "name": "example7000.com"}'
    headers:
      Content-Type: [application/json]
    method: POST
    uri: https://api.fastly.com/service/ZDMiqI6NfK1aDlfYljQey/version/4/domain
  response:
    body: {string: !!python/unicode '{"comment":"","name":"example7000.com","service_id":"ZDMiqI6NfK1aDlfYljQey","version":4,"deleted_at":null,"created_at":"2017-07-03T14:22:55+00:00","updated_at":"2017-07-03T14:22:55+00:00"}'}
    headers:
      content-type: [application/json]
      fastly-ratelimit-remaining: ['787']
      fastly-ratelimit-reset: ['1499094000']
      status: [200 OK]
    status: {code: 200, message: OK}
- request:
    body: !!python/unicode '{"comment": "", "priority": "0", "type": "REQUEST", "name":
      "condition-name", "statement": "req.url ~ \"^/robots.txt\""}'
    headers:
      Content-Type: [application/json]
    method: POST
    uri: https://api.fastly.com/service/ZDMiqI6NfK1aDlfYljQey/version/4/condition
  response:
    body: {string: !!python/unicode '{"comment":"","priority":"0","type":"REQUEST","name":"condition-name","statement":"req.url
        ~ \"^/robots.txt\"","service_id":"ZDMiqI6NfK1aDlfYljQey","version":"4","deleted_at":null,"created_at":"2017-07-03T14:22:55+00:00","updated_at":"2017-07-03T14:22:55+00:00"}'}
    headers:
      content-type: [application/json]
      fastly-ratelimit-remaining: ['786']
      fastly-ratelimit-reset: ['1499094000']
      status: [200 OK]
    status: {code: 200, message: OK}
- request:
    body: !!python/unicode '{"ssl_ca_cert": null, "request_condition": "", "name":
      "localhost", "address": "127.0.0.1", "port": 80, "ssl_hostname": null}'
    headers:
      Content-Type: [application/json]
    method: POST
    uri: https://api.fastly.com/service/ZDMiqI6NfK1aDlfYljQey/version/4/backend
  response:
    body: {string: !!python/unicode '{"ssl_ca_cert":null,"request_condition":"","name":"localhost","address":"127.0.0.1","port":80,"ssl_hostname":null,"service_id":"ZDMiqI6NfK1aDlfYljQey","version":4,"max_tls_version":null,"ssl_client_cert":null,"hostname":null,"error_threshold":0,"first_byte_timeout":15000,"client_cert":null,"weight":100,"updated_at":"2017-07-03T14:22:56+00:00","connect_timeout":1000,"ipv4":"127.0.0.1","ssl_ciphers":null,"between_bytes_timeout":10000,"ssl_client_key":null,"auto_loadbalance":false,"ssl_check_cert":true,"shield":null,"ssl_cert_hostname":null,"ssl_sni_hostname":null,"min_tls_version":null,"ipv6":null,"deleted_at":null,"healthcheck":null,"max_conn":200,"use_ssl":false,"created_at":"2017-07-03T14:22:56+00:00","comment":""}'}
    headers:
      content-type: [application/json]
      fastly-ratelimit-remaining: ['785']
      fastly-ratelimit-reset: ['1499094000']
      status: [200 OK]
    status: {code: 200, message: OK}
- request:
    body: !!python/unicode '{"ignore_if_set": "0", "regex": "", "request_condition":
      null, "name": "Set Location header", "src": "\"https://u.jimcdn.com\" req.url.path",
      "dst": "http.Location", "priority": "100", "substitution": "", "action": "set",
      "type": "response", "response_condition": null}'
    headers:
      Content-Type: [application/json]
    method: POST
    uri: https://api.fastly.com/service/ZDMiqI6NfK1aDlfYljQey/version/4/header
  response:
    body: {string: !!python/unicode '{"ignore_if_set":"0","regex":"","request_condition":null,"name":"Set
        Location header","src":"\"https://u.jimcdn.com\" req.url.path","dst":"http.Location","priority":"100","substitution":"","action":"set","type":"response","response_condition":null,"service_id":"ZDMiqI6NfK1aDlfYljQey","version":"4","updated_at":"2017-07-03T14:22:56+00:00","deleted_at":null,"cache_condition":null,"created_at":"2017-07-03T14:22:56+00:00"}'}
    headers:
      content-type: [application/json]
      fastly-ratelimit-remaining: ['784']
      fastly-ratelimit-reset: ['1499094000']
      status: [200 OK]
    status: {code: 200, message: OK}
- request:
    body: !!python/unicode '{"status": "200", "request_condition": "", "name": "Set
      200 status code", "response": "Ok"}'
    headers:
      Content-Type: [application/json]
    method: POST
    uri: https://api.fastly.com/service/ZDMiqI6NfK1aDlfYljQey/version/4/response_object
  response:
    body: {string: !!python/unicode '{"status":"200","request_condition":"","name":"Set
        200 status code","response":"Ok","service_id":"ZDMiqI6NfK1aDlfYljQey","version":"4","content":null,"deleted_at":null,"cache_condition":"","created_at":"2017-07-03T14:22:57+00:00","content_type":null,"updated_at":"2017-07-03T14:22:57+00:00"}'}
    headers:
      content-type: [application/json]
      fastly-ratelimit-remaining: ['783']
      fastly-ratelimit-reset: ['1499094000']
      status: [200 OK]
    status: {code: 200, message: OK}
- request:
    body: !!python/unicode '{"general.default_ttl": 3600}'
    headers:
      Content-Type: [application/json]
    method: PUT
    uri: https://api.fastly.com/service/ZDMiqI6NfK1aDlfYljQey/version/4/settings
  response:
    body: {string: !!python/unicode '{"general.default_ttl":3600,"version":4,"general.default_host":"","general.default_pci":0,"service_id":"ZDMiqI6NfK1aDlfYljQey"}'}
    headers:
      content-type: [application/json]
      fastly-ratelimit-remaining: ['782']
      fastly-ratelimit-reset: ['1499094000']
      status: [200 OK]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json]
    method: PUT
    uri: https://api.fastly.com/service/ZDMiqI6NfK1aDlfYljQey/version/4/activate
  response:
    body: {string: !!python/unicode '{"testing":false,"locked":true,"number":4,"active":true,"service_id":"ZDMiqI6NfK1aDlfYljQey","staging":false,"created_at":"2017-07-03T14:22:54+00:00","deleted_at":null,"comment":"","updated_at":"2017-07-03T14:22:57+00:00","deployed":false,"msg":null}'}
    headers:
      content-type: [application/json]
      fastly-ratelimit-remaining: ['781']
      fastly-ratelimit-reset: ['1499094000']
      status: [200 OK]
    status: {code: 200, message: OK}
[...]
