interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fastly.com/service/search?name=Fastly%20Ansible%20Module%20Test
  response:
    body:
      string: !!python/unicode '{"name":"Fastly Ansible Module Test","deleted_at":null,"versions":[{"testing":false,"locked":false,"number":1,"active":false,"service_id":"0HQSfYzeTzSBfSMRIhYeXY","staging":false,"created_at":"2019-04-24T14:17:24Z","deleted_at":null,"comment":"","updated_at":"2019-04-24T14:17:24Z","deployed":false},{"testing":false,"staging":false,"updated_at":"2019-04-24T14:17:39Z","active":true,"number":2,"service_id":"0HQSfYzeTzSBfSMRIhYeXY","deployed":false,"locked":true,"deleted_at":null,"created_at":"2019-04-24T14:17:25Z","comment":""}],"created_at":"2019-04-24T14:17:24Z","customer_id":"4NTmXUwFuuC5U0iJUrdEHr","comment":"","updated_at":"2019-04-24T14:17:24Z","id":"0HQSfYzeTzSBfSMRIhYeXY"}'
    headers:
      content-type:
      - application/json
      status:
      - 200 OK
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fastly.com/service/0HQSfYzeTzSBfSMRIhYeXY/details
  response:
    body:
      string: !!python/unicode '{"name":"Fastly Ansible Module Test","deleted_at":null,"versions":[{"active":false,"locked":false,"service_id":"0HQSfYzeTzSBfSMRIhYeXY","updated_at":"2019-04-24T14:17:24Z","created_at":"2019-04-24T14:17:24Z","staging":false,"deployed":false,"number":1,"testing":false,"comment":"","deleted_at":null},{"locked":true,"created_at":"2019-04-24T14:17:25Z","service_id":"0HQSfYzeTzSBfSMRIhYeXY","updated_at":"2019-04-24T14:17:39Z","active":true,"comment":"","testing":false,"deployed":false,"number":2,"deleted_at":null,"staging":false}],"created_at":"2019-04-24T14:17:24Z","customer_id":"4NTmXUwFuuC5U0iJUrdEHr","comment":"","updated_at":"2019-04-24T14:17:24Z","id":"0HQSfYzeTzSBfSMRIhYeXY","version":{"testing":false,"staging":false,"updated_at":"2019-04-24T14:17:39Z","active":true,"number":2,"service_id":"0HQSfYzeTzSBfSMRIhYeXY","deployed":false,"locked":true,"deleted_at":null,"created_at":"2019-04-24T14:17:25Z","comment":"","acls":[],"backends":[{"max_tls_version":null,"ssl_ca_cert":null,"auto_loadbalance":false,"ssl_check_cert":true,"shield":null,"override_host":null,"hostname":null,"ssl_client_cert":null,"error_threshold":0,"request_condition":"","first_byte_timeout":15000,"ssl_cert_hostname":null,"weight":100,"client_cert":null,"address":"127.0.0.1","ssl_hostname":null,"ssl_sni_hostname":null,"min_tls_version":null,"ipv6":null,"ipv4":"127.0.0.1","connect_timeout":1000,"ssl_ciphers":null,"name":"localhost","healthcheck":null,"port":80,"max_conn":200,"use_ssl":false,"comment":"","between_bytes_timeout":10000,"ssl_client_key":null}],"cache_settings":[],"conditions":[],"dictionaries":[],"directors":[],"domains":[{"comment":"","name":"example8000.com"}],"gzips":[],"headers":[{"priority":"100","src":"\"https://u.jimcdn.com\"
        req.url.path","name":"Set Location header","substitution":"","ignore_if_set":"0","cache_condition":null,"request_condition":null,"regex":"","response_condition":null,"action":"set","type":"response","dst":"http.Location"}],"healthchecks":[],"request_settings":[],"response_objects":[{"request_condition":"","content_type":"","status":"200","response":"Ok","name":"Set
        200 status code","content":"","cache_condition":""}],"snippets":[],"vcls":[],"wordpress":[],"settings":{"general.stale_if_error_ttl":43200,"general.stale_if_error":false,"general.default_ttl":3600,"general.default_host":"","general.default_pci":0}},"active_version":{"testing":false,"staging":false,"updated_at":"2019-04-24T14:17:39Z","active":true,"number":2,"service_id":"0HQSfYzeTzSBfSMRIhYeXY","deployed":false,"locked":true,"deleted_at":null,"created_at":"2019-04-24T14:17:25Z","comment":"","acls":[],"backends":[{"max_tls_version":null,"ssl_ca_cert":null,"auto_loadbalance":false,"ssl_check_cert":true,"shield":null,"override_host":null,"hostname":null,"ssl_client_cert":null,"error_threshold":0,"request_condition":"","first_byte_timeout":15000,"ssl_cert_host[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://api.fastly.com/service/0HQSfYzeTzSBfSMRIhYeXY/version/2/clone
  response:
    body:
      string: !!python/unicode '{"comment":"","deployed":false,"number":3,"testing":false,"deleted_at":null,"service_id":"0HQSfYzeTzSBfSMRIhYeXY","staging":false,"locked":false,"created_at":"2019-04-24T14:17:25Z","updated_at":"2019-04-24T14:17:39Z","active":false}'
    headers:
      content-type:
      - application/json
      fastly-ratelimit-remaining:
      - '738'
      fastly-ratelimit-reset:
      - '1556118000'
      status:
      - 200 OK
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fastly.com/service/0HQSfYzeTzSBfSMRIhYeXY/version/3/domain
  response:
    body:
      string: !!python/unicode '[{"version":3,"comment":"","service_id":"0HQSfYzeTzSBfSMRIhYeXY","created_at":"2019-04-24T14:17:34Z","deleted_at":null,"updated_at":"2019-04-24T14:17:43Z","name":"example8000.com"}]'
    headers:
      content-type:
      - application/json
      status:
      - 200 OK
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fastly.com/service/0HQSfYzeTzSBfSMRIhYeXY/version/3/healthcheck
  response:
    body:
      string: !!python/unicode '[]'
    headers:
      content-type:
      - application/json
      status:
      - 200 OK
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fastly.com/service/0HQSfYzeTzSBfSMRIhYeXY/version/3/condition
  response:
    body:
      string: !!python/unicode '[]'
    headers:
      content-type:
      - application/json
      status:
      - 200 OK
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fastly.com/service/0HQSfYzeTzSBfSMRIhYeXY/version/3/backend
  response:
    body:
      string: !!python/unicode '[{"weight":100,"service_id":"0HQSfYzeTzSBfSMRIhYeXY","client_cert":null,"ssl_hostname":null,"name":"localhost","ipv6":null,"deleted_at":null,"ssl_sni_hostname":null,"hostname":null,"created_at":"2019-04-24T14:17:35Z","error_threshold":0,"ipv4":"127.0.0.1","comment":"","auto_loadbalance":false,"shield":null,"ssl_check_cert":true,"ssl_ca_cert":null,"address":"127.0.0.1","min_tls_version":null,"max_tls_version":null,"connect_timeout":1000,"ssl_client_cert":null,"between_bytes_timeout":10000,"use_ssl":false,"ssl_ciphers":null,"healthcheck":null,"max_conn":200,"ssl_client_key":null,"first_byte_timeout":15000,"version":3,"request_condition":"","port":80,"override_host":null,"updated_at":"2019-04-24T14:17:43Z","ssl_cert_hostname":null}]'
    headers:
      content-type:
      - application/json
      status:
      - 200 OK
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fastly.com/service/0HQSfYzeTzSBfSMRIhYeXY/version/3/director
  response:
    body:
      string: !!python/unicode '[]'
    headers:
      content-type:
      - application/json
      status:
      - 200 OK
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fastly.com/service/0HQSfYzeTzSBfSMRIhYeXY/version/3/cache_settings
  response:
    body:
      string: !!python/unicode '[]'
    headers:
      content-type:
      - application/json
      status:
      - 200 OK
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fastly.com/service/0HQSfYzeTzSBfSMRIhYeXY/version/3/gzip
  response:
    body:
      string: !!python/unicode '[]'
    headers:
      content-type:
      - application/json
      status:
      - 200 OK
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fastly.com/service/0HQSfYzeTzSBfSMRIhYeXY/version/3/header
  response:
    body:
      string: !!python/unicode '[{"priority":"100","service_id":"0HQSfYzeTzSBfSMRIhYeXY","ignore_if_set":"0","request_condition":null,"response_condition":null,"updated_at":"2019-04-24T14:17:43Z","version":"3","src":"\"https://u.jimcdn.com\"
        req.url.path","name":"Set Location header","deleted_at":null,"substitution":"","cache_condition":null,"created_at":"2019-04-24T14:17:36Z","regex":"","action":"set","type":"response","dst":"http.Location"}]'
    headers:
      content-type:
      - application/json
      status:
      - 200 OK
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fastly.com/service/0HQSfYzeTzSBfSMRIhYeXY/version/3/request_settings
  response:
    body:
      string: !!python/unicode '[]'
    headers:
      content-type:
      - application/json
      status:
      - 200 OK
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fastly.com/service/0HQSfYzeTzSBfSMRIhYeXY/version/3/response_object
  response:
    body:
      string: !!python/unicode '[{"version":"3","request_condition":"","content":"","content_type":"","service_id":"0HQSfYzeTzSBfSMRIhYeXY","deleted_at":null,"created_at":"2019-04-24T14:17:36Z","response":"Ok","cache_condition":"","name":"Set
        200 status code","status":"200","updated_at":"2019-04-24T14:17:43Z"}]'
    headers:
      content-type:
      - application/json
      status:
      - 200 OK
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fastly.com/service/0HQSfYzeTzSBfSMRIhYeXY/version/3/snippet
  response:
    body:
      string: !!python/unicode '[]'
    headers:
      content-type:
      - application/json
      status:
      - 200 OK
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fastly.com/service/0HQSfYzeTzSBfSMRIhYeXY/version/3/logging/s3
  response:
    body:
      string: !!python/unicode '[]'
    headers:
      content-type:
      - application/json
      status:
      - 200 OK
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fastly.com/service/0HQSfYzeTzSBfSMRIhYeXY/version/3/logging/syslog
  response:
    body:
      string: !!python/unicode '[]'
    headers:
      content-type:
      - application/json
      status:
      - 200 OK
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fastly.com/service/0HQSfYzeTzSBfSMRIhYeXY/version/3/logging/cloudfiles
  response:
    body:
      string: !!python/unicode '[]'
    headers:
      content-type:
      - application/json
      status:
      - 200 OK
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.fastly.com/service/0HQSfYzeTzSBfSMRIhYeXY/version/3/domain/example8000.com
  response:
    body:
      string: !!python/unicode '{"status":"ok"}'
    headers:
      content-type:
      - application/json
      fastly-ratelimit-remaining:
      - '737'
      fastly-ratelimit-reset:
      - '1556118000'
      status:
      - 200 OK
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.fastly.com/service/0HQSfYzeTzSBfSMRIhYeXY/version/3/backend/localhost
  response:
    body:
      string: !!python/unicode '{"status":"ok"}'
    headers:
      content-type:
      - application/json
      fastly-ratelimit-remaining:
      - '736'
      fastly-ratelimit-reset:
      - '1556118000'
      status:
      - 200 OK
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.fastly.com/service/0HQSfYzeTzSBfSMRIhYeXY/version/3/header/Set%20Location%20header
  response:
    body:
      string: !!python/unicode '{"status":"ok"}'
    headers:
      content-type:
      - application/json
      fastly-ratelimit-remaining:
      - '735'
      fastly-ratelimit-reset:
      - '1556118000'
      status:
      - 200 OK
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.fastly.com/service/0HQSfYzeTzSBfSMRIhYeXY/version/3/response_object/Set%20200%20status%20code
  response:
    body:
      string: !!python/unicode '{"status":"ok"}'
    headers:
      content-type:
      - application/json
      fastly-ratelimit-remaining:
      - '734'
      fastly-ratelimit-reset:
      - '1556118000'
      status:
      - 200 OK
    status:
      code: 200
      message: OK
[...]
- request:
    body: !!python/unicode '{"tls_ca_cert": null, "placement": null, "name": "test_syslog",
      "format_version": 2, "format": "%h %l %u %t \"%r\" %>s %b", "hostname": "syslog.example.com",
      "use_tls": 0, "tls_hostname": null, "token": "[abc 123]", "address": "syslog.example.com",
      "message_type": "classic", "port": 514, "response_condition": null}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fastly.com/service/0HQSfYzeTzSBfSMRIhYeXY/version/3/logging/syslog
  response:
    body:
      string: !!python/unicode '{"tls_ca_cert":null,"placement":null,"name":"test_syslog","format_version":"2","format":"%h
        %l %u %t \"%r\" %\u003es %b","hostname":"syslog.example.com","use_tls":"0","tls_hostname":null,"token":"[abc
        123]","address":"syslog.example.com","message_type":"classic","port":514,"response_condition":"","service_id":"0HQSfYzeTzSBfSMRIhYeXY","version":"3","deleted_at":null,"updated_at":"2019-04-24T14:17:58Z","public_key":null,"ipv4":null,"created_at":"2019-04-24T14:17:58Z"}'
    headers:
      content-type:
      - application/json
      fastly-ratelimit-remaining:
      - '729'
      fastly-ratelimit-reset:
      - '1556118000'
      status:
      - 200 OK
    status:
      code: 200
      message: OK
- request:
    body: !!python/unicode '{"general.default_ttl": 3600}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://api.fastly.com/service/0HQSfYzeTzSBfSMRIhYeXY/version/3/settings
  response:
    body:
      string: !!python/unicode '{"general.stale_if_error_ttl":43200,"general.stale_if_error":false,"general.default_ttl":3600,"version":3,"general.default_host":"","general.default_pci":0,"service_id":"0HQSfYzeTzSBfSMRIhYeXY"}'
    headers:
      content-type:
      - application/json
      fastly-ratelimit-remaining:
      - '728'
      fastly-ratelimit-reset:
      - '1556118000'
      status:
      - 200 OK
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://api.fastly.com/service/0HQSfYzeTzSBfSMRIhYeXY/version/3/activate
  response:
    body:
      string: !!python/unicode '{"testing":false,"locked":true,"number":3,"active":true,"service_id":"0HQSfYzeTzSBfSMRIhYeXY","staging":false,"created_at":"2019-04-24T14:17:43Z","deleted_at":null,"comment":"","updated_at":"2019-04-24T14:17:59Z","deployed":false,"msg":null}'
    headers:
      content-type:
      - application/json
      fastly-ratelimit-remaining:
      - '727'
      fastly-ratelimit-reset:
      - '1556118000'
      status:
      - 200 OK
    status:
      code: 200
      message: OK
[...]
