interactions:
- request:
    body: null
    headers:
      Content-Type: [application/json]
    method: GET
    uri: https://api.fastly.com/service/search?name=Fastly%20Ansible%20Module%20Test
  response:
    body: {string: !!python/unicode '{"name":"Fastly Ansible Module Test","deleted_at":null,"versions":[{"testing":false,"locked":false,"number":1,"active":false,"service_id":"2oL565TUOZAf5KZHlWhOV3","staging":false,"created_at":"2016-06-29T15:58:46+00:00","deleted_at":null,"comment":"","updated_at":"2016-06-29T15:58:46+00:00","deployed":false},{"testing":false,"locked":false,"number":2,"active":false,"service_id":"2oL565TUOZAf5KZHlWhOV3","staging":false,"created_at":"2016-06-29T15:58:46+00:00","deleted_at":null,"comment":"","updated_at":"2016-06-29T15:58:46+00:00","deployed":false},{"testing":false,"locked":true,"number":3,"active":false,"service_id":"2oL565TUOZAf5KZHlWhOV3","staging":false,"created_at":"2016-06-29T16:00:31+00:00","deleted_at":null,"comment":"","updated_at":"2016-08-31T07:57:41+00:00","deployed":false},{"testin[...]
- request:
    body: null
    headers:
      Content-Type: [application/json]
    method: GET
    uri: https://api.fastly.com/service/2oL565TUOZAf5KZHlWhOV3/details
  response:
    body: {string: !!python/unicode '{"name":"Fastly Ansible Module Test","deleted_at":null,"versions":[{"testing":false,"locked":false,"number":1,"active":false,"service_id":"2oL565TUOZAf5KZHlWhOV3","staging":false,"created_at":"2016-06-29T15:58:46+00:00","deleted_at":null,"comment":"","updated_at":"2016-06-29T15:58:46+0[...]
- request:
    body: null
    headers:
      Content-Type: [application/json]
    method: POST
    uri: https://api.fastly.com/service/2oL565TUOZAf5KZHlWhOV3/version
  response:
    body: {string: !!python/unicode '{"service_id":"2oL565TUOZAf5KZHlWhOV3","number":12}'}
    headers:
      content-type: [application/json]
      fastly-ratelimit-remaining: ['952']
      fastly-ratelimit-reset: ['1472634000']
      status: [200 OK]
    status: {code: 200, message: OK}
- request:
    body: !!python/unicode '{"comment": "", "name": "example7000.com"}'
    headers:
      Content-Type: [application/json]
    method: POST
    uri: https://api.fastly.com/service/2oL565TUOZAf5KZHlWhOV3/version/12/domain
  response:
    body: {string: !!python/unicode '{"comment":"","name":"example7000.com","service_id":"2oL565TUOZAf5KZHlWhOV3","version":12,"deleted_at":null,"created_at":"2016-08-31T08:49:23+00:00","updated_at":"2016-08-31T08:49:23+00:00"}'}
    headers:
      content-type: [application/json]
      fastly-ratelimit-remaining: ['951']
      fastly-ratelimit-reset: ['1472634000']
      status: [200 OK]
    status: {code: 200, message: OK}
- request:
    body: !!python/unicode '{"address": "127.0.0.1", "name": "localhost", "port":
      80}'
    headers:
      Content-Type: [application/json]
    method: POST
    uri: https://api.fastly.com/service/2oL565TUOZAf5KZHlWhOV3/version/12/backend
  response:
    body: {string: !!python/unicode '{"address":"127.0.0.1","name":"localhost","port":80,"service_id":"2oL565TUOZAf5KZHlWhOV3","version":12,"max_tls_version":null,"ssl_client_cert":null,"hostname":null,"error_threshold":0,"first_byte_timeout":15000,"client_cert":null,"weight":100,"updated_at":"2016-08-31T08:49:23+00:00","connect_timeout":1000,"ipv4":"127.0.0.1","ssl_ciphers":null,"between_bytes_timeout":10000,"ssl_client_key":null,"ssl_ca_cert":null,"auto_loadbalance":false,"ssl_check_cert":true,"shield":null,"request_condition":"","ssl_cert_hostname":null,"ssl_hostname":null,"ssl_sni_hostname":null,"min_tls_version":null,"ipv6":null,"deleted_at":null,"healthcheck":null,"max_conn":200,"use_ssl":false,"created_at":"2016-08-31T08:49:23+00:00","comment":""}'}
    headers:
      content-type: [application/json]
      fastly-ratelimit-remaining: ['950']
      fastly-ratelimit-reset: ['1472634000']
      status: [200 OK]
    status: {code: 200, message: OK}
- request:
    body: !!python/unicode '{"comment": "", "priority": "0", "type": "REQUEST", "name":
      "condition-name", "statement": "req.url ~ \"^/robots.txt\""}'
    headers:
      Content-Type: [application/json]
    method: POST
    uri: https://api.fastly.com/service/2oL565TUOZAf5KZHlWhOV3/version/12/condition
  response:
    body: {string: !!python/unicode '{"comment":"","priority":"0","type":"REQUEST","name":"condition-name","statement":"req.url
        ~ \"^/robots.txt\"","service_id":"2oL565TUOZAf5KZHlWhOV3","version":"12","deleted_at":null,"created_at":"2016-08-31T08:49:24+00:00","updated_at":"2016-08-31T08:49:24+00:00"}'}
    headers:
      content-type: [application/json]
      fastly-ratelimit-remaining: ['949']
      fastly-ratelimit-reset: ['1472634000']
      status: [200 OK]
    status: {code: 200, message: OK}
- request:
    body: !!python/unicode '{"ignore_if_set": "0", "src": "\"https://u.jimcdn.com\"
      req.url.path", "name": "Set Location header", "dst": "http.Location", "priority":
      "100", "action": "set", "type": "response"}'
    headers:
      Content-Type: [application/json]
    method: POST
    uri: https://api.fastly.com/service/2oL565TUOZAf5KZHlWhOV3/version/12/header
  response:
    body: {string: !!python/unicode '{"ignore_if_set":"0","src":"\"https://u.jimcdn.com\"
        req.url.path","name":"Set Location header","dst":"http.Location","priority":"100","action":"set","type":"response","service_id":"2oL565TUOZAf5KZHlWhOV3","version":"12","request_condition":null,"response_condition":null,"updated_at":"2016-08-31T08:49:24+00:00","deleted_at":null,"substitution":"","cache_condition":null,"created_at":"2016-08-31T08:49:24+00:00","regex":""}'}
    headers:
      content-type: [application/json]
      fastly-ratelimit-remaining: ['948']
      fastly-ratelimit-reset: ['1472634000']
      status: [200 OK]
    status: {code: 200, message: OK}
- request:
    body: !!python/unicode '{"status": "200", "name": "Set 200 status code", "response":
      "Ok"}'
    headers:
      Content-Type: [application/json]
    method: POST
    uri: https://api.fastly.com/service/2oL565TUOZAf5KZHlWhOV3/version/12/response_object
  response:
    body: {string: !!python/unicode '{"status":"200","name":"Set 200 status code","response":"Ok","service_id":"2oL565TUOZAf5KZHlWhOV3","version":"12","content":null,"deleted_at":null,"cache_condition":"","created_at":"2016-08-31T08:49:24+00:00","content_type":null,"request_condition":"","updated_at":"2016-08-31T08:49:24+00:00"}'}
    headers:
      content-type: [application/json]
      fastly-ratelimit-remaining: ['947']
      fastly-ratelimit-reset: ['1472634000']
      status: [200 OK]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json]
    method: PUT
    uri: https://api.fastly.com/service/2oL565TUOZAf5KZHlWhOV3/version/12/activate
  response:
    body: {string: !!python/unicode '{"testing":false,"locked":true,"number":12,"active":true,"service_id":"2oL565TUOZAf5KZHlWhOV3","staging":false,"created_at":"2016-08-31T08:49:21+00:00","deleted_at":null,"comment":"","updated_at":"2016-08-31T08:49:21+00:00","deployed":false,"msg":null}'}
    headers:
      content-type: [application/json]
      fastly-ratelimit-remaining: ['946']
      fastly-ratelimit-reset: ['1472634000']
      status: [200 OK]
    status: {code: 200, message: OK}
[...]
