interactions:
- request:
    body: null
    headers:
      Content-Type: [application/json]
    method: GET
    uri: https://api.fastly.com/service/search?name=Fastly%20Ansible%20Module%20Test
  response:
    body: {string: !!python/unicode '{"msg":"Record not found","detail":"Cannot load
        service ''1z3ENiEMpKOrsGqTBLhkF2''-''Fastly Ansible Module Test''"}'}
    headers:
      content-type: [application/json]
      status: [404 Not Found]
    status: {code: 404, message: Not Found}
- request:
    body: !!python/unicode '{"name": "Fastly Ansible Module Test"}'
    headers:
      Content-Type: [application/json]
    method: POST
    uri: https://api.fastly.com/service
  response:
    body: {string: !!python/unicode '{"customer_id":"1z3ENiEMpKOrsGqTBLhkF2","name":"Fastly
        Ansible Module Test","publish_key":"8eeb74896ba09f61324f0ff5b4cad695a9a89712","versions":[{"testing":false,"locked":false,"number":1,"active":false,"service_id":"HZGOu3cF6xdLM0Nj580TY","staging":false,"created_at":"2017-09-27T00:37:26+00:00","deleted_at":null,"comment":"","updated_at":"2017-09-27T00:37:26+00:00","deployed":false}],"deleted_at":null,"created_at":"2017-09-27T00:37:26+00:00","comment":"","updated_at":"2017-09-27T00:37:26+00:00","id":"HZGOu3cF6xdLM0Nj580TY"}'}
    headers:
      content-type: [application/json]
      fastly-ratelimit-remaining: ['929']
      fastly-ratelimit-reset: ['1506474000']
      status: [200 OK]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json]
    method: GET
    uri: https://api.fastly.com/service/HZGOu3cF6xdLM0Nj580TY/details
  response:
    body: {string: !!python/unicode '{"name":"Fastly Ansible Module Test","deleted_at":null,"versions":[{"testing":false,"locked":false,"number":1,"active":false,"service_id":"HZGOu3cF6xdLM0Nj580TY","staging":false,"created_at":"2017-09-27T00:37:26+00:00","deleted_at":null,"comment":"","updated_at":"2017-09-27T00:37:26+00:00","deployed":false}],"created_at":"2017-09-27T00:37:26+00:00","customer_id":"1z3ENiEMpKOrsGqTBLhkF2","comment":"","updated_at":"2017-09-27T00:37:26+00:00","id":"HZGOu3cF6xdLM0Nj580TY","version":{"testing":false,"number":1,"service_id":"HZGOu3cF6xdLM0Nj580TY","staging":false,"updated_at":"2017-09-27T00:37:26+00:00","deployed":false,"locked":false,"active":false,"deleted_at":null,"created_at":"2017-09-27T00:37:26+00:00","comment":"","acls":[],"backends":[],"cache_settings":[],"conditions":[],"dictionaries":[],"directors":[],"domains":[],"gzips":[],"headers":[],"healthchecks":[],"request_settings":[],"response_objects":[],"snippets":[],"vcls":[],"wordpress":[],"settings":{"general.default_ttl":3600,"general.default_host":"","general.default_pci":0}},"active_version":null}'}
    headers:
      content-type: [application/json]
      status: [200 OK]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json]
    method: POST
    uri: https://api.fastly.com/service/HZGOu3cF6xdLM0Nj580TY/version
  response:
    body: {string: !!python/unicode '{"service_id":"HZGOu3cF6xdLM0Nj580TY","number":2}'}
    headers:
      content-type: [application/json]
      fastly-ratelimit-remaining: ['928']
      fastly-ratelimit-reset: ['1506474000']
      status: [200 OK]
    status: {code: 200, message: OK}
- request:
    body: !!python/unicode '{"comment": "", "name": "example8000.com"}'
    headers:
      Content-Type: [application/json]
    method: POST
    uri: https://api.fastly.com/service/HZGOu3cF6xdLM0Nj580TY/version/2/domain
  response:
    body: {string: !!python/unicode '{"comment":"","name":"example8000.com","service_id":"HZGOu3cF6xdLM0Nj580TY","version":2,"deleted_at":null,"created_at":"2017-09-27T00:37:29+00:00","updated_at":"2017-09-27T00:37:29+00:00"}'}
    headers:
      content-type: [application/json]
      fastly-ratelimit-remaining: ['927']
      fastly-ratelimit-reset: ['1506474000']
      status: [200 OK]
    status: {code: 200, message: OK}
- request:
    body: !!python/unicode '{"comment": "", "name": "test_healthcheck", "http_version":
      "1.1", "window": 5, "initial": 4, "timeout": 5000, "host": "example8000.com",
      "expected_response": 200, "check_interval": 15000, "threshold": 3, "path": "/healthcheck",
      "method": "GET"}'
    headers:
      Content-Type: [application/json]
    method: POST
    uri: https://api.fastly.com/service/HZGOu3cF6xdLM0Nj580TY/version/2/healthcheck
  response:
    body: {string: !!python/unicode '{"comment":"","name":"test_healthcheck","http_version":"1.1","window":5,"initial":4,"timeout":5000,"host":"example8000.com","expected_response":200,"check_interval":15000,"threshold":3,"path":"/healthcheck","method":"GET","service_id":"HZGOu3cF6xdLM0Nj580TY","version":2,"updated_at":"2017-09-27T00:37:30+00:00","deleted_at":null,"created_at":"2017-09-27T00:37:30+00:00"}'}
    headers:
      content-type: [application/json]
      fastly-ratelimit-remaining: ['926']
      fastly-ratelimit-reset: ['1506474000']
      status: [200 OK]
    status: {code: 200, message: OK}
- request:
    body: !!python/unicode '{"ssl_ca_cert": null, "request_condition": "", "name":
      "localhost", "healthcheck": "test_healthcheck", "ssl_cert_hostname": null, "address":
      "127.0.0.1", "port": 80, "ssl_hostname": null, "shield": null}'
    headers:
      Content-Type: [application/json]
    method: POST
    uri: https://api.fastly.com/service/HZGOu3cF6xdLM0Nj580TY/version/2/backend
  response:
    body: {string: !!python/unicode '{"ssl_ca_cert":null,"request_condition":"","name":"localhost","healthcheck":"test_healthcheck","ssl_cert_hostname":null,"address":"127.0.0.1","port":80,"ssl_hostname":null,"shield":null,"service_id":"HZGOu3cF6xdLM0Nj580TY","version":2,"max_tls_version":null,"ssl_client_cert":null,"hostname":null,"error_threshold":0,"first_byte_timeout":15000,"client_cert":null,"weight":100,"updated_at":"2017-09-27T00:37:30+00:00","connect_timeout":1000,"ipv4":"127.0.0.1","ssl_ciphers":null,"between_bytes_timeout":10000,"ssl_client_key":null,"auto_loadbalance":false,"ssl_check_cert":true,"ssl_sni_hostname":null,"min_tls_version":null,"ipv6":null,"deleted_at":null,"max_conn":200,"use_ssl":false,"created_at":"2017-09-27T00:37:30+00:00","comment":""}'}
    headers:
      content-type: [application/json]
      fastly-ratelimit-remaining: ['925']
      fastly-ratelimit-reset: ['1506474000']
      status: [200 OK]
    status: {code: 200, message: OK}
- request:
    body: !!python/unicode '{"ignore_if_set": "0", "regex": "", "request_condition":
      null, "name": "Set Location header", "src": "\"https://u.jimcdn.com\" req.url.path",
      "dst": "http.Location", "substitution": "", "priority": "100", "cache_condition":
      null, "action": "set", "type": "response", "response_condition": null}'
    headers:
      Content-Type: [application/json]
    method: POST
    uri: https://api.fastly.com/service/HZGOu3cF6xdLM0Nj580TY/version/2/header
  response:
    body: {string: !!python/unicode '{"ignore_if_set":"0","regex":"","request_condition":null,"name":"Set
        Location header","src":"\"https://u.jimcdn.com\" req.url.path","dst":"http.Location","substitution":"","priority":"100","cache_condition":null,"action":"set","type":"response","response_condition":null,"service_id":"HZGOu3cF6xdLM0Nj580TY","version":"2","updated_at":"2017-09-27T00:37:32+00:00","deleted_at":null,"created_at":"2017-09-27T00:37:32+00:00"}'}
    headers:
      content-type: [application/json]
      fastly-ratelimit-remaining: ['924']
      fastly-ratelimit-reset: ['1506474000']
      status: [200 OK]
    status: {code: 200, message: OK}
- request:
    body: !!python/unicode '{"status": "200", "request_condition": "", "name": "Set
      200 status code", "content": "", "content_type": "", "response": "Ok"}'
    headers:
      Content-Type: [application/json]
    method: POST
    uri: https://api.fastly.com/service/HZGOu3cF6xdLM0Nj580TY/version/2/response_object
  response:
    body: {string: !!python/unicode '{"status":"200","request_condition":"","name":"Set
        200 status code","content":"","content_type":"","response":"Ok","service_id":"HZGOu3cF6xdLM0Nj580TY","version":"2","deleted_at":null,"cache_condition":"","created_at":"2017-09-27T00:37:33+00:00","updated_at":"2017-09-27T00:37:33+00:00"}'}
    headers:
      content-type: [application/json]
      fastly-ratelimit-remaining: ['923']
      fastly-ratelimit-reset: ['1506474000']
      status: [200 OK]
    status: {code: 200, message: OK}
- request:
    body: !!python/unicode '{"general.default_ttl": 3600}'
    headers:
      Content-Type: [application/json]
    method: PUT
    uri: https://api.fastly.com/service/HZGOu3cF6xdLM0Nj580TY/version/2/settings
  response:
    body: {string: !!python/unicode '{"general.default_ttl":3600,"version":2,"general.default_host":"","general.default_pci":0,"service_id":"HZGOu3cF6xdLM0Nj580TY"}'}
    headers:
      content-type: [application/json]
      fastly-ratelimit-remaining: ['922']
      fastly-ratelimit-reset: ['1506474000']
      status: [200 OK]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json]
    method: PUT
    uri: https://api.fastly.com/service/HZGOu3cF6xdLM0Nj580TY/version/2/activate
  response:
    body: {string: !!python/unicode '{"testing":false,"locked":true,"number":2,"active":true,"service_id":"HZGOu3cF6xdLM0Nj580TY","staging":false,"created_at":"2017-09-27T00:37:28+00:00","deleted_at":null,"comment":"","updated_at":"2017-09-27T00:37:33+00:00","deployed":false,"msg":null}'}
    headers:
      content-type: [application/json]
      fastly-ratelimit-remaining: ['921']
      fastly-ratelimit-reset: ['1506474000']
      status: [200 OK]
    status: {code: 200, message: OK}
[...]
