interactions:
- request:
    body: null
    headers:
      Content-Type: [application/json]
    method: GET
    uri: https://api.fastly.com/service/search?name=Fastly%20Ansible%20Module%20Test
  response:
    body: {string: !!python/unicode '{"name":"Fastly Ansible Module Test","deleted_at":null,"versions":[{"testing":false,"locked":false,"number":1,"active":false,"service_id":"5Uofg7tBxthwFe9v68mLyq","staging":false,"created_at":"2018-05-30T14:42:41Z","deleted_at":null,"comment":"","updated_at":"2018-05-30T14:42:41Z","deployed":false}],"created_at":"2018-05-30T14:42:41Z","customer_id":"31RPDMBpiruA1yfGA2djLm","comment":"","updated_at":"2018-05-30T14:42:41Z","id":"5Uofg7tBxthwFe9v68mLyq"}'}
    headers:
      content-type: [application/json]
      status: [200 OK]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json]
    method: GET
    uri: https://api.fastly.com/service/5Uofg7tBxthwFe9v68mLyq/details
  response:
    body: {string: !!python/unicode '{"name":"Fastly Ansible Module Test","deleted_at":null,"versions":[{"testing":false,"locked":false,"number":1,"active":false,"service_id":"5Uofg7tBxthwFe9v68mLyq","staging":false,"created_at":"2018-05-30T14:42:41Z","deleted_at":null,"comment":"","updated_at":"2018-05-30T14:42:41Z","deployed":false}],"created_at":"2018-05-30T14:42:41Z","customer_id":"31RPDMBpiruA1yfGA2djLm","comment":"","updated_at":"2018-05-30T14:42:41Z","id":"5Uofg7tBxthwFe9v68mLyq","version":{"testing":false,"staging":false,"updated_at":"2018-05-30T14:42:41Z","active":false,"number":1,"service_id":"5Uofg7tBxthwFe9v68mLyq","deployed":false,"locked":false,"deleted_at":null,"created_at":"2018-05-30T14:42:41Z","comment":"","acls":[],"backends":[],"cache_settings":[],"conditions":[],"dictionaries":[],"directors":[],"domains":[],"gzips":[],"headers":[],"healthchecks":[],"request_settings":[],"response_objects":[],"snippets":[],"vcls":[],"wordpress":[],"settings":{"general.stale_if_error_ttl":43200,"general.stale_if_error":false,"general.default_ttl":3600,"general.default_host":"","general.default_pci":0}},"active_version":null}'}
    headers:
      content-type: [application/json]
      status: [200 OK]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json]
    method: PUT
    uri: https://api.fastly.com/service/5Uofg7tBxthwFe9v68mLyq/version/1/clone
  response:
    body: {string: !!python/unicode '{"testing":false,"locked":false,"number":2,"active":false,"service_id":"5Uofg7tBxthwFe9v68mLyq","staging":false,"created_at":"2018-05-30T14:42:41Z","deleted_at":null,"comment":"","updated_at":"2018-05-30T14:42:41Z","deployed":false}'}
    headers:
      content-type: [application/json]
      fastly-ratelimit-remaining: ['999']
      fastly-ratelimit-reset: ['1527696000']
      status: [200 OK]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json]
    method: GET
    uri: https://api.fastly.com/service/5Uofg7tBxthwFe9v68mLyq/version/2/domain
  response:
    body: {string: !!python/unicode '[]'}
    headers:
      content-type: [application/json]
      status: [200 OK]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json]
    method: GET
    uri: https://api.fastly.com/service/5Uofg7tBxthwFe9v68mLyq/version/2/healthcheck
  response:
    body: {string: !!python/unicode '[]'}
    headers:
      content-type: [application/json]
      status: [200 OK]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json]
    method: GET
    uri: https://api.fastly.com/service/5Uofg7tBxthwFe9v68mLyq/version/2/condition
  response:
    body: {string: !!python/unicode '[]'}
    headers:
      content-type: [application/json]
      status: [200 OK]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json]
    method: GET
    uri: https://api.fastly.com/service/5Uofg7tBxthwFe9v68mLyq/version/2/backend
  response:
    body: {string: !!python/unicode '[]'}
    headers:
      content-type: [application/json]
      status: [200 OK]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json]
    method: GET
    uri: https://api.fastly.com/service/5Uofg7tBxthwFe9v68mLyq/version/2/director
  response:
    body: {string: !!python/unicode '[]'}
    headers:
      content-type: [application/json]
      status: [200 OK]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json]
    method: GET
    uri: https://api.fastly.com/service/5Uofg7tBxthwFe9v68mLyq/version/2/cache_settings
  response:
    body: {string: !!python/unicode '[]'}
    headers:
      content-type: [application/json]
      status: [200 OK]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json]
    method: GET
    uri: https://api.fastly.com/service/5Uofg7tBxthwFe9v68mLyq/version/2/gzip
  response:
    body: {string: !!python/unicode '[]'}
    headers:
      content-type: [application/json]
      status: [200 OK]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json]
    method: GET
    uri: https://api.fastly.com/service/5Uofg7tBxthwFe9v68mLyq/version/2/header
  response:
    body: {string: !!python/unicode '[]'}
    headers:
      content-type: [application/json]
      status: [200 OK]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json]
    method: GET
    uri: https://api.fastly.com/service/5Uofg7tBxthwFe9v68mLyq/version/2/request_settings
  response:
    body: {string: !!python/unicode '[]'}
    headers:
      content-type: [application/json]
      status: [200 OK]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json]
    method: GET
    uri: https://api.fastly.com/service/5Uofg7tBxthwFe9v68mLyq/version/2/response_object
  response:
    body: {string: !!python/unicode '[]'}
    headers:
      content-type: [application/json]
      status: [200 OK]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json]
    method: GET
    uri: https://api.fastly.com/service/5Uofg7tBxthwFe9v68mLyq/version/2/snippet
  response:
    body: {string: !!python/unicode '[]'}
    headers:
      content-type: [application/json]
      status: [200 OK]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json]
    method: GET
    uri: https://api.fastly.com/service/5Uofg7tBxthwFe9v68mLyq/version/2/logging/s3
  response:
    body: {string: !!python/unicode '[]'}
    headers:
      content-type: [application/json]
      status: [200 OK]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json]
    method: GET
    uri: https://api.fastly.com/service/5Uofg7tBxthwFe9v68mLyq/version/2/logging/syslog
  response:
    body: {string: !!python/unicode '[]'}
    headers:
      content-type: [application/json]
      status: [200 OK]
    status: {code: 200, message: OK}
[...]
- request:
    body: !!python/unicode '{"ssl_ca_cert": null, "request_condition": "", "name":
      "localhost", "weight": 100, "healthcheck": null, "first_byte_timeout": 15000,
      "error_threshold": 0, "port": 80, "ssl_cert_hostname": null, "address": "127.0.0.1",
      "between_bytes_timeout": 10000, "max_conn": 200, "connect_timeout": 1000, "ssl_hostname":
      null, "shield": null}'
    headers:
      Content-Type: [application/json]
    method: POST
    uri: https://api.fastly.com/service/5Uofg7tBxthwFe9v68mLyq/version/2/backend
  response:
    body: {string: !!python/unicode '{"ssl_ca_cert":null,"request_condition":"","name":"localhost","weight":100,"healthcheck":null,"first_byte_timeout":15000,"error_threshold":0,"port":80,"ssl_cert_hostname":null,"address":"127.0.0.1","between_bytes_timeout":10000,"max_conn":200,"connect_timeout":1000,"ssl_hostname":null,"shield":null,"service_id":"5Uofg7tBxthwFe9v68mLyq","version":2,"max_tls_version":null,"ssl_client_cert":null,"hostname":null,"client_cert":null,"updated_at":"2018-05-30T15:01:21Z","ipv4":"127.0.0.1","ssl_ciphers":null,"ssl_client_key":null,"auto_loadbalance":false,"ssl_check_cert":true,"ssl_sni_hostname":null,"min_tls_version":null,"ipv6":null,"deleted_at":null,"use_ssl":false,"created_at":"2018-05-30T15:01:21Z","comment":""}'}
    headers:
      content-type: [application/json]
      fastly-ratelimit-remaining: ['997']
      fastly-ratelimit-reset: ['1527696000']
      status: [200 OK]
    status: {code: 200, message: OK}
- request:
    body: !!python/unicode '{"action": null, "stale_ttl": 10, "name": "cache-settings-config-name",
      "cache_condition": ""}'
    headers:
      Content-Type: [application/json]
    method: POST
    uri: https://api.fastly.com/service/5Uofg7tBxthwFe9v68mLyq/version/2/cache_settings
  response:
    body: {string: !!python/unicode '{"action":null,"stale_ttl":10,"name":"cache-settings-config-name","cache_condition":"","service_id":"5Uofg7tBxthwFe9v68mLyq","version":"2","ttl":null,"deleted_at":null,"created_at":"2018-05-30T15:01:22Z","updated_at":"2018-05-30T15:01:22Z"}'}
    headers:
      content-type: [application/json]
      fastly-ratelimit-remaining: ['996']
      fastly-ratelimit-reset: ['1527696000']
      status: [200 OK]
    status: {code: 200, message: OK}
- request:
    body: !!python/unicode '{"ignore_if_set": "0", "regex": "", "request_condition":
      null, "name": "Set Location header", "src": "\"https://u.jimcdn.com\" req.url.path",
      "dst": "http.Location", "cache_condition": null, "priority": "100", "substitution":
      "", "action": "set", "type": "response", "response_condition": null}'
    headers:
      Content-Type: [application/json]
    method: POST
    uri: https://api.fastly.com/service/5Uofg7tBxthwFe9v68mLyq/version/2/header
  response:
    body: {string: !!python/unicode '{"ignore_if_set":"0","regex":"","request_condition":null,"name":"Set
        Location header","src":"\"https://u.jimcdn.com\" req.url.path","dst":"http.Location","cache_condition":null,"priority":"100","substitution":"","action":"set","type":"response","response_condition":null,"service_id":"5Uofg7tBxthwFe9v68mLyq","version":"2","updated_at":"2018-05-30T15:01:22Z","deleted_at":null,"created_at":"2018-05-30T15:01:22Z"}'}
    headers:
      content-type: [application/json]
      fastly-ratelimit-remaining: ['995']
      fastly-ratelimit-reset: ['1527696000']
      status: [200 OK]
    status: {code: 200, message: OK}
- request:
    body: !!python/unicode '{"status": "200", "request_condition": "", "name": "Set
      200 status code", "content": "", "content_type": "", "response": "Ok"}'
    headers:
      Content-Type: [application/json]
    method: POST
    uri: https://api.fastly.com/service/5Uofg7tBxthwFe9v68mLyq/version/2/response_object
  response:
    body: {string: !!python/unicode '{"status":"200","request_condition":"","name":"Set
        200 status code","content":"","content_type":"","response":"Ok","service_id":"5Uofg7tBxthwFe9v68mLyq","version":"2","deleted_at":null,"cache_condition":"","created_at":"2018-05-30T15:01:23Z","updated_at":"2018-05-30T15:01:23Z"}'}
    headers:
      content-type: [application/json]
      fastly-ratelimit-remaining: ['994']
      fastly-ratelimit-reset: ['1527696000']
      status: [200 OK]
    status: {code: 200, message: OK}
- request:
    body: !!python/unicode '{"general.default_ttl": 3600}'
    headers:
      Content-Type: [application/json]
    method: PUT
    uri: https://api.fastly.com/service/5Uofg7tBxthwFe9v68mLyq/version/2/settings
  response:
    body: {string: !!python/unicode '{"general.stale_if_error_ttl":43200,"general.stale_if_error":false,"general.default_ttl":3600,"version":2,"general.default_host":"","general.default_pci":0,"service_id":"5Uofg7tBxthwFe9v68mLyq"}'}
    headers:
      content-type: [application/json]
      fastly-ratelimit-remaining: ['993']
      fastly-ratelimit-reset: ['1527696000']
      status: [200 OK]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json]
    method: PUT
    uri: https://api.fastly.com/service/5Uofg7tBxthwFe9v68mLyq/version/2/activate
  response:
    body: {string: !!python/unicode '{"testing":false,"locked":true,"number":2,"active":true,"service_id":"5Uofg7tBxthwFe9v68mLyq","staging":false,"created_at":"2018-05-30T15:01:15Z","deleted_at":null,"comment":"","updated_at":"2018-05-30T15:01:23Z","deployed":false,"msg":null}'}
    headers:
      content-type: [application/json]
      fastly-ratelimit-remaining: ['992']
      fastly-ratelimit-reset: ['1527696000']
      status: [200 OK]
    status: {code: 200, message: OK}
[...]
