interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fastly.com/service/search?name=Fastly%20Ansible%20Module%20Test
  response:
    body:
      string: !!python/unicode '{"msg":"Record not found","detail":"Cannot load service
        ''4NTmXUwFuuC5U0iJUrdEHr''-''Fastly Ansible Module Test''"}'
    headers:
      content-type:
      - application/json
      status:
      - 404 Not Found
    status:
      code: 404
      message: Not Found
- request:
    body: !!python/unicode '{"name": "Fastly Ansible Module Test"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fastly.com/service
  response:
    body:
      string: !!python/unicode '{"customer_id":"4NTmXUwFuuC5U0iJUrdEHr","name":"Fastly
        Ansible Module Test","publish_key":"4fec753064de55e11e68995bdd8397759165f886","versions":[{"testing":false,"locked":false,"number":1,"active":false,"service_id":"5V6vazrUhK7HI2JI8EofjW","staging":false,"created_at":"2019-04-24T14:14:05Z","deleted_at":null,"comment":"","updated_at":"2019-04-24T14:14:05Z","deployed":false}],"deleted_at":null,"created_at":"2019-04-24T14:14:05Z","comment":"","updated_at":"2019-04-24T14:14:05Z","id":"5V6vazrUhK7HI2JI8EofjW"}'
    headers:
      content-type:
      - application/json
      fastly-ratelimit-remaining:
      - '848'
      fastly-ratelimit-reset:
      - '1556118000'
      status:
      - 200 OK
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fastly.com/service/5V6vazrUhK7HI2JI8EofjW/details
  response:
    body:
      string: !!python/unicode '{"name":"Fastly Ansible Module Test","deleted_at":null,"versions":[{"active":false,"locked":false,"updated_at":"2019-04-24T14:14:05Z","service_id":"5V6vazrUhK7HI2JI8EofjW","created_at":"2019-04-24T14:14:05Z","staging":false,"testing":false,"deployed":false,"number":1,"comment":"","deleted_at":null}],"created_at":"2019-04-24T14:14:05Z","customer_id":"4NTmXUwFuuC5U0iJUrdEHr","comment":"","updated_at":"2019-04-24T14:14:05Z","id":"5V6vazrUhK7HI2JI8EofjW","version":{"testing":false,"staging":false,"updated_at":"2019-04-24T14:14:05Z","active":false,"number":1,"service_id":"5V6vazrUhK7HI2JI8EofjW","deployed":false,"locked":false,"deleted_at":null,"created_at":"2019-04-24T14:14:05Z","comment":"","acls":[],"backends":[],"cache_settings":[],"conditions":[],"dictionaries":[],"directors":[],"domains":[],"gzips":[],"headers":[],"healthchecks":[],"request_settings":[],"response_objects":[],"snippets":[],"vcls":[],"wordpress":[],"settings":{"general.stale_if_error_ttl":43200,"general.stale_if_error":false,"general.default_ttl":3600,"general.default_host":"","general.default_pci":0}},"active_version":null}'
    headers:
      content-type:
      - application/json
      status:
      - 200 OK
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://api.fastly.com/service/5V6vazrUhK7HI2JI8EofjW/version/1/clone
  response:
    body:
      string: !!python/unicode '{"service_id":"5V6vazrUhK7HI2JI8EofjW","deleted_at":null,"deployed":false,"testing":false,"number":2,"comment":"","staging":false,"updated_at":"2019-04-24T14:14:05Z","created_at":"2019-04-24T14:14:05Z","locked":false,"active":false}'
    headers:
      content-type:
      - application/json
      fastly-ratelimit-remaining:
      - '847'
      fastly-ratelimit-reset:
      - '1556118000'
      status:
      - 200 OK
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fastly.com/service/5V6vazrUhK7HI2JI8EofjW/version/2/domain
  response:
    body:
      string: !!python/unicode '[]'
    headers:
      content-type:
      - application/json
      status:
      - 200 OK
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fastly.com/service/5V6vazrUhK7HI2JI8EofjW/version/2/healthcheck
  response:
    body:
      string: !!python/unicode '[]'
    headers:
      content-type:
      - application/json
      status:
      - 200 OK
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fastly.com/service/5V6vazrUhK7HI2JI8EofjW/version/2/condition
  response:
    body:
      string: !!python/unicode '[]'
    headers:
      content-type:
      - application/json
      status:
      - 200 OK
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fastly.com/service/5V6vazrUhK7HI2JI8EofjW/version/2/backend
  response:
    body:
      string: !!python/unicode '[]'
    headers:
      content-type:
      - application/json
      status:
      - 200 OK
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fastly.com/service/5V6vazrUhK7HI2JI8EofjW/version/2/director
  response:
    body:
      string: !!python/unicode '[]'
    headers:
      content-type:
      - application/json
      status:
      - 200 OK
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fastly.com/service/5V6vazrUhK7HI2JI8EofjW/version/2/cache_settings
  response:
    body:
      string: !!python/unicode '[]'
    headers:
      content-type:
      - application/json
      status:
      - 200 OK
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fastly.com/service/5V6vazrUhK7HI2JI8EofjW/version/2/gzip
  response:
    body:
      string: !!python/unicode '[]'
    headers:
      content-type:
      - application/json
      status:
      - 200 OK
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fastly.com/service/5V6vazrUhK7HI2JI8EofjW/version/2/header
  response:
    body:
      string: !!python/unicode '[]'
    headers:
      content-type:
      - application/json
      status:
      - 200 OK
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fastly.com/service/5V6vazrUhK7HI2JI8EofjW/version/2/request_settings
  response:
    body:
      string: !!python/unicode '[]'
    headers:
      content-type:
      - application/json
      status:
      - 200 OK
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fastly.com/service/5V6vazrUhK7HI2JI8EofjW/version/2/response_object
  response:
    body:
      string: !!python/unicode '[]'
    headers:
      content-type:
      - application/json
      status:
      - 200 OK
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fastly.com/service/5V6vazrUhK7HI2JI8EofjW/version/2/snippet
  response:
    body:
      string: !!python/unicode '[]'
    headers:
      content-type:
      - application/json
      status:
      - 200 OK
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fastly.com/service/5V6vazrUhK7HI2JI8EofjW/version/2/logging/s3
  response:
    body:
      string: !!python/unicode '[]'
    headers:
      content-type:
      - application/json
      status:
      - 200 OK
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fastly.com/service/5V6vazrUhK7HI2JI8EofjW/version/2/logging/syslog
  response:
    body:
      string: !!python/unicode '[]'
    headers:
      content-type:
      - application/json
      status:
      - 200 OK
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fastly.com/service/5V6vazrUhK7HI2JI8EofjW/version/2/logging/cloudfiles
  response:
    body:
      string: !!python/unicode '[]'
    headers:
      content-type:
      - application/json
      status:
      - 200 OK
    status:
      code: 200
      message: OK
[...]
- request:
    body: !!python/unicode '{"comment": "", "check_interval": 15000, "name": "test_healthcheck",
      "http_version": "1.1", "initial": 4, "host": "example8000.com", "window": 5, "expected_response":
      200, "timeout": 5000, "threshold": 3, "path": "/healthcheck", "method": "GET"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fastly.com/service/5V6vazrUhK7HI2JI8EofjW/version/2/healthcheck
  response:
    body:
      string: !!python/unicode '{"comment":"","check_interval":15000,"name":"test_healthcheck","http_version":"1.1","initial":4,"host":"example8000.com","window":5,"expected_response":200,"timeout":5000,"threshold":3,"path":"/healthcheck","method":"GET","service_id":"5V6vazrUhK7HI2JI8EofjW","version":2,"updated_at":"2019-04-24T14:14:16Z","deleted_at":null,"created_at":"2019-04-24T14:14:16Z"}'
    headers:
      content-type:
      - application/json
      fastly-ratelimit-remaining:
      - '845'
      fastly-ratelimit-reset:
      - '1556118000'
      status:
      - 200 OK
    status:
      code: 200
      message: OK
- request:
    body: !!python/unicode '{"ssl_ca_cert": null, "request_condition": "", "name":
      "localhost", "weight": 100, "healthcheck": "test_healthcheck", "first_byte_timeout":
      15000, "error_threshold": 0, "port": 80, "ssl_cert_hostname": null, "address":
      "127.0.0.1", "between_bytes_timeout": 10000, "max_conn": 200, "connect_timeout":
      1000, "ssl_hostname": null, "shield": null}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fastly.com/service/5V6vazrUhK7HI2JI8EofjW/version/2/backend
  response:
    body:
      string: !!python/unicode '{"ssl_ca_cert":null,"request_condition":"","name":"localhost","weight":100,"healthcheck":"test_healthcheck","first_byte_timeout":15000,"error_threshold":0,"port":80,"ssl_cert_hostname":null,"address":"127.0.0.1","between_bytes_timeout":10000,"max_conn":200,"connect_timeout":1000,"ssl_hostname":null,"shield":null,"service_id":"5V6vazrUhK7HI2JI8EofjW","version":2,"ipv6":null,"deleted_at":null,"ssl_sni_hostname":null,"hostname":null,"created_at":"2019-04-24T14:14:17Z","client_cert":null,"ssl_check_cert":true,"ipv4":"127.0.0.1","auto_loadbalance":false,"comment":"","use_ssl":false,"ssl_ciphers":null,"ssl_client_key":null,"min_tls_version":null,"max_tls_version":null,"ssl_client_cert":null,"override_host":null,"updated_at":"2019-04-24T14:14:17Z"}'
    headers:
      content-type:
      - application/json
      fastly-ratelimit-remaining:
      - '844'
      fastly-ratelimit-reset:
      - '1556118000'
      status:
      - 200 OK
    status:
      code: 200
      message: OK
- request:
    body: !!python/unicode '{"ignore_if_set": "0", "regex": "", "request_condition":
      null, "name": "Set Location header", "src": "\"https://u.jimcdn.com\" req.url.path",
      "dst": "http.Location", "cache_condition": null, "priority": "100", "substitution":
      "", "action": "set", "type": "response", "response_condition": null}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fastly.com/service/5V6vazrUhK7HI2JI8EofjW/version/2/header
  response:
    body:
      string: !!python/unicode '{"ignore_if_set":"0","regex":"","request_condition":null,"name":"Set
        Location header","src":"\"https://u.jimcdn.com\" req.url.path","dst":"http.Location","cache_condition":null,"priority":"100","substitution":"","action":"set","type":"response","response_condition":null,"service_id":"5V6vazrUhK7HI2JI8EofjW","version":"2","updated_at":"2019-04-24T14:14:18Z","deleted_at":null,"created_at":"2019-04-24T14:14:18Z"}'
    headers:
      content-type:
      - application/json
      fastly-ratelimit-remaining:
      - '843'
      fastly-ratelimit-reset:
      - '1556118000'
      status:
      - 200 OK
    status:
      code: 200
      message: OK
- request:
    body: !!python/unicode '{"status": "200", "request_condition": "", "name": "Set
      200 status code", "content": "", "content_type": "", "response": "Ok"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fastly.com/service/5V6vazrUhK7HI2JI8EofjW/version/2/response_object
  response:
    body:
      string: !!python/unicode '{"status":"200","request_condition":"","name":"Set
        200 status code","content":"","content_type":"","response":"Ok","service_id":"5V6vazrUhK7HI2JI8EofjW","version":"2","deleted_at":null,"cache_condition":"","created_at":"2019-04-24T14:14:19Z","updated_at":"2019-04-24T14:14:19Z"}'
    headers:
      content-type:
      - application/json
      fastly-ratelimit-remaining:
      - '842'
      fastly-ratelimit-reset:
      - '1556118000'
      status:
      - 200 OK
    status:
      code: 200
      message: OK
- request:
    body: !!python/unicode '{"general.default_ttl": 3600}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://api.fastly.com/service/5V6vazrUhK7HI2JI8EofjW/version/2/settings
  response:
    body:
      string: !!python/unicode '{"general.stale_if_error_ttl":43200,"general.stale_if_error":false,"general.default_ttl":3600,"version":2,"general.default_host":"","general.default_pci":0,"service_id":"5V6vazrUhK7HI2JI8EofjW"}'
    headers:
      content-type:
      - application/json
      fastly-ratelimit-remaining:
      - '841'
      fastly-ratelimit-reset:
      - '1556118000'
      status:
      - 200 OK
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://api.fastly.com/service/5V6vazrUhK7HI2JI8EofjW/version/2/activate
  response:
    body:
      string: !!python/unicode '{"number":2,"testing":false,"deployed":false,"comment":"","deleted_at":null,"service_id":"5V6vazrUhK7HI2JI8EofjW","staging":false,"locked":true,"updated_at":"2019-04-24T14:14:19Z","created_at":"2019-04-24T14:14:06Z","active":true,"msg":null}'
    headers:
      content-type:
      - application/json
      fastly-ratelimit-remaining:
      - '840'
      fastly-ratelimit-reset:
      - '1556118000'
      status:
      - 200 OK
    status:
      code: 200
      message: OK
[...]
