interactions:
- request:
    body: null
    headers:
      Content-Type: [application/json]
    method: GET
    uri: https://api.fastly.com/service/search?name=Fastly%20Ansible%20Module%20Test
  response:
    body: {string: !!python/unicode '{"name":"Fastly Ansible Module Test","deleted_at":null,"versions":[{"testing":false,"locked":false,"number":1,"active":false,"service_id":"25ezCe4OuwBWLfLvTWqW1e","staging":false,"created_at":"2017-08-11T15:03:44+00:00","deleted_at":null,"comment":"","updated_at":"2017-08-11T15:03:44+00:00","deployed":false},{"testing":false,"locked":true,"number":2,"active":false,"service_id":"25ezCe4OuwBWLfLvTWqW1e","staging":false,"created_at":"2017-08-11T15:03:44+00:00","deleted_at":null,"comment":"","updated_at":"2017-08-11T15:08:09+00:00","deployed":false},{"testing":false,"locked":true,"number":3,"active":false,"service_id":"25ezCe4OuwBWLfLvTWqW1e","staging":false,"created_at":"2017-08-11T15:08:05+00:00","deleted_at":null,"comment":"","updated_at":"2017-08-11T15:08:16+00:00","deployed":false},{"testing[...]
- request:
    body: null
    headers:
      Content-Type: [application/json]
    method: GET
    uri: https://api.fastly.com/service/25ezCe4OuwBWLfLvTWqW1e/details
  response:
    body: {string: !!python/unicode '{"name":"Fastly Ansible Module Test","deleted_at":null,"versions":[{"testing":false,"locked":false,"number":1,"active":false,"service_id":"25ezCe4OuwBWLfLvTWqW1e","staging":false,"created_at":"2017-08-11T15:03:44+00:00","deleted_at":null,"comment":"","updated_at":"2017-08-11T15:03:44+0[...]
- request:
    body: null
    headers:
      Content-Type: [application/json]
    method: PUT
    uri: https://api.fastly.com/service/25ezCe4OuwBWLfLvTWqW1e/version/12/deactivate
  response:
    body: {string: !!python/unicode '{"testing":false,"locked":true,"number":12,"active":false,"service_id":"25ezCe4OuwBWLfLvTWqW1e","staging":false,"created_at":"2017-08-11T15:10:52+00:00","deleted_at":null,"comment":"","updated_at":"2017-08-11T15:10:55+00:00","deployed":false}'}
    headers:
      content-type: [application/json]
      fastly-ratelimit-remaining: ['672']
      fastly-ratelimit-reset: ['1502467200']
      status: [200 OK]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json]
    method: DELETE
    uri: https://api.fastly.com/service/25ezCe4OuwBWLfLvTWqW1e
  response:
    body: {string: !!python/unicode '{"status":"ok"}'}
    headers:
      content-type: [application/json]
      fastly-ratelimit-remaining: ['671']
      fastly-ratelimit-reset: ['1502467200']
      status: [200 OK]
    status: {code: 200, message: OK}
version: 1
