interactions:
- request:
    body: null
    headers:
      Content-Type: [application/json]
    method: GET
    uri: https://api.fastly.com/service/search?name=Fastly%20Ansible%20Module%20Test
  response:
    body: {string: !!python/unicode '{"name":"Fastly Ansible Module Test","deleted_at":null,"versions":[{"testing":false,"locked":true,"number":1,"active":false,"service_id":"4m4sy4rUPeRAZdztYwRfnE","staging":false,"created_at":"2017-08-25T22:13:24+00:00","deleted_at":null,"comment":"","updated_at":"2017-08-25T22:15:44+00:00","deployed":false},{"testing":false,"locked":true,"number":2,"active":false,"service_id":"4m4sy4rUPeRAZdztYwRfnE","staging":false,"created_at":"2017-08-25T22:15:39+00:00","deleted_at":null,"comment":"","updated_at":"2017-08-25T22:20:37+00:00","deployed":false},{"testing":false,"locked":true,"number":3,"active":false,"service_id":"4m4sy4rUPeRAZdztYwRfnE","staging":false,"created_at":"2017-08-25T22:20:32+00:00","deleted_at":null,"comment":"","updated_at":"2017-08-25T22:21:51+00:00","deployed":false},{"testing[...]
- request:
    body: null
    headers:
      Content-Type: [application/json]
    method: GET
    uri: https://api.fastly.com/service/4m4sy4rUPeRAZdztYwRfnE/details
  response:
    body: {string: !!python/unicode '{"name":"Fastly Ansible Module Test","deleted_at":null,"versions":[{"testing":false,"locked":true,"number":1,"active":false,"service_id":"4m4sy4rUPeRAZdztYwRfnE","staging":false,"created_at":"2017-08-25T22:13:24+00:00","deleted_at":null,"comment":"","updated_at":"2017-08-25T22:15:44+00[...]
- request:
    body: null
    headers:
      Content-Type: [application/json]
    method: PUT
    uri: https://api.fastly.com/service/4m4sy4rUPeRAZdztYwRfnE/version/16/deactivate
  response:
    body: {string: !!python/unicode '{"testing":false,"locked":true,"number":16,"active":false,"service_id":"4m4sy4rUPeRAZdztYwRfnE","staging":false,"created_at":"2017-08-25T22:43:00+00:00","deleted_at":null,"comment":"","updated_at":"2017-08-25T22:43:07+00:00","deployed":false}'}
    headers:
      content-type: [application/json]
      fastly-ratelimit-remaining: ['851']
      fastly-ratelimit-reset: ['1503702000']
      status: [200 OK]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json]
    method: DELETE
    uri: https://api.fastly.com/service/4m4sy4rUPeRAZdztYwRfnE
  response:
    body: {string: !!python/unicode '{"status":"ok"}'}
    headers:
      content-type: [application/json]
      fastly-ratelimit-remaining: ['850']
      fastly-ratelimit-reset: ['1503702000']
      status: [200 OK]
    status: {code: 200, message: OK}
version: 1
