interactions:
- request:
    body: null
    headers:
      Content-Type: [application/json]
    method: GET
    uri: https://api.fastly.com/service/search?name=Fastly%20Ansible%20Module%20Test
  response:
    body: {string: !!python/unicode '{"name":"Fastly Ansible Module Test","deleted_at":null,"versions":[{"testing":false,"locked":false,"number":1,"active":false,"service_id":"7OAhzqSh0dQSAyFB213yD2","staging":false,"created_at":"2018-05-30T15:05:54Z","deleted_at":null,"comment":"","updated_at":"2018-05-30T15:05:54Z","deployed":false},{"testing":false,"staging":false,"updated_at":"2018-05-30T15:06:01Z","active":true,"number":2,"service_id":"7OAhzqSh0dQSAyFB213yD2","deployed":false,"locked":true,"deleted_at":null,"created_at":"2018-05-30T15:05:54Z","comment":""}],"created_at":"2018-05-30T15:05:54Z","customer_id":"31RPDMBpiruA1yfGA2djLm","comment":"","updated_at":"2018-05-30T15:05:54Z","id":"7OAhzqSh0dQSAyFB213yD2"}'}
    headers:
      content-type: [application/json]
      status: [200 OK]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json]
    method: GET
    uri: https://api.fastly.com/service/7OAhzqSh0dQSAyFB213yD2/details
  response:
    body: {string: !!python/unicode '{"name":"Fastly Ansible Module Test","deleted_at":null,"versions":[{"testing":false,"locked":false,"number":1,"active":false,"service_id":"7OAhzqSh0dQSAyFB213yD2","staging":false,"created_at":"2018-05-30T15:05:54Z","deleted_at":null,"comment":"","updated_at":"2018-05-30T15:05:54Z","deployed":false},{"testing":false,"locked":true,"number":2,"active":true,"service_id":"7OAhzqSh0dQSAyFB213yD2","staging":false,"created_at":"2018-05-30T15:05:54Z","deleted_at":null,"comment":"","updated_at":"2018-05-30T15:06:01Z","deployed":false}],"created_at":"2018-05-30T15:05:54Z","customer_id":"31RPDMBpiruA1yfGA2djLm","comment":"","updated_at":"2018-05-30T15:05:54Z","id":"7OAhzqSh0dQSAyFB213yD2","version":{"testing":false,"staging":false,"updated_at":"2018-05-30T15:06:01Z","active":true,"number":2,"service_id":"7OAhzqSh0dQSAyFB213yD2","deployed":false,"locked":true,"deleted_at":null,"created_at":"2018-05-30T15:05:54Z","comment":"","acls":[],"backends":[{"max_tls_version":null,"ssl_ca_cert":null,"auto_loadbalance":false,"ssl_check_cert":true,"shield":null,"hostname":null,"ssl_client_cert":null,"error_threshold":0,"request_condition":"","first_byte_timeout":15000,"ssl_cert_hostname":null,"weight":100,"client_cert":null,"address":"127.0.0.1","ssl_hostname":null,"ssl_sni_hostname":null,"min_tls_version":null,"ipv6":null,"ipv4":"127.0.0.1","connect_timeout":1000,"ssl_ciphers":null,"name":"localhost","healthcheck":null,"port":80,"max_conn":200,"use_ssl":false,"comment":"","between_bytes_timeout":10000,"ssl_client_key":null}],"cache_settings":[],"conditions":[],"dictionaries":[],"directors":[],"domains":[{"comment":"","name":"example8000.com"}],"gzips":[],"headers":[{"priority":"100","src":"\"https://u.jimcdn.com\"
        req.url.path","name":"Set Location header","substitution":"","ignore_if_set":"0","cache_condition":null,"request_condition":null,"regex":"","response_condition":null,"action":"set","type":"response","dst":"http.Location"}],"healthchecks":[],"request_settings":[],"response_objects":[{"request_condition":"","content_type":"text/plain","status":"200","response":"Ok","name":"Set
        200 status code","content":"Hello from Fastly","cache_condition":""}],"snippets":[],"vcls":[],"wordpress":[],"settings":{"general.stale_if_error_ttl":43200,"general.stale_if_error":false,"general.default_ttl":3600,"general.default_host":"","general.default_pci":0}},"active_version":{"testing":false,"staging":false,"updated_at":"2018-05-30T15:06:01Z","active":true,"number":2,"service_id":"7OAhzqSh0dQSAyFB213yD2","deployed":false,"locked":true,"deleted_at":null,"created_at":"2018-05-30T15:05:54Z","comment":"","acls":[],"backends":[{"max_tls_version":null,"ssl_ca_cert":null,"auto_loadbalance":false,"ssl_check_cert":true,"shield":null,"hostname":null,"ssl_client_cert":null,"error_threshold":0,"request_condition":"","first_byte_timeout":15000,"ssl_cert_hostname":null,"weight":1[...]
- request:
    body: null
    headers:
      Content-Type: [application/json]
    method: PUT
    uri: https://api.fastly.com/service/7OAhzqSh0dQSAyFB213yD2/version/2/clone
  response:
    body: {string: !!python/unicode '{"testing":false,"locked":false,"number":3,"active":false,"service_id":"7OAhzqSh0dQSAyFB213yD2","staging":false,"created_at":"2018-05-30T15:05:54Z","deleted_at":null,"comment":"","updated_at":"2018-05-30T15:06:01Z","deployed":false}'}
    headers:
      content-type: [application/json]
      fastly-ratelimit-remaining: ['697']
      fastly-ratelimit-reset: ['1527696000']
      status: [200 OK]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json]
    method: GET
    uri: https://api.fastly.com/service/7OAhzqSh0dQSAyFB213yD2/version/3/domain
  response:
    body: {string: !!python/unicode '[{"version":3,"name":"example8000.com","deleted_at":null,"service_id":"7OAhzqSh0dQSAyFB213yD2","created_at":"2018-05-30T15:05:59Z","comment":"","updated_at":"2018-05-30T15:05:59Z"}]'}
    headers:
      content-type: [application/json]
      status: [200 OK]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json]
    method: GET
    uri: https://api.fastly.com/service/7OAhzqSh0dQSAyFB213yD2/version/3/healthcheck
  response:
    body: {string: !!python/unicode '[]'}
    headers:
      content-type: [application/json]
      status: [200 OK]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json]
    method: GET
    uri: https://api.fastly.com/service/7OAhzqSh0dQSAyFB213yD2/version/3/condition
  response:
    body: {string: !!python/unicode '[]'}
    headers:
      content-type: [application/json]
      status: [200 OK]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json]
    method: GET
    uri: https://api.fastly.com/service/7OAhzqSh0dQSAyFB213yD2/version/3/backend
  response:
    body: {string: !!python/unicode '[{"max_tls_version":null,"ssl_client_cert":null,"hostname":null,"error_threshold":0,"first_byte_timeout":15000,"client_cert":null,"weight":100,"address":"127.0.0.1","updated_at":"2018-05-30T15:05:59Z","connect_timeout":1000,"ipv4":"127.0.0.1","ssl_ciphers":null,"name":"localhost","port":80,"between_bytes_timeout":10000,"ssl_client_key":null,"ssl_ca_cert":null,"auto_loadbalance":false,"ssl_check_cert":true,"shield":null,"service_id":"7OAhzqSh0dQSAyFB213yD2","request_condition":"","ssl_cert_hostname":null,"ssl_hostname":null,"ssl_sni_hostname":null,"min_tls_version":null,"ipv6":null,"version":3,"deleted_at":null,"healthcheck":null,"max_conn":200,"use_ssl":false,"created_at":"2018-05-30T15:05:59Z","comment":""}]'}
    headers:
      content-type: [application/json]
      status: [200 OK]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json]
    method: GET
    uri: https://api.fastly.com/service/7OAhzqSh0dQSAyFB213yD2/version/3/director
  response:
    body: {string: !!python/unicode '[]'}
    headers:
      content-type: [application/json]
      status: [200 OK]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json]
    method: GET
    uri: https://api.fastly.com/service/7OAhzqSh0dQSAyFB213yD2/version/3/cache_settings
  response:
    body: {string: !!python/unicode '[]'}
    headers:
      content-type: [application/json]
      status: [200 OK]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json]
    method: GET
    uri: https://api.fastly.com/service/7OAhzqSh0dQSAyFB213yD2/version/3/gzip
  response:
    body: {string: !!python/unicode '[]'}
    headers:
      content-type: [application/json]
      status: [200 OK]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json]
    method: GET
    uri: https://api.fastly.com/service/7OAhzqSh0dQSAyFB213yD2/version/3/header
  response:
    body: {string: !!python/unicode '[{"priority":"100","service_id":"7OAhzqSh0dQSAyFB213yD2","ignore_if_set":"0","request_condition":null,"response_condition":null,"updated_at":"2018-05-30T15:05:59Z","src":"\"https://u.jimcdn.com\"
        req.url.path","version":"3","name":"Set Location header","deleted_at":null,"substitution":"","cache_condition":null,"created_at":"2018-05-30T15:05:59Z","regex":"","action":"set","type":"response","dst":"http.Location"}]'}
    headers:
      content-type: [application/json]
      status: [200 OK]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json]
    method: GET
    uri: https://api.fastly.com/service/7OAhzqSh0dQSAyFB213yD2/version/3/request_settings
  response:
    body: {string: !!python/unicode '[]'}
    headers:
      content-type: [application/json]
      status: [200 OK]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json]
    method: GET
    uri: https://api.fastly.com/service/7OAhzqSh0dQSAyFB213yD2/version/3/response_object
  response:
    body: {string: !!python/unicode '[{"response":"Ok","version":"3","status":"200","name":"Set
        200 status code","content":"Hello from Fastly","deleted_at":null,"service_id":"7OAhzqSh0dQSAyFB213yD2","cache_condition":"","created_at":"2018-05-30T15:06:00Z","content_type":"text/plain","request_condition":"","updated_at":"2018-05-30T15:06:00Z"}]'}
    headers:
      content-type: [application/json]
      status: [200 OK]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json]
    method: GET
    uri: https://api.fastly.com/service/7OAhzqSh0dQSAyFB213yD2/version/3/snippet
  response:
    body: {string: !!python/unicode '[]'}
    headers:
      content-type: [application/json]
      status: [200 OK]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json]
    method: GET
    uri: https://api.fastly.com/service/7OAhzqSh0dQSAyFB213yD2/version/3/logging/s3
  response:
    body: {string: !!python/unicode '[]'}
    headers:
      content-type: [application/json]
      status: [200 OK]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json]
    method: GET
    uri: https://api.fastly.com/service/7OAhzqSh0dQSAyFB213yD2/version/3/logging/syslog
  response:
    body: {string: !!python/unicode '[]'}
    headers:
      content-type: [application/json]
      status: [200 OK]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json]
    method: DELETE
    uri: https://api.fastly.com/service/7OAhzqSh0dQSAyFB213yD2/version/3/domain/example8000.com
  response:
    body: {string: !!python/unicode '{"status":"ok"}'}
    headers:
      content-type: [application/json]
      fastly-ratelimit-remaining: ['696']
      fastly-ratelimit-reset: ['1527696000']
      status: [200 OK]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json]
    method: DELETE
    uri: https://api.fastly.com/service/7OAhzqSh0dQSAyFB213yD2/version/3/backend/localhost
  response:
    body: {string: !!python/unicode '{"status":"ok"}'}
    headers:
      content-type: [application/json]
      fastly-ratelimit-remaining: ['695']
      fastly-ratelimit-reset: ['1527696000']
      status: [200 OK]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json]
    method: DELETE
    uri: https://api.fastly.com/service/7OAhzqSh0dQSAyFB213yD2/version/3/header/Set%20Location%20header
  response:
    body: {string: !!python/unicode '{"status":"ok"}'}
    headers:
      content-type: [application/json]
      fastly-ratelimit-remaining: ['694']
      fastly-ratelimit-reset: ['1527696000']
      status: [200 OK]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json]
    method: DELETE
    uri: https://api.fastly.com/service/7OAhzqSh0dQSAyFB213yD2/version/3/response_object/Set%20200%20status%20code
  response:
    body: {string: !!python/unicode '{"status":"ok"}'}
    headers:
      content-type: [application/json]
      fastly-ratelimit-remaining: ['693']
      fastly-ratelimit-reset: ['1527696000']
      status: [200 OK]
    status: {code: 200, message: OK}
[...]
- request:
    body: !!python/unicode '{"content": "\n            if (resp.status >= 500 && resp.status
      < 600) {\n                if (stale.exists) {\n                    restart;\n                }\n            }\n        ",
      "dynamic": 0, "type": "deliver", "name": "Deliver stale content", "priority":
      100}'
    headers:
      Content-Type: [application/json]
    method: POST
    uri: https://api.fastly.com/service/7OAhzqSh0dQSAyFB213yD2/version/3/snippet
  response:
    body: {string: !!python/unicode '{"content":"\n            if (resp.status \u003e=
        500 \u0026\u0026 resp.status \u003c 600) {\n                if (stale.exists)
        {\n                    restart;\n                }\n            }\n        ","dynamic":0,"type":"deliver","name":"Deliver
        stale content","priority":100,"service_id":"7OAhzqSh0dQSAyFB213yD2","version":"3","deleted_at":null,"created_at":"2018-05-30T15:06:11Z","updated_at":"2018-05-30T15:06:11Z","id":"7hOi0dRGR2OJ79kBLJYdXs"}'}
    headers:
      content-type: [application/json]
      fastly-ratelimit-remaining: ['688']
      fastly-ratelimit-reset: ['1527696000']
      status: [200 OK]
    status: {code: 200, message: OK}
- request:
    body: !!python/unicode '{"general.default_ttl": 3600}'
    headers:
      Content-Type: [application/json]
    method: PUT
    uri: https://api.fastly.com/service/7OAhzqSh0dQSAyFB213yD2/version/3/settings
  response:
    body: {string: !!python/unicode '{"general.stale_if_error_ttl":43200,"general.stale_if_error":false,"general.default_ttl":3600,"version":3,"general.default_host":"","general.default_pci":0,"service_id":"7OAhzqSh0dQSAyFB213yD2"}'}
    headers:
      content-type: [application/json]
      fastly-ratelimit-remaining: ['687']
      fastly-ratelimit-reset: ['1527696000']
      status: [200 OK]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json]
    method: PUT
    uri: https://api.fastly.com/service/7OAhzqSh0dQSAyFB213yD2/version/3/activate
  response:
    body: {string: !!python/unicode '{"testing":false,"locked":true,"number":3,"active":true,"service_id":"7OAhzqSh0dQSAyFB213yD2","staging":false,"created_at":"2018-05-30T15:06:03Z","deleted_at":null,"comment":"","updated_at":"2018-05-30T15:06:11Z","deployed":false,"msg":null}'}
    headers:
      content-type: [application/json]
      fastly-ratelimit-remaining: ['686']
      fastly-ratelimit-reset: ['1527696000']
      status: [200 OK]
    status: {code: 200, message: OK}
[...]
