interactions:
- request:
    body: null
    headers:
      Content-Type: [application/json]
    method: GET
    uri: https://api.fastly.com/service/search?name=Fastly%20Ansible%20Module%20Test
  response:
    body: {string: !!python/unicode '{"name":"Fastly Ansible Module Test","deleted_at":null,"versions":[{"testing":false,"locked":false,"number":1,"active":false,"service_id":"25ezCe4OuwBWLfLvTWqW1e","staging":false,"created_at":"2017-08-11T15:03:44+00:00","deleted_at":null,"comment":"","updated_at":"2017-08-11T15:03:44+00:00","deployed":false},{"testing":false,"locked":true,"number":2,"active":false,"service_id":"25ezCe4OuwBWLfLvTWqW1e","staging":false,"created_at":"2017-08-11T15:03:44+00:00","deleted_at":null,"comment":"","updated_at":"2017-08-11T15:08:09+00:00","deployed":false},{"testing":false,"locked":true,"number":3,"active":false,"service_id":"25ezCe4OuwBWLfLvTWqW1e","staging":false,"created_at":"2017-08-11T15:08:05+00:00","deleted_at":null,"comment":"","updated_at":"2017-08-11T15:08:16+00:00","deployed":false},{"testing[...]
- request:
    body: null
    headers:
      Content-Type: [application/json]
    method: GET
    uri: https://api.fastly.com/service/25ezCe4OuwBWLfLvTWqW1e/details
  response:
    body: {string: !!python/unicode '{"name":"Fastly Ansible Module Test","deleted_at":null,"versions":[{"testing":false,"locked":false,"number":1,"active":false,"service_id":"25ezCe4OuwBWLfLvTWqW1e","staging":false,"created_at":"2017-08-11T15:03:44+00:00","deleted_at":null,"comment":"","updated_at":"2017-08-11T15:03:44+0[...]
- request:
    body: null
    headers:
      Content-Type: [application/json]
    method: POST
    uri: https://api.fastly.com/service/25ezCe4OuwBWLfLvTWqW1e/version
  response:
    body: {string: !!python/unicode '{"service_id":"25ezCe4OuwBWLfLvTWqW1e","number":12}'}
    headers:
      content-type: [application/json]
      fastly-ratelimit-remaining: ['680']
      fastly-ratelimit-reset: ['1502467200']
      status: [200 OK]
    status: {code: 200, message: OK}
- request:
    body: !!python/unicode '{"comment": "", "name": "example7000.com"}'
    headers:
      Content-Type: [application/json]
    method: POST
    uri: https://api.fastly.com/service/25ezCe4OuwBWLfLvTWqW1e/version/12/domain
  response:
    body: {string: !!python/unicode '{"comment":"","name":"example7000.com","service_id":"25ezCe4OuwBWLfLvTWqW1e","version":12,"deleted_at":null,"created_at":"2017-08-11T15:10:52+00:00","updated_at":"2017-08-11T15:10:52+00:00"}'}
    headers:
      content-type: [application/json]
      fastly-ratelimit-remaining: ['679']
      fastly-ratelimit-reset: ['1502467200']
      status: [200 OK]
    status: {code: 200, message: OK}
- request:
    body: !!python/unicode '{"ssl_ca_cert": null, "request_condition": "", "name":
      "localhost", "ssl_cert_hostname": null, "address": "127.0.0.1", "port": 80,
      "ssl_hostname": null, "shield": null}'
    headers:
      Content-Type: [application/json]
    method: POST
    uri: https://api.fastly.com/service/25ezCe4OuwBWLfLvTWqW1e/version/12/backend
  response:
    body: {string: !!python/unicode '{"ssl_ca_cert":null,"request_condition":"","name":"localhost","ssl_cert_hostname":null,"address":"127.0.0.1","port":80,"ssl_hostname":null,"shield":null,"service_id":"25ezCe4OuwBWLfLvTWqW1e","version":12,"max_tls_version":null,"ssl_client_cert":null,"hostname":null,"error_threshold":0,"first_byte_timeout":15000,"client_cert":null,"weight":100,"updated_at":"2017-08-11T15:10:53+00:00","connect_timeout":1000,"ipv4":"127.0.0.1","ssl_ciphers":null,"between_bytes_timeout":10000,"ssl_client_key":null,"auto_loadbalance":false,"ssl_check_cert":true,"ssl_sni_hostname":null,"min_tls_version":null,"ipv6":null,"deleted_at":null,"healthcheck":null,"max_conn":200,"use_ssl":false,"created_at":"2017-08-11T15:10:53+00:00","comment":""}'}
    headers:
      content-type: [application/json]
      fastly-ratelimit-remaining: ['678']
      fastly-ratelimit-reset: ['1502467200']
      status: [200 OK]
    status: {code: 200, message: OK}
- request:
    body: !!python/unicode '{"action": null, "stale_ttl": 10, "name": "cache-settings-config-name",
      "cache_condition": ""}'
    headers:
      Content-Type: [application/json]
    method: POST
    uri: https://api.fastly.com/service/25ezCe4OuwBWLfLvTWqW1e/version/12/cache_settings
  response:
    body: {string: !!python/unicode '{"action":null,"stale_ttl":10,"name":"cache-settings-config-name","cache_condition":"","service_id":"25ezCe4OuwBWLfLvTWqW1e","version":"12","ttl":null,"deleted_at":null,"created_at":"2017-08-11T15:10:54+00:00","updated_at":"2017-08-11T15:10:54+00:00"}'}
    headers:
      content-type: [application/json]
      fastly-ratelimit-remaining: ['677']
      fastly-ratelimit-reset: ['1502467200']
      status: [200 OK]
    status: {code: 200, message: OK}
- request:
    body: !!python/unicode '{"ignore_if_set": "0", "regex": "", "request_condition":
      null, "name": "Set Location header", "src": "\"https://u.jimcdn.com\" req.url.path",
      "dst": "http.Location", "substitution": "", "priority": "100", "cache_condition":
      null, "action": "set", "type": "response", "response_condition": null}'
    headers:
      Content-Type: [application/json]
    method: POST
    uri: https://api.fastly.com/service/25ezCe4OuwBWLfLvTWqW1e/version/12/header
  response:
    body: {string: !!python/unicode '{"ignore_if_set":"0","regex":"","request_condition":null,"name":"Set
        Location header","src":"\"https://u.jimcdn.com\" req.url.path","dst":"http.Location","substitution":"","priority":"100","cache_condition":null,"action":"set","type":"response","response_condition":null,"service_id":"25ezCe4OuwBWLfLvTWqW1e","version":"12","updated_at":"2017-08-11T15:10:54+00:00","deleted_at":null,"created_at":"2017-08-11T15:10:54+00:00"}'}
    headers:
      content-type: [application/json]
      fastly-ratelimit-remaining: ['676']
      fastly-ratelimit-reset: ['1502467200']
      status: [200 OK]
    status: {code: 200, message: OK}
- request:
    body: !!python/unicode '{"status": "200", "request_condition": "", "name": "Set
      200 status code", "response": "Ok"}'
    headers:
      Content-Type: [application/json]
    method: POST
    uri: https://api.fastly.com/service/25ezCe4OuwBWLfLvTWqW1e/version/12/response_object
  response:
    body: {string: !!python/unicode '{"status":"200","request_condition":"","name":"Set
        200 status code","response":"Ok","service_id":"25ezCe4OuwBWLfLvTWqW1e","version":"12","content":null,"deleted_at":null,"cache_condition":"","created_at":"2017-08-11T15:10:54+00:00","content_type":null,"updated_at":"2017-08-11T15:10:54+00:00"}'}
    headers:
      content-type: [application/json]
      fastly-ratelimit-remaining: ['675']
      fastly-ratelimit-reset: ['1502467200']
      status: [200 OK]
    status: {code: 200, message: OK}
- request:
    body: !!python/unicode '{"general.default_ttl": 3600}'
    headers:
      Content-Type: [application/json]
    method: PUT
    uri: https://api.fastly.com/service/25ezCe4OuwBWLfLvTWqW1e/version/12/settings
  response:
    body: {string: !!python/unicode '{"general.default_ttl":3600,"version":12,"general.default_host":"","general.default_pci":0,"service_id":"25ezCe4OuwBWLfLvTWqW1e"}'}
    headers:
      content-type: [application/json]
      fastly-ratelimit-remaining: ['674']
      fastly-ratelimit-reset: ['1502467200']
      status: [200 OK]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json]
    method: PUT
    uri: https://api.fastly.com/service/25ezCe4OuwBWLfLvTWqW1e/version/12/activate
  response:
    body: {string: !!python/unicode '{"testing":false,"locked":true,"number":12,"active":true,"service_id":"25ezCe4OuwBWLfLvTWqW1e","staging":false,"created_at":"2017-08-11T15:10:52+00:00","deleted_at":null,"comment":"","updated_at":"2017-08-11T15:10:54+00:00","deployed":false,"msg":null}'}
    headers:
      content-type: [application/json]
      fastly-ratelimit-remaining: ['673']
      fastly-ratelimit-reset: ['1502467200']
      status: [200 OK]
    status: {code: 200, message: OK}
[...]
