interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fastly.com/service/search?name=Fastly%20Ansible%20Module%20Test
  response:
    body:
      string: !!python/unicode '{"name":"Fastly Ansible Module Test","deleted_at":null,"versions":[{"testing":false,"locked":false,"number":1,"active":false,"service_id":"7AG8FgHl3LQBBzv0C8iAS6","staging":false,"created_at":"2019-04-24T14:15:09Z","deleted_at":null,"comment":"","updated_at":"2019-04-24T14:15:09Z","deployed":false},{"testing":false,"locked":true,"number":2,"active":false,"service_id":"7AG8FgHl3LQBBzv0C8iAS6","staging":false,"created_at":"2019-04-24T14:15:10Z","deleted_at":null,"comment":"","updated_at":"2019-04-24T14:15:48Z","deployed":false},{"testing":false,"locked":true,"number":3,"active":false,"service_id":"7AG8FgHl3LQBBzv0C8iAS6","staging":false,"created_at":"2019-04-24T14:15:26Z","deleted_at":null,"comment":"","updated_at":"2019-04-24T14:16:09Z","deployed":false},{"testing":false,"staging":false,"updated_at":"2019-04-24T14:16:09Z","active":true,"number":4,"service_id":"7AG8FgHl3LQBBzv0C8iAS6","deployed":false,"locked":true,"deleted_at":null,"created_at":"2019-04-24T14:15:52Z","comment":""}],"created_at":"2019-04-24T14:15:09Z","customer_id":"4NTmXUwFuuC5U0iJUrdEHr","comment":"","updated_at":"2019-04-24T14:15:09Z","id":"7AG8FgHl3LQBBzv0C8iAS6"}'
    headers:
      content-type:
      - application/json
      status:
      - 200 OK
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fastly.com/service/7AG8FgHl3LQBBzv0C8iAS6/details
  response:
    body:
      string: !!python/unicode '{"customer_id":"4NTmXUwFuuC5U0iJUrdEHr","comment":"","versions":[{"testing":false,"locked":false,"number":1,"active":false,"service_id":"7AG8FgHl3LQBBzv0C8iAS6","staging":false,"created_at":"2019-04-24T14:15:09Z","deleted_at":null,"comment":"","updated_at":"2019-04-24T14:15:09Z","deployed":false},{"testing":false,"locked":true,"number":2,"active":false,"service_id":"7AG8FgHl3LQBBzv0C8iAS6","staging":false,"created_at":"2019-04-24T14:15:10Z","deleted_at":null,"comment":"","updated_at":"2019-04-24T14:15:48Z","deployed":false},{"testing":false,"locked":true,"number":3,"active":false,"service_id":"7AG8FgHl3LQBBzv0C8iAS6","staging":false,"created_at":"2019-04-24T14:15:26Z","deleted_at":null,"comment":"","updated_at":"2019-04-24T14:16:09Z","deployed":false},{"testing":false,"locked":true,"number":4,"active":true,"service_id":"7AG8FgHl3LQBBzv0C8iAS6","staging":false,"created_at":"2019-04-24T14:15:52Z","deleted_at":null,"comment":"","updated_at":"2019-04-24T14:16:09Z","deployed":false}],"updated_at":"2019-04-24T14:15:09Z","name":"Fastly
        Ansible Module Test","created_at":"2019-04-24T14:15:09Z","id":"7AG8FgHl3LQBBzv0C8iAS6","deleted_at":null,"version":{"created_at":"2019-04-24T14:15:52Z","deleted_at":null,"service_id":"7AG8FgHl3LQBBzv0C8iAS6","staging":false,"comment":"","active":true,"locked":true,"deployed":false,"number":4,"updated_at":"2019-04-24T14:16:09Z","testing":false,"acls":[],"backends":[{"connect_timeout":1000,"weight":100,"min_tls_version":null,"max_tls_version":null,"ssl_hostname":null,"client_cert":null,"between_bytes_timeout":10000,"ssl_client_cert":null,"ssl_ciphers":null,"ipv6":null,"name":"localhost","use_ssl":false,"ssl_client_key":null,"max_conn":200,"hostname":null,"healthcheck":null,"ssl_sni_hostname":null,"auto_loadbalance":false,"shield":null,"comment":"","first_byte_timeout":15000,"ipv4":"127.0.0.1","error_threshold":0,"port":80,"request_condition":"","ssl_check_cert":true,"override_host":null,"ssl_cert_hostname":null,"address":"127.0.0.1","ssl_ca_cert":null}],"cache_settings":[],"conditions":[],"dictionaries":[],"directors":[{"capacity":100,"location":null,"comment":"","retries":5,"type":4,"quorum":75,"name":"client_director","updated_at":"2019-04-24T14:16:05Z","deleted_at":null,"created_at":"2019-04-24T14:16:05Z","backends":["localhost"]}],"domains":[{"name":"example8000.com","comment":""}],"gzips":[],"headers":[{"src":"\"https://u.jimcdn.com\"
        req.url.path","priority":"100","cache_condition":null,"regex":"","action":"set","ignore_if_set":"0","name":"Set
        Location header","response_condition":null,"dst":"http.Location","substitution":"","request_condition":null,"type":"response"}],"healthchecks":[],"request_settings":[],"response_objects":[{"response":"Ok","cache_condition":"","content_type":"","content":"","request_condition":"","status":"200","name":"Set
        200 status code"}],"snippets":[],"vcls":[],"wordpress":[],"settings":{"general.default_pci":0,"general.default_ttl":3600,"general.stale_if_error":false,"general.stale_if_error_ttl":43200,"general.default_host":""}},"active_version":{"created_at":"2019-04-24T14:15:52Z","deleted_at":null,"service_id":"7AG8FgHl3LQBBzv0C8iAS6","staging":false,"comment":"","active":true,"locked":true,"deployed":false,"number":4,"updated_at":"2019-04-24T14:16:09Z","testing":false,"acls":[],"backends":[{"connect_timeout":1000,"weight":100,"min_tls_version":null,"max_tls_version":null,"ssl_hostname":null,"client_cert":null,"between_bytes_timeout":10000,"ssl_client_cert":null,"ssl_ciphers":null,"ipv6":null,"name":"localhost","use_ssl":false,"ssl_cl[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://api.fastly.com/service/7AG8FgHl3LQBBzv0C8iAS6/version/4/deactivate
  response:
    body:
      string: !!python/unicode '{"testing":false,"locked":true,"number":4,"active":false,"service_id":"7AG8FgHl3LQBBzv0C8iAS6","staging":false,"created_at":"2019-04-24T14:15:52Z","deleted_at":null,"comment":"","updated_at":"2019-04-24T14:16:09Z","deployed":false}'
    headers:
      content-type:
      - application/json
      fastly-ratelimit-remaining:
      - '780'
      fastly-ratelimit-reset:
      - '1556118000'
      status:
      - 200 OK
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.fastly.com/service/7AG8FgHl3LQBBzv0C8iAS6
  response:
    body:
      string: !!python/unicode '{"status":"ok"}'
    headers:
      content-type:
      - application/json
      fastly-ratelimit-remaining:
      - '779'
      fastly-ratelimit-reset:
      - '1556118000'
      status:
      - 200 OK
    status:
      code: 200
      message: OK
version: 1
