interactions:
- request:
    body: null
    headers:
      Content-Type: [application/json]
    method: GET
    uri: https://api.fastly.com/service/search?name=Fastly%20Ansible%20Module%20Test
  response:
    body: {string: !!python/unicode '{"name":"Fastly Ansible Module Test","deleted_at":null,"versions":[{"testing":false,"locked":false,"number":1,"active":false,"service_id":"2Yozki6zPwppbu2BgGnY85","staging":false,"created_at":"2018-05-30T15:01:27Z","deleted_at":null,"comment":"","updated_at":"2018-05-30T15:01:27Z","deployed":false},{"testing":false,"locked":true,"number":2,"active":false,"service_id":"2Yozki6zPwppbu2BgGnY85","staging":false,"created_at":"2018-05-30T15:01:28Z","deleted_at":null,"comment":"","updated_at":"2018-05-30T15:01:47Z","deployed":false},{"testing":false,"staging":false,"updated_at":"2018-05-30T15:01:47Z","active":true,"number":3,"service_id":"2Yozki6zPwppbu2BgGnY85","deployed":false,"locked":true,"deleted_at":null,"created_at":"2018-05-30T15:01:38Z","comment":""}],"created_at":"2018-05-30T15:01:27Z","customer_id":"31RPDMBpiruA1yfGA2djLm","comment":"","updated_at":"2018-05-30T15:01:27Z","id":"2Yozki6zPwppbu2BgGnY85"}'}
    headers:
      content-type: [application/json]
      status: [200 OK]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json]
    method: GET
    uri: https://api.fastly.com/service/2Yozki6zPwppbu2BgGnY85/details
  response:
    body: {string: !!python/unicode '{"name":"Fastly Ansible Module Test","deleted_at":null,"versions":[{"testing":false,"locked":false,"number":1,"active":false,"service_id":"2Yozki6zPwppbu2BgGnY85","staging":false,"created_at":"2018-05-30T15:01:27Z","deleted_at":null,"comment":"","updated_at":"2018-05-30T15:01:27Z","deployed":false},{"testing":false,"locked":true,"number":2,"active":false,"service_id":"2Yozki6zPwppbu2BgGnY85","staging":false,"created_at":"2018-05-30T15:01:28Z","deleted_at":null,"comment":"","updated_at":"2018-05-30T15:01:47Z","deployed":false},{"testing":false,"locked":true,"number":3,"active":true,"service_id":"2Yozki6zPwppbu2BgGnY85","staging":false,"created_at":"2018-05-30T15:01:38Z","deleted_at":null,"comment":"","updated_at":"2018-05-30T15:01:47Z","deployed":false}],"created_at":"2018-05-30T15:01:27Z","customer_id":"31RPDMBpiruA1yfGA2djLm","comment":"","updated_at":"2018-05-30T15:01:27Z","id":"2Yozki6zPwppbu2BgGnY85","version":{"testing":false,"staging":false,"updated_at":"2018-05-30T15:01:47Z","active":true,"number":3,"service_id":"2Yozki6zPwppbu2BgGnY85","deployed":false,"locked":true,"deleted_at":null,"created_at":"2018-05-30T15:01:38Z","comment":"","acls":[],"backends":[{"max_tls_version":null,"ssl_ca_cert":null,"auto_loadbalance":false,"ssl_check_cert":true,"shield":null,"hostname":null,"ssl_client_cert":null,"error_threshold":0,"request_condition":"","first_byte_timeout":15000,"ssl_cert_hostname":null,"weight":100,"client_cert":null,"address":"127.0.0.1","ssl_hostname":null,"ssl_sni_hostname":null,"min_tls_version":null,"ipv6":null,"ipv4":"127.0.0.1","connect_timeout":1000,"ssl_ciphers":null,"name":"localhost","healthcheck":null,"port":80,"max_conn":200,"use_ssl":false,"comment":"","between_bytes_timeout":10000,"ssl_client_key":null}],"cache_settings":[{"stale_ttl":"0","ttl":null,"name":"cache-settings-config-name","action":null,"cache_condition":""}],"conditions":[],"dictionaries":[],"directors":[],"domains":[{"comment":"","name":"example8000.com"}],"gzips":[],"headers":[{"priority":"100","src":"\"https://u.jimcdn.com\"
        req.url.path","name":"Set Location header","substitution":"","ignore_if_set":"0","cache_condition":null,"request_condition":null,"regex":"","response_condition":null,"action":"set","type":"response","dst":"http.Location"}],"healthchecks":[],"request_settings":[],"response_objects":[{"request_condition":"","content_type":"","status":"200","response":"Ok","name":"Set
        200 status code","content":"","cache_condition":""}],"snippets":[],"vcls":[],"wordpress":[],"settings":{"general.stale_if_error_ttl":43200,"general.stale_if_error":false,"general.default_ttl":3600,"general.default_host":"","general.default_pci":0}},"active_version":{"testing":false,"staging":false,"updated_at":"2018-05-30T15:01:47Z","active":true,"number":3,"service_id":"2Yozki6zPwppbu2BgGnY85","deployed":false,"locked":true,"deleted_at":null,"created_at":"2018-05-30T15:01:38Z","comment":"","acls":[],"backends":[{"max_tls_version":null,"ssl_ca_cert":null,"auto_loadbalance":false,"ssl_check_cert":true,"shield":null,"hostname":null,"ssl_client_cert":null,"error_threshold":0,"request_condition":"","first_byte_timeout":15000,"ssl_cert_hostname":null,"weight":1[...]
- request:
    body: null
    headers:
      Content-Type: [application/json]
    method: PUT
    uri: https://api.fastly.com/service/2Yozki6zPwppbu2BgGnY85/version/3/clone
  response:
    body: {string: !!python/unicode '{"testing":false,"locked":false,"number":4,"active":false,"service_id":"2Yozki6zPwppbu2BgGnY85","staging":false,"created_at":"2018-05-30T15:01:38Z","deleted_at":null,"comment":"","updated_at":"2018-05-30T15:01:47Z","deployed":false}'}
    headers:
      content-type: [application/json]
      fastly-ratelimit-remaining: ['967']
      fastly-ratelimit-reset: ['1527696000']
      status: [200 OK]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json]
    method: GET
    uri: https://api.fastly.com/service/2Yozki6zPwppbu2BgGnY85/version/4/domain
  response:
    body: {string: !!python/unicode '[{"version":4,"name":"example8000.com","deleted_at":null,"service_id":"2Yozki6zPwppbu2BgGnY85","created_at":"2018-05-30T15:01:44Z","comment":"","updated_at":"2018-05-30T15:01:44Z"}]'}
    headers:
      content-type: [application/json]
      status: [200 OK]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json]
    method: GET
    uri: https://api.fastly.com/service/2Yozki6zPwppbu2BgGnY85/version/4/healthcheck
  response:
    body: {string: !!python/unicode '[]'}
    headers:
      content-type: [application/json]
      status: [200 OK]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json]
    method: GET
    uri: https://api.fastly.com/service/2Yozki6zPwppbu2BgGnY85/version/4/condition
  response:
    body: {string: !!python/unicode '[]'}
    headers:
      content-type: [application/json]
      status: [200 OK]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json]
    method: GET
    uri: https://api.fastly.com/service/2Yozki6zPwppbu2BgGnY85/version/4/backend
  response:
    body: {string: !!python/unicode '[{"max_tls_version":null,"ssl_client_cert":null,"hostname":null,"error_threshold":0,"first_byte_timeout":15000,"client_cert":null,"weight":100,"address":"127.0.0.1","updated_at":"2018-05-30T15:01:44Z","connect_timeout":1000,"ipv4":"127.0.0.1","ssl_ciphers":null,"name":"localhost","port":80,"between_bytes_timeout":10000,"ssl_client_key":null,"ssl_ca_cert":null,"auto_loadbalance":false,"ssl_check_cert":true,"shield":null,"service_id":"2Yozki6zPwppbu2BgGnY85","request_condition":"","ssl_cert_hostname":null,"ssl_hostname":null,"ssl_sni_hostname":null,"min_tls_version":null,"ipv6":null,"version":4,"deleted_at":null,"healthcheck":null,"max_conn":200,"use_ssl":false,"created_at":"2018-05-30T15:01:44Z","comment":""}]'}
    headers:
      content-type: [application/json]
      status: [200 OK]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json]
    method: GET
    uri: https://api.fastly.com/service/2Yozki6zPwppbu2BgGnY85/version/4/director
  response:
    body: {string: !!python/unicode '[]'}
    headers:
      content-type: [application/json]
      status: [200 OK]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json]
    method: GET
    uri: https://api.fastly.com/service/2Yozki6zPwppbu2BgGnY85/version/4/cache_settings
  response:
    body: {string: !!python/unicode '[{"stale_ttl":"0","version":"4","ttl":null,"name":"cache-settings-config-name","deleted_at":null,"service_id":"2Yozki6zPwppbu2BgGnY85","cache_condition":"","created_at":"2018-05-30T15:01:45Z","action":null,"updated_at":"2018-05-30T15:01:45Z"}]'}
    headers:
      content-type: [application/json]
      status: [200 OK]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json]
    method: GET
    uri: https://api.fastly.com/service/2Yozki6zPwppbu2BgGnY85/version/4/gzip
  response:
    body: {string: !!python/unicode '[]'}
    headers:
      content-type: [application/json]
      status: [200 OK]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json]
    method: GET
    uri: https://api.fastly.com/service/2Yozki6zPwppbu2BgGnY85/version/4/header
  response:
    body: {string: !!python/unicode '[{"priority":"100","service_id":"2Yozki6zPwppbu2BgGnY85","ignore_if_set":"0","request_condition":null,"response_condition":null,"updated_at":"2018-05-30T15:01:45Z","src":"\"https://u.jimcdn.com\"
        req.url.path","version":"4","name":"Set Location header","deleted_at":null,"substitution":"","cache_condition":null,"created_at":"2018-05-30T15:01:45Z","regex":"","action":"set","type":"response","dst":"http.Location"}]'}
    headers:
      content-type: [application/json]
      status: [200 OK]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json]
    method: GET
    uri: https://api.fastly.com/service/2Yozki6zPwppbu2BgGnY85/version/4/request_settings
  response:
    body: {string: !!python/unicode '[]'}
    headers:
      content-type: [application/json]
      status: [200 OK]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json]
    method: GET
    uri: https://api.fastly.com/service/2Yozki6zPwppbu2BgGnY85/version/4/response_object
  response:
    body: {string: !!python/unicode '[{"response":"Ok","version":"4","status":"200","name":"Set
        200 status code","content":"","deleted_at":null,"service_id":"2Yozki6zPwppbu2BgGnY85","cache_condition":"","created_at":"2018-05-30T15:01:46Z","content_type":"","request_condition":"","updated_at":"2018-05-30T15:01:46Z"}]'}
    headers:
      content-type: [application/json]
      status: [200 OK]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json]
    method: GET
    uri: https://api.fastly.com/service/2Yozki6zPwppbu2BgGnY85/version/4/snippet
  response:
    body: {string: !!python/unicode '[]'}
    headers:
      content-type: [application/json]
      status: [200 OK]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json]
    method: GET
    uri: https://api.fastly.com/service/2Yozki6zPwppbu2BgGnY85/version/4/logging/s3
  response:
    body: {string: !!python/unicode '[]'}
    headers:
      content-type: [application/json]
      status: [200 OK]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json]
    method: GET
    uri: https://api.fastly.com/service/2Yozki6zPwppbu2BgGnY85/version/4/logging/syslog
  response:
    body: {string: !!python/unicode '[]'}
    headers:
      content-type: [application/json]
      status: [200 OK]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json]
    method: DELETE
    uri: https://api.fastly.com/service/2Yozki6zPwppbu2BgGnY85/version/4/domain/example8000.com
  response:
    body: {string: !!python/unicode '{"status":"ok"}'}
    headers:
      content-type: [application/json]
      fastly-ratelimit-remaining: ['966']
      fastly-ratelimit-reset: ['1527696000']
      status: [200 OK]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json]
    method: DELETE
    uri: https://api.fastly.com/service/2Yozki6zPwppbu2BgGnY85/version/4/backend/localhost
  response:
    body: {string: !!python/unicode '{"status":"ok"}'}
    headers:
      content-type: [application/json]
      fastly-ratelimit-remaining: ['965']
      fastly-ratelimit-reset: ['1527696000']
      status: [200 OK]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json]
    method: DELETE
    uri: https://api.fastly.com/service/2Yozki6zPwppbu2BgGnY85/version/4/cache_settings/cache-settings-config-name
  response:
    body: {string: !!python/unicode '{"status":"ok"}'}
    headers:
      content-type: [application/json]
      fastly-ratelimit-remaining: ['964']
      fastly-ratelimit-reset: ['1527696000']
      status: [200 OK]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json]
    method: DELETE
    uri: https://api.fastly.com/service/2Yozki6zPwppbu2BgGnY85/version/4/header/Set%20Location%20header
  response:
    body: {string: !!python/unicode '{"status":"ok"}'}
    headers:
      content-type: [application/json]
      fastly-ratelimit-remaining: ['963']
      fastly-ratelimit-reset: ['1527696000']
      status: [200 OK]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json]
    method: DELETE
    uri: https://api.fastly.com/service/2Yozki6zPwppbu2BgGnY85/version/4/response_object/Set%20200%20status%20code
  response:
    body: {string: !!python/unicode '{"status":"ok"}'}
    headers:
      content-type: [application/json]
      fastly-ratelimit-remaining: ['962']
      fastly-ratelimit-reset: ['1527696000']
      status: [200 OK]
    status: {code: 200, message: OK}
[...]
- request:
    body: !!python/unicode '{"access_key": "ACCESS_KEY", "domain": "example8000.com",
      "redundancy": "standard", "placement": null, "name": "test_s3", "format_version":
      2, "format": "%{%Y-%m-%dT%H:%S.000}t %h \"%r\" %>s %b", "server_side_encryption_kms_key_id":
      null, "period": 60, "bucket_name": "prod-fastly-logs", "gzip_level": 0, "path":
      "/", "secret_key": "SECRET", "message_type": "classic", "server_side_encryption":
      null, "timestamp_format": "%Y-%m-%dT%H:%M:%S.000", "response_condition": null}'
    headers:
      Content-Type: [application/json]
    method: POST
    uri: https://api.fastly.com/service/2Yozki6zPwppbu2BgGnY85/version/4/logging/s3
  response:
    body: {string: !!python/unicode '{"access_key":"ACCESS_KEY","domain":"example8000.com","redundancy":"standard","placement":null,"name":"test_s3","format_version":"2","format":"%{%Y-%m-%dT%H:%S.000}t
        %h \"%r\" %\u003es %b","server_side_encryption_kms_key_id":null,"period":"60","bucket_name":"prod-fastly-logs","gzip_level":"0","path":"/","secret_key":"SECRET","message_type":"classic","server_side_encryption":null,"timestamp_format":"%Y-%m-%dT%H:%M:%S.000","response_condition":"","service_id":"2Yozki6zPwppbu2BgGnY85","version":"4","public_key":null,"updated_at":"2018-05-30T15:01:58Z","deleted_at":null,"created_at":"2018-05-30T15:01:58Z"}'}
    headers:
      content-type: [application/json]
      fastly-ratelimit-remaining: ['957']
      fastly-ratelimit-reset: ['1527696000']
      status: [200 OK]
    status: {code: 200, message: OK}
- request:
    body: !!python/unicode '{"general.default_ttl": 3600}'
    headers:
      Content-Type: [application/json]
    method: PUT
    uri: https://api.fastly.com/service/2Yozki6zPwppbu2BgGnY85/version/4/settings
  response:
    body: {string: !!python/unicode '{"general.stale_if_error_ttl":43200,"general.stale_if_error":false,"general.default_ttl":3600,"version":4,"general.default_host":"","general.default_pci":0,"service_id":"2Yozki6zPwppbu2BgGnY85"}'}
    headers:
      content-type: [application/json]
      fastly-ratelimit-remaining: ['956']
      fastly-ratelimit-reset: ['1527696000']
      status: [200 OK]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json]
    method: PUT
    uri: https://api.fastly.com/service/2Yozki6zPwppbu2BgGnY85/version/4/activate
  response:
    body: {string: !!python/unicode '{"testing":false,"locked":true,"number":4,"active":true,"service_id":"2Yozki6zPwppbu2BgGnY85","staging":false,"created_at":"2018-05-30T15:01:50Z","deleted_at":null,"comment":"","updated_at":"2018-05-30T15:01:58Z","deployed":false,"msg":null}'}
    headers:
      content-type: [application/json]
      fastly-ratelimit-remaining: ['955']
      fastly-ratelimit-reset: ['1527696000']
      status: [200 OK]
    status: {code: 200, message: OK}
[...]
