interactions:
- request:
    body: null
    headers:
      Content-Type: [application/json]
    method: GET
    uri: https://api.fastly.com/service/search?name=Fastly%20Ansible%20Module%20Test
  response:
    body: {string: !!python/unicode '{"name":"Fastly Ansible Module Test","deleted_at":null,"versions":[{"testing":false,"locked":false,"number":1,"active":false,"service_id":"3zrbQBlV8EKHJTiItIbxr2","staging":false,"created_at":"2017-10-10T10:33:53Z","deleted_at":null,"comment":"","updated_at":"2017-10-10T10:33:53Z","deployed":false},{"testing":false,"number":2,"service_id":"3zrbQBlV8EKHJTiItIbxr2","staging":false,"deployed":false,"locked":true,"active":true,"comment":""}],"created_at":"2017-10-10T10:33:53Z","customer_id":"1z3ENiEMpKOrsGqTBLhkF2","comment":"","updated_at":"2017-10-10T10:33:53Z","id":"3zrbQBlV8EKHJTiItIbxr2"}'}
    headers:
      content-type: [application/json]
      status: [200 OK]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json]
    method: GET
    uri: https://api.fastly.com/service/3zrbQBlV8EKHJTiItIbxr2/details
  response:
    body: {string: !!python/unicode '{"name":"Fastly Ansible Module Test","deleted_at":null,"versions":[{"testing":false,"locked":false,"number":1,"active":false,"service_id":"3zrbQBlV8EKHJTiItIbxr2","staging":false,"created_at":"2017-10-10T10:33:53Z","deleted_at":null,"comment":"","updated_at":"2017-10-10T10:33:53Z","deployed":false},{"testing":false,"locked":true,"number":2,"active":true,"service_id":"3zrbQBlV8EKHJTiItIbxr2","staging":false,"created_at":"2017-10-10T10:33:54Z","deleted_at":null,"comment":"","updated_at":"2017-10-10T10:33:59Z","deployed":false}],"created_at":"2017-10-10T10:33:53Z","customer_id":"1z3ENiEMpKOrsGqTBLhkF2","comment":"","updated_at":"2017-10-10T10:33:53Z","id":"3zrbQBlV8EKHJTiItIbxr2","version":{"testing":false,"number":2,"service_id":"3zrbQBlV8EKHJTiItIbxr2","staging":false,"updated_at":"2017-10-10T10:33:59Z","deployed":false,"locked":true,"active":true,"deleted_at":null,"created_at":"2017-10-10T10:33:54Z","comment":"","acls":[],"backends":[{"max_tls_version":null,"ssl_ca_cert":null,"auto_loadbalance":false,"ssl_check_cert":true,"shield":null,"hostname":null,"ssl_client_cert":null,"error_threshold":0,"request_condition":"","first_byte_timeout":15000,"ssl_cert_hostname":null,"weight":100,"client_cert":null,"address":"127.0.0.1","ssl_hostname":null,"ssl_sni_hostname":null,"min_tls_version":null,"ipv6":null,"ipv4":"127.0.0.1","connect_timeout":1000,"ssl_ciphers":null,"name":"localhost","healthcheck":null,"port":80,"max_conn":200,"use_ssl":false,"comment":"","between_bytes_timeout":10000,"ssl_client_key":null}],"cache_settings":[],"conditions":[{"priority":"0","statement":"req.url
        ~ \"^/robots.txt\"","comment":"","name":"condition-name","type":"REQUEST"}],"dictionaries":[],"directors":[],"domains":[{"comment":"","name":"example8000.com"}],"gzips":[],"headers":[{"priority":"100","src":"\"https://u.jimcdn.com\"
        req.url.path","name":"Set Location header","substitution":"","ignore_if_set":"0","cache_condition":null,"request_condition":null,"regex":"","response_condition":null,"action":"set","type":"response","dst":"http.Location"}],"healthchecks":[],"request_settings":[],"response_objects":[{"request_condition":"","content_type":"","status":"200","response":"Ok","name":"Set
        200 status code","content":"","cache_condition":""}],"snippets":[],"vcls":[],"wordpress":[],"settings":{"general.default_ttl":3600,"general.default_host":"","general.default_pci":0}},"active_version":{"testing":false,"number":2,"service_id":"3zrbQBlV8EKHJTiItIbxr2","staging":false,"updated_at":"2017-10-10T10:33:59Z","deployed":false,"locked":true,"active":true,"deleted_at":null,"created_at":"2017-10-10T10:33:54Z","comment":"","acls":[],"backends":[{"max_tls_version":null,"ssl_ca_cert":null,"auto_loadbalance":false,"ssl_check_cert":true,"shield":null,"hostname":null,"ssl_client_cert":null,"error_threshold":0,"request_condition":"","first_byte_timeout":15000,"ssl_cert_hostname":null,"weight":1[...]
- request:
    body: null
    headers:
      Content-Type: [application/json]
    method: POST
    uri: https://api.fastly.com/service/3zrbQBlV8EKHJTiItIbxr2/version
  response:
    body: {string: !!python/unicode '{"service_id":"3zrbQBlV8EKHJTiItIbxr2","number":3}'}
    headers:
      content-type: [application/json]
      fastly-ratelimit-remaining: ['946']
      fastly-ratelimit-reset: ['1507633200']
      status: [200 OK]
    status: {code: 200, message: OK}
- request:
    body: !!python/unicode '{"comment": "", "name": "example8000.com"}'
    headers:
      Content-Type: [application/json]
    method: POST
    uri: https://api.fastly.com/service/3zrbQBlV8EKHJTiItIbxr2/version/3/domain
  response:
    body: {string: !!python/unicode '{"comment":"","name":"example8000.com","service_id":"3zrbQBlV8EKHJTiItIbxr2","version":3,"deleted_at":null,"created_at":"2017-10-10T10:34:01Z","updated_at":"2017-10-10T10:34:01Z"}'}
    headers:
      content-type: [application/json]
      fastly-ratelimit-remaining: ['945']
      fastly-ratelimit-reset: ['1507633200']
      status: [200 OK]
    status: {code: 200, message: OK}
- request:
    body: !!python/unicode '{"ssl_ca_cert": null, "request_condition": "", "name":
      "localhost", "weight": 100, "healthcheck": null, "first_byte_timeout": 15000,
      "connect_timeout": 1000, "error_threshold": 0, "ssl_cert_hostname": null, "address":
      "127.0.0.1", "between_bytes_timeout": 10000, "max_conn": 200, "port": 80, "ssl_hostname":
      null, "shield": null}'
    headers:
      Content-Type: [application/json]
    method: POST
    uri: https://api.fastly.com/servi[...]
- request:
    body: !!python/unicode '{"comment": "", "retries": 5, "capacity": 100, "shield":
      null, "backends": ["localhost"], "quorum": 75, "type": 4, "name": "client_director"}'
    headers:
      Content-Type: [application/json]
    method: POST
    uri: https://api.fastly.com/service/3zrbQBlV8EKHJTiItIbxr2/version/3/director
  response:
    body: {string: !!python/unicode '{"comment":"","retries":5,"capacity":100,"shield":null,"backends":[],"quorum":75,"type":4,"name":"client_director","service_id":"3zrbQBlV8EKHJTiItIbxr2","version":3,"deleted_at":null,"created_at":"2017-10-10T10:34:02Z","updated_at":"2017-10-10T10:34:02Z"}'}
    headers:
      content-type: [application/json]
      fastly-ratelimit-remaining: ['943']
      fastly-ratelimit-reset: ['1507633200']
      status: [200 OK]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json]
    method: POST
    uri: https://api.fastly.com/service/3zrbQBlV8EKHJTiItIbxr2/version/3/director/client_director/backend/localhost
  response:
    body: {string: !!python/unicode '{"service_id":"3zrbQBlV8EKHJTiItIbxr2","version":3,"director_name":"client_director","backend_name":"localhost","created_at":"2017-10-10T10:34:03Z","deleted_at":null,"updated_at":"2017-10-10T10:34:03Z"}'}
    headers:
      content-type: [application/json]
      fastly-ratelimit-remaining: ['942']
      fastly-ratelimit-reset: ['1507633200']
      status: [200 OK]
    status: {code: 200, message: OK}
- request:
    body: !!python/unicode '{"ignore_if_set": "0", "regex": "", "request_condition":
      null, "name": "Set Location header", "src": "\"https://u.jimcdn.com\" req.url.path",
      "dst": "http.Location", "substitution": "", "priority": "100", "cache_condition":
      null, "action": "set", "type": "response", "response_condition": null}'
    headers:
      Content-Type: [application/json]
    method: POST
    uri: https://api.fastly.com/service/3zrbQBlV8EKHJTiItIbxr2/version/3/header
  response:
    body: {string: !!python/unicode '{"ignore_if_set":"0","regex":"","request_condition":null,"name":"Set
        Location header","src":"\"https://u.jimcdn.com\" req.url.path","dst":"http.Location","substitution":"","priority":"100","cache_condition":null,"action":"set","type":"response","response_condition":null,"service_id":"3zrbQBlV8EKHJTiItIbxr2","version":"3","updated_at":"2017-10-10T10:34:03Z","deleted_at":null,"created_at":"2017-10-10T10:34:03Z"}'}
    headers:
      content-type: [application/json]
      fastly-ratelimit-remaining: ['941']
      fastly-ratelimit-reset: ['1507633200']
      status: [200 OK]
    status: {code: 200, message: OK}
- request:
    body: !!python/unicode '{"status": "200", "request_condition": "", "name": "Set
      200 status code", "content": "", "content_type": "", "response": "Ok"}'
    headers:
      Content-Type: [application/json]
    method: POST
    uri: https://api.fastly.com/service/3zrbQBlV8EKHJTiItIbxr2/version/3/response_object
  response:
    body: {string: !!python/unicode '{"status":"200","request_condition":"","name":"Set
        200 status code","content":"","content_type":"","response":"Ok","service_id":"3zrbQBlV8EKHJTiItIbxr2","version":"3","deleted_at":null,"cache_condition":"","created_at":"2017-10-10T10:34:04Z","updated_at":"2017-10-10T10:34:04Z"}'}
    headers:
      content-type: [application/json]
      fastly-ratelimit-remaining: ['940']
      fastly-ratelimit-reset: ['1507633200']
      status: [200 OK]
    status: {code: 200, message: OK}
- request:
    body: !!python/unicode '{"general.default_ttl": 3600}'
    headers:
      Content-Type: [application/json]
    method: PUT
    uri: https://api.fastly.com/service/3zrbQBlV8EKHJTiItIbxr2/version/3/settings
  response:
    body: {string: !!python/unicode '{"general.default_ttl":3600,"version":3,"general.default_host":"","general.default_pci":0,"service_id":"3zrbQBlV8EKHJTiItIbxr2"}'}
    headers:
      content-type: [application/json]
      fastly-ratelimit-remaining: ['939']
      fastly-ratelimit-reset: ['1507633200']
      status: [200 OK]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json]
    method: PUT
    uri: https://api.fastly.com/service/3zrbQBlV8EKHJTiItIbxr2/version/3/activate
  response:
    body: {string: !!python/unicode '{"testing":false,"locked":true,"number":3,"active":true,"service_id":"3zrbQBlV8EKHJTiItIbxr2","staging":false,"created_at":"2017-10-10T10:34:01Z","deleted_at":null,"comment":"","updated_at":"2017-10-10T10:34:04Z","deployed":false,"msg":null}'}
    headers:
      content-type: [application/json]
      fastly-ratelimit-remaining: ['938']
      fastly-ratelimit-reset: ['1507633200']
      status: [200 OK]
    status: {code: 200, message: OK}
[...]
