interactions:
- request:
    body: null
    headers:
      Content-Type: [application/json]
    method: GET
    uri: https://api.fastly.com/service/search?name=Fastly%20Ansible%20Module%20Test
  response:
    body: {string: !!python/unicode '{"msg":"Record not found","detail":"Cannot load
        service ''31RPDMBpiruA1yfGA2djLm''-''Fastly Ansible Module Test''"}'}
    headers:
      content-type: [application/json]
      status: [404 Not Found]
    status: {code: 404, message: Not Found}
- request:
    body: !!python/unicode '{"name": "Fastly Ansible Module Test"}'
    headers:
      Content-Type: [application/json]
    method: POST
    uri: https://api.fastly.com/service
  response:
    body: {string: !!python/unicode '{"customer_id":"31RPDMBpiruA1yfGA2djLm","name":"Fastly
        Ansible Module Test","publish_key":"aa77951407e41e3ff9599ee4c78b8c78296f2b98","versions":[{"testing":false,"locked":false,"number":1,"active":false,"service_id":"73GTR1qr7h9iRGU8pDAUSM","staging":false,"created_at":"2018-05-29T21:47:38Z","deleted_at":null,"comment":"","updated_at":"2018-05-29T21:47:38Z","deployed":false}],"deleted_at":null,"created_at":"2018-05-29T21:47:38Z","comment":"","updated_at":"2018-05-29T21:47:38Z","id":"73GTR1qr7h9iRGU8pDAUSM"}'}
    headers:
      content-type: [application/json]
      fastly-ratelimit-remaining: ['705']
      fastly-ratelimit-reset: ['1527631200']
      status: [200 OK]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json]
    method: GET
    uri: https://api.fastly.com/service/73GTR1qr7h9iRGU8pDAUSM/details
  response:
    body: {string: !!python/unicode '{"name":"Fastly Ansible Module Test","deleted_at":null,"versions":[{"testing":false,"locked":false,"number":1,"active":false,"service_id":"73GTR1qr7h9iRGU8pDAUSM","staging":false,"created_at":"2018-05-29T21:47:38Z","deleted_at":null,"comment":"","updated_at":"2018-05-29T21:47:38Z","deployed":false}],"created_at":"2018-05-29T21:47:38Z","customer_id":"31RPDMBpiruA1yfGA2djLm","comment":"","updated_at":"2018-05-29T21:47:38Z","id":"73GTR1qr7h9iRGU8pDAUSM","version":{"testing":false,"staging":false,"updated_at":"2018-05-29T21:47:38Z","active":false,"number":1,"service_id":"73GTR1qr7h9iRGU8pDAUSM","deployed":false,"locked":false,"deleted_at":null,"created_at":"2018-05-29T21:47:38Z","comment":"","acls":[],"backends":[],"cache_settings":[],"conditions":[],"dictionaries":[],"directors":[],"domains":[],"gzips":[],"headers":[],"healthchecks":[],"request_settings":[],"response_objects":[],"snippets":[],"vcls":[],"wordpress":[],"settings":{"general.stale_if_error_ttl":43200,"general.stale_if_error":false,"general.default_ttl":3600,"general.default_host":"","general.default_pci":0}},"active_version":null}'}
    headers:
      content-type: [application/json]
      status: [200 OK]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json]
    method: PUT
    uri: https://api.fastly.com/service/73GTR1qr7h9iRGU8pDAUSM/version/1/clone
  response:
    body: {string: !!python/unicode '{"testing":false,"locked":false,"number":2,"active":false,"service_id":"73GTR1qr7h9iRGU8pDAUSM","staging":false,"created_at":"2018-05-29T21:47:38Z","deleted_at":null,"comment":"","updated_at":"2018-05-29T21:47:38Z","deployed":false}'}
    headers:
      content-type: [application/json]
      fastly-ratelimit-remaining: ['704']
      fastly-ratelimit-reset: ['1527631200']
      status: [200 OK]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json]
    method: GET
    uri: https://api.fastly.com/service/73GTR1qr7h9iRGU8pDAUSM/version/2/domain
  response:
    body: {string: !!python/unicode '[]'}
    headers:
      content-type: [application/json]
      status: [200 OK]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json]
    method: GET
    uri: https://api.fastly.com/service/73GTR1qr7h9iRGU8pDAUSM/version/2/healthcheck
  response:
    body: {string: !!python/unicode '[]'}
    headers:
      content-type: [application/json]
      status: [200 OK]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json]
    method: GET
    uri: https://api.fastly.com/service/73GTR1qr7h9iRGU8pDAUSM/version/2/condition
  response:
    body: {string: !!python/unicode '[]'}
    headers:
      content-type: [application/json]
      status: [200 OK]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json]
    method: GET
    uri: https://api.fastly.com/service/73GTR1qr7h9iRGU8pDAUSM/version/2/backend
  response:
    body: {string: !!python/unicode '[]'}
    headers:
      content-type: [application/json]
      status: [200 OK]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json]
    method: GET
    uri: https://api.fastly.com/service/73GTR1qr7h9iRGU8pDAUSM/version/2/director
  response:
    body: {string: !!python/unicode '[]'}
    headers:
      content-type: [application/json]
      status: [200 OK]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json]
    method: GET
    uri: https://api.fastly.com/service/73GTR1qr7h9iRGU8pDAUSM/version/2/cache_settings
  response:
    body: {string: !!python/unicode '[]'}
    headers:
      content-type: [application/json]
      status: [200 OK]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json]
    method: GET
    uri: https://api.fastly.com/service/73GTR1qr7h9iRGU8pDAUSM/version/2/gzip
  response:
    body: {string: !!python/unicode '[]'}
    headers:
      content-type: [application/json]
      status: [200 OK]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json]
    method: GET
    uri: https://api.fastly.com/service/73GTR1qr7h9iRGU8pDAUSM/version/2/header
  response:
    body: {string: !!python/unicode '[]'}
    headers:
      content-type: [application/json]
      status: [200 OK]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json]
    method: GET
    uri: https://api.fastly.com/service/73GTR1qr7h9iRGU8pDAUSM/version/2/request_settings
  response:
    body: {string: !!python/unicode '[]'}
    headers:
      content-type: [application/json]
      status: [200 OK]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json]
    method: GET
    uri: https://api.fastly.com/service/73GTR1qr7h9iRGU8pDAUSM/version/2/response_object
  response:
    body: {string: !!python/unicode '[]'}
    headers:
      content-type: [application/json]
      status: [200 OK]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json]
    method: GET
    uri: https://api.fastly.com/service/73GTR1qr7h9iRGU8pDAUSM/version/2/snippet
  response:
    body: {string: !!python/unicode '[]'}
    headers:
      content-type: [application/json]
      status: [200 OK]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json]
    method: GET
    uri: https://api.fastly.com/service/73GTR1qr7h9iRGU8pDAUSM/version/2/logging/s3
  response:
    body: {string: !!python/unicode '[]'}
    headers:
      content-type: [application/json]
      status: [200 OK]
    status: {code: 200, message: OK}
[...]
- request:
    body: !!python/unicode '{"ssl_ca_cert": null, "request_condition": "", "name":
      "localhost", "weight": 100, "healthcheck": null, "first_byte_timeout": 15000,
      "connect_timeout": 1000, "error_threshold": 0, "ssl_cert_hostname": null, "address":
      "127.0.0.1", "between_bytes_timeout": 10000, "max_conn": 200, "port": 80, "ssl_hostname":
      null, "shield": null}'
    headers:
      Content-Type: [application/json]
    method: POST
    uri: https://api.fastly.com/service/73GTR1qr7h9iRGU8pDAUSM/version/2/backend
  response:
    body: {string: !!python/unicode '{"ssl_ca_cert":null,"request_condition":"","name":"localhost","weight":100,"healthcheck":null,"first_byte_timeout":15000,"connect_timeout":1000,"error_threshold":0,"ssl_cert_hostname":null,"address":"127.0.0.1","between_bytes_timeout":10000,"max_conn":200,"port":80,"ssl_hostname":null,"shield":null,"service_id":"73GTR1qr7h9iRGU8pDAUSM","version":2,"max_tls_version":null,"ssl_client_cert":null,"hostname":null,"client_cert":null,"updated_at":"2018-05-29T21:47:45Z","ipv4":"127.0.0.1","ssl_ciphers":null,"ssl_client_key":null,"auto_loadbalance":false,"ssl_check_cert":true,"ssl_sni_hostname":null,"min_tls_version":null,"ipv6":null,"deleted_at":null,"use_ssl":false,"created_at":"2018-05-29T21:47:45Z","comment":""}'}
    headers:
      content-type: [application/json]
      fastly-ratelimit-remaining: ['702']
      fastly-ratelimit-reset: ['1527631200']
      status: [200 OK]
    status: {code: 200, message: OK}
- request:
    body: !!python/unicode '{"ignore_if_set": "0", "regex": "", "request_condition":
      null, "name": "Set Location header", "src": "\"https://u.jimcdn.com\" req.url.path",
      "dst": "http.Location", "substitution": "", "priority": "100", "cache_condition":
      null, "action": "set", "type": "response", "response_condition": null}'
    headers:
      Content-Type: [application/json]
    method: POST
    uri: https://api.fastly.com/service/73GTR1qr7h9iRGU8pDAUSM/version/2/header
  response:
    body: {string: !!python/unicode '{"ignore_if_set":"0","regex":"","request_condition":null,"name":"Set
        Location header","src":"\"https://u.jimcdn.com\" req.url.path","dst":"http.Location","substitution":"","priority":"100","cache_condition":null,"action":"set","type":"response","response_condition":null,"service_id":"73GTR1qr7h9iRGU8pDAUSM","version":"2","updated_at":"2018-05-29T21:47:45Z","deleted_at":null,"created_at":"2018-05-29T21:47:45Z"}'}
    headers:
      content-type: [application/json]
      fastly-ratelimit-remaining: ['701']
      fastly-ratelimit-reset: ['1527631200']
      status: [200 OK]
    status: {code: 200, message: OK}
- request:
    body: !!python/unicode '{"status": "200", "request_condition": "", "name": "Set
      200 status code", "content": "Hello from Fastly", "content_type": "text/plain",
      "response": "Ok"}'
    headers:
      Content-Type: [application/json]
    method: POST
    uri: https://api.fastly.com/service/73GTR1qr7h9iRGU8pDAUSM/version/2/response_object
  response:
    body: {string: !!python/unicode '{"status":"200","request_condition":"","name":"Set
        200 status code","content":"Hello from Fastly","content_type":"text/plain","response":"Ok","service_id":"73GTR1qr7h9iRGU8pDAUSM","version":"2","deleted_at":null,"cache_condition":"","created_at":"2018-05-29T21:47:45Z","updated_at":"2018-05-29T21:47:45Z"}'}
    headers:
      content-type: [application/json]
      fastly-ratelimit-remaining: ['700']
      fastly-ratelimit-reset: ['1527631200']
      status: [200 OK]
    status: {code: 200, message: OK}
- request:
    body: !!python/unicode '{"general.default_ttl": 3600}'
    headers:
      Content-Type: [application/json]
    method: PUT
    uri: https://api.fastly.com/service/73GTR1qr7h9iRGU8pDAUSM/version/2/settings
  response:
    body: {string: !!python/unicode '{"general.stale_if_error_ttl":43200,"general.stale_if_error":false,"general.default_ttl":3600,"version":2,"general.default_host":"","general.default_pci":0,"service_id":"73GTR1qr7h9iRGU8pDAUSM"}'}
    headers:
      content-type: [application/json]
      fastly-ratelimit-remaining: ['699']
      fastly-ratelimit-reset: ['1527631200']
      status: [200 OK]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json]
    method: PUT
    uri: https://api.fastly.com/service/73GTR1qr7h9iRGU8pDAUSM/version/2/activate
  response:
    body: {string: !!python/unicode '{"testing":false,"locked":true,"number":2,"active":true,"service_id":"73GTR1qr7h9iRGU8pDAUSM","staging":false,"created_at":"2018-05-29T21:47:39Z","deleted_at":null,"comment":"","updated_at":"2018-05-29T21:47:46Z","deployed":false,"msg":null}'}
    headers:
      content-type: [application/json]
      fastly-ratelimit-remaining: ['698']
      fastly-ratelimit-reset: ['1527631200']
      status: [200 OK]
    status: {code: 200, message: OK}
[...]
