interactions:
- request:
    body: null
    headers:
      Content-Type: [application/json]
    method: GET
    uri: https://api.fastly.com/service/search?name=Fastly%20Ansible%20Module%20Test
  response:
    body: {string: !!python/unicode '{"msg":"Record not found","detail":"Cannot load
        service ''15DqjG1ON0S28gluYrATvC''-''Fastly Ansible Module Test''"}'}
    headers:
      content-type: [application/json]
      status: [404 Not Found]
    status: {code: 404, message: Not Found}
- request:
    body: !!python/unicode '{"name": "Fastly Ansible Module Test"}'
    headers:
      Content-Type: [application/json]
    method: POST
    uri: https://api.fastly.com/service
  response:
    body: {string: !!python/unicode '{"name":"Fastly Ansible Module Test","customer_id":"15DqjG1ON0S28gluYrATvC","publish_key":"09c9755591260b522c52b7cb952a38b7a8d4ef51","versions":[{"testing":false,"locked":false,"number":1,"active":false,"service_id":"15DqjG1ON0S28gluYrATvC","staging":false,"created_at":"2016-11-08T00:00:18+00:00","deleted_at":null,"comment":"","updated_at":"2016-11-08T00:00:18+00:00","deployed":false}],"deleted_at":null,"created_at":"2016-11-08T00:00:18+00:00","comment":"","updated_at":"2016-11-08T00:00:18+00:00","id":"15DqjG1ON0S28gluYrATvC"}'}
    headers:
      content-type: [application/json]
      fastly-ratelimit-remaining: ['999']
      fastly-ratelimit-reset: ['1478566800']
      status: [200 OK]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json]
    method: GET
    uri: https://api.fastly.com/service/15DqjG1ON0S28gluYrATvC/details
  response:
    body: {string: !!python/unicode '{"name":"Fastly Ansible Module Test","deleted_at":null,"versions":[{"testing":false,"locked":false,"number":1,"active":false,"service_id":"15DqjG1ON0S28gluYrATvC","staging":false,"created_at":"2016-11-08T00:00:18+00:00","deleted_at":null,"comment":"","updated_at":"2016-11-08T00:00:18+00:00","deployed":false}],"created_at":"2016-11-08T00:00:18+00:00","customer_id":"15DqjG1ON0S28gluYrATvC","comment":"","updated_at":"2016-11-08T00:00:18+00:00","id":"15DqjG1ON0S28gluYrATvC","version":{"testing":false,"number":1,"service_id":"15DqjG1ON0S28gluYrATvC","staging":false,"updated_at":"2016-11-08T00:00:18+00:00","deployed":false,"locked":false,"active":false,"deleted_at":null,"created_at":"2016-11-08T00:00:18+00:00","comment":"","acls":[],"backends":[],"cache_settings":[],"conditions":[],"dictionaries":[],"directors":[],"domains":[],"gzips":[],"headers":[],"healthchecks":[],"request_settings":[],"response_objects":[],"vcls":[],"wordpress":[],"settings":{"general.default_ttl":3600,"general.default_host":"","general.default_pci":0}},"active_version":null}'}
    headers:
      content-type: [application/json]
      status: [200 OK]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json]
    method: POST
    uri: https://api.fastly.com/service/15DqjG1ON0S28gluYrATvC/version
  response:
    body: {string: !!python/unicode '{"service_id":"15DqjG1ON0S28gluYrATvC","number":2}'}
    headers:
      content-type: [application/json]
      fastly-ratelimit-remaining: ['998']
      fastly-ratelimit-reset: ['1478566800']
      status: [200 OK]
    status: {code: 200, message: OK}
- request:
    body: !!python/unicode '{"comment": "", "name": "example7000.com"}'
    headers:
      Content-Type: [application/json]
    method: POST
    uri: https://api.fastly.com/service/15DqjG1ON0S28gluYrATvC/version/2/domain
  response:
    body: {string: !!python/unicode '{"comment":"","name":"example7000.com","service_id":"15DqjG1ON0S28gluYrATvC","version":2,"deleted_at":null,"created_at":"2016-11-08T00:00:19+00:00","updated_at":"2016-11-08T00:00:19+00:00"}'}
    headers:
      content-type: [application/json]
      fastly-ratelimit-remaining: ['997']
      fastly-ratelimit-reset: ['1478566800']
      status: [200 OK]
    status: {code: 200, message: OK}
- request:
    body: !!python/unicode '{"comment": "", "max_tls_version": null, "shield": null,
      "weight": 100, "min_tls_version": null, "ssl_check_cert": true, "first_byte_timeout":
      "15000", "auto_loadbalance": false, "port": 80, "ssl_hostname": "127.0.0.1",
      "error_threshold": "0", "max_conn": "200", "connect_timeout": "1000", "ssl_ca_cert":
      null, "request_condition": "", "ssl_cert_hostname": null, "ssl_client_key":
      null, "address": "127.0.0.1", "ssl_client_cert": null, "name": "localhost",
      "ssl_ciphers": null, "ssl_sni_hostname": null, "between_bytes_timeout": "10000"}'
    headers:
      Content-Type: [application/json]
    method: POST
    uri: https://api.fastly.com/service/15DqjG1ON0S28gluYrATvC/version/2/backend
  response:
    body: {string: !!python/unicode '{"comment":"","max_tls_version":null,"shield":null,"weight":100,"min_tls_version":null,"ssl_check_cert":true,"first_byte_timeout":15000,"auto_loadbalance":false,"port":80,"ssl_hostname":"127.0.0.1","error_threshold":0,"max_conn":200,"connect_timeout":1000,"ssl_ca_cert":null,"request_condition":"","ssl_cert_hostname":null,"ssl_client_key":null,"address":"127.0.0.1","ssl_client_cert":null,"name":"localhost","ssl_ciphers":null,"ssl_sni_hostname":null,"between_bytes_timeout":10000,"service_id":"15DqjG1ON0S28gluYrATvC","version":2,"hostname":"127.0.0.1","client_cert":null,"updated_at":"2016-11-08T00:00:19+00:00","ipv4":null,"ipv6":null,"deleted_at":null,"healthcheck":null,"use_ssl":false,"created_at":"2016-11-08T00:00:19+00:00"}'}
    headers:
      content-type: [application/json]
      fastly-ratelimit-remaining: ['996']
      fastly-ratelimit-reset: ['1478566800']
      status: [200 OK]
    status: {code: 200, message: OK}
- request:
    body: !!python/unicode '{"ignore_if_set": "0", "regex": "", "name": "Set Location
      header", "src": "\"https://u.jimcdn.com\" req.url.path", "dst": "http.Location",
      "priority": "100", "substitution": "", "action": "set", "type": "response"}'
    headers:
      Content-Type: [application/json]
    method: POST
    uri: https://api.fastly.com/service/15DqjG1ON0S28gluYrATvC/version/2/header
  response:
    body: {string: !!python/unicode '{"ignore_if_set":"0","regex":"","name":"Set Location
        header","src":"\"https://u.jimcdn.com\" req.url.path","dst":"http.Location","priority":"100","substitution":"","action":"set","type":"response","service_id":"15DqjG1ON0S28gluYrATvC","version":"2","request_condition":null,"response_condition":null,"updated_at":"2016-11-08T00:00:19+00:00","deleted_at":null,"cache_condition":null,"created_at":"2016-11-08T00:00:19+00:00"}'}
    headers:
      content-type: [application/json]
      fastly-ratelimit-remaining: ['995']
      fastly-ratelimit-reset: ['1478566800']
      status: [200 OK]
    status: {code: 200, message: OK}
- request:
    body: !!python/unicode '{"status": "200", "request_condition": "", "name": "Set
      200 status code", "response": "Ok"}'
    headers:
      Content-Type: [application/json]
    method: POST
    uri: https://api.fastly.com/service/15DqjG1ON0S28gluYrATvC/version/2/response_object
  response:
    body: {string: !!python/unicode '{"status":"200","request_condition":"","name":"Set
        200 status code","response":"Ok","service_id":"15DqjG1ON0S28gluYrATvC","version":"2","content":null,"deleted_at":null,"cache_condition":"","created_at":"2016-11-08T00:00:19+00:00","content_type":null,"updated_at":"2016-11-08T00:00:19+00:00"}'}
    headers:
      content-type: [application/json]
      fastly-ratelimit-remaining: ['994']
      fastly-ratelimit-reset: ['1478566800']
      status: [200 OK]
    status: {code: 200, message: OK}
- request:
    body: !!python/unicode '{"request_condition": null, "name": "request-setting-name",
      "force_miss": null, "xff": "append_all", "bypass_busy_wait": null, "hash_keys":
      null, "force_ssl": "0", "action": null, "default_host": null, "timer_support":
      null, "max_stale_age": null}'
    headers:
      Content-Type: [application/json]
    method: POST
    uri: https://api.fastly.com/service/15DqjG1ON0S28gluYrATvC/version/2/request_settings
  response:
    body: {string: !!python/unicode '{"request_condition":"","name":"request-setting-name","force_miss":null,"xff":"append_all","bypass_busy_wait":null,"hash_keys":null,"force_ssl":"0","action":null,"default_host":null,"timer_support":null,"max_stale_age":null,"service_id":"15DqjG1ON0S28gluYrATvC","version":"2","updated_at":"2016-11-08T00:00:19+00:00","geo_headers":null,"deleted_at":null,"created_at":"2016-11-08T00:00:19+00:00"}'}
    headers:
      content-type: [application/json]
      fastly-ratelimit-remaining: ['993']
      fastly-ratelimit-reset: ['1478566800']
      status: [200 OK]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json]
    method: PUT
    uri: https://api.fastly.com/service/15DqjG1ON0S28gluYrATvC/version/2/activate
  response:
    body: {string: !!python/unicode '{"testing":false,"locked":true,"number":2,"active":true,"service_id":"15DqjG1ON0S28gluYrATvC","staging":false,"created_at":"2016-11-08T00:00:18+00:00","deleted_at":null,"comment":"","updated_at":"2016-11-08T00:00:18+00:00","deployed":false,"msg":null}'}
    headers:
      content-type: [application/json]
      fastly-ratelimit-remaining: ['992']
      fastly-ratelimit-reset: ['1478566800']
      status: [200 OK]
    status: {code: 200, message: OK}
[...]
