interactions:
- request:
    body: null
    headers:
      Content-Type: [application/json]
    method: GET
    uri: https://api.fastly.com/service/search?name=Fastly%20Ansible%20Module%20Test
  response:
    body: {string: !!python/unicode '{"msg":"Record not found","detail":"Cannot load
        service ''31RPDMBpiruA1yfGA2djLm''-''Fastly Ansible Module Test''"}'}
    headers:
      content-type: [application/json]
      status: [404 Not Found]
    status: {code: 404, message: Not Found}
- request:
    body: !!python/unicode '{"name": "Fastly Ansible Module Test"}'
    headers:
      Content-Type: [application/json]
    method: POST
    uri: https://api.fastly.com/service
  response:
    body: {string: !!python/unicode '{"customer_id":"31RPDMBpiruA1yfGA2djLm","name":"Fastly
        Ansible Module Test","publish_key":"e0d45d57621b7ece1586274f8acb1ea24a1e9a40","versions":[{"testing":false,"locked":false,"number":1,"active":false,"service_id":"2qc4whblq0yZkRCZmIO3SS","staging":false,"created_at":"2018-05-29T16:21:39Z","deleted_at":null,"comment":"","updated_at":"2018-05-29T16:21:39Z","deployed":false}],"deleted_at":null,"created_at":"2018-05-29T16:21:39Z","comment":"","updated_at":"2018-05-29T16:21:39Z","id":"2qc4whblq0yZkRCZmIO3SS"}'}
    headers:
      content-type: [application/json]
      fastly-ratelimit-remaining: ['567']
      fastly-ratelimit-reset: ['1527613200']
      status: [200 OK]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json]
    method: GET
    uri: https://api.fastly.com/service/2qc4whblq0yZkRCZmIO3SS/details
  response:
    body: {string: !!python/unicode '{"name":"Fastly Ansible Module Test","deleted_at":null,"versions":[{"testing":false,"locked":false,"number":1,"active":false,"service_id":"2qc4whblq0yZkRCZmIO3SS","staging":false,"created_at":"2018-05-29T16:21:39Z","deleted_at":null,"comment":"","updated_at":"2018-05-29T16:21:39Z","deployed":false}],"created_at":"2018-05-29T16:21:39Z","customer_id":"31RPDMBpiruA1yfGA2djLm","comment":"","updated_at":"2018-05-29T16:21:39Z","id":"2qc4whblq0yZkRCZmIO3SS","version":{"testing":false,"staging":false,"updated_at":"2018-05-29T16:21:39Z","active":false,"number":1,"service_id":"2qc4whblq0yZkRCZmIO3SS","deployed":false,"locked":false,"deleted_at":null,"created_at":"2018-05-29T16:21:39Z","comment":"","acls":[],"backends":[],"cache_settings":[],"conditions":[],"dictionaries":[],"directors":[],"domains":[],"gzips":[],"headers":[],"healthchecks":[],"request_settings":[],"response_objects":[],"snippets":[],"vcls":[],"wordpress":[],"settings":{"general.stale_if_error_ttl":43200,"general.stale_if_error":false,"general.default_ttl":3600,"general.default_host":"","general.default_pci":0}},"active_version":null}'}
    headers:
      content-type: [application/json]
      status: [200 OK]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json]
    method: PUT
    uri: https://api.fastly.com/service/2qc4whblq0yZkRCZmIO3SS/version/1/clone
  response:
    body: {string: !!python/unicode '{"testing":false,"locked":false,"number":2,"active":false,"service_id":"2qc4whblq0yZkRCZmIO3SS","staging":false,"created_at":"2018-05-29T16:21:39Z","deleted_at":null,"comment":"","updated_at":"2018-05-29T16:21:39Z","deployed":false}'}
    headers:
      content-type: [application/json]
      fastly-ratelimit-remaining: ['566']
      fastly-ratelimit-reset: ['1527613200']
      status: [200 OK]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json]
    method: GET
    uri: https://api.fastly.com/service/2qc4whblq0yZkRCZmIO3SS/version/2/domain
  response:
    body: {string: !!python/unicode '[]'}
    headers:
      content-type: [application/json]
      status: [200 OK]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json]
    method: GET
    uri: https://api.fastly.com/service/2qc4whblq0yZkRCZmIO3SS/version/2/healthcheck
  response:
    body: {string: !!python/unicode '[]'}
    headers:
      content-type: [application/json]
      status: [200 OK]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json]
    method: GET
    uri: https://api.fastly.com/service/2qc4whblq0yZkRCZmIO3SS/version/2/condition
  response:
    body: {string: !!python/unicode '[]'}
    headers:
      content-type: [application/json]
      status: [200 OK]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json]
    method: GET
    uri: https://api.fastly.com/service/2qc4whblq0yZkRCZmIO3SS/version/2/backend
  response:
    body: {string: !!python/unicode '[]'}
    headers:
      content-type: [application/json]
      status: [200 OK]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json]
    method: GET
    uri: https://api.fastly.com/service/2qc4whblq0yZkRCZmIO3SS/version/2/director
  response:
    body: {string: !!python/unicode '[]'}
    headers:
      content-type: [application/json]
      status: [200 OK]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json]
    method: GET
    uri: https://api.fastly.com/service/2qc4whblq0yZkRCZmIO3SS/version/2/cache_settings
  response:
    body: {string: !!python/unicode '[]'}
    headers:
      content-type: [application/json]
      status: [200 OK]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json]
    method: GET
    uri: https://api.fastly.com/service/2qc4whblq0yZkRCZmIO3SS/version/2/gzip
  response:
    body: {string: !!python/unicode '[]'}
    headers:
      content-type: [application/json]
      status: [200 OK]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json]
    method: GET
    uri: https://api.fastly.com/service/2qc4whblq0yZkRCZmIO3SS/version/2/header
  response:
    body: {string: !!python/unicode '[]'}
    headers:
      content-type: [application/json]
      status: [200 OK]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json]
    method: GET
    uri: https://api.fastly.com/service/2qc4whblq0yZkRCZmIO3SS/version/2/request_settings
  response:
    body: {string: !!python/unicode '[]'}
    headers:
      content-type: [application/json]
      status: [200 OK]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json]
    method: GET
    uri: https://api.fastly.com/service/2qc4whblq0yZkRCZmIO3SS/version/2/response_object
  response:
    body: {string: !!python/unicode '[]'}
    headers:
      content-type: [application/json]
      status: [200 OK]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json]
    method: GET
    uri: https://api.fastly.com/service/2qc4whblq0yZkRCZmIO3SS/version/2/snippet
  response:
    body: {string: !!python/unicode '[]'}
    headers:
      content-type: [application/json]
      status: [200 OK]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json]
    method: GET
    uri: https://api.fastly.com/service/2qc4whblq0yZkRCZmIO3SS/version/2/logging/s3
  response:
    body: {string: !!python/unicode '[]'}
    headers:
      content-type: [application/json]
      status: [200 OK]
    status: {code: 200, message: OK}
[...]
- request:
    body: !!python/unicode '{"ssl_ca_cert": null, "request_condition": "", "name":
      "localhost", "weight": 100, "healthcheck": null, "first_byte_timeout": 15000,
      "connect_timeout": 1000, "error_threshold": 0, "ssl_cert_hostname": null, "address":
      "127.0.0.1", "between_bytes_timeout": 10000, "max_conn": 200, "port": 80, "ssl_hostname":
      null, "shield": null}'
    headers:
      Content-Type: [application/json]
    method: POST
    uri: https://api.fastly.com/service/2qc4whblq0yZkRCZmIO3SS/version/2/backend
  response:
    body: {string: !!python/unicode '{"ssl_ca_cert":null,"request_condition":"","name":"localhost","weight":100,"healthcheck":null,"first_byte_timeout":15000,"connect_timeout":1000,"error_threshold":0,"ssl_cert_hostname":null,"address":"127.0.0.1","between_bytes_timeout":10000,"max_conn":200,"port":80,"ssl_hostname":null,"shield":null,"service_id":"2qc4whblq0yZkRCZmIO3SS","version":2,"max_tls_version":null,"ssl_client_cert":null,"hostname":null,"client_cert":null,"updated_at":"2018-05-29T16:21:44Z","ipv4":"127.0.0.1","ssl_ciphers":null,"ssl_client_key":null,"auto_loadbalance":false,"ssl_check_cert":true,"ssl_sni_hostname":null,"min_tls_version":null,"ipv6":null,"deleted_at":null,"use_ssl":false,"created_at":"2018-05-29T16:21:44Z","comment":""}'}
    headers:
      content-type: [application/json]
      fastly-ratelimit-remaining: ['564']
      fastly-ratelimit-reset: ['1527613200']
      status: [200 OK]
    status: {code: 200, message: OK}
- request:
    body: !!python/unicode '{"ignore_if_set": "0", "regex": "", "request_condition":
      null, "name": "Set Location header", "src": "\"https://u.jimcdn.com\" req.url.path",
      "dst": "http.Location", "substitution": "", "priority": "100", "cache_condition":
      null, "action": "set", "type": "response", "response_condition": null}'
    headers:
      Content-Type: [application/json]
    method: POST
    uri: https://api.fastly.com/service/2qc4whblq0yZkRCZmIO3SS/version/2/header
  response:
    body: {string: !!python/unicode '{"ignore_if_set":"0","regex":"","request_condition":null,"name":"Set
        Location header","src":"\"https://u.jimcdn.com\" req.url.path","dst":"http.Location","substitution":"","priority":"100","cache_condition":null,"action":"set","type":"response","response_condition":null,"service_id":"2qc4whblq0yZkRCZmIO3SS","version":"2","updated_at":"2018-05-29T16:21:45Z","deleted_at":null,"created_at":"2018-05-29T16:21:45Z"}'}
    headers:
      content-type: [application/json]
      fastly-ratelimit-remaining: ['563']
      fastly-ratelimit-reset: ['1527613200']
      status: [200 OK]
    status: {code: 200, message: OK}
- request:
    body: !!python/unicode '{"status": "200", "request_condition": "", "name": "Set
      200 status code", "content": "", "content_type": "", "response": "Ok"}'
    headers:
      Content-Type: [application/json]
    method: POST
    uri: https://api.fastly.com/service/2qc4whblq0yZkRCZmIO3SS/version/2/response_object
  response:
    body: {string: !!python/unicode '{"status":"200","request_condition":"","name":"Set
        200 status code","content":"","content_type":"","response":"Ok","service_id":"2qc4whblq0yZkRCZmIO3SS","version":"2","deleted_at":null,"cache_condition":"","created_at":"2018-05-29T16:21:45Z","updated_at":"2018-05-29T16:21:45Z"}'}
    headers:
      content-type: [application/json]
      fastly-ratelimit-remaining: ['562']
      fastly-ratelimit-reset: ['1527613200']
      status: [200 OK]
    status: {code: 200, message: OK}
- request:
    body: !!python/unicode '{"access_key": null, "domain": null, "redundancy": null,
      "placement": null, "name": "test_s3", "format_version": 2, "format": "%{\"%Y-%m-%dT%H:%S.000\"}t
      %h \"%r\" %>s %b", "server_side_encryption_kms_key_id": null, "period": 3600,
      "bucket_name": null, "path": "/", "gzip_level": 0, "secret_key": null, "message_type":
      "classic", "server_side_encryption": null, "timestamp_format": "%Y-%m-%dT%H:%M:%S.000",
      "response_condition": null}'
    headers:
      Content-Type: [application/json]
    method: POST
    uri: https://api.fastly.com/service/2qc4whblq0yZkRCZmIO3SS/version/2/logging/s3
  response:
    body: {string: !!python/unicode '{"access_key":null,"domain":"s3.amazonaws.com","redundancy":null,"placement":null,"name":"test_s3","format_version":"2","format":"%{\"%Y-%m-%dT%H:%S.000\"}t
        %h \"%r\" %\u003es %b","server_side_encryption_kms_key_id":null,"period":"3600","bucket_name":null,"path":"/","gzip_level":"0","secret_key":null,"message_type":"classic","server_side_encryption":null,"timestamp_format":"%Y-%m-%dT%H:%M:%S.000","response_condition":"","service_id":"2qc4whblq0yZkRCZmIO3SS","version":"2","public_key":null,"updated_at":"2018-05-29T16:21:46Z","deleted_at":null,"created_at":"2018-05-29T16:21:46Z"}'}
    headers:
      content-type: [application/json]
      fastly-ratelimit-remaining: ['561']
      fastly-ratelimit-reset: ['1527613200']
      status: [200 OK]
    status: {code: 200, message: OK}
- request:
    body: !!python/unicode '{"general.default_ttl": 3600}'
    headers:
      Content-Type: [application/json]
    method: PUT
    uri: https://api.fastly.com/service/2qc4whblq0yZkRCZmIO3SS/version/2/settings
  response:
    body: {string: !!python/unicode '{"general.stale_if_error_ttl":43200,"general.stale_if_error":false,"general.default_ttl":3600,"version":2,"general.default_host":"","general.default_pci":0,"service_id":"2qc4whblq0yZkRCZmIO3SS"}'}
    headers:
      content-type: [application/json]
      fastly-ratelimit-remaining: ['560']
      fastly-ratelimit-reset: ['1527613200']
      status: [200 OK]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json]
    method: PUT
    uri: https://api.fastly.com/service/2qc4whblq0yZkRCZmIO3SS/version/2/activate
  response:
    body: {string: !!python/unicode '{"testing":false,"locked":true,"number":2,"active":true,"service_id":"2qc4whblq0yZkRCZmIO3SS","staging":false,"created_at":"2018-05-29T16:21:40Z","deleted_at":null,"comment":"","updated_at":"2018-05-29T16:21:46Z","deployed":false,"msg":null}'}
    headers:
      content-type: [application/json]
      fastly-ratelimit-remaining: ['559']
      fastly-ratelimit-reset: ['1527613200']
      status: [200 OK]
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
      Content-Type: [application/json]
    method: DELETE
    uri: https://api.fastly.com/service/2qc4whblq0yZkRCZmIO3SS/version/3/domain/example8000.com
  response:
    body: {string: !!python/unicode '{"status":"ok"}'}
    headers:
      content-type: [application/json]
      fastly-ratelimit-remaining: ['557']
      fastly-ratelimit-reset: ['1527613200']
      status: [200 OK]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json]
    method: DELETE
    uri: https://api.fastly.com/service/2qc4whblq0yZkRCZmIO3SS/version/3/backend/localhost
  response:
    body: {string: !!python/unicode '{"status":"ok"}'}
    headers:
      content-type: [application/json]
      fastly-ratelimit-remaining: ['556']
      fastly-ratelimit-reset: ['1527613200']
      status: [200 OK]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json]
    method: DELETE
    uri: https://api.fastly.com/service/2qc4whblq0yZkRCZmIO3SS/version/3/header/Set%20Location%20header
  response:
    body: {string: !!python/unicode '{"status":"ok"}'}
    headers:
      content-type: [application/json]
      fastly-ratelimit-remaining: ['555']
      fastly-ratelimit-reset: ['1527613200']
      status: [200 OK]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json]
    method: DELETE
    uri: https://api.fastly.com/service/2qc4whblq0yZkRCZmIO3SS/version/3/response_object/Set%20200%20status%20code
  response:
    body: {string: !!python/unicode '{"status":"ok"}'}
    headers:
      content-type: [application/json]
      fastly-ratelimit-remaining: ['554']
      fastly-ratelimit-reset: ['1527613200']
      status: [200 OK]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json]
    method: DELETE
    uri: https://api.fastly.com/service/2qc4whblq0yZkRCZmIO3SS/version/3/logging/s3/test_s3
  response:
    body: {string: !!python/unicode '{"status":"ok"}'}
    headers:
      content-type: [application/json]
      fastly-ratelimit-remaining: ['553']
      fastly-ratelimit-reset: ['1527613200']
      status: [200 OK]
    status: {code: 200, message: OK}
[...]
