interactions:
- request:
    body: null
    headers:
      Content-Type: [application/json]
    method: GET
    uri: https://api.fastly.com/service/search?name=Fastly%20Ansible%20Module%20Test
  response:
    body: {string: !!python/unicode '{"name":"Fastly Ansible Module Test","deleted_at":null,"versions":[{"testing":false,"locked":false,"number":1,"active":false,"service_id":"4HlJytmc1TIv4wK5kD0Af0","staging":false,"created_at":"2017-10-10T10:34:09Z","deleted_at":null,"comment":"","updated_at":"2017-10-10T10:34:09Z","deployed":false},{"testing":false,"number":2,"service_id":"4HlJytmc1TIv4wK5kD0Af0","staging":false,"deployed":false,"locked":true,"active":true,"comment":""}],"created_at":"2017-10-10T10:34:09Z","customer_id":"1z3ENiEMpKOrsGqTBLhkF2","comment":"","updated_at":"2017-10-10T10:34:09Z","id":"4HlJytmc1TIv4wK5kD0Af0"}'}
    headers:
      content-type: [application/json]
      status: [200 OK]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json]
    method: GET
    uri: https://api.fastly.com/service/4HlJytmc1TIv4wK5kD0Af0/details
  response:
    body: {string: !!python/unicode '{"name":"Fastly Ansible Module Test","deleted_at":null,"versions":[{"testing":false,"locked":false,"number":1,"active":false,"service_id":"4HlJytmc1TIv4wK5kD0Af0","staging":false,"created_at":"2017-10-10T10:34:09Z","deleted_at":null,"comment":"","updated_at":"2017-10-10T10:34:09Z","deployed":false},{"testing":false,"locked":true,"number":2,"active":true,"service_id":"4HlJytmc1TIv4wK5kD0Af0","staging":false,"created_at":"2017-10-10T10:34:10Z","deleted_at":null,"comment":"","updated_at":"2017-10-10T10:34:14Z","deployed":false}],"created_at":"2017-10-10T10:34:09Z","customer_id":"1z3ENiEMpKOrsGqTBLhkF2","comment":"","updated_at":"2017-10-10T10:34:09Z","id":"4HlJytmc1TIv4wK5kD0Af0","version":{"testing":false,"number":2,"service_id":"4HlJytmc1TIv4wK5kD0Af0","staging":false,"updated_at":"2017-10-10T10:34:14Z","deployed":false,"locked":true,"active":true,"deleted_at":null,"created_at":"2017-10-10T10:34:10Z","comment":"","acls":[],"backends":[{"max_tls_version":null,"ssl_ca_cert":null,"auto_loadbalance":false,"ssl_check_cert":true,"shield":null,"hostname":null,"ssl_client_cert":null,"error_threshold":0,"request_condition":"","first_byte_timeout":15000,"ssl_cert_hostname":null,"weight":100,"client_cert":null,"address":"127.0.0.1","ssl_hostname":null,"ssl_sni_hostname":null,"min_tls_version":null,"ipv6":null,"ipv4":"127.0.0.1","connect_timeout":1000,"ssl_ciphers":null,"name":"localhost","healthcheck":null,"port":80,"max_conn":200,"use_ssl":false,"comment":"","between_bytes_timeout":10000,"ssl_client_key":null}],"cache_settings":[],"conditions":[],"dictionaries":[],"directors":[],"domains":[{"comment":"","name":"example8000.com"}],"gzips":[{"created_at":"2017-10-10T10:34:11Z","extensions":"html
        css js","name":"gzip-config-name","deleted_at":null,"updated_at":"2017-10-10T10:34:11Z","content_types":"text/html
        text/css application/javascript","cache_condition":""}],"headers":[{"priority":"100","src":"\"https://u.jimcdn.com\"
        req.url.path","name":"Set Location header","substitution":"","ignore_if_set":"0","cache_condition":null,"request_condition":null,"regex":"","response_condition":null,"action":"set","type":"response","dst":"http.Location"}],"healthchecks":[],"request_settings":[],"response_objects":[{"request_condition":"","content_type":"","status":"200","response":"Ok","name":"Set
        200 status code","content":"","cache_condition":""}],"snippets":[],"vcls":[],"wordpress":[],"settings":{"general.default_ttl":3600,"general.default_host":"","general.default_pci":0}},"active_version":{"testing":false,"number":2,"service_id":"4HlJytmc1TIv4wK5kD0Af0","staging":false,"updated_at":"2017-10-10T10:34:14Z","deployed":false,"locked":true,"active":true,"deleted_at":null,"created_at":"2017-10-10T10:34:10Z","comment":"","acls":[],"backends":[{"max_tls_version":null,"ssl_ca_cert":null,"auto_loadbalance":false,"ssl_check_cert":true,"shield":null,"hostname":null,"ssl_client_cert":null,"error_threshold":0,"request_condition":"","first_byte_timeout":15000,"ssl_cert_hostname":null,"weight":1[...]
- request:
    body: null
    headers:
      Content-Type: [application/json]
    method: PUT
    uri: https://api.fastly.com/service/4HlJytmc1TIv4wK5kD0Af0/version/2/deactivate
  response:
    body: {string: !!python/unicode '{"testing":false,"locked":true,"number":2,"active":false,"service_id":"4HlJytmc1TIv4wK5kD0Af0","staging":false,"created_at":"2017-10-10T10:34:10Z","deleted_at":null,"comment":"","updated_at":"2017-10-10T10:34:14Z","deployed":false}'}
    headers:
      content-type: [application/json]
      fastly-ratelimit-remaining: ['926']
      fastly-ratelimit-reset: ['1507633200']
      status: [200 OK]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json]
    method: DELETE
    uri: https://api.fastly.com/service/4HlJytmc1TIv4wK5kD0Af0
  response:
    body: {string: !!python/unicode '{"status":"ok"}'}
    headers:
      content-type: [application/json]
      fastly-ratelimit-remaining: ['925']
      fastly-ratelimit-reset: ['1507633200']
      status: [200 OK]
    status: {code: 200, message: OK}
version: 1
