interactions:
- request:
    body: null
    headers:
      Content-Type: [application/json]
    method: GET
    uri: https://api.fastly.com/service/search?name=Fastly%20Ansible%20Module%20Test
  response:
    body: {string: !!python/unicode '{"msg":"Record not found","detail":"Cannot load
        service ''31RPDMBpiruA1yfGA2djLm''-''Fastly Ansible Module Test''"}'}
    headers:
      content-type: [application/json]
      status: [404 Not Found]
    status: {code: 404, message: Not Found}
- request:
    body: !!python/unicode '{"name": "Fastly Ansible Module Test"}'
    headers:
      Content-Type: [application/json]
    method: POST
    uri: https://api.fastly.com/service
  response:
    body: {string: !!python/unicode '{"customer_id":"31RPDMBpiruA1yfGA2djLm","name":"Fastly
        Ansible Module Test","publish_key":"7096121909586a0426b87c292cc69f98dfee7b20","versions":[{"testing":false,"locked":false,"number":1,"active":false,"service_id":"4HqdsSuKcvS6sTjHYzXH7t","staging":false,"created_at":"2018-04-06T12:25:11Z","deleted_at":null,"comment":"","updated_at":"2018-04-06T12:25:11Z","deployed":false}],"deleted_at":null,"created_at":"2018-04-06T12:25:11Z","comment":"","updated_at":"2018-04-06T12:25:11Z","id":"4HqdsSuKcvS6sTjHYzXH7t"}'}
    headers:
      content-type: [application/json]
      fastly-ratelimit-remaining: ['733']
      fastly-ratelimit-reset: ['1523019600']
      status: [200 OK]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json]
    method: GET
    uri: https://api.fastly.com/service/4HqdsSuKcvS6sTjHYzXH7t/details
  response:
    body: {string: !!python/unicode '{"name":"Fastly Ansible Module Test","deleted_at":null,"versions":[{"testing":false,"locked":false,"number":1,"active":false,"service_id":"4HqdsSuKcvS6sTjHYzXH7t","staging":false,"created_at":"2018-04-06T12:25:11Z","deleted_at":null,"comment":"","updated_at":"2018-04-06T12:25:11Z","deployed":false}],"created_at":"2018-04-06T12:25:11Z","customer_id":"31RPDMBpiruA1yfGA2djLm","comment":"","updated_at":"2018-04-06T12:25:11Z","id":"4HqdsSuKcvS6sTjHYzXH7t","version":{"testing":false,"number":1,"service_id":"4HqdsSuKcvS6sTjHYzXH7t","staging":false,"updated_at":"2018-04-06T12:25:11Z","deployed":false,"locked":false,"active":false,"deleted_at":null,"created_at":"2018-04-06T12:25:11Z","comment":"","acls":[],"backends":[],"cache_settings":[],"conditions":[],"dictionaries":[],"directors":[],"domains":[],"gzips":[],"headers":[],"healthchecks":[],"request_settings":[],"response_objects":[],"snippets":[],"vcls":[],"wordpress":[],"settings":{"general.default_ttl":3600,"general.default_host":"","general.default_pci":0}},"active_version":null}'}
    headers:
      content-type: [application/json]
      status: [200 OK]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json]
    method: POST
    uri: https://api.fastly.com/service/4HqdsSuKcvS6sTjHYzXH7t/version
  response:
    body: {string: !!python/unicode '{"service_id":"4HqdsSuKcvS6sTjHYzXH7t","number":2}'}
    headers:
      content-type: [application/json]
      fastly-ratelimit-remaining: ['732']
      fastly-ratelimit-reset: ['1523019600']
      status: [200 OK]
    status: {code: 200, message: OK}
- request:
    body: !!python/unicode '{"comment": "", "name": "example8000.com"}'
    headers:
      Content-Type: [application/json]
    method: POST
    uri: https://api.fastly.com/service/4HqdsSuKcvS6sTjHYzXH7t/version/2/domain
  response:
    body: {string: !!python/unicode '{"comment":"","name":"example8000.com","service_id":"4HqdsSuKcvS6sTjHYzXH7t","version":2,"deleted_at":null,"created_at":"2018-04-06T12:25:12Z","updated_at":"2018-04-06T12:25:12Z"}'}
    headers:
      content-type: [application/json]
      fastly-ratelimit-remaining: ['731']
      fastly-ratelimit-reset: ['1523019600']
      status: [200 OK]
    status: {code: 200, message: OK}
- request:
    body: !!python/unicode '{"ssl_ca_cert": null, "request_condition": "", "name":
      "localhost", "weight": 100, "healthcheck": null, "first_byte_timeout": 15000,
      "connect_timeout": 1000, "error_threshold": 0, "ssl_cert_hostname": null, "address":
      "127.0.0.1", "between_bytes_timeout": 10000, "max_conn": 200, "port": 80, "ssl_hostname":
      null, "shield": null}'
    headers:
      Content-Type: [application/json]
    method: POST
    uri: https://api.fastly.com/service/4HqdsSuKcvS6sTjHYzXH7t/version/2/backend
  response:
    body: {string: !!python/unicode '{"ssl_ca_cert":null,"request_condition":"","name":"localhost","weight":100,"healthcheck":null,"first_byte_timeout":15000,"connect_timeout":1000,"error_threshold":0,"ssl_cert_hostname":null,"address":"127.0.0.1","between_bytes_timeout":10000,"max_conn":200,"port":80,"ssl_hostname":null,"shield":null,"service_id":"4HqdsSuKcvS6sTjHYzXH7t","version":2,"max_tls_version":null,"ssl_client_cert":null,"hostname":null,"client_cert":null,"updated_at":"2018-04-06T12:25:12Z","ipv4":"127.0.0.1","ssl_ciphers":null,"ssl_client_key":null,"auto_loadbalance":false,"ssl_check_cert":true,"ssl_sni_hostname":null,"min_tls_version":null,"ipv6":null,"deleted_at":null,"use_ssl":false,"created_at":"2018-04-06T12:25:12Z","comment":""}'}
    headers:
      content-type: [application/json]
      fastly-ratelimit-remaining: ['730']
      fastly-ratelimit-reset: ['1523019600']
      status: [200 OK]
    status: {code: 200, message: OK}
- request:
    body: !!python/unicode '{"content_types": "text/html text/css application/javascript",
      "extensions": "html css js", "name": "gzip-config-name", "cache_condition":
      ""}'
    headers:
      Content-Type: [application/json]
    method: POST
    uri: https://api.fastly.com/service/4HqdsSuKcvS6sTjHYzXH7t/version/2/gzip
  response:
    body: {string: !!python/unicode '{"content_types":"text/html text/css application/javascript","extensions":"html
        css js","name":"gzip-config-name","cache_condition":"","service_id":"4HqdsSuKcvS6sTjHYzXH7t","version":"2","deleted_at":null,"created_at":"2018-04-06T12:25:12Z","updated_at":"2018-04-06T12:25:12Z"}'}
    headers:
      content-type: [application/json]
      fastly-ratelimit-remaining: ['729']
      fastly-ratelimit-reset: ['1523019600']
      status: [200 OK]
    status: {code: 200, message: OK}
- request:
    body: !!python/unicode '{"ignore_if_set": "0", "regex": "", "request_condition":
      null, "name": "Set Location header", "src": "\"https://u.jimcdn.com\" req.url.path",
      "dst": "http.Location", "substitution": "", "priority": "100", "cache_condition":
      null, "action": "set", "type": "response", "response_condition": null}'
    headers:
      Content-Type: [application/json]
    method: POST
    uri: https://api.fastly.com/service/4HqdsSuKcvS6sTjHYzXH7t/version/2/header
  response:
    body: {string: !!python/unicode '{"ignore_if_set":"0","regex":"","request_condition":null,"name":"Set
        Location header","src":"\"https://u.jimcdn.com\" req.url.path","dst":"http.Location","substitution":"","priority":"100","cache_condition":null,"action":"set","type":"response","response_condition":null,"service_id":"4HqdsSuKcvS6sTjHYzXH7t","version":"2","updated_at":"2018-04-06T12:25:13Z","deleted_at":null,"created_at":"2018-04-06T12:25:13Z"}'}
    headers:
      content-type: [application/json]
      fastly-ratelimit-remaining: ['728']
      fastly-ratelimit-reset: ['1523019600']
      status: [200 OK]
    status: {code: 200, message: OK}
- request:
    body: !!python/unicode '{"status": "200", "request_condition": "", "name": "Set
      200 status code", "content": "", "content_type": "", "response": "Ok"}'
    headers:
      Content-Type: [application/json]
    method: POST
    uri: https://api.fastly.com/service/4HqdsSuKcvS6sTjHYzXH7t/version/2/response_object
  response:
    body: {string: !!python/unicode '{"status":"200","request_condition":"","name":"Set
        200 status code","content":"","content_type":"","response":"Ok","service_id":"4HqdsSuKcvS6sTjHYzXH7t","version":"2","deleted_at":null,"cache_condition":"","created_at":"2018-04-06T12:25:13Z","updated_at":"2018-04-06T12:25:13Z"}'}
    headers:
      content-type: [application/json]
      fastly-ratelimit-remaining: ['727']
      fastly-ratelimit-reset: ['1523019600']
      status: [200 OK]
    status: {code: 200, message: OK}
- request:
    body: !!python/unicode '{"general.default_ttl": 3600}'
    headers:
      Content-Type: [application/json]
    method: PUT
    uri: https://api.fastly.com/service/4HqdsSuKcvS6sTjHYzXH7t/version/2/settings
  response:
    body: {string: !!python/unicode '{"general.default_ttl":3600,"version":2,"general.default_host":"","general.default_pci":0,"service_id":"4HqdsSuKcvS6sTjHYzXH7t"}'}
    headers:
      content-type: [application/json]
      fastly-ratelimit-remaining: ['726']
      fastly-ratelimit-reset: ['1523019600']
      status: [200 OK]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json]
    method: PUT
    uri: https://api.fastly.com/service/4HqdsSuKcvS6sTjHYzXH7t/version/2/activate
  response:
    body: {string: !!python/unicode '{"testing":false,"locked":true,"number":2,"active":true,"service_id":"4HqdsSuKcvS6sTjHYzXH7t","staging":false,"created_at":"2018-04-06T12:25:11Z","deleted_at":null,"comment":"","updated_at":"2018-04-06T12:25:13Z","deployed":false,"msg":null}'}
    headers:
      content-type: [application/json]
      fastly-ratelimit-remaining: ['725']
      fastly-ratelimit-reset: ['1523019600']
      status: [200 OK]
    status: {code: 200, message: OK}
[...]
