interactions:
- request:
    body: null
    headers:
      Content-Type: [application/json]
    method: GET
    uri: https://api.fastly.com/service/search?name=Fastly%20Ansible%20Module%20Test
  response:
    body: {string: !!python/unicode '{"name":"Fastly Ansible Module Test","deleted_at":null,"versions":[{"testing":false,"locked":false,"number":1,"active":false,"service_id":"3T3H9FFqGRclHGyvm1DFHa","staging":false,"created_at":"2016-11-08T00:58:21+00:00","deleted_at":null,"comment":"","updated_at":"2016-11-08T00:58:21+00:00","deployed":false},{"testing":false,"number":2,"service_id":"3T3H9FFqGRclHGyvm1DFHa","staging":false,"deployed":false,"locked":true,"active":true,"comment":""}],"created_at":"2016-11-08T00:58:21+00:00","customer_id":"15DqjG1ON0S28gluYrATvC","comment":"","updated_at":"2016-11-08T00:58:21+00:00","id":"3T3H9FFqGRclHGyvm1DFHa"}'}
    headers:
      content-type: [application/json]
      status: [200 OK]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json]
    method: GET
    uri: https://api.fastly.com/service/3T3H9FFqGRclHGyvm1DFHa/details
  response:
    body: {string: !!python/unicode '{"name":"Fastly Ansible Module Test","deleted_at":null,"versions":[{"testing":false,"locked":false,"number":1,"active":false,"service_id":"3T3H9FFqGRclHGyvm1DFHa","staging":false,"created_at":"2016-11-08T00:58:21+00:00","deleted_at":null,"comment":"","updated_at":"2016-11-08T00:58:21+00:00","deployed":false},{"testing":false,"locked":true,"number":2,"active":true,"service_id":"3T3H9FFqGRclHGyvm1DFHa","staging":false,"created_at":"2016-11-08T00:58:22+00:00","deleted_at":null,"comment":"","updated_at":"2016-11-08T00:58:23+00:00","deployed":false}],"created_at":"2016-11-08T00:58:21+00:00","customer_id":"15DqjG1ON0S28gluYrATvC","comment":"","updated_at":"2016-11-08T00:58:21+00:00","id":"3T3H9FFqGRclHGyvm1DFHa","version":{"testing":false,"number":2,"service_id":"3T3H9FFqGRclHGyvm1DFHa","staging":false,"updated_at":"2016-11-08T00:58:23+00:00","deployed":false,"locked":true,"active":true,"deleted_at":null,"created_at":"2016-11-08T00:58:22+00:00","comment":"","acls":[],"backends":[{"max_tls_version":null,"ssl_ca_cert":null,"auto_loadbalance":false,"ssl_check_cert":true,"shield":null,"hostname":"127.0.0.1","ssl_client_cert":null,"error_threshold":0,"request_condition":"","first_byte_timeout":15000,"ssl_cert_hostname":null,"weight":100,"client_cert":null,"address":"127.0.0.1","ssl_hostname":"127.0.0.1","ssl_sni_hostname":null,"min_tls_version":null,"ipv6":null,"ipv4":null,"connect_timeout":1000,"ssl_ciphers":null,"name":"localhost","healthcheck":null,"port":80,"max_conn":200,"use_ssl":false,"comment":"","between_bytes_timeout":10000,"ssl_client_key":null}],"cache_settings":[],"conditions":[],"dictionaries":[],"directors":[],"domains":[{"comment":"","name":"example7000.com"}],"gzips":[],"headers":[{"priority":"100","src":"\"https://u.jimcdn.com\"
        req.url.path","name":"Set Location header","substitution":"","ignore_if_set":"0","cache_condition":null,"request_condition":null,"regex":"","response_condition":null,"action":"set","type":"response","dst":"http.Location"}],"healthchecks":[],"request_settings":[],"response_objects":[{"request_condition":"","content_type":null,"status":"200","response":"Ok","name":"Set
        200 status code","content":null,"cache_condition":""}],"vcls":[],"wordpress":[],"settings":{"general.default_ttl":3600,"general.default_host":"","general.default_pci":0},"scalyrs":[{"placement":null,"response_condition":"","name":"scalyr-name","token":"test","format":"%h
        %l %u %t \"%r\" %>s %b"}]},"active_version":{"testing":false,"number":2,"service_id":"3T3H9FFqGRclHGyvm1DFHa","staging":false,"updated_at":"2016-11-08T00:58:23+00:00","deployed":false,"locked":true,"active":true,"deleted_at":null,"created_at":"2016-11-08T00:58:22+00:00","comment":"","acls":[],"backends":[{"max_tls_version":null,"ssl_ca_cert":null,"auto_loadbalance":false,"ssl_check_cert":true,"shield":null,"hostname":"127.0.0.1","ssl_client_cert":null,"error_threshold":0,"request_condition":"","first_byte_timeout":15000,"ssl_cert_hostname[...]
- request:
    body: null
    headers:
      Content-Type: [application/json]
    method: PUT
    uri: https://api.fastly.com/service/3T3H9FFqGRclHGyvm1DFHa/version/2/deactivate
  response:
    body: {string: !!python/unicode '{"testing":false,"locked":true,"number":2,"active":false,"service_id":"3T3H9FFqGRclHGyvm1DFHa","staging":false,"created_at":"2016-11-08T00:58:22+00:00","deleted_at":null,"comment":"","updated_at":"2016-11-08T00:58:23+00:00","deployed":false}'}
    headers:
      content-type: [application/json]
      fastly-ratelimit-remaining: ['981']
      fastly-ratelimit-reset: ['1478566800']
      status: [200 OK]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json]
    method: DELETE
    uri: https://api.fastly.com/service/3T3H9FFqGRclHGyvm1DFHa
  response:
    body: {string: !!python/unicode '{"status":"ok"}'}
    headers:
      content-type: [application/json]
      fastly-ratelimit-remaining: ['980']
      fastly-ratelimit-reset: ['1478566800']
      status: [200 OK]
    status: {code: 200, message: OK}
version: 1
