interactions:
- request:
    body: null
    headers:
      Content-Type: [application/json]
    method: GET
    uri: https://api.fastly.com/service/search?name=Fastly%20Ansible%20Module%20Test
  response:
    body: {string: !!python/unicode '{"name":"Fastly Ansible Module Test","deleted_at":null,"versions":[{"testing":false,"locked":false,"number":1,"active":false,"service_id":"6mun9U5GzoAQjhLkBaWLfs","staging":false,"created_at":"2017-07-03T14:35:33+00:00","deleted_at":null,"comment":"","updated_at":"2017-07-03T14:35:33+00:00","deployed":false},{"testing":false,"number":2,"service_id":"6mun9U5GzoAQjhLkBaWLfs","staging":false,"deployed":false,"locked":true,"active":true,"comment":""}],"created_at":"2017-07-03T14:35:33+00:00","customer_id":"15DqjG1ON0S28gluYrATvC","comment":"","updated_at":"2017-07-03T14:35:33+00:00","id":"6mun9U5GzoAQjhLkBaWLfs"}'}
    headers:
      content-type: [application/json]
      status: [200 OK]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json]
    method: GET
    uri: https://api.fastly.com/service/6mun9U5GzoAQjhLkBaWLfs/details
  response:
    body: {string: !!python/unicode '{"name":"Fastly Ansible Module Test","deleted_at":null,"versions":[{"testing":false,"locked":false,"number":1,"active":false,"service_id":"6mun9U5GzoAQjhLkBaWLfs","staging":false,"created_at":"2017-07-03T14:35:33+00:00","deleted_at":null,"comment":"","updated_at":"2017-07-03T14:35:33+00:00","deployed":false},{"testing":false,"locked":true,"number":2,"active":true,"service_id":"6mun9U5GzoAQjhLkBaWLfs","staging":false,"created_at":"2017-07-03T14:35:34+00:00","deleted_at":null,"comment":"","updated_at":"2017-07-03T14:35:39+00:00","deployed":false}],"created_at":"2017-07-03T14:35:33+00:00","customer_id":"15DqjG1ON0S28gluYrATvC","comment":"","updated_at":"2017-07-03T14:35:33+00:00","id":"6mun9U5GzoAQjhLkBaWLfs","version":{"testing":false,"number":2,"service_id":"6mun9U5GzoAQjhLkBaWLfs","staging":false,"updated_at":"2017-07-03T14:35:39+00:00","deployed":false,"locked":true,"active":true,"deleted_at":null,"created_at":"2017-07-03T14:35:34+00:00","comment":"","acls":[],"backends":[{"max_tls_version":null,"ssl_ca_cert":null,"auto_loadbalance":false,"ssl_check_cert":true,"shield":null,"hostname":null,"ssl_client_cert":null,"error_threshold":0,"request_condition":"","first_byte_timeout":15000,"ssl_cert_hostname":null,"weight":100,"client_cert":null,"address":"127.0.0.1","ssl_hostname":null,"ssl_sni_hostname":null,"min_tls_version":null,"ipv6":null,"ipv4":"127.0.0.1","connect_timeout":1000,"ssl_ciphers":null,"name":"localhost","healthcheck":null,"port":80,"max_conn":200,"use_ssl":false,"comment":"","between_bytes_timeout":10000,"ssl_client_key":null}],"cache_settings":[],"conditions":[{"priority":"0","statement":"req.url
        ~ \"^/some_asset.js\"","comment":"","name":"condition-name","type":"CACHE"}],"dictionaries":[],"directors":[],"domains":[{"comment":"","name":"example7000.com"}],"gzips":[],"headers":[{"priority":"100","src":"\"public,
        max-age=86400\"","name":"Set cache control header","substitution":"","ignore_if_set":"0","cache_condition":"condition-name","request_condition":null,"regex":"","response_condition":null,"action":"set","type":"cache","dst":"http.Cache-Control"}],"healthchecks":[],"request_settings":[],"response_objects":[{"request_condition":"","content_type":null,"status":"200","response":"Ok","name":"Set
        200 status code","content":null,"cache_condition":""}],"snippets":[],"vcls":[],"wordpress":[],"settings":{"general.default_ttl":3600,"general.default_host":"","general.default_pci":0}},"active_version":{"testing":false,"number":2,"service_id":"6mun9U5GzoAQjhLkBaWLfs","staging":false,"updated_at":"2017-07-03T14:35:39+00:00","deployed":false,"locked":true,"active":true,"deleted_at":null,"created_at":"2017-07-03T14:35:34+00:00","comment":"","acls":[],"backends":[{"max_tls_version":null,"ssl_ca_cert":null,"auto_loadbalance":false,"ssl_check_cert":true,"shield":null,"hostname":null,"ssl_client_cert":null,"error_threshold":0,"request_condition":"","first_byte_timeout":15000,"ssl_cert_hostname":null,[...]
- request:
    body: null
    headers:
      Content-Type: [application/json]
    method: POST
    uri: https://api.fastly.com/service/6mun9U5GzoAQjhLkBaWLfs/version
  response:
    body: {string: !!python/unicode '{"service_id":"6mun9U5GzoAQjhLkBaWLfs","number":3}'}
    headers:
      content-type: [application/json]
      fastly-ratelimit-remaining: ['370']
      fastly-ratelimit-reset: ['1499094000']
      status: [200 OK]
    status: {code: 200, message: OK}
- request:
    body: !!python/unicode '{"comment": "", "name": "example7000.com"}'
    headers:
      Content-Type: [application/json]
    method: POST
    uri: https://api.fastly.com/service/6mun9U5GzoAQjhLkBaWLfs/version/3/domain
  response:
    body: {string: !!python/unicode '{"comment":"","name":"example7000.com","service_id":"6mun9U5GzoAQjhLkBaWLfs","version":3,"deleted_at":null,"created_at":"2017-07-03T14:38:27+00:00","updated_at":"2017-07-03T14:38:27+00:00"}'}
    headers:
      content-type: [application/json]
      fastly-ratelimit-remaining: ['369']
      fastly-ratelimit-reset: ['1499094000']
      status: [200 OK]
    status: {code: 200, message: OK}
- request:
    body: !!python/unicode '{"ssl_ca_cert": null, "request_condition": "", "name":
      "localhost", "address": "127.0.0.1", "port": 80, "ssl_hostname": null}'
    headers:
      Content-Type: [application/json]
    method: POST
    uri: https://api.fastly.com/service/6mun9U5GzoAQjhLkBaWLfs/version/3/backend
  response:
    body: {string: !!python/unicode '{"ssl_ca_cert":null,"request_condition":"","name":"localhost","address":"127.0.0.1","port":80,"ssl_hostname":null,"service_id":"6mun9U5GzoAQjhLkBaWLfs","version":3,"max_tls_version":null,"ssl_client_cert":null,"hostname":null,"error_threshold":0,"first_byte_timeout":15000,"client_cert":null,"weight":100,"updated_at":"2017-07-03T14:38:28+00:00","connect_timeout":1000,"ipv4":"127.0.0.1","ssl_ciphers":null,"between_bytes_timeout":10000,"ssl_client_key":null,"auto_loadbalance":false,"ssl_check_cert":true,"shield":null,"ssl_cert_hostname":null,"ssl_sni_hostname":null,"min_tls_version":null,"ipv6":null,"deleted_at":null,"healthcheck":null,"max_conn":200,"use_ssl":false,"created_at":"2017-07-03T14:38:28+00:00","comment":""}'}
    headers:
      content-type: [application/json]
      fastly-ratelimit-remaining: ['368']
      fastly-ratelimit-reset: ['1499094000']
      status: [200 OK]
    status: {code: 200, message: OK}
- request:
    body: !!python/unicode '{"action": null, "stale_ttl": 10, "name": "cache-settings-config-name",
      "cache_condition": ""}'
    headers:
      Content-Type: [application/json]
    method: POST
    uri: https://api.fastly.com/service/6mun9U5GzoAQjhLkBaWLfs/version/3/cache_settings
  response:
    body: {string: !!python/unicode '{"action":null,"stale_ttl":10,"name":"cache-settings-config-name","cache_condition":"","service_id":"6mun9U5GzoAQjhLkBaWLfs","version":"3","ttl":null,"deleted_at":null,"created_at":"2017-07-03T14:38:28+00:00","updated_at":"2017-07-03T14:38:28+00:00"}'}
    headers:
      content-type: [application/json]
      fastly-ratelimit-remaining: ['367']
      fastly-ratelimit-reset: ['1499094000']
      status: [200 OK]
    status: {code: 200, message: OK}
- request:
    body: !!python/unicode '{"ignore_if_set": "0", "regex": "", "request_condition":
      null, "name": "Set Location header", "src": "\"https://u.jimcdn.com\" req.url.path",
      "dst": "http.Location", "substitution": "", "priority": "100", "cache_condition":
      null, "action": "set", "type": "response", "response_condition": null}'
    headers:
      Content-Type: [application/json]
    method: POST
    uri: https://api.fastly.com/service/6mun9U5GzoAQjhLkBaWLfs/version/3/header
  response:
    body: {string: !!python/unicode '{"ignore_if_set":"0","regex":"","request_condition":null,"name":"Set
        Location header","src":"\"https://u.jimcdn.com\" req.url.path","dst":"http.Location","substitution":"","priority":"100","cache_condition":null,"action":"set","type":"response","response_condition":null,"service_id":"6mun9U5GzoAQjhLkBaWLfs","version":"3","updated_at":"2017-07-03T14:38:29+00:00","deleted_at":null,"created_at":"2017-07-03T14:38:29+00:00"}'}
    headers:
      content-type: [application/json]
      fastly-ratelimit-remaining: ['366']
      fastly-ratelimit-reset: ['1499094000']
      status: [200 OK]
    status: {code: 200, message: OK}
- request:
    body: !!python/unicode '{"status": "200", "request_condition": "", "name": "Set
      200 status code", "response": "Ok"}'
    headers:
      Content-Type: [application/json]
    method: POST
    uri: https://api.fastly.com/service/6mun9U5GzoAQjhLkBaWLfs/version/3/response_object
  response:
    body: {string: !!python/unicode '{"status":"200","request_condition":"","name":"Set
        200 status code","response":"Ok","service_id":"6mun9U5GzoAQjhLkBaWLfs","version":"3","content":null,"deleted_at":null,"cache_condition":"","created_at":"2017-07-03T14:38:29+00:00","content_type":null,"updated_at":"2017-07-03T14:38:29+00:00"}'}
    headers:
      content-type: [application/json]
      fastly-ratelimit-remaining: ['365']
      fastly-ratelimit-reset: ['1499094000']
      status: [200 OK]
    status: {code: 200, message: OK}
- request:
    body: !!python/unicode '{"general.default_ttl": 3600}'
    headers:
      Content-Type: [application/json]
    method: PUT
    uri: https://api.fastly.com/service/6mun9U5GzoAQjhLkBaWLfs/version/3/settings
  response:
    body: {string: !!python/unicode '{"general.default_ttl":3600,"version":3,"general.default_host":"","general.default_pci":0,"service_id":"6mun9U5GzoAQjhLkBaWLfs"}'}
    headers:
      content-type: [application/json]
      fastly-ratelimit-remaining: ['364']
      fastly-ratelimit-reset: ['1499094000']
      status: [200 OK]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json]
    method: PUT
    uri: https://api.fastly.com/service/6mun9U5GzoAQjhLkBaWLfs/version/3/activate
  response:
    body: {string: !!python/unicode '{"testing":false,"locked":true,"number":3,"active":true,"service_id":"6mun9U5GzoAQjhLkBaWLfs","staging":false,"created_at":"2017-07-03T14:38:27+00:00","deleted_at":null,"comment":"","updated_at":"2017-07-03T14:38:29+00:00","deployed":false,"msg":null}'}
    headers:
      content-type: [application/json]
      fastly-ratelimit-remaining: ['363']
      fastly-ratelimit-reset: ['1499094000']
      status: [200 OK]
    status: {code: 200, message: OK}
[...]
