interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fastly.com/service/search?name=Fastly%20Ansible%20Module%20Test
  response:
    body:
      string: !!python/unicode '{"updated_at":"2019-04-24T14:18:08Z","name":"Fastly
        Ansible Module Test","id":"4988RK30zjTjnn3YSGpize","created_at":"2019-04-24T14:18:08Z","deleted_at":null,"comment":"","customer_id":"4NTmXUwFuuC5U0iJUrdEHr","versions":[{"staging":false,"testing":false,"deployed":false,"number":1,"comment":"","service_id":"4988RK30zjTjnn3YSGpize","deleted_at":null,"active":false,"locked":false,"updated_at":"2019-04-24T14:18:08Z","created_at":"2019-04-24T14:18:08Z"},{"staging":false,"deleted_at":null,"service_id":"4988RK30zjTjnn3YSGpize","comment":"","number":2,"testing":false,"deployed":false,"active":false,"created_at":"2019-04-24T14:18:09Z","updated_at":"2019-04-24T14:18:46Z","locked":true},{"testing":false,"updated_at":"2019-04-24T14:18:46Z","deployed":false,"number":3,"locked":true,"active":true,"comment":"","staging":false,"service_id":"4988RK30zjTjnn3YSGpize","created_at":"2019-04-24T14:18:27Z","deleted_at":null}]}'
    headers:
      content-type:
      - application/json
      status:
      - 200 OK
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fastly.com/service/4988RK30zjTjnn3YSGpize/details
  response:
    body:
      string: !!python/unicode '{"name":"Fastly Ansible Module Test","deleted_at":null,"versions":[{"testing":false,"locked":false,"number":1,"active":false,"service_id":"4988RK30zjTjnn3YSGpize","staging":false,"created_at":"2019-04-24T14:18:08Z","deleted_at":null,"comment":"","updated_at":"2019-04-24T14:18:08Z","deployed":false},{"testing":false,"locked":true,"number":2,"active":false,"service_id":"4988RK30zjTjnn3YSGpize","staging":false,"created_at":"2019-04-24T14:18:09Z","deleted_at":null,"comment":"","updated_at":"2019-04-24T14:18:46Z","deployed":false},{"testing":false,"locked":true,"number":3,"active":true,"service_id":"4988RK30zjTjnn3YSGpize","staging":false,"created_at":"2019-04-24T14:18:27Z","deleted_at":null,"comment":"","updated_at":"2019-04-24T14:18:46Z","deployed":false}],"created_at":"2019-04-24T14:18:08Z","customer_id":"4NTmXUwFuuC5U0iJUrdEHr","comment":"","updated_at":"2019-04-24T14:18:08Z","id":"4988RK30zjTjnn3YSGpize","version":{"testing":false,"staging":false,"updated_at":"2019-04-24T14:18:46Z","active":true,"number":3,"service_id":"4988RK30zjTjnn3YSGpize","deployed":false,"locked":true,"deleted_at":null,"created_at":"2019-04-24T14:18:27Z","comment":"","acls":[],"backends":[{"max_tls_version":null,"ssl_ca_cert":null,"auto_loadbalance":false,"ssl_check_cert":true,"shield":null,"override_host":null,"hostname":null,"ssl_client_cert":null,"error_threshold":0,"request_condition":"","first_byte_timeout":15000,"ssl_cert_hostname":null,"weight":100,"client_cert":null,"address":"127.0.0.1","ssl_hostname":null,"ssl_sni_hostname":null,"min_tls_version":null,"ipv6":null,"ipv4":"127.0.0.1","connect_timeout":1000,"ssl_ciphers":null,"name":"localhost","healthcheck":null,"port":80,"max_conn":200,"use_ssl":false,"comment":"","between_bytes_timeout":10000,"ssl_client_key":null}],"cache_settings":[],"conditions":[],"dictionaries":[],"directors":[],"domains":[{"comment":"","name":"example8000.com"}],"gzips":[],"headers":[{"priority":"100","src":"\"https://u.jimcdn.com\"
        req.url.path","name":"Set Location header","substitution":"","ignore_if_set":"0","cache_condition":null,"request_condition":null,"regex":"","response_condition":null,"action":"set","type":"response","dst":"http.Location"}],"healthchecks":[],"request_settings":[],"response_objects":[{"request_condition":"","content_type":"","status":"200","response":"Ok","name":"Set
        200 status code","content":"","cache_condition":""}],"snippets":[],"vcls":[],"wordpress":[],"settings":{"general.stale_if_error_ttl":43200,"general.stale_if_error":false,"general.default_ttl":3600,"general.default_host":"","general.default_pci":0}},"active_version":{"testing":false,"staging":false,"updated_at":"2019-04-24T14:18:46Z","active":true,"number":3,"service_id":"4988RK30zjTjnn3YSGpize","deployed":false,"locked":true,"deleted_at":null,"created_at":"2019-04-24T14:18:27Z","comment":"","acls":[],"backends":[{"max_tls_version":null,"ssl_ca_cert":null,"auto_loadbalance":false,"ssl_check_cert":true,"shield":null,"override_host":null,"hostname":null,"ssl_client_cert":null,"error_threshold":0,"request_condition":"","first_byte_timeout":15000,"ssl_cert_host[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://api.fastly.com/service/4988RK30zjTjnn3YSGpize/version/3/clone
  response:
    body:
      string: !!python/unicode '{"active":false,"created_at":"2019-04-24T14:18:27Z","updated_at":"2019-04-24T14:18:46Z","service_id":"4988RK30zjTjnn3YSGpize","locked":false,"staging":false,"deleted_at":null,"comment":"","deployed":false,"number":4,"testing":false}'
    headers:
      content-type:
      - application/json
      fastly-ratelimit-remaining:
      - '703'
      fastly-ratelimit-reset:
      - '1556118000'
      status:
      - 200 OK
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fastly.com/service/4988RK30zjTjnn3YSGpize/version/4/domain
  response:
    body:
      string: !!python/unicode '[{"version":4,"name":"example8000.com","service_id":"4988RK30zjTjnn3YSGpize","deleted_at":null,"created_at":"2019-04-24T14:18:42Z","comment":"","updated_at":"2019-04-24T14:18:49Z"}]'
    headers:
      content-type:
      - application/json
      status:
      - 200 OK
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fastly.com/service/4988RK30zjTjnn3YSGpize/version/4/healthcheck
  response:
    body:
      string: !!python/unicode '[]'
    headers:
      content-type:
      - application/json
      status:
      - 200 OK
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fastly.com/service/4988RK30zjTjnn3YSGpize/version/4/condition
  response:
    body:
      string: !!python/unicode '[]'
    headers:
      content-type:
      - application/json
      status:
      - 200 OK
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fastly.com/service/4988RK30zjTjnn3YSGpize/version/4/backend
  response:
    body:
      string: !!python/unicode '[{"max_tls_version":null,"ssl_client_cert":null,"hostname":null,"error_threshold":0,"first_byte_timeout":15000,"weight":100,"client_cert":null,"address":"127.0.0.1","updated_at":"2019-04-24T14:18:49Z","ipv4":"127.0.0.1","connect_timeout":1000,"ssl_ciphers":null,"name":"localhost","port":80,"between_bytes_timeout":10000,"ssl_client_key":null,"ssl_ca_cert":null,"auto_loadbalance":false,"ssl_check_cert":true,"shield":null,"override_host":null,"service_id":"4988RK30zjTjnn3YSGpize","request_condition":"","ssl_cert_hostname":null,"ssl_hostname":null,"ssl_sni_hostname":null,"min_tls_version":null,"ipv6":null,"version":4,"deleted_at":null,"healthcheck":null,"max_conn":200,"use_ssl":false,"created_at":"2019-04-24T14:18:43Z","comment":""}]'
    headers:
      content-type:
      - application/json
      status:
      - 200 OK
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fastly.com/service/4988RK30zjTjnn3YSGpize/version/4/director
  response:
    body:
      string: !!python/unicode '[]'
    headers:
      content-type:
      - application/json
      status:
      - 200 OK
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fastly.com/service/4988RK30zjTjnn3YSGpize/version/4/cache_settings
  response:
    body:
      string: !!python/unicode '[]'
    headers:
      content-type:
      - application/json
      status:
      - 200 OK
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fastly.com/service/4988RK30zjTjnn3YSGpize/version/4/gzip
  response:
    body:
      string: !!python/unicode '[]'
    headers:
      content-type:
      - application/json
      status:
      - 200 OK
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fastly.com/service/4988RK30zjTjnn3YSGpize/version/4/header
  response:
    body:
      string: !!python/unicode '[{"priority":"100","service_id":"4988RK30zjTjnn3YSGpize","ignore_if_set":"0","request_condition":null,"response_condition":null,"updated_at":"2019-04-24T14:18:49Z","version":"4","src":"\"https://u.jimcdn.com\"
        req.url.path","name":"Set Location header","deleted_at":null,"substitution":"","cache_condition":null,"created_at":"2019-04-24T14:18:44Z","regex":"","action":"set","type":"response","dst":"http.Location"}]'
    headers:
      content-type:
      - application/json
      status:
      - 200 OK
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fastly.com/service/4988RK30zjTjnn3YSGpize/version/4/request_settings
  response:
    body:
      string: !!python/unicode '[]'
    headers:
      content-type:
      - application/json
      status:
      - 200 OK
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fastly.com/service/4988RK30zjTjnn3YSGpize/version/4/response_object
  response:
    body:
      string: !!python/unicode '[{"response":"Ok","status":"200","version":"4","name":"Set
        200 status code","content":"","service_id":"4988RK30zjTjnn3YSGpize","deleted_at":null,"cache_condition":"","created_at":"2019-04-24T14:18:44Z","content_type":"","request_condition":"","updated_at":"2019-04-24T14:18:49Z"}]'
    headers:
      content-type:
      - application/json
      status:
      - 200 OK
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fastly.com/service/4988RK30zjTjnn3YSGpize/version/4/snippet
  response:
    body:
      string: !!python/unicode '[]'
    headers:
      content-type:
      - application/json
      status:
      - 200 OK
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fastly.com/service/4988RK30zjTjnn3YSGpize/version/4/logging/s3
  response:
    body:
      string: !!python/unicode '[]'
    headers:
      content-type:
      - application/json
      status:
      - 200 OK
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fastly.com/service/4988RK30zjTjnn3YSGpize/version/4/logging/syslog
  response:
    body:
      string: !!python/unicode '[]'
    headers:
      content-type:
      - application/json
      status:
      - 200 OK
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fastly.com/service/4988RK30zjTjnn3YSGpize/version/4/logging/cloudfiles
  response:
    body:
      string: !!python/unicode '[]'
    headers:
      content-type:
      - application/json
      status:
      - 200 OK
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.fastly.com/service/4988RK30zjTjnn3YSGpize/version/4/domain/example8000.com
  response:
    body:
      string: !!python/unicode '{"status":"ok"}'
    headers:
      content-type:
      - application/json
      fastly-ratelimit-remaining:
      - '702'
      fastly-ratelimit-reset:
      - '1556118000'
      status:
      - 200 OK
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.fastly.com/service/4988RK30zjTjnn3YSGpize/version/4/backend/localhost
  response:
    body:
      string: !!python/unicode '{"status":"ok"}'
    headers:
      content-type:
      - application/json
      fastly-ratelimit-remaining:
      - '701'
      fastly-ratelimit-reset:
      - '1556118000'
      status:
      - 200 OK
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.fastly.com/service/4988RK30zjTjnn3YSGpize/version/4/header/Set%20Location%20header
  response:
    body:
      string: !!python/unicode '{"status":"ok"}'
    headers:
      content-type:
      - application/json
      fastly-ratelimit-remaining:
      - '700'
      fastly-ratelimit-reset:
      - '1556118000'
      status:
      - 200 OK
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.fastly.com/service/4988RK30zjTjnn3YSGpize/version/4/response_object/Set%20200%20status%20code
  response:
    body:
      string: !!python/unicode '{"status":"ok"}'
    headers:
      content-type:
      - application/json
      fastly-ratelimit-remaining:
      - '699'
      fastly-ratelimit-reset:
      - '1556118000'
      status:
      - 200 OK
    status:
      code: 200
      message: OK
[...]
- request:
    body: !!python/unicode '{"comment": "", "priority": "0", "type": "CACHE", "name":
      "condition-name", "statement": "req.url ~ \"^/some_asset.js\""}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fastly.com/service/4988RK30zjTjnn3YSGpize/version/4/condition
  response:
    body:
      string: !!python/unicode '{"comment":"","priority":"0","type":"CACHE","name":"condition-name","statement":"req.url
        ~ \"^/some_asset.js\"","service_id":"4988RK30zjTjnn3YSGpize","version":"4","deleted_at":null,"created_at":"2019-04-24T14:19:02Z","updated_at":"2019-04-24T14:19:02Z"}'
    headers:
      content-type:
      - application/json
      fastly-ratelimit-remaining:
      - '697'
      fastly-ratelimit-reset:
      - '1556118000'
      status:
      - 200 OK
    status:
      code: 200
      message: OK
[...]
- request:
    body: !!python/unicode '{"general.default_ttl": 3600}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://api.fastly.com/service/4988RK30zjTjnn3YSGpize/version/4/settings
  response:
    body:
      string: !!python/unicode '{"general.stale_if_error_ttl":43200,"general.stale_if_error":false,"general.default_ttl":3600,"version":4,"general.default_host":"","general.default_pci":0,"service_id":"4988RK30zjTjnn3YSGpize"}'
    headers:
      content-type:
      - application/json
      fastly-ratelimit-remaining:
      - '693'
      fastly-ratelimit-reset:
      - '1556118000'
      status:
      - 200 OK
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://api.fastly.com/service/4988RK30zjTjnn3YSGpize/version/4/activate
  response:
    body:
      string: !!python/unicode '{"testing":false,"locked":true,"number":4,"active":true,"service_id":"4988RK30zjTjnn3YSGpize","staging":false,"created_at":"2019-04-24T14:18:49Z","deleted_at":null,"comment":"","updated_at":"2019-04-24T14:19:06Z","deployed":false,"msg":null}'
    headers:
      content-type:
      - application/json
      fastly-ratelimit-remaining:
      - '692'
      fastly-ratelimit-reset:
      - '1556118000'
      status:
      - 200 OK
    status:
      code: 200
      message: OK
[...]
