interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fastly.com/service/search?name=Fastly%20Ansible%20Module%20Test
  response:
    body:
      string: !!python/unicode '{"msg":"Record not found","detail":"Cannot load service
        ''4NTmXUwFuuC5U0iJUrdEHr''-''Fastly Ansible Module Test''"}'
    headers:
      content-type:
      - application/json
      status:
      - 404 Not Found
    status:
      code: 404
      message: Not Found
- request:
    body: !!python/unicode '{"name": "Fastly Ansible Module Test"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fastly.com/service
  response:
    body:
      string: !!python/unicode '{"customer_id":"4NTmXUwFuuC5U0iJUrdEHr","name":"Fastly
        Ansible Module Test","publish_key":"e37257af1f3f90880c32ae0a0a81da771b4ebc4b","versions":[{"testing":false,"locked":false,"number":1,"active":false,"service_id":"4wM2uji6WDT2xX4BGmn0WP","staging":false,"created_at":"2019-04-24T14:13:02Z","deleted_at":null,"comment":"","updated_at":"2019-04-24T14:13:02Z","deployed":false}],"deleted_at":null,"created_at":"2019-04-24T14:13:02Z","comment":"","updated_at":"2019-04-24T14:13:02Z","id":"4wM2uji6WDT2xX4BGmn0WP"}'
    headers:
      content-type:
      - application/json
      fastly-ratelimit-remaining:
      - '881'
      fastly-ratelimit-reset:
      - '1556118000'
      status:
      - 200 OK
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fastly.com/service/4wM2uji6WDT2xX4BGmn0WP/details
  response:
    body:
      string: !!python/unicode '{"updated_at":"2019-04-24T14:13:02Z","name":"Fastly
        Ansible Module Test","created_at":"2019-04-24T14:13:02Z","id":"4wM2uji6WDT2xX4BGmn0WP","deleted_at":null,"comment":"","customer_id":"4NTmXUwFuuC5U0iJUrdEHr","versions":[{"staging":false,"deleted_at":null,"service_id":"4wM2uji6WDT2xX4BGmn0WP","deployed":false,"number":1,"testing":false,"comment":"","active":false,"updated_at":"2019-04-24T14:13:02Z","created_at":"2019-04-24T14:13:02Z","locked":false}],"version":{"service_id":"4wM2uji6WDT2xX4BGmn0WP","created_at":"2019-04-24T14:13:02Z","deleted_at":null,"comment":"","staging":false,"deployed":false,"number":1,"locked":false,"active":false,"testing":false,"updated_at":"2019-04-24T14:13:02Z","acls":[],"backends":[],"cache_settings":[],"conditions":[],"dictionaries":[],"directors":[],"domains":[],"gzips":[],"headers":[],"healthchecks":[],"request_settings":[],"response_objects":[],"snippets":[],"vcls":[],"wordpress":[],"settings":{"general.default_host":"","general.stale_if_error_ttl":43200,"general.stale_if_error":false,"general.default_pci":0,"general.default_ttl":3600}},"active_version":null}'
    headers:
      content-type:
      - application/json
      status:
      - 200 OK
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://api.fastly.com/service/4wM2uji6WDT2xX4BGmn0WP/version/1/clone
  response:
    body:
      string: !!python/unicode '{"testing":false,"locked":false,"number":2,"active":false,"service_id":"4wM2uji6WDT2xX4BGmn0WP","staging":false,"created_at":"2019-04-24T14:13:02Z","deleted_at":null,"comment":"","updated_at":"2019-04-24T14:13:02Z","deployed":false}'
    headers:
      content-type:
      - application/json
      fastly-ratelimit-remaining:
      - '880'
      fastly-ratelimit-reset:
      - '1556118000'
      status:
      - 200 OK
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fastly.com/service/4wM2uji6WDT2xX4BGmn0WP/version/2/domain
  response:
    body:
      string: !!python/unicode '[]'
    headers:
      content-type:
      - application/json
      status:
      - 200 OK
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fastly.com/service/4wM2uji6WDT2xX4BGmn0WP/version/2/healthcheck
  response:
    body:
      string: !!python/unicode '[]'
    headers:
      content-type:
      - application/json
      status:
      - 200 OK
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fastly.com/service/4wM2uji6WDT2xX4BGmn0WP/version/2/condition
  response:
    body:
      string: !!python/unicode '[]'
    headers:
      content-type:
      - application/json
      status:
      - 200 OK
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fastly.com/service/4wM2uji6WDT2xX4BGmn0WP/version/2/backend
  response:
    body:
      string: !!python/unicode '[]'
    headers:
      content-type:
      - application/json
      status:
      - 200 OK
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fastly.com/service/4wM2uji6WDT2xX4BGmn0WP/version/2/director
  response:
    body:
      string: !!python/unicode '[]'
    headers:
      content-type:
      - application/json
      status:
      - 200 OK
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fastly.com/service/4wM2uji6WDT2xX4BGmn0WP/version/2/cache_settings
  response:
    body:
      string: !!python/unicode '[]'
    headers:
      content-type:
      - application/json
      status:
      - 200 OK
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fastly.com/service/4wM2uji6WDT2xX4BGmn0WP/version/2/gzip
  response:
    body:
      string: !!python/unicode '[]'
    headers:
      content-type:
      - application/json
      status:
      - 200 OK
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fastly.com/service/4wM2uji6WDT2xX4BGmn0WP/version/2/header
  response:
    body:
      string: !!python/unicode '[]'
    headers:
      content-type:
      - application/json
      status:
      - 200 OK
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fastly.com/service/4wM2uji6WDT2xX4BGmn0WP/version/2/request_settings
  response:
    body:
      string: !!python/unicode '[]'
    headers:
      content-type:
      - application/json
      status:
      - 200 OK
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fastly.com/service/4wM2uji6WDT2xX4BGmn0WP/version/2/response_object
  response:
    body:
      string: !!python/unicode '[]'
    headers:
      content-type:
      - application/json
      status:
      - 200 OK
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fastly.com/service/4wM2uji6WDT2xX4BGmn0WP/version/2/snippet
  response:
    body:
      string: !!python/unicode '[]'
    headers:
      content-type:
      - application/json
      status:
      - 200 OK
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fastly.com/service/4wM2uji6WDT2xX4BGmn0WP/version/2/logging/s3
  response:
    body:
      string: !!python/unicode '[]'
    headers:
      content-type:
      - application/json
      status:
      - 200 OK
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fastly.com/service/4wM2uji6WDT2xX4BGmn0WP/version/2/logging/syslog
  response:
    body:
      string: !!python/unicode '[]'
    headers:
      content-type:
      - application/json
      status:
      - 200 OK
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fastly.com/service/4wM2uji6WDT2xX4BGmn0WP/version/2/logging/cloudfiles
  response:
    body:
      string: !!python/unicode '[]'
    headers:
      content-type:
      - application/json
      status:
      - 200 OK
    status:
      code: 200
      message: OK
[...]
- request:
    body: !!python/unicode '{"ssl_ca_cert": null, "request_condition": "", "name":
      "localhost", "weight": 100, "healthcheck": null, "first_byte_timeout": 15000,
      "error_threshold": 0, "port": 80, "ssl_cert_hostname": null, "address": "127.0.0.1",
      "between_bytes_timeout": 10000, "max_conn": 200, "connect_timeout": 1000, "ssl_hostname":
      null, "shield": null}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fastly.com/service/4wM2uji6WDT2xX4BGmn0WP/version/2/backend
  response:
    body:
      string: !!python/unicode '{"ssl_ca_cert":null,"request_condition":"","name":"localhost","weight":100,"healthcheck":null,"first_byte_timeout":15000,"error_threshold":0,"port":80,"ssl_cert_hostname":null,"address":"127.0.0.1","between_bytes_timeout":10000,"max_conn":200,"connect_timeout":1000,"ssl_hostname":null,"shield":null,"service_id":"4wM2uji6WDT2xX4BGmn0WP","version":2,"ipv4":"127.0.0.1","comment":"","auto_loadbalance":false,"ssl_check_cert":true,"client_cert":null,"ipv6":null,"ssl_sni_hostname":null,"deleted_at":null,"hostname":null,"created_at":"2019-04-24T14:13:13Z","override_host":null,"updated_at":"2019-04-24T14:13:13Z","min_tls_version":null,"max_tls_version":null,"ssl_client_cert":null,"use_ssl":false,"ssl_ciphers":null,"ssl_client_key":null}'
    headers:
      content-type:
      - application/json
      fastly-ratelimit-remaining:
      - '878'
      fastly-ratelimit-reset:
      - '1556118000'
      status:
      - 200 OK
    status:
      code: 200
      message: OK
- request:
    body: !!python/unicode '{"ignore_if_set": "0", "regex": "", "request_condition":
      null, "name": "Set Location header", "src": "\"https://u.jimcdn.com\" req.url.path",
      "dst": "http.Location", "cache_condition": null, "priority": "100", "substitution":
      "", "action": "set", "type": "response", "response_condition": null}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fastly.com/service/4wM2uji6WDT2xX4BGmn0WP/version/2/header
  response:
    body:
      string: !!python/unicode '{"ignore_if_set":"0","regex":"","request_condition":null,"name":"Set
        Location header","src":"\"https://u.jimcdn.com\" req.url.path","dst":"http.Location","cache_condition":null,"priority":"100","substitution":"","action":"set","type":"response","response_condition":null,"service_id":"4wM2uji6WDT2xX4BGmn0WP","version":"2","updated_at":"2019-04-24T14:13:13Z","deleted_at":null,"created_at":"2019-04-24T14:13:13Z"}'
    headers:
      content-type:
      - application/json
      fastly-ratelimit-remaining:
      - '877'
      fastly-ratelimit-reset:
      - '1556118000'
      status:
      - 200 OK
    status:
      code: 200
      message: OK
- request:
    body: !!python/unicode '{"request_condition": "", "name": "request-setting-config-name",
      "force_miss": 1, "xff": "append", "bypass_busy_wait": 1, "hash_keys": "req.url,req.http.host,req.http.Fastly-SSL",
      "force_ssl": 1, "action": "pass", "geo_headers": 1, "default_host": "example.net",
      "timer_support": 1, "max_stale_age": 30}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fastly.com/service/4wM2uji6WDT2xX4BGmn0WP/version/2/request_settings
  response:
    body:
      string: !!python/unicode '{"request_condition":"","name":"request-setting-config-name","force_miss":"1","xff":"append","bypass_busy_wait":"1","hash_keys":"req.url,req.http.host,req.http.Fastly-SSL","force_ssl":"1","action":"pass","geo_headers":"1","default_host":"example.net","timer_support":"1","max_stale_age":30,"service_id":"4wM2uji6WDT2xX4BGmn0WP","version":"2","updated_at":"2019-04-24T14:13:14Z","deleted_at":null,"created_at":"2019-04-24T14:13:14Z"}'
    headers:
      content-type:
      - application/json
      fastly-ratelimit-remaining:
      - '876'
      fastly-ratelimit-reset:
      - '1556118000'
      status:
      - 200 OK
    status:
      code: 200
      message: OK
- request:
    body: !!python/unicode '{"status": "200", "request_condition": "", "name": "Set
      200 status code", "content": "", "content_type": "", "response": "Ok"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fastly.com/service/4wM2uji6WDT2xX4BGmn0WP/version/2/response_object
  response:
    body:
      string: !!python/unicode '{"status":"200","request_condition":"","name":"Set
        200 status code","content":"","content_type":"","response":"Ok","service_id":"4wM2uji6WDT2xX4BGmn0WP","version":"2","deleted_at":null,"cache_condition":"","created_at":"2019-04-24T14:13:15Z","updated_at":"2019-04-24T14:13:15Z"}'
    headers:
      content-type:
      - application/json
      fastly-ratelimit-remaining:
      - '875'
      fastly-ratelimit-reset:
      - '1556118000'
      status:
      - 200 OK
    status:
      code: 200
      message: OK
- request:
    body: !!python/unicode '{"general.default_ttl": 3600}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://api.fastly.com/service/4wM2uji6WDT2xX4BGmn0WP/version/2/settings
  response:
    body:
      string: !!python/unicode '{"general.stale_if_error_ttl":43200,"general.stale_if_error":false,"general.default_ttl":3600,"version":2,"general.default_host":"","general.default_pci":0,"service_id":"4wM2uji6WDT2xX4BGmn0WP"}'
    headers:
      content-type:
      - application/json
      fastly-ratelimit-remaining:
      - '874'
      fastly-ratelimit-reset:
      - '1556118000'
      status:
      - 200 OK
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://api.fastly.com/service/4wM2uji6WDT2xX4BGmn0WP/version/2/activate
  response:
    body:
      string: !!python/unicode '{"locked":true,"created_at":"2019-04-24T14:13:03Z","service_id":"4wM2uji6WDT2xX4BGmn0WP","updated_at":"2019-04-24T14:13:15Z","active":true,"comment":"","number":2,"deployed":false,"testing":false,"deleted_at":null,"staging":false,"msg":null}'
    headers:
      content-type:
      - application/json
      fastly-ratelimit-remaining:
      - '873'
      fastly-ratelimit-reset:
      - '1556118000'
      status:
      - 200 OK
    status:
      code: 200
      message: OK
[...]
