interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fastly.com/service/search?name=Fastly%20Ansible%20Module%20Test
  response:
    body:
      string: !!python/unicode '{"deleted_at":null,"id":"4988RK30zjTjnn3YSGpize","created_at":"2019-04-24T14:18:08Z","name":"Fastly
        Ansible Module Test","updated_at":"2019-04-24T14:18:08Z","versions":[{"locked":false,"updated_at":"2019-04-24T14:18:08Z","service_id":"4988RK30zjTjnn3YSGpize","created_at":"2019-04-24T14:18:08Z","active":false,"number":1,"deployed":false,"testing":false,"comment":"","deleted_at":null,"staging":false},{"staging":false,"service_id":"4988RK30zjTjnn3YSGpize","deleted_at":null,"number":2,"testing":false,"deployed":false,"comment":"","active":false,"updated_at":"2019-04-24T14:18:46Z","created_at":"2019-04-24T14:18:09Z","locked":true},{"staging":false,"number":3,"deployed":false,"testing":false,"comment":"","service_id":"4988RK30zjTjnn3YSGpize","deleted_at":null,"active":false,"locked":true,"updated_at":"2019-04-24T14:19:08Z","created_at":"2019-04-24T14:18:27Z"},{"testing":false,"updated_at":"2019-04-24T14:19:08Z","deployed":false,"number":4,"locked":true,"active":true,"comment":"","staging":false,"service_id":"4988RK30zjTjnn3YSGpize","deleted_at":null,"created_at":"2019-04-24T14:18:49Z"}],"comment":"","customer_id":"4NTmXUwFuuC5U0iJUrdEHr"}'
    headers:
      content-type:
      - application/json
      status:
      - 200 OK
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fastly.com/service/4988RK30zjTjnn3YSGpize/details
  response:
    body:
      string: !!python/unicode '{"name":"Fastly Ansible Module Test","deleted_at":null,"versions":[{"testing":false,"locked":false,"number":1,"active":false,"service_id":"4988RK30zjTjnn3YSGpize","staging":false,"created_at":"2019-04-24T14:18:08Z","deleted_at":null,"comment":"","updated_at":"2019-04-24T14:18:08Z","deployed":false},{"testing":false,"locked":true,"number":2,"active":false,"service_id":"4988RK30zjTjnn3YSGpize","staging":false,"created_at":"2019-04-24T14:18:09Z","deleted_at":null,"comment":"","updated_at":"2019-04-24T14:18:46Z","deployed":false},{"testing":false,"locked":true,"number":3,"active":false,"service_id":"4988RK30zjTjnn3YSGpize","staging":false,"created_at":"2019-04-24T14:18:27Z","deleted_at":null,"comment":"","updated_at":"2019-04-24T14:19:08Z","deployed":false},{"testing":false,"locked":true,"number":4,"active":true,"service_id":"4988RK30zjTjnn3YSGpize","staging":false,"created_at":"2019-04-24T14:18:49Z","deleted_at":null,"comment":"","updated_at":"2019-04-24T14:19:08Z","deployed":false}],"created_at":"2019-04-24T14:18:08Z","customer_id":"4NTmXUwFuuC5U0iJUrdEHr","comment":"","updated_at":"2019-04-24T14:18:08Z","id":"4988RK30zjTjnn3YSGpize","version":{"testing":false,"staging":false,"updated_at":"2019-04-24T14:19:08Z","active":true,"number":4,"service_id":"4988RK30zjTjnn3YSGpize","deployed":false,"locked":true,"deleted_at":null,"created_at":"2019-04-24T14:18:49Z","comment":"","acls":[],"backends":[{"max_tls_version":null,"ssl_ca_cert":null,"auto_loadbalance":false,"ssl_check_cert":true,"shield":null,"override_host":null,"hostname":null,"ssl_client_cert":null,"error_threshold":0,"request_condition":"","first_byte_timeout":15000,"ssl_cert_hostname":null,"weight":100,"client_cert":null,"address":"127.0.0.1","ssl_hostname":null,"ssl_sni_hostname":null,"min_tls_version":null,"ipv6":null,"ipv4":"127.0.0.1","connect_timeout":1000,"ssl_ciphers":null,"name":"localhost","healthcheck":null,"port":80,"max_conn":200,"use_ssl":false,"comment":"","between_bytes_timeout":10000,"ssl_client_key":null}],"cache_settings":[],"conditions":[{"priority":"0","statement":"req.url
        ~ \"^/some_asset.js\"","comment":"","name":"condition-name","type":"CACHE"}],"dictionaries":[],"directors":[],"domains":[{"comment":"","name":"example8000.com"}],"gzips":[],"headers":[{"priority":"100","src":"\"public,
        max-age=86400\"","name":"Set cache control header","substitution":"","ignore_if_set":"0","cache_condition":"condition-name","request_condition":null,"regex":"","response_condition":null,"action":"set","type":"cache","dst":"http.Cache-Control"}],"healthchecks":[],"request_settings":[],"response_objects":[{"request_condition":"","content_type":"","status":"200","response":"Ok","name":"Set
        200 status code","content":"","cache_condition":""}],"snippets":[],"vcls":[],"wordpress":[],"settings":{"general.stale_if_error_ttl":43200,"general.stale_if_error":false,"general.default_ttl":3600,"general.default_host":"","general.default_pci":0}},"active_version":{"testing":false,"staging":false,"updated_at":"2019-04-24T14:19:08Z","active":true,"number":4,"service_id":"4988RK30zjTjnn3YSGpize","deployed":false,"locked":true,"deleted_at":null,"created_at":"2019-04-24T14:18:49Z","comment":"","acls":[],"backends":[{"max_tls_version":null,"ssl_ca_cert":null,"auto_loadbalance":false,"ssl_check_cert":true,"shield":null,"override_host":null,"hostname":null,"ssl_client_cert":null,"error_threshold":0,"request_condition":"","first_byte_timeout":15000,"ssl_cert_host[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://api.fastly.com/service/4988RK30zjTjnn3YSGpize/version/4/deactivate
  response:
    body:
      string: !!python/unicode '{"testing":false,"locked":true,"number":4,"active":false,"service_id":"4988RK30zjTjnn3YSGpize","staging":false,"created_at":"2019-04-24T14:18:49Z","deleted_at":null,"comment":"","updated_at":"2019-04-24T14:19:08Z","deployed":false}'
    headers:
      content-type:
      - application/json
      fastly-ratelimit-remaining:
      - '691'
      fastly-ratelimit-reset:
      - '1556118000'
      status:
      - 200 OK
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.fastly.com/service/4988RK30zjTjnn3YSGpize
  response:
    body:
      string: !!python/unicode '{"status":"ok"}'
    headers:
      content-type:
      - application/json
      fastly-ratelimit-remaining:
      - '690'
      fastly-ratelimit-reset:
      - '1556118000'
      status:
      - 200 OK
    status:
      code: 200
      message: OK
version: 1
