interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fastly.com/service/search?name=Fastly%20Ansible%20Module%20Test
  response:
    body:
      string: !!python/unicode '{"name":"Fastly Ansible Module Test","deleted_at":null,"versions":[{"testing":false,"locked":false,"number":1,"active":false,"service_id":"2KeMyRfhNiZvFvarw6FJyG","staging":false,"created_at":"2019-04-24T14:16:38Z","deleted_at":null,"comment":"","updated_at":"2019-04-24T14:16:38Z","deployed":false},{"testing":false,"locked":true,"number":2,"active":false,"service_id":"2KeMyRfhNiZvFvarw6FJyG","staging":false,"created_at":"2019-04-24T14:16:40Z","deleted_at":null,"comment":"","updated_at":"2019-04-24T14:17:17Z","deployed":false},{"testing":false,"staging":false,"updated_at":"2019-04-24T14:17:17Z","active":true,"number":3,"service_id":"2KeMyRfhNiZvFvarw6FJyG","deployed":false,"locked":true,"deleted_at":null,"created_at":"2019-04-24T14:17:00Z","comment":""}],"created_at":"2019-04-24T14:16:38Z","customer_id":"4NTmXUwFuuC5U0iJUrdEHr","comment":"","updated_at":"2019-04-24T14:16:38Z","id":"2KeMyRfhNiZvFvarw6FJyG"}'
    headers:
      content-type:
      - application/json
      status:
      - 200 OK
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fastly.com/service/2KeMyRfhNiZvFvarw6FJyG/details
  response:
    body:
      string: !!python/unicode '{"versions":[{"testing":false,"locked":false,"number":1,"active":false,"service_id":"2KeMyRfhNiZvFvarw6FJyG","staging":false,"created_at":"2019-04-24T14:16:38Z","deleted_at":null,"comment":"","updated_at":"2019-04-24T14:16:38Z","deployed":false},{"testing":false,"locked":true,"number":2,"active":false,"service_id":"2KeMyRfhNiZvFvarw6FJyG","staging":false,"created_at":"2019-04-24T14:16:40Z","deleted_at":null,"comment":"","updated_at":"2019-04-24T14:17:17Z","deployed":false},{"testing":false,"locked":true,"number":3,"active":true,"service_id":"2KeMyRfhNiZvFvarw6FJyG","staging":false,"created_at":"2019-04-24T14:17:00Z","deleted_at":null,"comment":"","updated_at":"2019-04-24T14:17:17Z","deployed":false}],"customer_id":"4NTmXUwFuuC5U0iJUrdEHr","comment":"","deleted_at":null,"id":"2KeMyRfhNiZvFvarw6FJyG","created_at":"2019-04-24T14:16:38Z","name":"Fastly
        Ansible Module Test","updated_at":"2019-04-24T14:16:38Z","version":{"service_id":"2KeMyRfhNiZvFvarw6FJyG","deleted_at":null,"created_at":"2019-04-24T14:17:00Z","staging":false,"comment":"","number":3,"deployed":false,"active":true,"locked":true,"testing":false,"updated_at":"2019-04-24T14:17:17Z","acls":[],"backends":[{"ssl_ciphers":null,"use_ssl":false,"name":"localhost","ipv6":null,"hostname":null,"ssl_client_key":null,"max_conn":200,"healthcheck":null,"ssl_sni_hostname":null,"connect_timeout":1000,"max_tls_version":null,"weight":100,"min_tls_version":null,"ssl_hostname":null,"ssl_client_cert":null,"between_bytes_timeout":10000,"client_cert":null,"ssl_check_cert":true,"override_host":null,"ssl_cert_hostname":null,"ssl_ca_cert":null,"address":"127.0.0.1","first_byte_timeout":15000,"comment":"","auto_loadbalance":false,"shield":null,"error_threshold":0,"ipv4":"127.0.0.1","port":80,"request_condition":""}],"cache_settings":[],"conditions":[],"dictionaries":[],"directors":[],"domains":[{"comment":"","name":"example8000.com"}],"gzips":[],"headers":[{"type":"response","request_condition":null,"substitution":"","response_condition":null,"name":"Set
        Location header","dst":"http.Location","ignore_if_set":"0","regex":"","cache_condition":null,"action":"set","priority":"100","src":"\"https://u.jimcdn.com\"
        req.url.path"}],"healthchecks":[],"request_settings":[],"response_objects":[{"cache_condition":"","response":"Ok","content_type":"","content":"","request_condition":"","status":"200","name":"Set
        200 status code"}],"snippets":[],"vcls":[],"wordpress":[],"settings":{"general.stale_if_error":false,"general.stale_if_error_ttl":43200,"general.default_ttl":3600,"general.default_pci":0,"general.default_host":""},"s3s":[{"secret_key":"SECRET","bucket_name":"prod-fastly-logs","gzip_level":"0","response_condition":"","name":"test_s3","period":"60","acl":null,"server_side_encryption":null,"message_type":"classic","public_key":null,"timestamp_format":"%Y-%m-%dT%H:%M:%S.000","access_key":"ACCESS_KEY","format_version":"2","server_side_encryption_kms_key_id":null,"placement":null,"redundancy":"standard","format":"%{%Y-%m-%dT%H:%S.000}t
        %h \"%r\" %\u003es %b","path":"/","domain":"example8000.com"}]},"active_version":{"service_id":"2KeMyRfhNiZvFvarw6FJyG","deleted_at":null,"created_at":"2019-04-24T14:17:00Z","staging":false,"comment":"","number":3,"deployed":false,"active":true,"locked":true,"testing":false,"updated_at":"2019-04-24T14:17:17Z","acls":[],"backends":[{"ssl_ciphers":null,"use_ssl":false,"name":"localhost","ipv6":null,"hostname":null,"ssl_client_key":null,"max_conn":200,"healthcheck":null,"ssl_sni_hostname":null,"connect_timeout":1000,"max_tls_version":null,"weight":100,"min_tls_version":null,"ss[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://api.fastly.com/service/2KeMyRfhNiZvFvarw6FJyG/version/3/deactivate
  response:
    body:
      string: !!python/unicode '{"testing":false,"locked":true,"number":3,"active":false,"service_id":"2KeMyRfhNiZvFvarw6FJyG","staging":false,"created_at":"2019-04-24T14:17:00Z","deleted_at":null,"comment":"","updated_at":"2019-04-24T14:17:17Z","deployed":false}'
    headers:
      content-type:
      - application/json
      fastly-ratelimit-remaining:
      - '748'
      fastly-ratelimit-reset:
      - '1556118000'
      status:
      - 200 OK
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.fastly.com/service/2KeMyRfhNiZvFvarw6FJyG
  response:
    body:
      string: !!python/unicode '{"status":"ok"}'
    headers:
      content-type:
      - application/json
      fastly-ratelimit-remaining:
      - '747'
      fastly-ratelimit-reset:
      - '1556118000'
      status:
      - 200 OK
    status:
      code: 200
      message: OK
version: 1
