interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fastly.com/service/search?name=Fastly%20Ansible%20Module%20Test
  response:
    body:
      string: !!python/unicode '{"msg":"Record not found","detail":"Cannot load service
        ''4NTmXUwFuuC5U0iJUrdEHr''-''Fastly Ansible Module Test''"}'
    headers:
      content-type:
      - application/json
      status:
      - 404 Not Found
    status:
      code: 404
      message: Not Found
- request:
    body: !!python/unicode '{"name": "Fastly Ansible Module Test"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fastly.com/service
  response:
    body:
      string: !!python/unicode '{"customer_id":"4NTmXUwFuuC5U0iJUrdEHr","name":"Fastly
        Ansible Module Test","publish_key":"cab36090df064e6bbb918201fdd702c0ba7a11b3","versions":[{"testing":false,"locked":false,"number":1,"active":false,"service_id":"0HQSfYzeTzSBfSMRIhYeXY","staging":false,"created_at":"2019-04-24T14:17:24Z","deleted_at":null,"comment":"","updated_at":"2019-04-24T14:17:24Z","deployed":false}],"deleted_at":null,"created_at":"2019-04-24T14:17:24Z","comment":"","updated_at":"2019-04-24T14:17:24Z","id":"0HQSfYzeTzSBfSMRIhYeXY"}'
    headers:
      content-type:
      - application/json
      fastly-ratelimit-remaining:
      - '746'
      fastly-ratelimit-reset:
      - '1556118000'
      status:
      - 200 OK
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fastly.com/service/0HQSfYzeTzSBfSMRIhYeXY/details
  response:
    body:
      string: !!python/unicode '{"name":"Fastly Ansible Module Test","deleted_at":null,"versions":[{"testing":false,"locked":false,"number":1,"active":false,"service_id":"0HQSfYzeTzSBfSMRIhYeXY","staging":false,"created_at":"2019-04-24T14:17:24Z","deleted_at":null,"comment":"","updated_at":"2019-04-24T14:17:24Z","deployed":false}],"created_at":"2019-04-24T14:17:24Z","customer_id":"4NTmXUwFuuC5U0iJUrdEHr","comment":"","updated_at":"2019-04-24T14:17:24Z","id":"0HQSfYzeTzSBfSMRIhYeXY","version":{"testing":false,"staging":false,"updated_at":"2019-04-24T14:17:24Z","active":false,"number":1,"service_id":"0HQSfYzeTzSBfSMRIhYeXY","deployed":false,"locked":false,"deleted_at":null,"created_at":"2019-04-24T14:17:24Z","comment":"","acls":[],"backends":[],"cache_settings":[],"conditions":[],"dictionaries":[],"directors":[],"domains":[],"gzips":[],"headers":[],"healthchecks":[],"request_settings":[],"response_objects":[],"snippets":[],"vcls":[],"wordpress":[],"settings":{"general.stale_if_error_ttl":43200,"general.stale_if_error":false,"general.default_ttl":3600,"general.default_host":"","general.default_pci":0}},"active_version":null}'
    headers:
      content-type:
      - application/json
      status:
      - 200 OK
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://api.fastly.com/service/0HQSfYzeTzSBfSMRIhYeXY/version/1/clone
  response:
    body:
      string: !!python/unicode '{"testing":false,"locked":false,"number":2,"active":false,"service_id":"0HQSfYzeTzSBfSMRIhYeXY","staging":false,"created_at":"2019-04-24T14:17:24Z","deleted_at":null,"comment":"","updated_at":"2019-04-24T14:17:24Z","deployed":false}'
    headers:
      content-type:
      - application/json
      fastly-ratelimit-remaining:
      - '745'
      fastly-ratelimit-reset:
      - '1556118000'
      status:
      - 200 OK
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fastly.com/service/0HQSfYzeTzSBfSMRIhYeXY/version/2/domain
  response:
    body:
      string: !!python/unicode '[]'
    headers:
      content-type:
      - application/json
      status:
      - 200 OK
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fastly.com/service/0HQSfYzeTzSBfSMRIhYeXY/version/2/healthcheck
  response:
    body:
      string: !!python/unicode '[]'
    headers:
      content-type:
      - application/json
      status:
      - 200 OK
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fastly.com/service/0HQSfYzeTzSBfSMRIhYeXY/version/2/condition
  response:
    body:
      string: !!python/unicode '[]'
    headers:
      content-type:
      - application/json
      status:
      - 200 OK
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fastly.com/service/0HQSfYzeTzSBfSMRIhYeXY/version/2/backend
  response:
    body:
      string: !!python/unicode '[]'
    headers:
      content-type:
      - application/json
      status:
      - 200 OK
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fastly.com/service/0HQSfYzeTzSBfSMRIhYeXY/version/2/director
  response:
    body:
      string: !!python/unicode '[]'
    headers:
      content-type:
      - application/json
      status:
      - 200 OK
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fastly.com/service/0HQSfYzeTzSBfSMRIhYeXY/version/2/cache_settings
  response:
    body:
      string: !!python/unicode '[]'
    headers:
      content-type:
      - application/json
      status:
      - 200 OK
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fastly.com/service/0HQSfYzeTzSBfSMRIhYeXY/version/2/gzip
  response:
    body:
      string: !!python/unicode '[]'
    headers:
      content-type:
      - application/json
      status:
      - 200 OK
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fastly.com/service/0HQSfYzeTzSBfSMRIhYeXY/version/2/header
  response:
    body:
      string: !!python/unicode '[]'
    headers:
      content-type:
      - application/json
      status:
      - 200 OK
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fastly.com/service/0HQSfYzeTzSBfSMRIhYeXY/version/2/request_settings
  response:
    body:
      string: !!python/unicode '[]'
    headers:
      content-type:
      - application/json
      status:
      - 200 OK
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fastly.com/service/0HQSfYzeTzSBfSMRIhYeXY/version/2/response_object
  response:
    body:
      string: !!python/unicode '[]'
    headers:
      content-type:
      - application/json
      status:
      - 200 OK
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fastly.com/service/0HQSfYzeTzSBfSMRIhYeXY/version/2/snippet
  response:
    body:
      string: !!python/unicode '[]'
    headers:
      content-type:
      - application/json
      status:
      - 200 OK
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fastly.com/service/0HQSfYzeTzSBfSMRIhYeXY/version/2/logging/s3
  response:
    body:
      string: !!python/unicode '[]'
    headers:
      content-type:
      - application/json
      status:
      - 200 OK
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fastly.com/service/0HQSfYzeTzSBfSMRIhYeXY/version/2/logging/syslog
  response:
    body:
      string: !!python/unicode '[]'
    headers:
      content-type:
      - application/json
      status:
      - 200 OK
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fastly.com/service/0HQSfYzeTzSBfSMRIhYeXY/version/2/logging/cloudfiles
  response:
    body:
      string: !!python/unicode '[]'
    headers:
      content-type:
      - application/json
      status:
      - 200 OK
    status:
      code: 200
      message: OK
[...]
- request:
    body: !!python/unicode '{"ssl_ca_cert": null, "request_condition": "", "name":
      "localhost", "weight": 100, "healthcheck": null, "first_byte_timeout": 15000,
      "error_threshold": 0, "port": 80, "ssl_cert_hostname": null, "address": "127.0.0.1",
      "between_bytes_timeout": 10000, "max_conn": 200, "connect_timeout": 1000, "ssl_hostname":
      null, "shield": null}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fastly.com/service/0HQSfYzeTzSBfSMRIhYeXY/version/2/backend
  response:
    body:
      string: !!python/unicode '{"ssl_ca_cert":null,"request_condition":"","name":"localhost","weight":100,"healthcheck":null,"first_byte_timeout":15000,"error_threshold":0,"port":80,"ssl_cert_hostname":null,"address":"127.0.0.1","between_bytes_timeout":10000,"max_conn":200,"connect_timeout":1000,"ssl_hostname":null,"shield":null,"service_id":"0HQSfYzeTzSBfSMRIhYeXY","version":2,"updated_at":"2019-04-24T14:17:35Z","override_host":null,"min_tls_version":null,"max_tls_version":null,"ssl_client_cert":null,"ssl_ciphers":null,"use_ssl":false,"ssl_client_key":null,"comment":"","auto_loadbalance":false,"ipv4":"127.0.0.1","ssl_check_cert":true,"client_cert":null,"ipv6":null,"created_at":"2019-04-24T14:17:35Z","hostname":null,"deleted_at":null,"ssl_sni_hostname":null}'
    headers:
      content-type:
      - application/json
      fastly-ratelimit-remaining:
      - '743'
      fastly-ratelimit-reset:
      - '1556118000'
      status:
      - 200 OK
    status:
      code: 200
      message: OK
- request:
    body: !!python/unicode '{"ignore_if_set": "0", "regex": "", "request_condition":
      null, "name": "Set Location header", "src": "\"https://u.jimcdn.com\" req.url.path",
      "dst": "http.Location", "cache_condition": null, "priority": "100", "substitution":
      "", "action": "set", "type": "response", "response_condition": null}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fastly.com/service/0HQSfYzeTzSBfSMRIhYeXY/version/2/header
  response:
    body:
      string: !!python/unicode '{"ignore_if_set":"0","regex":"","request_condition":null,"name":"Set
        Location header","src":"\"https://u.jimcdn.com\" req.url.path","dst":"http.Location","cache_condition":null,"priority":"100","substitution":"","action":"set","type":"response","response_condition":null,"service_id":"0HQSfYzeTzSBfSMRIhYeXY","version":"2","updated_at":"2019-04-24T14:17:36Z","deleted_at":null,"created_at":"2019-04-24T14:17:36Z"}'
    headers:
      content-type:
      - application/json
      fastly-ratelimit-remaining:
      - '742'
      fastly-ratelimit-reset:
      - '1556118000'
      status:
      - 200 OK
    status:
      code: 200
      message: OK
- request:
    body: !!python/unicode '{"status": "200", "request_condition": "", "name": "Set
      200 status code", "content": "", "content_type": "", "response": "Ok"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fastly.com/service/0HQSfYzeTzSBfSMRIhYeXY/version/2/response_object
  response:
    body:
      string: !!python/unicode '{"status":"200","request_condition":"","name":"Set
        200 status code","content":"","content_type":"","response":"Ok","service_id":"0HQSfYzeTzSBfSMRIhYeXY","version":"2","deleted_at":null,"cache_condition":"","created_at":"2019-04-24T14:17:36Z","updated_at":"2019-04-24T14:17:36Z"}'
    headers:
      content-type:
      - application/json
      fastly-ratelimit-remaining:
      - '741'
      fastly-ratelimit-reset:
      - '1556118000'
      status:
      - 200 OK
    status:
      code: 200
      message: OK
- request:
    body: !!python/unicode '{"general.default_ttl": 3600}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://api.fastly.com/service/0HQSfYzeTzSBfSMRIhYeXY/version/2/settings
  response:
    body:
      string: !!python/unicode '{"service_id":"0HQSfYzeTzSBfSMRIhYeXY","general.stale_if_error":false,"general.stale_if_error_ttl":43200,"general.default_ttl":3600,"general.default_pci":0,"version":2,"general.default_host":""}'
    headers:
      content-type:
      - application/json
      fastly-ratelimit-remaining:
      - '740'
      fastly-ratelimit-reset:
      - '1556118000'
      status:
      - 200 OK
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://api.fastly.com/service/0HQSfYzeTzSBfSMRIhYeXY/version/2/activate
  response:
    body:
      string: !!python/unicode '{"testing":false,"locked":true,"number":2,"active":true,"service_id":"0HQSfYzeTzSBfSMRIhYeXY","staging":false,"created_at":"2019-04-24T14:17:25Z","deleted_at":null,"comment":"","updated_at":"2019-04-24T14:17:36Z","deployed":false,"msg":null}'
    headers:
      content-type:
      - application/json
      fastly-ratelimit-remaining:
      - '739'
      fastly-ratelimit-reset:
      - '1556118000'
      status:
      - 200 OK
    status:
      code: 200
      message: OK
[...]
