interactions:
- request:
    body: null
    headers:
      Content-Type: [application/json]
    method: GET
    uri: https://api.fastly.com/service/search?name=Fastly%20Ansible%20Module%20Test
  response:
    body: {string: !!python/unicode '{"name":"Fastly Ansible Module Test","deleted_at":null,"versions":[{"testing":false,"locked":false,"number":1,"active":false,"service_id":"3NOaw5TroFAmPY7y3vUdKU","staging":false,"created_at":"2016-06-29T15:44:58+00:00","deleted_at":null,"comment":"","updated_at":"2016-06-29T15:44:58+00:00","deployed":false},{"testing":false,"locked":true,"number":2,"active":false,"service_id":"3NOaw5TroFAmPY7y3vUdKU","staging":false,"created_at":"2016-06-29T15:44:59+00:00","deleted_at":null,"comment":"","updated_at":"2016-06-29T15:46:24+00:00","deployed":false},{"testing":false,"locked":false,"number":3,"active":false,"service_id":"3NOaw5TroFAmPY7y3vUdKU","staging":false,"created_at":"2016-06-29T15:45:05+00:00","deleted_at":null,"comment":"","updated_at":"2016-06-29T15:45:05+00:00","deployed":false},{"testin[...]
- request:
    body: null
    headers:
      Content-Type: [application/json]
    method: GET
    uri: https://api.fastly.com/service/3NOaw5TroFAmPY7y3vUdKU/details
  response:
    body: {string: !!python/unicode '{"name":"Fastly Ansible Module Test","deleted_at":null,"versions":[{"testing":false,"locked":false,"number":1,"active":false,"service_id":"3NOaw5TroFAmPY7y3vUdKU","staging":false,"created_at":"2016-06-29T15:44:58+00:00","deleted_at":null,"comment":"","updated_at":"2016-06-29T15:44:58+0[...]
[...]
