interactions:
- request:
    body: null
    headers:
      Content-Type: [application/json]
    method: GET
    uri: https://api.fastly.com/service/search?name=Fastly%20Ansible%20Module%20Test
  response:
    body: {string: !!python/unicode '{"name":"Fastly Ansible Module Test","deleted_at":null,"versions":[{"testing":false,"locked":false,"number":1,"active":false,"service_id":"qvsKnmSfExOg9cWUIvCNS","staging":false,"created_at":"2018-05-30T07:50:23Z","deleted_at":null,"comment":"","updated_at":"2018-05-30T07:50:23Z","deployed":false},{"testing":false,"locked":true,"number":2,"active":false,"service_id":"qvsKnmSfExOg9cWUIvCNS","staging":false,"created_at":"2018-05-30T07:50:24Z","deleted_at":null,"comment":"","updated_at":"2018-05-30T07:50:40Z","deployed":false},{"testing":false,"staging":false,"updated_at":"2018-05-30T07:50:40Z","active":true,"number":3,"service_id":"qvsKnmSfExOg9cWUIvCNS","deployed":false,"locked":true,"deleted_at":null,"created_at":"2018-05-30T07:50:32Z","comment":""}],"created_at":"2018-05-30T07:50:23Z","customer_id":"31RPDMBpiruA1yfGA2djLm","comment":"","updated_at":"2018-05-30T07:50:23Z","id":"qvsKnmSfExOg9cWUIvCNS"}'}
    headers:
      content-type: [application/json]
      status: [200 OK]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json]
    method: GET
    uri: https://api.fastly.com/service/qvsKnmSfExOg9cWUIvCNS/details
  response:
    body: {string: !!python/unicode '{"name":"Fastly Ansible Module Test","deleted_at":null,"versions":[{"testing":false,"locked":false,"number":1,"active":false,"service_id":"qvsKnmSfExOg9cWUIvCNS","staging":false,"created_at":"2018-05-30T07:50:23Z","deleted_at":null,"comment":"","updated_at":"2018-05-30T07:50:23Z","deployed":false},{"testing":false,"locked":true,"number":2,"active":false,"service_id":"qvsKnmSfExOg9cWUIvCNS","staging":false,"created_at":"2018-05-30T07:50:24Z","deleted_at":null,"comment":"","updated_at":"2018-05-30T07:50:40Z","deployed":false},{"testing":false,"locked":true,"number":3,"active":true,"service_id":"qvsKnmSfExOg9cWUIvCNS","staging":false,"created_at":"2018-05-30T07:50:32Z","deleted_at":null,"comment":"","updated_at":"2018-05-30T07:50:40Z","deployed":false}],"created_at":"2018-05-30T07:50:23Z","customer_id":"31RPDMBpiruA1yfGA2djLm","comment":"","updated_at":"2018-05-30T07:50:23Z","id":"qvsKnmSfExOg9cWUIvCNS","version":{"testing":false,"staging":false,"updated_at":"2018-05-30T07:50:40Z","active":true,"number":3,"service_id":"qvsKnmSfExOg9cWUIvCNS","deployed":false,"locked":true,"deleted_at":null,"created_at":"2018-05-30T07:50:32Z","comment":"","acls":[],"backends":[{"max_tls_version":null,"ssl_ca_cert":null,"auto_loadbalance":false,"ssl_check_cert":true,"shield":null,"hostname":null,"ssl_client_cert":null,"error_threshold":0,"request_condition":"","first_byte_timeout":15000,"ssl_cert_hostname":null,"weight":100,"client_cert":null,"address":"127.0.0.1","ssl_hostname":null,"ssl_sni_hostname":null,"min_tls_version":null,"ipv6":null,"ipv4":"127.0.0.1","connect_timeout":1000,"ssl_ciphers":null,"name":"localhost","healthcheck":null,"port":80,"max_conn":200,"use_ssl":false,"comment":"","between_bytes_timeout":10000,"ssl_client_key":null}],"cache_settings":[],"conditions":[],"dictionaries":[],"directors":[],"domains":[{"comment":"","name":"example8000.com"}],"gzips":[],"headers":[{"priority":"100","src":"\"https://u.jimcdn.com\"
        req.url.path","name":"Set Location header","substitution":"","ignore_if_set":"0","cache_condition":null,"request_condition":null,"regex":"","response_condition":null,"action":"set","type":"response","dst":"http.Location"}],"healthchecks":[],"request_settings":[],"response_objects":[{"request_condition":"","content_type":"","status":"200","response":"Ok","name":"Set
        200 status code","content":"","cache_condition":""}],"snippets":[{"priority":"100","name":"Deliver
        stale content","content":"\n            if (resp.status \u003e= 500 \u0026\u0026
        resp.status \u003c 600) {\n                if (stale.exists) {\n                    restart;\n                }\n            }\n        ","dynamic":"0","type":"deliver","id":"18Spihr0RSdGKQCGnm5wMS"}],"vcls":[],"wordpress":[],"settings":{"general.stale_if_error_ttl":43200,"general.stale_if_error":false,"general.default_ttl":3600,"general.default_host":"","general.default_pci":0}},"active_version":{"testing":false,"staging":false,"updated_at":"2018-05-30T07:50:40Z","active":true,"number":3,"service_id":"qvsKnmSfExOg9cWUIvCNS","deployed":false,"locked":true,"deleted_at":null,"created_at":"2018-05-30T07:50:32Z","comment":"","acls":[],"backends":[{"max_tls_version":null,"ssl_ca_cert":null,"auto_loadbalance":false,"ssl_check_cert":true,"shield":null,"hostname":null,"ssl_client_cert":null,"error_threshold":0,"request_condition":"","first_byte_timeout":15000,"ssl_cert_hostname":null,"weight":10[...]
- request:
    body: null
    headers:
      Content-Type: [application/json]
    method: PUT
    uri: https://api.fastly.com/service/qvsKnmSfExOg9cWUIvCNS/version/3/deactivate
  response:
    body: {string: !!python/unicode '{"testing":false,"locked":true,"number":3,"active":false,"service_id":"qvsKnmSfExOg9cWUIvCNS","staging":false,"created_at":"2018-05-30T07:50:32Z","deleted_at":null,"comment":"","updated_at":"2018-05-30T07:50:40Z","deployed":false}'}
    headers:
      content-type: [application/json]
      fastly-ratelimit-remaining: ['402']
      fastly-ratelimit-reset: ['1527667200']
      status: [200 OK]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json]
    method: DELETE
    uri: https://api.fastly.com/service/qvsKnmSfExOg9cWUIvCNS
  response:
    body: {string: !!python/unicode '{"status":"ok"}'}
    headers:
      content-type: [application/json]
      fastly-ratelimit-remaining: ['401']
      fastly-ratelimit-reset: ['1527667200']
      status: [200 OK]
    status: {code: 200, message: OK}
version: 1
