interactions:
- request:
    body: null
    headers:
      Content-Type: [application/json]
    method: GET
    uri: https://api.fastly.com/service/search?name=Fastly%20Ansible%20Module%20Test
  response:
    body: {string: !!python/unicode '{"msg":"Record not found","detail":"Cannot load
        service ''15DqjG1ON0S28gluYrATvC''-''Fastly Ansible Module Test''"}'}
    headers:
      content-type: [application/json]
      status: [404 Not Found]
    status: {code: 404, message: Not Found}
- request:
    body: !!python/unicode '{"name": "Fastly Ansible Module Test"}'
    headers:
      Content-Type: [application/json]
    method: POST
    uri: https://api.fastly.com/service
  response:
    body: {string: !!python/unicode '{"name":"Fastly Ansible Module Test","customer_id":"15DqjG1ON0S28gluYrATvC","publish_key":"c51b84eac973ef233705f13ac6ffe465167e326e","versions":[{"testing":false,"locked":false,"number":1,"active":false,"service_id":"EGjCgyYLfMsROGvXp0YQu","staging":false,"created_at":"2016-11-08T01:52:39+00:00","deleted_at":null,"comment":"","updated_at":"2016-11-08T01:52:39+00:00","deployed":false}],"deleted_at":null,"created_at":"2016-11-08T01:52:39+00:00","comment":"","updated_at":"2016-11-08T01:52:39+00:00","id":"EGjCgyYLfMsROGvXp0YQu"}'}
    headers:
      content-type: [application/json]
      fastly-ratelimit-remaining: ['999']
      fastly-ratelimit-reset: ['1478570400']
      status: [200 OK]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json]
    method: GET
    uri: https://api.fastly.com/service/EGjCgyYLfMsROGvXp0YQu/details
  response:
    body: {string: !!python/unicode '{"name":"Fastly Ansible Module Test","deleted_at":null,"versions":[{"testing":false,"locked":false,"number":1,"active":false,"service_id":"EGjCgyYLfMsROGvXp0YQu","staging":false,"created_at":"2016-11-08T01:52:39+00:00","deleted_at":null,"comment":"","updated_at":"2016-11-08T01:52:39+00:00","deployed":false}],"created_at":"2016-11-08T01:52:39+00:00","customer_id":"15DqjG1ON0S28gluYrATvC","comment":"","updated_at":"2016-11-08T01:52:39+00:00","id":"EGjCgyYLfMsROGvXp0YQu","version":{"testing":false,"number":1,"service_id":"EGjCgyYLfMsROGvXp0YQu","staging":false,"updated_at":"2016-11-08T01:52:39+00:00","deployed":false,"locked":false,"active":false,"deleted_at":null,"created_at":"2016-11-08T01:52:39+00:00","comment":"","acls":[],"backends":[],"cache_settings":[],"conditions":[],"dictionaries":[],"directors":[],"domains":[],"gzips":[],"headers":[],"healthchecks":[],"request_settings":[],"response_objects":[],"vcls":[],"wordpress":[],"settings":{"general.default_ttl":3600,"general.default_host":"","general.default_pci":0}},"active_version":null}'}
    headers:
      content-type: [application/json]
      status: [200 OK]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json]
    method: POST
    uri: https://api.fastly.com/service/EGjCgyYLfMsROGvXp0YQu/version
  response:
    body: {string: !!python/unicode '{"service_id":"EGjCgyYLfMsROGvXp0YQu","number":2}'}
    headers:
      content-type: [application/json]
      fastly-ratelimit-remaining: ['998']
      fastly-ratelimit-reset: ['1478570400']
      status: [200 OK]
    status: {code: 200, message: OK}
- request:
    body: !!python/unicode '{"comment": "", "name": "example7000.com"}'
    headers:
      Content-Type: [application/json]
    method: POST
    uri: https://api.fastly.com/service/EGjCgyYLfMsROGvXp0YQu/version/2/domain
  response:
    body: {string: !!python/unicode '{"comment":"","name":"example7000.com","service_id":"EGjCgyYLfMsROGvXp0YQu","version":2,"deleted_at":null,"created_at":"2016-11-08T01:52:39+00:00","updated_at":"2016-11-08T01:52:39+00:00"}'}
    headers:
      content-type: [application/json]
      fastly-ratelimit-remaining: ['997']
      fastly-ratelimit-reset: ['1478570400']
      status: [200 OK]
    status: {code: 200, message: OK}
- request:
    body: !!python/unicode '{"comment": "", "max_tls_version": null, "shield": null,
      "weight": 100, "min_tls_version": null, "ssl_check_cert": true, "first_byte_timeout":
      "15000", "auto_loadbalance": false, "port": 80, "ssl_hostname": "127.0.0.1",
      "error_threshold": "0", "max_conn": "200", "connect_timeout": "1000", "ssl_ca_cert":
      null, "request_condition": "", "ssl_cert_hostname": null, "ssl_client_key":
      null, "address": "127.0.0.1", "ssl_client_cert": null, "name": "localhost",
      "ssl_ciphers": null, "ssl_sni_hostname": null, "between_bytes_timeout": "10000"}'
    headers:
      Content-Type: [application/json]
    method: POST
    uri: https://api.fastly.com/service/EGjCgyYLfMsROGvXp0YQu/version/2/backend
  response:
    body: {string: !!python/unicode '{"comment":"","max_tls_version":null,"shield":null,"weight":100,"min_tls_version":null,"ssl_check_cert":true,"first_byte_timeout":15000,"auto_loadbalance":false,"port":80,"ssl_hostname":"127.0.0.1","error_threshold":0,"max_conn":200,"connect_timeout":1000,"ssl_ca_cert":null,"request_condition":"","ssl_cert_hostname":null,"ssl_client_key":null,"address":"127.0.0.1","ssl_client_cert":null,"name":"localhost","ssl_ciphers":null,"ssl_sni_hostname":null,"between_bytes_timeout":10000,"service_id":"EGjCgyYLfMsROGvXp0YQu","version":2,"hostname":"127.0.0.1","client_cert":null,"updated_at":"2016-11-08T01:52:40+00:00","ipv4":null,"ipv6":null,"deleted_at":null,"healthcheck":null,"use_ssl":false,"created_at":"2016-11-08T01:52:40+00:00"}'}
    headers:
      content-type: [application/json]
      fastly-ratelimit-remaining: ['996']
      fastly-ratelimit-reset: ['1478570400']
      status: [200 OK]
    status: {code: 200, message: OK}
- request:
    body: !!python/unicode '{"ignore_if_set": "0", "regex": "", "name": "Set Location
      header", "src": "\"https://u.jimcdn.com\" req.url.path", "dst": "http.Location",
      "priority": "100", "substitution": "", "action": "set", "type": "response"}'
    headers:
      Content-Type: [application/json]
    method: POST
    uri: https://api.fastly.com/service/EGjCgyYLfMsROGvXp0YQu/version/2/header
  response:
    body: {string: !!python/unicode '{"ignore_if_set":"0","regex":"","name":"Set Location
        header","src":"\"https://u.jimcdn.com\" req.url.path","dst":"http.Location","priority":"100","substitution":"","action":"set","type":"response","service_id":"EGjCgyYLfMsROGvXp0YQu","version":"2","request_condition":null,"response_condition":null,"updated_at":"2016-11-08T01:52:40+00:00","deleted_at":null,"cache_condition":null,"created_at":"2016-11-08T01:52:40+00:00"}'}
    headers:
      content-type: [application/json]
      fastly-ratelimit-remaining: ['995']
      fastly-ratelimit-reset: ['1478570400']
      status: [200 OK]
    status: {code: 200, message: OK}
- request:
    body: !!python/unicode '{"status": "200", "request_condition": "", "name": "Set
      200 status code", "response": "Ok"}'
    headers:
      Content-Type: [application/json]
    method: POST
    uri: https://api.fastly.com/service/EGjCgyYLfMsROGvXp0YQu/version/2/response_object
  response:
    body: {string: !!python/unicode '{"status":"200","request_condition":"","name":"Set
        200 status code","response":"Ok","service_id":"EGjCgyYLfMsROGvXp0YQu","version":"2","content":null,"deleted_at":null,"cache_condition":"","created_at":"2016-11-08T01:52:40+00:00","content_type":null,"updated_at":"2016-11-08T01:52:40+00:00"}'}
    headers:
      content-type: [application/json]
      fastly-ratelimit-remaining: ['994']
      fastly-ratelimit-reset: ['1478570400']
      status: [200 OK]
    status: {code: 200, message: OK}
- request:
    body: !!python/unicode '{"domain": "", "format_version": "1", "format": "%h %l
      %u %t %r %>s", "server_side_encryption_kms_key_id": "", "period": "3600", "bucket_name":
      "s3-bucket", "gzip_level": "0", "path": "/my-app/", "server_side_encryption":
      null, "response_condition": null, "access_key": "iam-key", "public_key": "",
      "redundancy": "standard", "name": "s3-name", "secret_key": "iam-secret", "message_type":
      "classic", "timestamp_format": ""}'
    headers:
      Content-Type: [application/json]
    method: POST
    uri: https://api.fastly.com/service/EGjCgyYLfMsROGvXp0YQu/version/2/logging/s3
  response:
    body: {string: !!python/unicode '{"domain":"","format_version":"1","format":"%h
        %l %u %t %r %>s","server_side_encryption_kms_key_id":"","period":"3600","bucket_name":"s3-bucket","gzip_level":"0","path":"/my-app/","server_side_encryption":null,"response_condition":"","access_key":"iam-key","public_key":"","redundancy":"standard","name":"s3-name","secret_key":"iam-secret","message_type":"classic","timestamp_format":"","service_id":"EGjCgyYLfMsROGvXp0YQu","version":"2","placement":null,"updated_at":"2016-11-08T01:52:40+00:00","deleted_at":null,"created_at":"2016-11-08T01:52:40+00:00"}'}
    headers:
      content-type: [application/json]
      fastly-ratelimit-remaining: ['993']
      fastly-ratelimit-reset: ['1478570400']
      status: [200 OK]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json]
    method: PUT
    uri: https://api.fastly.com/service/EGjCgyYLfMsROGvXp0YQu/version/2/activate
  response:
    body: {string: !!python/unicode '{"testing":false,"locked":true,"number":2,"active":true,"service_id":"EGjCgyYLfMsROGvXp0YQu","staging":false,"created_at":"2016-11-08T01:52:39+00:00","deleted_at":null,"comment":"","updated_at":"2016-11-08T01:52:39+00:00","deployed":false,"msg":null}'}
    headers:
      content-type: [application/json]
      fastly-ratelimit-remaining: ['992']
      fastly-ratelimit-reset: ['1478570400']
      status: [200 OK]
    status: {code: 200, message: OK}
[...]
