interactions:
- request:
    body: null
    headers:
      Content-Type: [application/json]
    method: GET
    uri: https://api.fastly.com/service/search?name=Fastly%20Ansible%20Module%20Test
  response:
    body: {string: !!python/unicode '{"name":"Fastly Ansible Module Test","deleted_at":null,"versions":[{"testing":false,"locked":false,"number":1,"active":false,"service_id":"4qM21Kz00uFPCcFSJ2wrsE","staging":false,"created_at":"2017-07-19T11:30:09+00:00","deleted_at":null,"comment":"","updated_at":"2017-07-19T11:30:09+00:00","deployed":false},{"testing":false,"locked":true,"number":2,"active":false,"service_id":"4qM21Kz00uFPCcFSJ2wrsE","staging":false,"created_at":"2017-07-19T11:30:10+00:00","deleted_at":null,"comment":"","updated_at":"2017-07-19T11:30:19+00:00","deployed":false},{"testing":false,"locked":true,"number":3,"active":false,"service_id":"4qM21Kz00uFPCcFSJ2wrsE","staging":false,"created_at":"2017-07-19T11:30:16+00:00","deleted_at":null,"comment":"","updated_at":"2017-07-19T11:30:26+00:00","deployed":false},{"testing":false,"number":4,"service_id":"4qM21Kz00uFPCcFSJ2wrsE","staging":false,"deployed":false,"locked":true,"active":true,"comment":""}],"created_at":"2017-07-19T11:30:09+00:00","customer_id":"31RPDMBpiruA1yfGA2djLm","comment":"","updated_at":"2017-07-19T11:30:09+00:00","id":"4qM21Kz00uFPCcFSJ2wrsE"}'}
    headers:
      content-type: [application/json]
      status: [200 OK]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json]
    method: GET
    uri: https://api.fastly.com/service/4qM21Kz00uFPCcFSJ2wrsE/details
  response:
    body: {string: !!python/unicode '{"name":"Fastly Ansible Module Test","deleted_at":null,"versions":[{"testing":false,"locked":false,"number":1,"active":false,"service_id":"4qM21Kz00uFPCcFSJ2wrsE","staging":false,"created_at":"2017-07-19T11:30:09+00:00","deleted_at":null,"comment":"","updated_at":"2017-07-19T11:30:09+00:00","deployed":false},{"testing":false,"locked":true,"number":2,"active":false,"service_id":"4qM21Kz00uFPCcFSJ2wrsE","staging":false,"created_at":"2017-07-19T11:30:10+00:00","deleted_at":null,"comment":"","updated_at":"2017-07-19T11:30:19+00:00","deployed":false},{"testing":false,"locked":true,"number":3,"active":false,"service_id":"4qM21Kz00uFPCcFSJ2wrsE","staging":false,"created_at":"2017-07-19T11:30:16+00:00","deleted_at":null,"comment":"","updated_at":"2017-07-19T11:30:26+00:00","deployed":false},{"testing":false,"locked":true,"number":4,"active":true,"service_id":"4qM21Kz00uFPCcFSJ2wrsE","staging":false,"created_at":"2017-07-19T11:30:22+00:00","deleted_at":null,"comment":"","updated_at":"2017-07-19T11:30:26+00:00","deployed":false}],"created_at":"2017-07-19T11:30:09+00:00","customer_id":"31RPDMBpiruA1yfGA2djLm","comment":"","updated_at":"2017-07-19T11:30:09+00:00","id":"4qM21Kz00uFPCcFSJ2wrsE","version":{"testing":false,"number":4,"service_id":"4qM21Kz00uFPCcFSJ2wrsE","staging":false,"updated_at":"2017-07-19T11:30:26+00:00","deployed":false,"locked":true,"active":true,"deleted_at":null,"created_at":"2017-07-19T11:30:22+00:00","comment":"","acls":[],"backends":[{"max_tls_version":null,"ssl_ca_cert":null,"auto_loadbalance":false,"ssl_check_cert":true,"shield":null,"hostname":null,"ssl_client_cert":null,"error_threshold":0,"request_condition":"","first_byte_timeout":15000,"ssl_cert_hostname":null,"weight":100,"client_cert":null,"address":"127.0.0.1","ssl_hostname":null,"ssl_sni_hostname":null,"min_tls_version":null,"ipv6":null,"ipv4":"127.0.0.1","connect_timeout":1000,"ssl_ciphers":null,"name":"localhost","healthcheck":null,"port":80,"max_conn":200,"use_ssl":false,"comment":"","between_bytes_timeout":10000,"ssl_client_key":null}],"cache_settings":[],"conditions":[{"priority":"0","statement":"req.url
        ~ \"^/some_asset.js\"","comment":"","name":"condition-name","type":"CACHE"}],"dictionaries":[],"directors":[],"domains":[{"comment":"","name":"example7000.com"}],"gzips":[],"headers":[{"priority":"100","src":"\"public,
        max-age=86400\"","name":"Set cache control header","substitution":"","ignore_if_set":"0","cache_condition":"condition-name","request_condition":null,"regex":"","response_condition":null,"action":"set","type":"cache","dst":"http.Cache-Control"}],"healthchecks":[],"request_settings":[],"response_objects":[{"request_condition":"","content_type":null,"status":"200","response":"Ok","name":"Set
        200 status code","content":null,"cache_condition":""}],"snippets":[],"vcls":[],"wordpress":[],"settings":{"general.default_ttl":3600,"general.default_host":"","general.default_pci":0}},"active_version":{"testing":false,"number":4,"service_id":"4qM21Kz00uFPCcFSJ2wrsE","staging":false,"updated_at":"2017-07-19T11:30:26+00:00","deployed":false,"locked":true,"active":true,"deleted_at":null,"created_at":"2017-07-19T11:30:22+00:00","comment":"","acls":[],"backends":[{"max_tls_version":null,"ssl_ca_cert":null,"auto_loadbalance":false,"ssl_check_cert":true,"shield":null,"hostname":null,"ssl_client_cert":null,"error_threshold":0,"request_condition":"","first_byte_timeout":15000,"ssl_cert_hostname":null,[...]
- request:
    body: null
    headers:
      Content-Type: [application/json]
    method: PUT
    uri: https://api.fastly.com/service/4qM21Kz00uFPCcFSJ2wrsE/version/4/deactivate
  response:
    body: {string: !!python/unicode '{"testing":false,"locked":true,"number":4,"active":false,"service_id":"4qM21Kz00uFPCcFSJ2wrsE","staging":false,"created_at":"2017-07-19T11:30:22+00:00","deleted_at":null,"comment":"","updated_at":"2017-07-19T11:30:26+00:00","deployed":false}'}
    headers:
      content-type: [application/json]
      fastly-ratelimit-remaining: ['667']
      fastly-ratelimit-reset: ['1500465600']
      status: [200 OK]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json]
    method: DELETE
    uri: https://api.fastly.com/service/4qM21Kz00uFPCcFSJ2wrsE
  response:
    body: {string: !!python/unicode '{"status":"ok"}'}
    headers:
      content-type: [application/json]
      fastly-ratelimit-remaining: ['666']
      fastly-ratelimit-reset: ['1500465600']
      status: [200 OK]
    status: {code: 200, message: OK}
version: 1
