interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fastly.com/service/search?name=Fastly%20Ansible%20Module%20Test
  response:
    body:
      string: !!python/unicode '{"name":"Fastly Ansible Module Test","deleted_at":null,"versions":[{"testing":false,"locked":false,"number":1,"active":false,"service_id":"6oPY6z1TgYKqsSybUUN3lp","staging":false,"created_at":"2019-04-24T14:13:24Z","deleted_at":null,"comment":"","updated_at":"2019-04-24T14:13:24Z","deployed":false},{"testing":false,"staging":false,"updated_at":"2019-04-24T14:13:39Z","active":true,"number":2,"service_id":"6oPY6z1TgYKqsSybUUN3lp","deployed":false,"locked":true,"deleted_at":null,"created_at":"2019-04-24T14:13:25Z","comment":""}],"created_at":"2019-04-24T14:13:24Z","customer_id":"4NTmXUwFuuC5U0iJUrdEHr","comment":"","updated_at":"2019-04-24T14:13:24Z","id":"6oPY6z1TgYKqsSybUUN3lp"}'
    headers:
      content-type:
      - application/json
      status:
      - 200 OK
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fastly.com/service/6oPY6z1TgYKqsSybUUN3lp/details
  response:
    body:
      string: !!python/unicode '{"name":"Fastly Ansible Module Test","deleted_at":null,"versions":[{"created_at":"2019-04-24T14:13:24Z","updated_at":"2019-04-24T14:13:24Z","service_id":"6oPY6z1TgYKqsSybUUN3lp","locked":false,"active":false,"deleted_at":null,"comment":"","testing":false,"number":1,"deployed":false,"staging":false},{"staging":false,"service_id":"6oPY6z1TgYKqsSybUUN3lp","deleted_at":null,"comment":"","deployed":false,"testing":false,"number":2,"active":true,"created_at":"2019-04-24T14:13:25Z","updated_at":"2019-04-24T14:13:39Z","locked":true}],"created_at":"2019-04-24T14:13:24Z","customer_id":"4NTmXUwFuuC5U0iJUrdEHr","comment":"","updated_at":"2019-04-24T14:13:24Z","id":"6oPY6z1TgYKqsSybUUN3lp","version":{"testing":false,"staging":false,"updated_at":"2019-04-24T14:13:39Z","active":true,"number":2,"service_id":"6oPY6z1TgYKqsSybUUN3lp","deployed":false,"locked":true,"deleted_at":null,"created_at":"2019-04-24T14:13:25Z","comment":"","acls":[],"backends":[{"max_tls_version":null,"ssl_ca_cert":null,"auto_loadbalance":false,"ssl_check_cert":true,"shield":null,"override_host":null,"hostname":null,"ssl_client_cert":null,"error_threshold":0,"request_condition":"","first_byte_timeout":15000,"ssl_cert_hostname":null,"weight":100,"client_cert":null,"address":"127.0.0.1","ssl_hostname":null,"ssl_sni_hostname":null,"min_tls_version":null,"ipv6":null,"ipv4":"127.0.0.1","connect_timeout":1000,"ssl_ciphers":null,"name":"localhost","healthcheck":null,"port":80,"max_conn":200,"use_ssl":false,"comment":"","between_bytes_timeout":10000,"ssl_client_key":null}],"cache_settings":[],"conditions":[],"dictionaries":[],"directors":[],"domains":[{"comment":"","name":"example8000.com"}],"gzips":[],"headers":[{"priority":"100","src":"\"https://u.jimcdn.com\"
        req.url.path","name":"Set Location header","substitution":"","ignore_if_set":"0","cache_condition":null,"request_condition":null,"regex":"","response_condition":null,"action":"set","type":"response","dst":"http.Location"}],"healthchecks":[],"request_settings":[],"response_objects":[{"request_condition":"","content_type":"text/plain","status":"200","response":"Ok","name":"Set
        200 status code","content":"Hello from Fastly","cache_condition":""}],"snippets":[],"vcls":[],"wordpress":[],"settings":{"general.stale_if_error_ttl":43200,"general.stale_if_error":false,"general.default_ttl":3600,"general.default_host":"","general.default_pci":0}},"active_version":{"testing":false,"staging":false,"updated_at":"2019-04-24T14:13:39Z","active":true,"number":2,"service_id":"6oPY6z1TgYKqsSybUUN3lp","deployed":false,"locked":true,"deleted_at":null,"created_at":"2019-04-24T14:13:25Z","comment":"","acls":[],"backends":[{"max_tls_version":null,"ssl_ca_cert":null,"auto_loadbalance":false,"ssl_check_cert":true,"shield":null,"override_host":null,"hostname":null,"ssl_client_cert":null,"error_threshold":0,"request_condition":"","first_byte_timeout":15000,"ssl_cert_host[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://api.fastly.com/service/6oPY6z1TgYKqsSybUUN3lp/version/2/clone
  response:
    body:
      string: !!python/unicode '{"testing":false,"locked":false,"number":3,"active":false,"service_id":"6oPY6z1TgYKqsSybUUN3lp","staging":false,"created_at":"2019-04-24T14:13:25Z","deleted_at":null,"comment":"","updated_at":"2019-04-24T14:13:39Z","deployed":false}'
    headers:
      content-type:
      - application/json
      fastly-ratelimit-remaining:
      - '862'
      fastly-ratelimit-reset:
      - '1556118000'
      status:
      - 200 OK
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fastly.com/service/6oPY6z1TgYKqsSybUUN3lp/version/3/domain
  response:
    body:
      string: !!python/unicode '[{"version":3,"name":"example8000.com","service_id":"6oPY6z1TgYKqsSybUUN3lp","deleted_at":null,"created_at":"2019-04-24T14:13:35Z","comment":"","updated_at":"2019-04-24T14:13:44Z"}]'
    headers:
      content-type:
      - application/json
      status:
      - 200 OK
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fastly.com/service/6oPY6z1TgYKqsSybUUN3lp/version/3/healthcheck
  response:
    body:
      string: !!python/unicode '[]'
    headers:
      content-type:
      - application/json
      status:
      - 200 OK
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fastly.com/service/6oPY6z1TgYKqsSybUUN3lp/version/3/condition
  response:
    body:
      string: !!python/unicode '[]'
    headers:
      content-type:
      - application/json
      status:
      - 200 OK
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fastly.com/service/6oPY6z1TgYKqsSybUUN3lp/version/3/backend
  response:
    body:
      string: !!python/unicode '[{"max_tls_version":null,"ssl_client_cert":null,"hostname":null,"error_threshold":0,"first_byte_timeout":15000,"weight":100,"client_cert":null,"address":"127.0.0.1","updated_at":"2019-04-24T14:13:44Z","ipv4":"127.0.0.1","connect_timeout":1000,"ssl_ciphers":null,"name":"localhost","port":80,"between_bytes_timeout":10000,"ssl_client_key":null,"ssl_ca_cert":null,"auto_loadbalance":false,"ssl_check_cert":true,"shield":null,"override_host":null,"service_id":"6oPY6z1TgYKqsSybUUN3lp","request_condition":"","ssl_cert_hostname":null,"ssl_hostname":null,"ssl_sni_hostname":null,"min_tls_version":null,"ipv6":null,"version":3,"deleted_at":null,"healthcheck":null,"max_conn":200,"use_ssl":false,"created_at":"2019-04-24T14:13:36Z","comment":""}]'
    headers:
      content-type:
      - application/json
      status:
      - 200 OK
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fastly.com/service/6oPY6z1TgYKqsSybUUN3lp/version/3/director
  response:
    body:
      string: !!python/unicode '[]'
    headers:
      content-type:
      - application/json
      status:
      - 200 OK
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fastly.com/service/6oPY6z1TgYKqsSybUUN3lp/version/3/cache_settings
  response:
    body:
      string: !!python/unicode '[]'
    headers:
      content-type:
      - application/json
      status:
      - 200 OK
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fastly.com/service/6oPY6z1TgYKqsSybUUN3lp/version/3/gzip
  response:
    body:
      string: !!python/unicode '[]'
    headers:
      content-type:
      - application/json
      status:
      - 200 OK
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fastly.com/service/6oPY6z1TgYKqsSybUUN3lp/version/3/header
  response:
    body:
      string: !!python/unicode '[{"request_condition":null,"version":"3","cache_condition":null,"regex":"","ignore_if_set":"0","src":"\"https://u.jimcdn.com\"
        req.url.path","priority":"100","updated_at":"2019-04-24T14:13:44Z","substitution":"","dst":"http.Location","type":"response","service_id":"6oPY6z1TgYKqsSybUUN3lp","action":"set","created_at":"2019-04-24T14:13:36Z","deleted_at":null,"response_condition":null,"name":"Set
        Location header"}]'
    headers:
      content-type:
      - application/json
      status:
      - 200 OK
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fastly.com/service/6oPY6z1TgYKqsSybUUN3lp/version/3/request_settings
  response:
    body:
      string: !!python/unicode '[]'
    headers:
      content-type:
      - application/json
      status:
      - 200 OK
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fastly.com/service/6oPY6z1TgYKqsSybUUN3lp/version/3/response_object
  response:
    body:
      string: !!python/unicode '[{"response":"Ok","status":"200","version":"3","name":"Set
        200 status code","content":"Hello from Fastly","service_id":"6oPY6z1TgYKqsSybUUN3lp","deleted_at":null,"cache_condition":"","created_at":"2019-04-24T14:13:37Z","content_type":"text/plain","request_condition":"","updated_at":"2019-04-24T14:13:44Z"}]'
    headers:
      content-type:
      - application/json
      status:
      - 200 OK
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fastly.com/service/6oPY6z1TgYKqsSybUUN3lp/version/3/snippet
  response:
    body:
      string: !!python/unicode '[]'
    headers:
      content-type:
      - application/json
      status:
      - 200 OK
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fastly.com/service/6oPY6z1TgYKqsSybUUN3lp/version/3/logging/s3
  response:
    body:
      string: !!python/unicode '[]'
    headers:
      content-type:
      - application/json
      status:
      - 200 OK
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fastly.com/service/6oPY6z1TgYKqsSybUUN3lp/version/3/logging/syslog
  response:
    body:
      string: !!python/unicode '[]'
    headers:
      content-type:
      - application/json
      status:
      - 200 OK
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fastly.com/service/6oPY6z1TgYKqsSybUUN3lp/version/3/logging/cloudfiles
  response:
    body:
      string: !!python/unicode '[]'
    headers:
      content-type:
      - application/json
      status:
      - 200 OK
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.fastly.com/service/6oPY6z1TgYKqsSybUUN3lp/version/3/domain/example8000.com
  response:
    body:
      string: !!python/unicode '{"status":"ok"}'
    headers:
      content-type:
      - application/json
      fastly-ratelimit-remaining:
      - '861'
      fastly-ratelimit-reset:
      - '1556118000'
      status:
      - 200 OK
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.fastly.com/service/6oPY6z1TgYKqsSybUUN3lp/version/3/backend/localhost
  response:
    body:
      string: !!python/unicode '{"status":"ok"}'
    headers:
      content-type:
      - application/json
      fastly-ratelimit-remaining:
      - '860'
      fastly-ratelimit-reset:
      - '1556118000'
      status:
      - 200 OK
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.fastly.com/service/6oPY6z1TgYKqsSybUUN3lp/version/3/header/Set%20Location%20header
  response:
    body:
      string: !!python/unicode '{"status":"ok"}'
    headers:
      content-type:
      - application/json
      fastly-ratelimit-remaining:
      - '859'
      fastly-ratelimit-reset:
      - '1556118000'
      status:
      - 200 OK
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.fastly.com/service/6oPY6z1TgYKqsSybUUN3lp/version/3/response_object/Set%20200%20status%20code
  response:
    body:
      string: !!python/unicode '{"status":"ok"}'
    headers:
      content-type:
      - application/json
      fastly-ratelimit-remaining:
      - '858'
      fastly-ratelimit-reset:
      - '1556118000'
      status:
      - 200 OK
    status:
      code: 200
      message: OK
[...]
- request:
    body: !!python/unicode '{"content_types": "text/html text/css application/javascript",
      "extensions": "html css js", "name": "gzip-config-name", "cache_condition":
      ""}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fastly.com/service/6oPY6z1TgYKqsSybUUN3lp/version/3/gzip
  response:
    body:
      string: !!python/unicode '{"content_types":"text/html text/css application/javascript","extensions":"html
        css js","name":"gzip-config-name","cache_condition":"","service_id":"6oPY6z1TgYKqsSybUUN3lp","version":"3","deleted_at":null,"created_at":"2019-04-24T14:13:57Z","updated_at":"2019-04-24T14:13:57Z"}'
    headers:
      content-type:
      - application/json
      fastly-ratelimit-remaining:
      - '855'
      fastly-ratelimit-reset:
      - '1556118000'
      status:
      - 200 OK
    status:
      code: 200
      message: OK
[...]
- request:
    body: !!python/unicode '{"general.default_ttl": 3600}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://api.fastly.com/service/6oPY6z1TgYKqsSybUUN3lp/version/3/settings
  response:
    body:
      string: !!python/unicode '{"general.stale_if_error_ttl":43200,"general.stale_if_error":false,"general.default_ttl":3600,"version":3,"general.default_host":"","general.default_pci":0,"service_id":"6oPY6z1TgYKqsSybUUN3lp"}'
    headers:
      content-type:
      - application/json
      fastly-ratelimit-remaining:
      - '852'
      fastly-ratelimit-reset:
      - '1556118000'
      status:
      - 200 OK
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://api.fastly.com/service/6oPY6z1TgYKqsSybUUN3lp/version/3/activate
  response:
    body:
      string: !!python/unicode '{"testing":false,"locked":true,"number":3,"active":true,"service_id":"6oPY6z1TgYKqsSybUUN3lp","staging":false,"created_at":"2019-04-24T14:13:44Z","deleted_at":null,"comment":"","updated_at":"2019-04-24T14:13:58Z","deployed":false,"msg":null}'
    headers:
      content-type:
      - application/json
      fastly-ratelimit-remaining:
      - '851'
      fastly-ratelimit-reset:
      - '1556118000'
      status:
      - 200 OK
    status:
      code: 200
      message: OK
[...]
